Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

Sync Lock: don't use c++17 inline conditional assignment (1)
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
Due: clang-format

Sync Lock: Fix issue where single playing sync deck was syncing against its nudge value
  src/engine/sync/enginesync.cpp
Due: clang-format

QML: Replace transparent Rectangles with Items in Knob component
  res/skins/QMLDemo/Mixxx/Controls/Knob.qml
Due: none

skins/QMLDemo: Reduce duplication in EqKnob
  res/skins/QMLDemo/EqKnob.qml
  res/skins/QMLDemo/Knob.qml
Due: none

QML: Fix Knob component parameter clamping
  res/skins/QMLDemo/Mixxx/Controls/Knob.qml
Due: none

skins/QMLDemo: Add channel VU meters
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/VuMeter.qml
Due: none

SkinLoader: Skip skin directory if "skin.xml" is missing
  src/skin/skinloader.cpp
Due: clang-format

skins/QMLDemo: Disable antialiasing for VuMeters
  res/skins/QMLDemo/VuMeter.qml
Due: none

Track: Rename emitMetataChanged method to better reflect intent
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Track: Emit missing durationChanged signal in updateStreamInfoFromSource
  src/track/track.cpp
Due: clang-format

QML: Add a way access to track properties
  CMakeLists.txt
  src/skin/qml/qmlplayermanagerproxy.cpp
  src/skin/qml/qmlplayermanagerproxy.h
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
  src/skin/qml/qmlskin.cpp
Due: clang-format

skins/QMLDemo: Add track title, artist and key to deck row
  res/skins/QMLDemo/DeckInfoBar.qml
Due: none

QML: Add support for accessing track color
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
Due: clang-format

skins/QMLDemo: Use track color for deck labels
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/DeckInfoBar.qml
Due: none

QmlPlayerProxy: Use keyText consistently
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
Due: clang-format

QmlPlayerProxy: Add additional player state signals
  src/skin/qml/qmlplayerproxy.cpp
  src/skin/qml/qmlplayerproxy.h
Due: clang-format

QML: Disable wrong incorrect-emit clazy warning in QmlPlayerProxy
  src/skin/qml/qmlplayerproxy.cpp
Due: clang-format

qss/icon fixes belonging to #3931
  res/skins/Deere/sampler_text_row.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/palemoon/buttons/btn__lib_preview_pause.svg
  res/skins/LateNight/palemoon/buttons/btn__lib_preview_play.svg
  res/skins/LateNight/palemoon/buttons/btn__pfl.svg
  res/skins/LateNight/palemoon/buttons/btn__pfl_active.svg
Due: qsscheck

Update Translation template
  res/translations/mixxx.ts
Due: none

PaleMoon: fix playpos & key labels in deck1/2, clean up qss a bit
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Remove redundant newModel and else branch
  src/widget/wtracktableview.cpp
Due: clang-format

Make sure using a valid sort column, fixes lp1930546
  src/widget/wtracktableview.cpp
Due: clang-format

Remove confusing debug message leading to lp1924843
  src/library/basetracktablemodel.cpp
Due: clang-format

Fix typo and improve code style
  src/widget/wtracktableview.cpp
Due: clang-format

Waveform: fix markers whe using odd scale factors
  src/waveform/renderers/waveformrendermark.cpp
Due: clang-format

skins/QMLSkin: Add support for maximized library
  res/skins/QMLDemo/MiniDeck.qml
  res/skins/QMLDemo/MiniDeckRow.qml
  res/skins/QMLDemo/main.qml
Due: none

Sync Lock: better name for function
  src/engine/sync/enginesync.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
Due: clang-format

Waveform: fix shifted pixmap markers with odd scale factors
  src/waveform/renderers/waveformrendermark.cpp
Due: clang-format

SyncLock: Increase deck size to make room for Leader button
  res/skins/LateNight/decks/deck.xml
Due: none

SyncLock: Fix leader button in latenight classic
  res/skins/LateNight/style_classic.qss
Due: qsscheck

SyncLock: Skin fixes
  res/skins/LateNight/palemoon/buttons/btn__leader_deck.svg
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

interate over all columns when searching for the first sort column
  src/widget/wtracktableview.cpp
Due: clang-format

skins/QMLDemo: Fix button getting out of sync
  res/skins/QMLDemo/ControlButton.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/InfoBarButton.qml
  res/skins/QMLDemo/MiniDeck.qml
  res/skins/QMLDemo/MixerColumn.qml
Due: none

Fix warning when no skin configured
  src/skin/skinloader.cpp
Due: clang-format

SetLogFeature: Reset pointer when WLibrary is destroyed
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Sync Lock: Fix Leader button colors
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
