Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

WSearchLineEdit: Fix: Invoke WSearchLineEdit::setupTooltip in LegacySkinParser
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
Due: clang-format

Library: Make search shortcuts configurable via keymap
  res/keyboard/cs_CZ.kbd.cfg
  res/keyboard/da_DK.kbd.cfg
  res/keyboard/de_CH.kbd.cfg
  res/keyboard/de_DE.kbd.cfg
  res/keyboard/el_GR.kbd.cfg
  res/keyboard/en_US.kbd.cfg
  res/keyboard/es_ES.kbd.cfg
  res/keyboard/fi_FI.kbd.cfg
  res/keyboard/fr_CH.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
  res/keyboard/it_IT.kbd.cfg
  res/keyboard/ru_RU.kbd.cfg
  src/widget/wmainmenubar.cpp
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

WSearchLineEdit: Review: Simplify WSearchLineEdit::getSearchText
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

Tracks: add hotkey Shift+Del to purge and move track files to trash
  src/widget/wtracktableview.cpp
Due: clang-format

fix: volume and pitch faders didn't work with shift
  res/controllers/Hercules_DJControl_Inpulse_500.midi.xml
Due: none

add 'LoadTrackFromPreviewDeck' control
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Due: clang-format

Fix duplicated input handling in SMK-25 II script
  res/controllers/MVave-SMK-25-II-scripts.js
Due: none

fix(vinylcontrolxwax): use raw pitch value for vinyl control rate
  src/vinylcontrol/vinylcontrolxwax.cpp
Due: clang-format

feat(vinylcontrolxwax): reduce drift control threshold in absolute mode
  src/vinylcontrol/vinylcontrolxwax.cpp
Due: clang-format

feat(vinylcontrol): implement drift control for relative mode
  src/vinylcontrol/vinylcontrol.cpp
  src/vinylcontrol/vinylcontrol.h
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/vinylcontrol/vinylcontrolxwax.h
Due: clang-format

Add recent changes to CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

refactor(vinylcontrolxwax): make calcDeltaRelativeDriftAmount() pure function
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/vinylcontrol/vinylcontrolxwax.h
Due: clang-format

refactor(vinylcontrol): change passthroughEnabled type to PollingControlProxy
  src/vinylcontrol/vinylcontrol.cpp
  src/vinylcontrol/vinylcontrol.h
Due: clang-format

Add recent 2.6 changes to CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

fix(vinylcontrolxwax): initilialize m_deltaFilePos before m_deltaRelativeDriftAmount
  src/vinylcontrol/vinylcontrolxwax.cpp
Due: clang-format

fix(vinylcontrol): change passthroughEnabled type to make_parented<ControlProxy>
  src/vinylcontrol/vinylcontrol.cpp
  src/vinylcontrol/vinylcontrol.h
Due: clang-format

Add DJ aK to to contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Sam Whited to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Ryan Bell to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Nicolas Parlant to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

fix(vinylcontrolxwax): exclude relativeDriftAmountMem setter if scratch position is enabled
  src/vinylcontrol/vinylcontrol.cpp
  src/vinylcontrol/vinylcontrol.h
  src/vinylcontrol/vinylcontrolxwax.cpp
Due: clang-format

added-sqlchange+typecontrol
  src/library/trackset/preparation/preparationfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Add note about touch pad color to SMK-25 II script
  res/controllers/MVave-SMK-25-II-scripts.js
Due: none

Roland DJ-202: Begin script with components JS
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Add basic mapping
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Add performance pads
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Fix sampler button bindings
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Support FX routing control
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Fix PFL status output when using four decks
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Map BPM reset
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Improve audio effect cycling
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Map slip button
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Map FX-rack headphones cue
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Map shifted FX inputs
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Allow quickly resetting hot cues
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Bugfix sampler buttons
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Use 14-bit MIDI for tempo faders
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Fix slip-mode indicator LED when using four decks
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Map shifted rotary encoder
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Support continuous pitch adjustments
  res/controllers/Roland_DJ-202-scripts.js
Due: none
