Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

Macros: Add some todos
  src/engine/enginebuffer.cpp
  src/recording/macromanager.cpp
Due: clang-format, line-length

Macros: Remove unused arguments from MacroManager
  src/engine/enginebuffer.h
  src/mixxx.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Replace magic values by MacroState enum
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
Due: clang-format, line-length

Macros: Clean up MacroManager
  src/engine/enginebuffer.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Set deck CO and ignore noop jumps
  src/engine/channels/enginechannel.h
  src/engine/enginebuffer.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Handle deck claiming atomically
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Clean up ControlObjects & logging
  src/engine/enginemaster.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Clean up Logging
  src/engine/controls/cuecontrol.cpp
  src/engine/enginebuffer.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

update to 2.3.1
  res/controllers/Novation-Launchpad MK2-scripts.js
  res/controllers/Novation-Launchpad-scripts.js
Due: clang-format

Macros: Coding style & Cleanup
  src/engine/channels/enginedeck.cpp
  src/engine/enginebuffer.cpp
  src/mixer/playermanager.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
  src/util/parented_ptr.h
Due: clang-format, line-length

Macros: Remove unnecessary pointers
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Do not pass EngineMaster into MacroManager constructor
  src/mixxx.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Macros: Move recording code back to MacroManager
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/deck.cpp
  src/mixer/deck.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixer/previewdeck.cpp
  src/mixer/sampler.cpp
  src/mixxx.cpp
  src/mixxx.h
  src/recording/macromanager.cpp
  src/recording/macromanager.h
  src/recording/recordingmanager.cpp
  src/recording/recordingmanager.h
  src/recording/recordingmanagerbase.cpp
  src/recording/recordingmanagerbase.h
  src/test/signalpathtest.h
Due: clang-format, line-length

Macros: Add documentation, name methods more appropriately, slight refactor
  src/engine/enginebuffer.cpp
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

Preferences > Vinyl: consolidate signal quality elements
  src/preferences/dialog/dlgprefvinyldlg.ui
Due: none

controllers/learningutils: Fix debug assertion for reset control check
  src/controllers/learningutils.cpp
Due: clang-format, line-length

test/librarytest: Add key_notation CO to fix multiple test failures
  src/test/librarytest.cpp
  src/test/librarytest.h
Due: clang-format, line-length

test/controlobjecttest: Fix debug assertion for missing control test
  src/test/controlobjecttest.cpp
Due: clang-format, line-length

test/readaheadmanager_test: Add missing channel COs
  src/test/readaheadmanager_test.cpp
Due: clang-format, line-length

Address review comments
  src/library/trackmodeliterator.h
Due: clang-format, line-length

Hide QProgressDialog behind generalized TaskMonitor abstraction
  CMakeLists.txt
  build/depends.py
  src/library/trackprocessing.cpp
  src/library/trackprocessing.h
  src/util/taskmonitor.cpp
  src/util/taskmonitor.h
Due: clang-format, line-length

WTrackMenu: Show modal progress dialog while processing tracks
  src/library/coverartutils.cpp
  src/library/coverartutils.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format, line-length

Add framework for batch processing of selected tracks
  CMakeLists.txt
  build/depends.py
  src/library/trackcollectioniterator.cpp
  src/library/trackcollectioniterator.h
  src/library/trackmodeliterator.cpp
  src/library/trackmodeliterator.h
  src/library/trackprocessing.cpp
  src/library/trackprocessing.h
  src/track/trackiterator.h
  src/util/itemiterator.h
Due: clang-format, line-length

Fix debug assertion in TagLibTest.WriteID3v2Tag
  src/test/taglibtest.cpp
Due: clang-format, line-length

LateNight: add/fix skin defaults, compact deck
  res/skins/LateNight/skin.xml
Due: none

LateNight: correct spinny mask with cover art
  res/skins/LateNight/decks/spinny_coverart.xml
  res/skins/LateNight/palemoon/style/spinny_mask_12.svg
  res/skins/LateNight/palemoon/style/spinny_mask_12_BAK.svg
  res/skins/LateNight/palemoon/style/spinny_mask_34.svg
  res/skins/LateNight/palemoon/style/spinny_mask_cover_12.svg
  res/skins/LateNight/palemoon/style/spinny_mask_cover_34.svg
Due: none

LateNight Classic: fix crossfader scale and knob
  res/skins/LateNight/classic/sliders/knob_crossfader.svg
  res/skins/LateNight/classic/sliders/slider_crossfader_small.svg
Due: none

LateNight: correct deck_size helper documentation
  res/skins/LateNight/helpers/skin_helper_deck_size.xml
Due: none

LateNight Classic: brighter red in fx mixmode icons
  res/skins/LateNight/classic/buttons/btn__fx_mixmode_d+w.svg
  res/skins/LateNight/classic/buttons/btn__fx_mixmode_d-w.svg
Due: none

PaleMoon: un-crop effect names in WEffectSelector
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Fix debug assertion in SoundSourceFFmpeg for .m4a file
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

SnapGrid proof of concept
  src/analyzer/analyzerrhythm.cpp
  src/analyzer/analyzerrhythm.h
Due: clang-format, line-length

test/effectchainslottest: Fix group_[Master]_enable CO debug assertion
  src/test/effectchainslottest.cpp
Due: clang-format, line-length

test/autodjprocessor_test: Fix DEBUG_ASSERT caused by duplicated COs
  src/test/autodjprocessor_test.cpp
Due: clang-format, line-length

DlgPrefEffects: redesign dialog
  src/preferences/dialog/dlgprefeffectsdlg.ui
Due: none

Fix creation and management of ControlObject instances
  src/control/control.cpp
Due: clang-format, line-length

Make CO creator pointer management less thread-unsafe
  src/control/control.h
  src/control/controlobject.cpp
Due: clang-format, line-length

Fix cleanup of leaked controls on exit and in tests
  src/control/control.cpp
  src/control/control.h
  src/mixxx.cpp
  src/test/mixxxtest.cpp
Due: clang-format, line-length

Disallow copy/move for ControlObject
  src/control/controlobject.h
Due: clang-format, line-length

control/controlmodel: Fix double CO initialization in developer tools
  src/control/controlmodel.cpp
Due: clang-format, line-length

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
