Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

clone&adapt_trackset_crate_correction
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/trackset/genre/genrestorage.cpp
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/trackset/genre/genrestorage.cpp
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

ci: Prevent sync-branches from running on main
  .github/workflows/release.yml
Due: none

clone&adapt_trackset_crate_correction
  src/library/dao/genredao.cpp
  src/library/dlgtrackinfo.cpp
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/dlgtrackinfo.cpp
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/trackset/genre/genrefeature.cpp
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

use std::as_const() for m_trackIndexList
  src/widget/wtrackmenu.cpp
Due: clang-format

Relation info dialog.
  src/library/relations/dlgrelationinfo.cpp
  src/library/relations/dlgrelationinfo.h
  src/library/relations/dlgrelations.cpp
  src/library/relations/dlgrelations.h
  src/library/relations/relationstablemodel.cpp
  src/widget/wrelationtableview.cpp
  src/widget/wrelationtableview.h
Due: clang-format

Remove track positions from relations.
  res/schema.xml
  src/library/dao/relationdao.cpp
  src/library/library.cpp
  src/library/relations/dlgrelationinfo.cpp
  src/library/relations/dlgrelationinfo.ui
  src/track/relation.cpp
  src/track/relation.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

columncache updated.
  src/library/columncache.cpp
Due: clang-format

Column titles added.
  src/library/columncache.cpp
Due: clang-format

fix Hidden settings namespace
  src/library/missing_hidden/hiddentablemodel.cpp
Due: clang-format

import&genre_edit&multi_edit&display_group
  res/schema.xml
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
  src/library/dlgtrackinfo.ui
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.ui
  src/library/trackset/genre/genre.h
  src/library/trackset/genre/genrefeature.cpp
  src/library/trackset/genre/genrefeature.h
  src/library/trackset/genre/genreschema.h
  src/library/trackset/genre/genrestorage.cpp
  src/library/trackset/genre/genrestorage.h
  src/library/trackset/genre/genretablemodel.cpp
  src/library/trackset/genre/genretablemodel.h
Due: clang-format

import&genre_edit&multi_edit&display_group_correction
  src/library/trackset/genre/genrestorage.cpp
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

import&genre_edit&multi_edit&display_group_correction
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

import&genre_edit&multi_edit&display_group_correction
  src/library/dlgtrackinfomulti.cpp
Due: clang-format

Install qt6-svg-plugins in case of > Ubuntu 24.10
  tools/debian_buildenv.sh
Due: none

Deduplicate code for CPACK_DEBIAN_PACKAGE_DEPENDS
  CMakeLists.txt
Due: none

fix(library): Allow loading in-progress recordings
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/library.cpp
  src/library/recording/dlgrecording.cpp
Due: clang-format

corr_dialog
  src/library/trackset/genre/genretablemodel.cpp
Due: clang-format

Add qt6-svg-plugins via APPEND CPACK_DEBIAN_PACKAGE_DEPENDS
  CMakeLists.txt
Due: none

is_user_defined->is_model_defined
  res/schema.xml
  src/library/dao/genredao.cpp
  src/library/trackset/genre/genre.h
  src/library/trackset/genre/genreschema.h
  src/library/trackset/genre/genrestorage.cpp
  src/library/trackset/genre/genrestorage.h
  src/library/trackset/genre/genretablemodel.cpp
  src/util/db/fwdsqlquery.cpp
Due: clang-format

Improve shaping step of rcf matrix.
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
Due: none

Get rid of d_vec_t scorecands
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
Due: none

Describe beat detection algorithm
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
Due: none

Reuse d_vec_t txwt
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
Due: none

Pass periods as int vector without oversampling
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.h
  src/analyzer/plugins/analyzerqueenmarybeats.cpp
Due: clang-format

Browse feature: use parented_ptr, forward-declare, rm unused includes
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
Due: clang-format

Browse feature: remove TODO, add comment
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: add library view comment to rescan dialog
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: use Library model when path is watched (in library)
  CMakeLists.txt
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
Due: clang-format

Browse feature: always use absolutePath() for TreeItems so the track (directory) filter works as expected
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Recording feature: use parented_ptr, p prefix, forward-declare
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
Due: clang-format

Browse feature: decorate watched path items with dot in upper left corner
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

WIP Recording feature: use BrowseLibraryTableModel if rec dir is watched
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/recordingfeature.cpp
  src/library/recording/recordingfeature.h
  src/preferences/dialog/dlgprefrecord.cpp
Due: clang-format

Browse feature: update items when path is added to/removed from library
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/library.cpp
  src/library/library.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

WIP Recording feature: update view and track (metadata) when recording is de/activated
  src/library/browse/browsefeature.cpp
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/recordingfeature.cpp
  src/library/trackcollection.h
Due: clang-format

TEST update current view model if watched state changed
  src/library/browse/browsefeature.cpp
Due: clang-format
