Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

transfer the VinylSignalQualityReport scope to a texture with glTexSubImage2D and use a special shader to draw the VinylSignalQuality overlay on WSpinnyGLSL
  CMakeLists.txt
  src/shaders/vinylqualityshader.cpp
  src/shaders/vinylqualityshader.h
  src/widget/wspinny.cpp
  src/widget/wspinny.h
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
Due: clang-format

cove art widgets: get rid of '!= nullptr'
  src/library/dlgcoverartfullsize.cpp
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/wspinnybase.cpp
Due: clang-format

DlgCoverArtFullSize: don't set cover via menu if child of DlgTrackInfo
  src/library/dlgcoverartfullsize.cpp
Due: clang-format

cover art widgets: add documentation
  src/widget/wcoverart.h
  src/widget/wcoverartlabel.h
Due: clang-format

cover art widgets: always update menu with new Coverinfo #10815
  src/library/dlgtrackinfo.cpp
  src/widget/wcoverart.cpp
Due: clang-format

WCoverArtLabel: connect to customContextMenuRequested
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
Due: clang-format

DlgCoverArtFullSize: show pending (not saved) cover of WCoverArtLabel if child of DlgTrackInfo
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
Due: clang-format

WCoverArtLabel: update DlgFullSize with new cover if visible
  src/widget/wcoverartlabel.cpp
Due: clang-format

WSpinnybase: remove obsolete member
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
Due: clang-format

DlgCoverArtFullSize: split up slotLoadTrack() to use components separately
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
Due: clang-format

cover art widgets: use parented_ptr
  src/widget/wcoverart.cpp
  src/widget/wcoverart.h
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
Due: clang-format

cover art widgets: parent -> pParent
  src/library/dlgcoverartfullsize.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
Due: clang-format

DEBUG output for cover art widgets/dialogs
  .swp
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
Due: clang-format

shortkey for clear/cut/copy/paste tracks (library, playlists, crates and autodj), for quick focus change between sidebar and tableview, for unselecting all tracks; add method to add tracks by id
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/library.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/sidebarmodel.cpp
  src/library/trackmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/library/trackset/tracksettablemodel.cpp
  src/library/trackset/tracksettablemodel.h
  src/util/clipboard.cpp
  src/util/clipboard.h
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
  src/widget/wlibrarytextbrowser.cpp
  src/widget/wlibrarytextbrowser.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

remove common-hid-utils.js
  res/controllers/Traktor-Kontrol-Z1-scripts.js
  res/controllers/common-hid-utils.js
Due: none

moved ifdef as suggested by @JoergAtGithub
  src/widget/wspinny.cpp
  src/widget/wspinnybase.cpp
  src/widget/wspinnyglsl.cpp
Due: clang-format

initialize viny control state from ControlProxys
  src/widget/wspinnybase.cpp
Due: clang-format

Added a tool (intertcolor.py) to invert all the colors in a file, to be used with skins.
  tools/invertcolor.py
Due: none

Added a skin (PaleSun) that is the inverted color version of PaleMoon. Its colors are daylight-friendly.
  res/skins/LateNight/skin.xml
Due: none

added the m_logger inside the class && removed const from executeCallback()
  src/controllers/scripting/legacy/scriptconnection.cpp
  src/controllers/scripting/legacy/scriptconnection.h
Due: clang-format

Added my name to skin.xml
  res/skins/LateNight/skin.xml
Due: none

applying the coding standard to "invertcolor.py" file
  tools/invertcolor.py
Due: none

Another try at satisfying the code standards
  tools/invertcolor.py
Due: none

changing newlines for the coding standard
  tools/invertcolor.py
Due: none

pre-commit checks used
  tools/invertcolor.py
Due: none

more corrections for the coding style
  res/skins/LateNight/style_palesun.qss
Due: qsscheck

Make m_marksToRender a std::map to have a constant sort key.
  src/waveform/renderers/waveformmark.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

Dummy commit
  .github/workflows/pre-commit.yml
Due: none

copyright etc were shortened, as suggested by daschuer
  tools/invertcolor.py
Due: none

Describe the purpose of WaveformMarkSortKey
  src/waveform/renderers/waveformmark.h
Due: clang-format

Explain the purpose of the key in m_marksToRender
  src/widget/woverview.cpp
Due: clang-format

Update Translation template. Found 2657 source text(s) (0 new and 2657 already existing)
  res/translations/mixxx.ts
Due: none

Update CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Remove directly pushed Palemoon entry
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Update Translation template. Found 2902 source text(s) (3 new and 2899 already existing)
  res/translations/mixxx.ts
Due: none

Traktor S2 MK1: Refactor mapping
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

Traktor S2 Mk1: remove linkOutput
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
