Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

Rename Beats::setBar to Beats::setDownBeat
  src/engine/controls/bpmcontrol.cpp
  src/track/beats.h
Due: clang-format, line-length

WTrackTableView: bring back load track overrides
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format, line-length

Rename Beats::setBar to Beats::setDownBeat and some adpaters
  src/engine/controls/bpmcontrol.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format, line-length

Remove ascii art from Beats header
  src/track/beats.h
Due: clang-format, line-length

Replace BeatsPointer constructor by make_shared
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/dlgtrackinfo.cpp
  src/test/bpmcontrol_test.cpp
  src/track/track.cpp
Due: clang-format, line-length

Reduced sensitivity of jog pitch bend
  res/controllers/Reloop-Beatmix-2-4-scripts.js
Due: clang-format

Adapt comment to clang-format
  src/track/beats.h
Due: clang-format, line-length

Fix BeatsFactory method signatures to use references.
  src/track/beatfactory.cpp
  src/track/beatfactory.h
Due: clang-format, line-length

Remove anonymous namespace from beats.h
  src/track/beats.h
Due: clang-format, line-length

Remove spurious property from Beats
  src/track/beats.h
Due: clang-format, line-length

WSliderComposed: draw level bar
  src/widget/wslidercomposed.cpp
  src/widget/wslidercomposed.h
Due: clang-format, line-length

_version.h update for 2.3 beta
  src/_version.h
Due: clang-format, line-length

CHANGELOG: update for 2.3 beta
  CHANGELOG
Due: none

WTrackTableView: remove default play parameter value
  src/widget/wtracktableview.h
Due: clang-format, line-length

CHANGELOG.md: move 2.3 beta info from CHANGELOG plain text
  CHANGELOG.md
Due: none

remove plain text CHANGELOG in favor of Markdown CHANGELOG.md
  CHANGELOG
  CHANGELOG.md
Due: none

CONTRIBUTING.md: move content from DocuWiki
  CONTRIBUTING.md
Due: none

track/serato: Import saved loops from serato's tags
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
  src/track/serato/tags.cpp
Due: clang-format, line-length

Update ANLZ parser from latest KSY file
  src/library/rekordbox/rekordbox_anlz.cpp
  src/library/rekordbox/rekordbox_anlz.h
Due: clang-format, line-length

Add latest KSY files
  src/library/rekordbox/rekordbox_anlz.ksy
  src/library/rekordbox/rekordbox_pdb.ksy
Due: none

Add date time conversion & formatting functions
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/browse/browsethread.cpp
  src/library/dao/trackdao.cpp
  src/util/datetime.h
Due: clang-format, line-length

preferences/dialog/dlgprefdeck: Tick "Down increases Speed" by default
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
Due: clang-format, line-length

Rename function for clarification
  src/library/browse/browsethread.cpp
  src/util/datetime.h
Due: clang-format, line-length

CONTRIBUTING.md: explain why SoundSource plugins were removed
  CHANGELOG.md
Due: none

CONTRIBUTING.md: elaborate a bit on key reanalysis instructions
  CHANGELOG.md
Due: none

track/serato/tags: Ignore Markers_ tag if it doesn't exist
  src/track/serato/tags.cpp
Due: clang-format, line-length

track/serato/tags: Mirror Serato's handling of inconsistent tag data
  src/track/serato/tags.cpp
Due: clang-format, line-length

Update contributor lists for the 2.3 release
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

More pragma once
  src/library/missingtablemodel.h
  src/library/setlogfeature.h
Due: clang-format, line-length

Added Harshit Maurya to the contributor list in the about box. Tank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

Added Sergey Ukolov to the contributor list in the about box. Tank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

Added Ned Haughton to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

Added Nik Martin to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

Fix debug assertion
  src/util/datetime.h
Due: clang-format, line-length

Added Adam Szmigin to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

Added Melissa to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

fixed abrupt transition when fade button clicked
  src/library/autodj/autodjprocessor.cpp
Due: clang-format, line-length

Removed unneeded condition
  src/library/autodj/autodjprocessor.cpp
Due: clang-format, line-length

Added Stéphane Lepin to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format, line-length

i18n: Preferences > Controller > Controller Setup - Set text label dummy text to non translatable
  src/controllers/dlgprefcontrollerdlg.ui
Due: none
