Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

cleanup-pre-preparationfeature
  .gitignore
Due: none

cleanup-pre-preparationfeature
  CMakeLists.txt
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
Due: clang-format

added-preparationfeature-cleanup
  src/widget/wlibrarybasewindow.cpp
Due: clang-format

added-preparationfeature-cleanup
  src/library/trackset/preparation/preparationfeature.cpp
Due: clang-format

added-preparationfeature
  CMakeLists.txt
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/dao/playlistdao.h
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.cpp
  src/library/trackset/preparation/preparationfeature.cpp
  src/library/trackset/preparation/preparationfeature.h
  src/widget/wlibrarybasewindow.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

added-preparationfeature-cleanup
  src/library/autodj/dlgautodj.cpp
Due: clang-format

added-preparationfeature-cleanup
  src/library/autodj/autodjfeature.h
  src/library/autodj/dlgautodj.cpp
  src/library/library.cpp
  src/library/trackset/preparation/preparationfeature.cpp
  src/library/trackset/preparation/preparationfeature.h
Due: clang-format

added-preparationfeature
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/util/dnd.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

added-preparationfeature
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
Due: clang-format

added-preparationfeature-cleanup
  src/library/autodj/autodjfeature.cpp
  src/library/basesqltablemodel.h
  src/library/library.cpp
  src/library/playlisttablemodel.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/preparation/preparationfeature.cpp
  src/widget/wlibrarybasewindow.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

added-prepwin-skins
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/tool_bar.xml
  res/skins/Shade/library.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/topbar.xml
Due: none

startCIforArtifacts
  src/library/trackset/preparation/preparationfeature.cpp
Due: clang-format

Update wtracktableview.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

removeSortingBoolWTrackTableView
  src/library/autodj/dlgautodj.cpp
  src/library/library.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

Drag2PrepListInSideBar
  src/library/trackset/preparation/preparationfeature.cpp
  src/library/trackset/preparation/preparationfeature.h
  src/widget/wtracktableview.cpp
Due: clang-format

added-sqlchange+typecontrol
  src/library/trackset/preparation/preparationfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

AddVarAddAllLoadedTracks
  src/library/trackset/preparation/preparationfeature.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Due: clang-format

error
  tools/windows_buildenv.bat
Due: none

Rebase_2_7
  CMakeLists.txt
  res/skins/LateNight/library.xml
  res/skins/Tango/library.xml
  src/library/autodj/dlgautodj.cpp
  src/library/library.cpp
  src/library/tabledelegates/overviewdelegate.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/widget/wlibrarybasewindow.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  tools/windows_buildenv.bat
Due: clang-format

Rebase_2_7
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Add more Symbols to localeFromXkbSymbol() to support ch+fr and all nodeadkeys variants
  src/coreservices.cpp
Due: clang-format

Read keyboard Layout form XKB
  src/coreservices.cpp
Due: clang-format

Add latest changes to CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add previous 2.5.1 debian changelog. 2.5.2 will be autogenerated
  packaging/debian/changelog
Due: none

Bump version to 2.5.2
  CMakeLists.txt
  LICENSE
Due: none

(fix) Track menu: make Left key close the Search / Crates submenus again
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

use a std::latch instead of the atomic
  src/test/borrowabletest.cpp
Due: clang-format

Update borrowabletest.cpp
  src/test/borrowabletest.cpp
Due: clang-format

Fix XKB layout reading under XWayland
  src/coreservices.cpp
Due: clang-format

Clean up X11 includes
  src/coreservices.cpp
Due: clang-format

Remove redundant static const QRegularExpression declaration
  src/coreservices.cpp
Due: clang-format

Fixed the cover reload on single track
  src/library/dlgtrackinfo.cpp
Due: clang-format

feat: add key colors to WKey label in decks
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wkey.cpp
  src/widget/wkey.h
Due: clang-format

Use an immutable std::weak_ptr for creating borrowed_ptr
  src/test/borrowabletest.cpp
  src/util/borrowable_ptr.h
Due: clang-format

feat: show tuning in key color rectangle
  src/widget/wkey.cpp
  src/widget/wkey.h
Due: clang-format

Added a comment about the workaround
  src/coreservices.cpp
Due: clang-format

remove `this` pointer
  src/widget/wkey.cpp
Due: clang-format

change deck bg to subtle shade of deck colour
  res/skins/Deere/skin.xml
Due: none

Downbeats offset are saved on the BeatGrid
  src/proto/beats.proto
  src/test/beatstest.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format
