Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

fade out: add comment
  src/engine/readaheadmanager.cpp
Due: clang-format

add missing static keyword for a local constexpr
  src/track/taglib/trackmetadata_file.cpp
Due: clang-format

Refactor linear scaler to use SampleUtil
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalelinear.h
Due: clang-format

use SampleUtil::clear to reset RB buffer
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
Due: clang-format

Made code conditional for Windows
  src/library/parsercsv.cpp
Due: clang-format

Add logic for multi threaded RB
  src/engine/bufferscalers/rubberbandworkerpool.cpp
  src/engine/bufferscalers/rubberbandwrapper.cpp
  src/engine/bufferscalers/rubberbandwrapper.h
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Fix assert and fractionnal beat skipped by iterator
  src/test/beatstest.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

Add missing SampleUtil::copy
  src/engine/bufferscalers/enginebufferscalelinear.cpp
Due: clang-format

Rewording RB multi threading to clarify the stereo split into mono
  src/engine/bufferscalers/rubberbandwrapper.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounddlg.ui
Due: clang-format

(fix) Effects: show newly added effects, read/write HiddenEffects
  src/effects/effectsmanager.cpp
  src/effects/presets/effectxmlelements.h
  src/effects/visibleeffectslist.cpp
  src/effects/visibleeffectslist.h
Due: clang-format

chore: update the donate button label
  README.md
Due: none

Fix missing template parameter in specialization
  src/control/controlvalue.h
Due: clang-format

Fix warning in StemInfoImporter
  src/track/steminfoimporter.cpp
Due: clang-format

Add Mariano Ntrougkas to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Bump CMAKE_PROJECT_VERSION and LICENSE to 2.5-beta
  CMakeLists.txt
  LICENSE
Due: none

Use the 2.5 branch for the beta PPA
  .github/workflows/build.yml
Due: none

Fix tools/deploy.py
  tools/deploy.py
Due: none

feat(controllers): add new controller mapping for Numark NS6II
  res/controllers/Numark NS6II.midi.xml
  res/controllers/Numark-NS6II-scripts.js
Due: none

(fix) Library sidebar: allow Del hotkey
  src/widget/wlibrarysidebar.cpp
Due: clang-format

feat(controllers): add new controller mapping for Numark Scratch
  res/controllers/Numark-Scratch-scripts.js
  res/controllers/Numark-Scratch.midi.xml
Due: none

AutoDJ: make crate menu action parented_ptr
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
Due: clang-format

AutoDJ: add 'Clear Queue' menu action
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
Due: clang-format

AutoDJ: use remove hotkey Del for Clear Queue and Remove Crate actions
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/sidebarmodel.cpp
Due: clang-format

close open dialogs on exit (DlgAbout, DlgTrackInfo, DlgTagFetcher etc.)
  src/mixxxmainwindow.cpp
Due: clang-format

Added TODOs
  src/library/basetracktablemodel.cpp
Due: clang-format

localDateTimeFromUtc: Make argument a const reference and initialize QDateTime at construction
  src/util/datetime.h
Due: clang-format

Execute expensive setStleSheet only, if textcolor of BPM checkbox(padlock) changed
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/bpmdelegate.h
Due: clang-format

Add CHANGLOG entries about raised OS requirements
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add FILE line to Cuefile to include file path for each track
  src/engine/sidechain/enginerecord.cpp
Due: clang-format

WOverview: use parented_ptr, QStringLiteral
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

allow changing the waveform overview type without reloading the skin
  CMakeLists.txt
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/skin/legacy/legacyskinparser.cpp
  src/widget/woverview.cpp
  src/widget/woverview.h
  src/widget/woverviewhsv.cpp
  src/widget/woverviewhsv.h
  src/widget/woverviewlmh.cpp
  src/widget/woverviewlmh.h
  src/widget/woverviewrgb.cpp
  src/widget/woverviewrgb.h
Due: clang-format

WOverview: move redundant drawing code to drawNextPixmapPart()
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

Update Translation template. Found XXXX source text(s) (1 new and 2933 already existing)
  res/translations/mixxx.ts
Due: none

Changed WImageStore to use managed pointer types
  src/widget/wimagestore.cpp
  src/widget/wimagestore.h
Due: clang-format

Pre-allocate memory in basetrackcache to avoid multiple reallocations
  src/library/basetrackcache.cpp
Due: clang-format

Update 2.4 CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

WOverview: use QStringLiteral for ScopedTimer id
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

Update Translation template. Found 3104 source text(s) (0 new and 3104 already existing)
  res/translations/mixxx.ts
Due: none

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_bg.qm
  res/translations/mixxx_bg.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_pt.qm
  res/translations/mixxx_pt.ts
  res/translations/mixxx_pt_BR.qm
  res/translations/mixxx_pt_BR.ts
  res/translations/mixxx_pt_PT.qm
  res/translations/mixxx_pt_PT.ts
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
