Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

feat(pre-commit): only run eslint on changed lines as clang-format
  .eslintrc.json
  .pre-commit-config.yaml
Due: none

LateNight: set fixed QComboBox/QPushButton icon size to scale "2x" icons
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Append .bind(this) to all the callback functions
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

use library_pch.h and remove all problematic headers.
  CMakeLists.txt
  src/library_pch.h
Due: clang-format

dont use compiler cache
  .github/workflows/build.yml
Due: none

Move separate files to target_precompile_headers
  CMakeLists.txt
  src/util/safelywritablefile.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wvumeterglsl.cpp
Due: clang-format

Revert "Move separate files to target_precompile_headers"
  CMakeLists.txt
  src/util/safelywritablefile.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wvumeterglsl.cpp
Due: clang-format

add beats_translate_move to trigger beats_translate_earlier/_later
  src/controllers/controlpickermenu.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Due: clang-format

BpmControl: improve headers, remove unused member
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Due: clang-format

empty library_pch
  src/library_pch.h
Due: clang-format

This restores the old behavior of getActiveFieldGroup without altering the behavior of resolveGroup And adds warnings at various callers, for the case that resolveGroup returns undefined
  res/controllers/common-hid-packet-parser.js
Due: none

Change function prefix to TraktorZ1
  res/controllers/Traktor Kontrol Z1.hid.xml
Due: none

Remove empty line
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Add super knob adoption option for quick effects
  src/effects/chains/quickeffectchain.cpp
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffectsdlg.ui
Due: clang-format

Always use two digits for 7-bit hex values
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Fix "possible loss of data" warnings with MSVC
  lib/reverb/Reverb.h
  lib/reverb/dsp/Delay.h
  lib/reverb/dsp/IIR1.h
Due: none

Improve NativeEventHandlerWin to avoid header conflict
  src/main.cpp
  src/nativeeventhandlerwin.cpp
  src/nativeeventhandlerwin.h
Due: clang-format

Taglib: Disable missing dll-interface warning
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
Due: clang-format

Add missing include
  src/controllers/hid/hidioglobaloutputreportfifo.h
  src/util/console.cpp
  src/util/safelywritablefile.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/widget/wspinnyglsl.cpp
  src/widget/wvumeterglsl.cpp
Due: clang-format

Use a more descriptive naming scheme for variables and functions
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Revert "DEBUG (Remove!): add pitch_adjust slider to LateNight"
  res/skins/LateNight/controls/button_2state_isEqual.xml
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/decks/row_5_transportLoopJump.xml
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Traktor S3: fixes and updates
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: none

common hid: update uses of deprecated makeConnection
  res/controllers/common-hid-packet-parser.js
Due: none

edits from ronso0 from scaling-svg-for-retina
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

LateNight: fix library radio buttons (Analyze)
  res/skins/LateNight/classic/buttons/btn__lib_radio_button_gold_on.svg
  res/skins/LateNight/classic/buttons/btn__lib_radio_button_yellow_on.svg
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

fix clamping of the index so left of zero is not drawn with the first value
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererlrrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
Due: clang-format

Suppress possible loss of data warning explicit a /w after /W3 seems to no longer work "overriding '/W3' with '/w'"
  CMakeLists.txt
Due: none

Revert "Bump actions/labeler from 4.3.0 to 5.0.0"
  .github/workflows/labeler.yml
Due: none

use frameSwapped - update for continuously repaint synchronized to the vertical refresh, and use that for timing instead of vsyncthread
  src/waveform/useframeswapped.h
  src/waveform/vsyncthread.cpp
  src/waveform/vsyncthread.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/openglwindow.cpp
  src/widget/wglwidgetqopengl.cpp
  src/widget/wglwidgetqopengl.h
Due: clang-format

added comments and minor changed based on review
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformrendermarkbase.cpp
Due: clang-format

Increased pixmapCache size limit and made it dependent on devicePixelRatio Moved this general definition out off coverartcache.cpp
  src/library/coverartcache.cpp
  src/main.cpp
Due: clang-format

SoundDeviceItem: add comment with ideas to improve channel auto-select
  src/preferences/dialog/dlgprefsounditem.cpp
Due: clang-format

Pref Sound: auto-select free channels when picking a new I/O device
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Due: clang-format

Pref Sound: consolidate item conncetions in connectSoundItem()
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Display the samplerate in the track info dialog.
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
Due: clang-format

LateNight, PaleMoon: fix active loop in/out icons
  res/skins/LateNight/palemoon/buttons/btn__loop_active.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_in.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_in_active.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_out.svg
  res/skins/LateNight/palemoon/buttons/btn__loop_out_active.svg
Due: none

minor tweak
  res/skins/LateNight/classic/buttons/btn__intro_end.svg
  res/skins/LateNight/classic/buttons/btn__outro_end.svg
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
