Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

move the type check into the class definition
  src/track/track.h
  src/util/fileinfo.h
Due: clang-format

Improve comment
  src/util/fileinfo.h
Due: clang-format

Skins: Remove `border: 0px` from sidebar item styling
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Due: qsscheck

iTunes schema: Add composer, play count, dates and display name
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/itunes/itunesdao.cpp
Due: clang-format

ITunesFeature: Fix typo
  src/library/itunes/itunesfeature.cpp
Due: clang-format

ITunesFeature: Add the new columns
  src/library/itunes/itunesfeature.cpp
Due: clang-format

Remove obsolete guard agains division by zero
  src/engine/enginebuffer.cpp
Due: clang-format

Fix: don't export loudness info to Engine
  src/library/export/engineprimeexportjob.cpp
Due: clang-format

sound pref: js comment format > ///
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/soundio/soundmanagerutil.cpp
Due: clang-format

SoundDeviceItem: rename member var, invert bool/meaning
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Due: clang-format

EQ effects: remove empty destructors
  src/effects/backends/builtin/bessel4lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel4lvmixeqeffect.h
  src/effects/backends/builtin/bessel8lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel8lvmixeqeffect.h
Due: clang-format

Remove redundant constexpr on a local variable and improve comments
  src/library/coverartutils.cpp
Due: clang-format

Traktor S2 Mk1: Remove console.log statements
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

Traktor S2 Mk1: Fix missing rename.
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

Traktor S2 Mk1: Remove superfluous arguments
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

Traktor S2 Mk1: Use NaN as initial value
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

Pref Mixer: use parented_ptr for xfader QGraphicsScene, reuse scene
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
Due: clang-format

Comment QSurfaceFormat settings
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Improve Wavefoem labels for GLSL ES
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Enable all shader Waveforms with GLES
  src/waveform/widgets/allshader/filteredwaveformwidget.h
  src/waveform/widgets/allshader/hsvwaveformwidget.h
  src/waveform/widgets/allshader/lrrgbwaveformwidget.h
  src/waveform/widgets/allshader/rgbwaveformwidget.h
  src/waveform/widgets/allshader/simplewaveformwidget.h
Due: clang-format

Make Shader GLES compatible
  src/shaders/endoftrackshader.cpp
  src/shaders/rgbashader.cpp
  src/shaders/rgbshader.cpp
  src/shaders/textureshader.cpp
  src/shaders/unicolorshader.cpp
  src/shaders/vinylqualityshader.cpp
Due: clang-format

Lower the EGL requirements to 2.0
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Change waveform labels according to the used GL context.
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

feat(lib): add Kokkos::mdspan library
  CMakeLists.txt
  lib/mdspan/LICENSE
  lib/mdspan/README.md
  lib/mdspan/include/experimental/__p0009_bits/compressed_pair.hpp
  lib/mdspan/include/experimental/__p0009_bits/config.hpp
  lib/mdspan/include/experimental/__p0009_bits/default_accessor.hpp
  lib/mdspan/include/experimental/__p0009_bits/dynamic_extent.hpp
  lib/mdspan/include/experimental/__p0009_bits/extents.hpp
  lib/mdspan/include/experimental/__p0009_bits/full_extent_t.hpp
  lib/mdspan/include/experimental/__p0009_bits/layout_left.hpp
  lib/mdspan/include/experimental/__p0009_bits/layout_right.hpp
  lib/mdspan/include/experimental/__p0009_bits/layout_stride.hpp
  lib/mdspan/include/experimental/__p0009_bits/macros.hpp
  lib/mdspan/include/experimental/__p0009_bits/mdspan.hpp
  lib/mdspan/include/experimental/__p0009_bits/no_unique_address.hpp
  lib/mdspan/include/experimental/__p0009_bits/trait_backports.hpp
  lib/mdspan/include/experimental/__p0009_bits/type_list.hpp
  lib/mdspan/include/experimental/__p1684_bits/mdarray.hpp
  lib/mdspan/include/experimental/__p2630_bits/strided_slice.hpp
  lib/mdspan/include/experimental/__p2630_bits/submdspan.hpp
  lib/mdspan/include/experimental/__p2630_bits/submdspan_extents.hpp
  lib/mdspan/include/experimental/__p2630_bits/submdspan_mapping.hpp
  lib/mdspan/include/experimental/mdarray
  lib/mdspan/include/experimental/mdspan
  lib/mdspan/include/mdspan/mdarray.hpp
  lib/mdspan/include/mdspan/mdspan.hpp
Due: none

fix(coreservices): Remove obsolete `getLV2Backend()` method
  src/coreservices.h
  src/test/coreservicestest.cpp
Due: clang-format

test(main): Always use fixed command line args and pass `--safe-mode`
  src/test/main.cpp
Due: clang-format

refactor(waveform/guitick): Rename `guiTick` COs
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/Yaeltex-MiniMixxx-scripts.js
  src/control/controlindicatortimer.cpp
  src/test/co_dumps/co_dump_inital.csv
  src/util/timer.cpp
  src/waveform/guitick.cpp
  src/waveform/guitick.h
  src/widget/wtracktableview.cpp
Due: clang-format

refactor(controlindicator): Move `indicator_` COs to `[App]` group
  res/controllers/Roland_DJ-505-scripts.js
  src/control/controlindicator.cpp
  src/control/controlindicatortimer.cpp
Due: clang-format

refactor(engine): Move `keylock_engine` CO into `[App]` group
  src/engine/enginebuffer.cpp
  src/engine/enginemixer.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/test/co_dumps/co_dump_inital.csv
  src/test/enginebuffertest.cpp
Due: clang-format

refactor(enginemixer): Remove unnecessary `[Master],num_mics_configured`
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
Due: clang-format

refactor(enginemixer): Move `samplerate` CO to `[App]` group
  res/controllers/Denon-MC6000MK2-scripts.js
  src/controllers/controlpickermenu.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/controls/ratecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginedelay.cpp
  src/engine/enginemixer.cpp
  src/engine/enginetalkoverducking.cpp
  src/engine/enginevumeter.cpp
  src/engine/positionscratchcontroller.cpp
  src/engine/sidechain/enginerecord.cpp
  src/engine/sidechain/enginerecord.h
  src/engine/sidechain/shoutconnection.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/test/co_dumps/co_dump_inital.csv
Due: clang-format

Removed unsupported floating-point suffix prior to GLSL ES 3.00
  src/shaders/endoftrackshader.cpp
  src/shaders/vinylqualityshader.cpp
Due: clang-format

refactor(library): remove unused vars from createFindOnWebSubmenus
  src/widget/findonwebmenufactory.cpp
Due: clang-format

refactor: make parented_ptr trivially destructible in release mode
  src/util/parented_ptr.h
Due: clang-format

refactor(paranted_ptr): explicitly delete move operations
  src/util/parented_ptr.h
Due: clang-format

Introduce a hidden applocal component to install loose dependencies to the build directory
  CMakeLists.txt
Due: none

test(coreservices): Fix and re-enable `CoreServicesTest`
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  src/test/coreservicestest.cpp
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
Due: clang-format

Pref Mixer: polish xfader graph, smooth lines, style it like it's 2023 (not 1990 ;)
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixerdlg.ui
Due: clang-format

refactor channel input selector
  res/controllers/Numark-Scratch-scripts.js
  res/controllers/Numark-Scratch.midi.xml
Due: none
