Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

SoundSourceFFmpeg: Rename variables and reformat code
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

Fix debug assertion when decoding corrupt file
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

Fix TODO by renaming the property declaration macro
  src/audio/signalinfo.h
  src/audio/streaminfo.h
  src/track/albuminfo.h
  src/track/trackinfo.h
  src/track/trackmetadata.h
  src/track/trackrecord.h
  src/util/macros.h
Due: clang-format, line-length

tools/codespell: Remove print leftover from debugging
  tools/codespell.py
Due: none

Apply suggestions from code review
  src/track/beatutils.cpp
Due: clang-format, line-length

util/compatibility: Improve listAppendOrReplaceAt implementation
  src/util/compatibility.h
Due: clang-format, line-length

Fix display of crate/playlist names in context menu
  src/util/qt.h
  src/widget/wtrackmenu.cpp
Due: clang-format, line-length

use the beat lenght instead of bpm for processing
  src/track/beatutils.cpp
  src/track/beatutils.h
  src/util/descriptivestatistics.cpp
  src/util/descriptivestatistics.h
Due: clang-format, line-length

failed to add windowedstatistics.h on previous commit
  src/util/windowedstatistics.h
Due: clang-format, line-length

add todo to remove new preferences before 2.4
  src/preferences/beatdetectionsettings.h
Due: clang-format, line-length

add eject with library select button
  res/controllers/Denon-MC7000-scripts.js
  res/controllers/Denon-MC7000.midi.xml
Due: clang-format

Added a step size parameter to the mod caculation. Fix using initalized values
  src/track/beatutils.cpp
  src/util/windowedstatistics.cpp
  src/util/windowedstatistics.h
Due: clang-format, line-length

Use insert() instead of operator[] to avoid inserting the default value first.
  src/track/beatutils.cpp
Due: clang-format, line-length

CMake: Bump keyfinder commit
  CMakeLists.txt
Due: none

AppveyorL Disable Keyfinder on Windows (due to missing FFTW)
  appveyor.yml
Due: none

test: Add basic HotcueControlTest class
  CMakeLists.txt
  src/engine/controls/cuecontrol.h
  src/engine/enginebuffer.h
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

HotcueControlTest: Add some basic tests for setting cues/loops
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

AutoDJ: Add Random Track Control to AutoDJ.
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
  src/controllers/controlpickermenu.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/autodj/dlgautodj.ui
Due: clang-format, qsscheck, line-length

ControlPickerMenu: Removed grammatical error.
  src/controllers/controlpickermenu.cpp
Due: clang-format, line-length

use mode bpm as global bpm
  src/track/beats.cpp
  src/track/beats.h
  src/widget/wtimesignaturemenu.cpp
Due: clang-format, line-length

library: Move color column to the left
  src/library/mixxxlibraryfeature.cpp
Due: clang-format, line-length

library/basetrackcache: Add comment regarding default column order
  src/library/basetrackcache.h
Due: clang-format, line-length

HotcueControlText: Remove unnecessary ProcessBuffer calls
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

HotcueControlTest: Also check loop enabled state in SavedLoopStatus test
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

HotcueControlTest: Test saved loop move/scale tracking
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

HotcueControlText: Add test for saved loop reset behavior
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

HotcueControlTest: Add some comments
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

HotcueControlTest: Add tests for saved loops toggle/activate behavior
  src/test/hotcuecontrol_test.cpp
Due: clang-format, line-length

add word to codespellignore
  .codespellignore
Due: none

CachingReader: Fix debug assertion when hintFrameCount == 0
  src/engine/cachingreader/cachingreader.cpp
Due: clang-format, line-length

engine/controls/cuecontrol: Do not reset saved loop on cue updates
  src/engine/controls/cuecontrol.cpp
Due: clang-format, line-length

Roland DJ-505: Add Loop Mode
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Add saved loop deletion on long pad press
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Add pad blinking for currently active saved loops
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Add support for colored loop in Loop Mode
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Fix saved loop blinking behaviour
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Fix blinking LED pad when leaving Loop mode
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Fix code-style issues in Loop mode implementation
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

controllers/Roland_DJ-505-scripts: Fix undefined "this" with bind method
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Roland DJ-505: Make CueLoop mode simpler and more robust
  res/controllers/Roland_DJ-505-scripts.js
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
