Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

Localize concert pitch column and show Hz suffix
  src/library/basetracktablemodel.cpp
  src/library/columncache.cpp
Due: clang-format

Rename concert pitch column to Pitch and localize
  res/translations/mixxx_de.ts
  src/library/columncache.cpp
Due: clang-format, ts-source-copy

Tracks: posible workaround for slow auto-scroll bug on Windows and Wayland
  src/widget/wlibrarytableview.cpp
Due: clang-format

Remove duplicate LoadSelectedTrack
  res/controllers/Mixstream Pro.midi.xml
Due: none

Delete res/controllers/Numark-MixstreamPro-scripts.js
  res/controllers/Numark-MixstreamPro-scripts.js
Due: none

Delete res/controllers/Mixstream Pro.midi.xml
  res/controllers/Mixstream Pro.midi.xml
Due: none

fixup! Controller: extend product information and implement mapping serialisation
  src/controllers/controllermappinginfo.cpp
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollersettings.h
Due: clang-format

Add files via upload
  res/controllers/Mixstream Pro.midi.xml
  res/controllers/Numark-MixstreamPro.scripts.js
Due: none

Copy old release change log to debian/changelog
  packaging/debian/changelog
Due: none

fixup! Controller: extend product information and implement mapping serialisation
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollersettings.cpp
Due: clang-format

fixup! QML: add controller setting proxy
  CMakeLists.txt
  packaging/debian/control.in
  tools/debian_buildenv.sh
  tools/macos_buildenv.sh
  tools/rpm_buildenv.sh
  tools/windows_buildenv.bat
Due: none

autodj: Add missing space between sentence breaks
  src/library/autodj/autodjfeature.cpp
Due: clang-format

Browse feature: use parented_ptr, forward-declare, rm unused includes
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
Due: clang-format

Search: add `directory` filter, shortcut: `dir`
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackschema.cpp
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/searchquery.cpp
  src/library/searchqueryparser.cpp
  src/library/trackset/tracksettablemodel.cpp
  src/track/track.h
Due: clang-format

Browse feature: remove TODO, add comment
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: use Library model when path is watched (in library)
  CMakeLists.txt
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/browse/browsetablemodel.cpp
Due: clang-format

Browse feature: add library view comment to rescan dialog
  src/library/browse/browsefeature.cpp
Due: clang-format

Traktor S4MK3: New preference for FX button order
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Traktor S4MK3: Add alternative modes for a few controls.
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

controller: add mapping for Numark Mixstream Pro
  res/controllers/Numark-Mixstream-Pro.midi.xml
  res/controllers/Numark-Mixstream-Pro.scripts.js
Due: none

WIP Ducking: add potmeters for attack & decay time
  res/skins/LateNight/mic_aux/ducking_controls.xml
  src/engine/enginesidechaincompressor.cpp
  src/engine/enginesidechaincompressor.h
  src/engine/enginetalkoverducking.cpp
  src/engine/enginetalkoverducking.h
Due: clang-format

controller: add GUI options to Numark Mixstream Pro and clear jog wheel buffer on long pauses
  res/controllers/Numark-Mixstream-Pro.midi.xml
  res/controllers/Numark-Mixstream-Pro.scripts.js
Due: none

formatting changes
  res/controllers/Numark-Mixstream-Pro.midi.xml
  res/controllers/Numark-Mixstream-Pro.scripts.js
Due: none

Ensure tuning_frequency column is auto-created
  src/database/mixxxdb.cpp
Due: clang-format

Add tuning frequency persistence and library column
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetrackcache.cpp
  src/library/basetracktablemodel.cpp
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
  src/library/tabledelegates/keydelegate.cpp
  src/library/trackmodel.h
  src/proto/keys.proto
  src/skin/legacy/tooltips.cpp
  src/track/keyfactory.cpp
  src/track/keyfactory.h
  src/track/keys.cpp
  src/track/keys.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Rename tuning column to A4 Pitch
  src/library/columncache.cpp
Due: clang-format

Add dynamic tuning frequency detection
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/plugins/analyzerplugin.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/analyzer/plugins/analyzerqueenmarykey.h
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefkey.h
  src/preferences/dialog/dlgprefkeydlg.ui
  src/preferences/keydetectionsettings.h
Due: clang-format

Implement dynamic 432Hz pitch lock using detected tuning
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Due: clang-format

Fix tuning detection scoring and 432Hz pitch lock reapply
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
  src/mixer/basetrackplayer.cpp
Due: clang-format

Add A4 tuning editing and RapidEvolution tag roundtrip
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfo.ui
  src/track/keyfactory.cpp
  src/track/keys.cpp
  src/track/keys.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Add unit test for RapidEvolution tuning offsets
  src/test/keyutilstest.cpp
Due: clang-format

Fix build: include QSqlError in mixxxdb.cpp
  src/database/mixxxdb.cpp
Due: clang-format

Improved comment to clarify how long the mutex is held
  src/controllers/hid/hidcontroller.cpp
Due: clang-format

Merge remote-tracking branch 'upstream/main' into abletonlink2
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
  src/controllers/controlpickermenu.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/engine/sync/abletonlink.cpp
  src/engine/sync/abletonlink.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/soundio/sounddevice.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/enginemixertest.cpp
  src/test/hosttimefilter_test.cpp
  src/test/playermanagertest.cpp
  src/test/signalpathtest.h
  src/test/stemcontrolobjecttest.cpp
  src/util/hosttimefilter.h
  tools/debian_buildenv.sh
Due: clang-format, qsscheck

Add KeyFactory include and clean test file
  src/test/keyutilstest.cpp
Due: clang-format

Adjust RapidEvolution tuning offset test to current rounding
  src/test/keyutilstest.cpp
Due: clang-format

Browse feature: decorate watched path items
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.cpp
  src/library/treeitem.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

Update res/controllers/Numark-Mixstream-Pro.scripts.js
  res/controllers/Numark-Mixstream-Pro.scripts.js
Due: none

Support Android build
  CMakeLists.txt
Due: none
