Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

replace the boolean valid flag with delay ring level tracking.
  src/engine/enginebuffer.cpp
  src/qml/qmlspinnyposition.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
Due: clang-format

Use buffer for visual playposition currently at the DAC
  src/waveform/visualplayposition.cpp
Due: clang-format

Add a unittets for the DelayRing
  CMakeLists.txt
  src/test/delayringtest.cpp
Due: clang-format

Add Moc for importPlaylistTrack()
  src/test/itunesxmlimportertest.cpp
Due: clang-format

ExportHotcueToSampler
  res/skins/LateNight/helpers/skin_settings_numToggle_header.xml
  res/skins/LateNight/style_palemoon.qss
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/widget/wcuemenupopup.cpp
  src/widget/wcuemenupopup.h
Due: clang-format, qsscheck

LateNightQML: wire waveform preferences
  CMakeLists.txt
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/Settings.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/Waveform.qml
  res/qml/WaveformDisplay.qml
  res/qml/WaveformOverview.qml
  res/skins/LateNightQML/Deck/MiniDeck.qml
  res/skins/LateNightQML/Deck/OverviewRow.qml
  res/skins/LateNightQML/Samplers/SamplerFull.qml
  res/skins/LateNightQML/Waveforms/LateNightWaveformDisplay.qml
  src/coreservices.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayerproxy.cpp
  src/qml/qmlplayerproxy.h
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformdisplay.h
  src/qml/qmlwaveformoverview.cpp
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.cpp
  src/qml/qmlwaveformrenderer.h
  src/test/qmlwaveformoverviewtest.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Update test fixture names to upstream's unicode cover-test files
  src/test/ratingexportimport_test.cpp
Due: clang-format

Expose rating file-tag settings in the QML library settings
  res/qml/Settings/Library.qml
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
Due: clang-format

fixup! feat(QML): add library search feature
  CMakeLists.txt
  library_search.feature
  res/qml/Library.qml
  res/qml/SearchFieldCriteria.qml
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
  src/qml/qmlsearchsuggestionmodel.cpp
  src/qml/qmlsearchsuggestionmodel.h
Due: clang-format

Fix clazy range-loop-detach warnings in DlgPrefSound
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

fixed all review comments
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Due: clang-format

Add option to reverse waveform scroll direction
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/qtwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/qtwaveformrenderersimplesignal.cpp
  src/waveform/renderers/waveformrendererpreroll.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Due: clang-format

Add macOS pinch-to-zoom and opt-in left-click pitch bend on waveform
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Due: clang-format

Add crossfader click-to-position interaction
  res/skins/Deere/mixer.xml
  res/skins/LateNight/mixer/mixer_2decks.xml
  res/skins/LateNight/mixer/singletons.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/topbar.xml
  src/widget/slidereventhandler.h
  src/widget/wslidercomposed.cpp
Due: clang-format

Add momentary crossfader hold control
  res/keyboard/en_US.kbd.cfg
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/preferences/dialog/dlgprefmixerdlg.ui
Due: clang-format

Fix visual parity in classic scheme
  res/skins/LateNightQML/Controls/Knob.qml
  res/skins/LateNightQML/LateNightTheme/LateNightTheme.qml
  res/skins/LateNightQML/MicAux/AuxOrientationButton.qml
  res/skins/LateNightQML/Mixer/CrossfaderAssignButton.qml
  res/skins/LateNightQML/Toolbar/Toolbar.qml
Due: none

fix(LateNightQML): remove redundant toolbar headers
  res/skins/LateNightQML/Toolbar/Toolbar.qml
Due: none

Light up right-click button connections on external control changes
  src/widget/wpushbutton.cpp
Due: clang-format

add 64samplers workflow & visibility
  res/skins/LateNight (64 Samplers)/samplers_rack.xml
  res/skins/LateNight/palemoon/buttons/btn__hotcue_export.svg
  res/skins/LateNight/palemoon/buttons/btn__hotcue_export_active.svg
  res/skins/LateNight/samplers/sampler_expand_button.xml
  res/skins/LateNight/style_palemoon.qss
  src/widget/wcuemenupopup.cpp
  src/widget/wcuemenupopup.h
Due: clang-format, qsscheck

fixup! feat(QML): add library search feature
  packaging/android/AndroidManifest.xml
  packaging/android/src/org/mixxx/MainActivity.java
  res/qml/Library.qml
  res/qml/MainWindow.qml
  src/qml/qmlapplication.cpp
Due: clang-format

fixup! feat(QML): add library search feature
  res/qml/Library.qml
  res/qml/MainWindow.qml
  res/qml/SearchFieldCriteria.qml
  res/qml/SplitViewHandle.qml
  src/qml/qmlsearchsuggestionmodel.cpp
  src/qml/qmlsearchsuggestionmodel.h
Due: clang-format

DbConnection: enable WAL journal mode and busy timeout for SQLite3
  src/util/db/dbconnection.cpp
Due: clang-format

TrackDAO: don't treat failed track_locations INSERT as duplicate
  src/library/dao/trackdao.cpp
Due: clang-format

LibraryScanner: commit add-tracks transaction after every track
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/scanner/libraryscanner.cpp
Due: clang-format

Keep beatgrid/loop nudge direction consistent with reversed waveform scroll
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

looping: load loop in loopingcontrol not basetrackplayer
  src/engine/controls/loopingcontrol.cpp
  src/mixer/basetrackplayer.cpp
Due: clang-format

Fix disabled avTrace() for FFmpeg 5.1 and 6.0
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Adjust and remove flase positive DEBUG_ASSERTS when decoding final frames of a file
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

EKS Otus fix for 2.5
  res/controllers/EKS-Otus.js
Due: none

LateNightQML: add library preview deck and cover art
  res/skins/LateNightQML/Library.qml
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmllegacylibraryitem.cpp
  src/qml/qmllegacylibraryitem.h
  src/qml/qmlplayermanagerproxy.h
  src/widget/wtracktableview.cpp
Due: clang-format

test(engine): cover repeat state across slip loop cycle
  src/test/looping_control_test.cpp
Due: clang-format

fix(LateNightQML): streamline toolbar dropdowns
  res/skins/LateNightQML/Toolbar/Toolbar.qml
Due: none

fix(LateNightQML): size toolbar dropdowns to content
  res/skins/LateNightQML/Toolbar/Toolbar.qml
Due: none

Add tests for rating import in UpdateTrackFromSourceMode::Newer
  src/test/trackupdate_test.cpp
Due: clang-format

fix(LateNightQML): align scheme-specific rack gutters
  res/skins/LateNightQML/Controls/Panel.qml
  res/skins/LateNightQML/Deck/FullDeck.qml
  res/skins/LateNightQML/Effects/EffectsRack.qml
  res/skins/LateNightQML/LateNightTheme/LateNightTheme.qml
  res/skins/LateNightQML/MainWindow.qml
  res/skins/LateNightQML/Mixer/CompactCenterVuMeters.qml
  res/skins/LateNightQML/Mixer/Mixer.qml
  res/skins/LateNightQML/Samplers/SamplerGroup.qml
  res/skins/LateNightQML/Samplers/SamplersRack.qml
Due: none

LateNightQML: address review feedback
  src/qml/qmlapplication.cpp
  src/qml/qmllegacylibraryitem.cpp
  src/qml/qmllegacylibraryitem.h
Due: clang-format

fix(LateNightQML): match legacy vinyl control layout
  res/skins/LateNightQML/Deck/FullDeck.qml
  res/skins/LateNightQML/Deck/TransportLoopBeatjumpCompact.qml
  res/skins/LateNightQML/Deck/VinylControlsPlaceholder.qml
Due: none

LateNightQML: fix library layout, missing waveform control and shutdown
  src/qml/qmlapplication.cpp
  src/qml/qmllegacylibraryitem.cpp
  src/qml/qmllegacylibraryitem.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
