Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

Traktor S3: configurable dim/bright color values
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

DlgTrackInfo: add star rating below cover art
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfo.ui
  src/widget/wstarrating.cpp
Due: clang-format, line-length

LateNight: remove center gap in master VU meter
  res/skins/LateNight/mixer/mixer_decks.xml
  res/skins/LateNight/mixer/vumeter_master.xml
  res/skins/LateNight/style.qss
Due: qsscheck

PaleMoon: smaller Fx toggle
  res/skins/LateNight/palemoon/buttons/btn__fx_toggle.svg
  res/skins/LateNight/palemoon/buttons/btn__fx_toggle_active.svg
Due: none

update CHANGELOG
  CHANGELOG
Due: none

move priority logic to Worker Thread
  src/analyzer/analyzerthread.cpp
  src/analyzer/trackanalysisscheduler.cpp
  src/util/workerthread.cpp
  src/util/workerthread.h
Due: clang-format, line-length

MacroRecorder: Factor out fetchRecordedActions from saving and refactor tests
  src/macros/macromanager.cpp
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
  src/test/macros_test.cpp
Due: clang-format, line-length

Travis: Remove SCons
  .travis.yml
Due: none

rhythm analyzer - add and start using qm-tempogram code
  CMakeLists.txt
  lib/qm-dsp/dsp/tempogram/AutocorrelationProcessor.cpp
  lib/qm-dsp/dsp/tempogram/AutocorrelationProcessor.h
  lib/qm-dsp/dsp/tempogram/CITATION
  lib/qm-dsp/dsp/tempogram/COPYING
  lib/qm-dsp/dsp/tempogram/FIRFilter.cpp
  lib/qm-dsp/dsp/tempogram/FIRFilter.h
  lib/qm-dsp/dsp/tempogram/NoveltyCurveProcessor.cpp
  lib/qm-dsp/dsp/tempogram/NoveltyCurveProcessor.h
  lib/qm-dsp/dsp/tempogram/README
  lib/qm-dsp/dsp/tempogram/SpectrogramProcessor.cpp
  lib/qm-dsp/dsp/tempogram/SpectrogramProcessor.h
  lib/qm-dsp/dsp/tempogram/TempogramPlugin.cpp
  lib/qm-dsp/dsp/tempogram/TempogramPlugin.h
  lib/qm-dsp/dsp/tempogram/WindowFunction.cpp
  lib/qm-dsp/dsp/tempogram/WindowFunction.h
  src/analyzer/analyzerrhythm.cpp
  src/analyzer/analyzerrhythm.h
Due: clang-format, line-length

rhythm analyzer - small fixes to build tempogram
  src/analyzer/analyzerrhythm.cpp
Due: clang-format, line-length

Traktor S3: pad buttons
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
  res/controllers/common-hid-packet-parser.js
Due: clang-format

Traktor S3: light up the reverse light
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

tools/githelper: Add comment regarding unstaged changes
  tools/githelper.py
Due: none

tools/clang_tidy.py: Add support for PRE_COMMIT_TO_REF
  tools/clang_tidy.py
Due: none

pre-commit: Add clang-tidy support
  .clang-tidy
  .pre-commit-config.yaml
  CMakeLists.txt
  tools/clang_tidy.py
Due: none

Track: Reorder some methods and remove useless comments
  src/track/track.cpp
  src/track/track.h
Due: clang-format, line-length

Macros: Create MacroDAO and use QFlags for Macro State
  CMakeLists.txt
  src/macros/macro.cpp
  src/macros/macro.h
  src/macros/macrodao.cpp
  src/macros/macrodao.h
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/test/macrodao_test.cpp
  src/test/macromanager_test.cpp
Due: clang-format, line-length

Macros: Integrate MacroDAO with TrackDAO and save Macros in Track
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/macros/macrodao.cpp
  src/macros/macrodao.h
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/test/macrodao_test.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format, line-length

Create a ControlObject toggle function
  src/control/controlobject.cpp
  src/control/controlobject.h
Due: clang-format, line-length

Macro: Rename StateFlags to StateFlag
  src/macros/macro.h
  src/macros/macromanager.cpp
  src/test/macrodao_test.cpp
Due: clang-format, line-length

Macro: Reorder properties
  src/macros/macro.cpp
  src/macros/macro.h
  src/macros/macrodao.cpp
Due: clang-format, line-length

Macros: Stop recording on track change
  src/engine/enginebuffer.cpp
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
Due: clang-format, line-length

Macros: Test recording stop on track ejection
  src/engine/enginebuffer.h
  src/test/macros_test.cpp
Due: clang-format, line-length

EngineBuffer: Clean up signatures & order methods
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format, line-length

EngineBuffer: Order methods & add const
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format, line-length

Use const for variable. Remove unnecesarry thread lookup.
  src/util/workerthread.cpp
  src/util/workerthread.h
Due: clang-format, line-length

track/serato/beatgrid: Improve comments regard base64 encoding
  src/track/serato/beatgrid.cpp
Due: clang-format, line-length

track/serato/beatgrid: Use QByteArray::reserve() instead of resize()
  src/track/serato/beatgrid.cpp
Due: clang-format, line-length

track/serato/beatgrid: Fix wrong unit in variable name
  src/track/serato/beatgrid.cpp
Due: clang-format, line-length

track/serato/beatgrid: Add missing "// static" comments
  src/track/serato/beatgrid.cpp
Due: clang-format, line-length

track/serato/beatgrid: Use fromRawData to avoid deep copies when parsing
  src/track/serato/beatgrid.cpp
Due: clang-format, line-length

PaleMoon battery: add Low warning, increase contrast
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_0.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_1.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_2.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_3.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_4.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_5.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_6.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_charging_7.svg
  res/skins/LateNight/palemoon/style/batt/ic_battery_discharging_0.svg
Due: none

LateNight: revert to standart search Clear icons, increased focus contrast
  res/skins/LateNight/classic/buttons/btn__lib_clear_search.svg
  res/skins/LateNight/classic/buttons/btn__lib_clear_search_focus.svg
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search.svg
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search2.svg
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search2_focus.svg
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search_focus.svg
Due: none

LateNight: reorder right-most toolbar items
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
Due: qsscheck

LateNight overview: show loop_out only when loop is enabled, adapat PaleMoon PASSTHROUGH color
  res/skins/LateNight/decks/overview.xml
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

PaleMoon: decrease EQ kill button contrast
  res/skins/LateNight/palemoon/buttons/btn__eq_kill_high.svg
  res/skins/LateNight/palemoon/buttons/btn__eq_kill_low.svg
  res/skins/LateNight/palemoon/buttons/btn__eq_kill_mid.svg
Due: none

PaleMoon: revert hover effect of WTrackProperty labels in decks
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

DlgTrackInfo: make Tab in comment field change focus
  src/library/dlgtrackinfo.ui
Due: none

DlgTrackInfo: adjust tab stops to prioritize edit fields
  src/library/dlgtrackinfo.ui
Due: none

AppVeyor: improve Zulip notifications
  appveyor.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
