Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmlformat, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmlformat: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Pref Sound: reset to RubberBand v2 if v3 isn't available
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Corrected type that parseBitVector returns
  res/controllers/common-hid-packet-parser.js
Due: none

Replaced wrong eslintrc keyword "readable" by "readonly". https://eslint.org/docs/latest/user-guide/configuring/language-options#using-configuration-files-1
  .eslintrc.json
Due: none

Adjusted eslint rules for common-hid-packet-parser.js: -External function print is no longer used -Disabled camelcase warning, because we can't change the keywords due to backward compatibility
  .eslintrc.json
Due: none

Corrected boolean <-> number conversion
  res/controllers/common-hid-packet-parser.js
Due: none

Improve loop index type
  src/controllers/controller.cpp
  src/controllers/hid/hidiothread.cpp
  src/controllers/midi/portmidicontroller.cpp
  src/effects/backends/builtin/whitenoiseeffect.cpp
Due: clang-format

Use curly brace initializer (remove todo)
  src/controllers/midi/portmidicontroller.cpp
Due: clang-format

Added guards for safe handling field.value as HIDBitVector
  res/controllers/common-hid-packet-parser.js
Due: none

Made variables const
  res/controllers/common-hid-packet-parser.js
Due: none

Reduced scope of change variable and initialize it (in one branch it remained undefined, but was used for comparison later)
  res/controllers/common-hid-packet-parser.js
Due: none

addControl has no return type -> Do not return undefined
  res/controllers/common-hid-packet-parser.js
Due: none

Added missing type and docu for pack
  res/controllers/common-hid-packet-parser.js
Due: none

Do not try to initialize field structure again, after usage
  res/controllers/common-hid-packet-parser.js
Due: none

Corrected wrong type syntax
  res/controllers/common-hid-packet-parser.js
Due: none

Specified missing type
  res/controllers/common-hid-packet-parser.js
Due: none

Separated types bitObject / packetField
  res/controllers/common-hid-packet-parser.js
Due: none

Use LED-colors as On / Off values in linkOutput
  res/controllers/common-hid-packet-parser.js
Due: none

Determine size of output array before initializing it, and initialize it with the final size Use Uint8Array as type for input and output reports Use sendOutputReport with Uint8Array buffer as argument
  res/controllers/common-hid-packet-parser.js
Due: none

EngineEffectsDelay: clamp wrong delay values
  src/engine/effects/engineeffectsdelay.cpp
  src/engine/effects/engineeffectsdelay.h
  src/test/engineeffectsdelay_test.cpp
Due: clang-format

libshout-idjc: use size_t type to silence warning
  lib/libshout-idjc/src/proto_http.c
Due: none

libshout-idjc: add missing include directive
  lib/libshout-idjc/src/proto_roaraudio.c
Due: none

libshout-idjc: silence various "possible loss of data" warnings by type casts
  lib/libshout-idjc/src/common/httpp/encoding.c
  lib/libshout-idjc/src/common/httpp/httpp.c
  lib/libshout-idjc/src/common/net/sock.c
  lib/libshout-idjc/src/common/thread/thread.c
  lib/libshout-idjc/src/common/timing/timing.c
  lib/libshout-idjc/src/format_mpeg.c
  lib/libshout-idjc/src/format_ogg.c
  lib/libshout-idjc/src/proto_roaraudio.c
  lib/libshout-idjc/src/queue.c
  lib/libshout-idjc/src/shout.c
  lib/libshout-idjc/src/tls.c
Due: none

libshout-idjc: print pointer via %p
  lib/libshout-idjc/src/common/avl/avl.c
Due: none

libshout-idjc: define sock_t as SOCKET on windows to avoid data loss warning
  lib/libshout-idjc/src/common/net/sock.c
  lib/libshout-idjc/src/common/net/sock.h
Due: none

Use QChar for the CHECK MARK sign to avoid a MSVC warning
  src/widget/weffectchainpresetbutton.cpp
Due: clang-format

libshout-idjc: remove redundant definition to avoid a redefinition warning
  lib/libshout-idjc/src/common/thread/thread.c
Due: none

Reduced scope of variables and made them const where possible
  res/controllers/common-hid-packet-parser.js
Due: none

Corrected return type of lookupBit
  res/controllers/common-hid-packet-parser.js
Due: none

EngineEffectsDelayTest: add value clamping comment
  src/test/engineeffectsdelay_test.cpp
Due: clang-format

Avoid zero initialization and use std::copy
  src/controllers/controller.cpp
Due: clang-format

EngineEffectsDelay: add kMaxDelayFrames constant
  src/engine/effects/engineeffectsdelay.cpp
  src/engine/effects/engineeffectsdelay.h
  src/test/engineeffectsdelay_test.cpp
Due: clang-format

fix(ci): appstream validate metainfo.xml
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: metainfo

Fixed eslint jsdoc/require-property-description warnings by documenting all class properties
  res/controllers/common-hid-packet-parser.js
Due: none

EngineEffectsDelay: store input for zero delay
  src/engine/effects/engineeffectsdelay.cpp
Due: clang-format

EngineFilterDelay: clamp wrong delay values
  src/engine/filters/enginefilterdelay.h
Due: clang-format

EngineFilterDelay: add assertions
  src/engine/filters/enginefilterdelay.h
Due: clang-format

Reverted wrong change of object literal to array, and documented the types accordingly
  res/controllers/common-hid-packet-parser.js
Due: none

Defined type alias packetItemId
  res/controllers/common-hid-packet-parser.js
Due: none

fix(build): bump CI CMake version to 3.19 for macos11 packaging
  .github/workflows/build.yml
Due: none

fix(ci): replace deprecated macos-10.15 with macos-11
  .github/workflows/build.yml
  tools/macos_buildenv.sh
Due: none
