Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

feat(qml): expose library menu actions
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
Due: clang-format

feat(qml): add application menu proxy
  CMakeLists.txt
  src/coreservices.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmlapplicationproxy.cpp
  src/qml/qmlapplicationproxy.h
Due: clang-format

Update SoundManagerConfig on hotplug device changes
  src/soundio/pipewireenumerator.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerconfig.h
Due: clang-format

Wait for external patchbay to connect Mixxx ports before loading config
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
Due: clang-format

fix(qml): create developer menu after completion
  res/qml/MainMenuBar.qml
Due: none

MIDI options: allow to combine Invert with other options
  src/controllers/midi/midicontroller.cpp
Due: clang-format

controllers: improve UX with exclusive MIDI options
  src/controllers/delegates/midioptionsdelegate.cpp
  src/controllers/delegates/midioptionsdelegate.h
  src/controllers/midi/midimessage.h
Due: clang-format

MIDI options: make option handlers exclusive
  src/controllers/midi/midicontroller.cpp
Due: clang-format

fix(qml): preserve native preferences action
  res/qml/MainMenuBar.qml
Due: none

feat(LateNightQML): add hierarchical application menu
  res/skins/LateNightQML/Toolbar/Toolbar.qml
  res/skins/LateNightQML/main.qml
Due: none

fix(LateNightQML): bridge legacy library search and shortcut safety
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNightQML/Library.qml
  src/controllers/keyboard/keyboardeventfilter.h
  src/qml/qmllegacylibraryitem.cpp
  src/qml/qmllegacylibraryitem.h
Due: clang-format, qsscheck

fixup! Add QSlider for PipeWire hardware volume control
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/pipewireenumerator.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
Due: clang-format

Consolidate FMPS rating conversions and harden numeric parsing
  CMakeLists.txt
  src/library/trackcollectionmanager.cpp
  src/track/taglib/fmpsrating.cpp
  src/track/taglib/fmpsrating.h
  src/track/taglib/trackmetadata_ape.cpp
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
Due: clang-format

Fix rating export/import semantics found in self-review
  src/preferences/dialog/dlgpreflibrarydlg.ui
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/ratingexportimport_test.cpp
  src/test/trackmetadataexport_test.cpp
  src/test/trackupdate_test.cpp
  src/track/track.cpp
  src/track/track_decl.h
Due: clang-format

deere: use deck colors for waveform zoom controls background
  res/skins/Deere/deck_waveform.xml
  res/skins/Deere/icon/ic_add_48px.svg
  res/skins/Deere/icon/ic_clear_48px.svg
  res/skins/Deere/icon/ic_remove_48px.svg
  res/skins/Deere/style.qss
Due: qsscheck

CrateFeature: Move certain less-frequently used context menu actions into a "More" submenu
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

PlaylistFeature: Move certain less-frequently used context menu actions into a "More" submenu
  src/library/trackset/playlistfeature.cpp
Due: clang-format

PlaylistFeature: Move "Shuffle playlist" and "Adopt current order" into the "More" submenu
  src/library/trackset/playlistfeature.cpp
Due: clang-format

Database: Make it possible to trigger the "Repair Database" action via menu item
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Due: clang-format

Fix #16848 slip mode rendering in split stem view
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
Due: clang-format

Moving the main thread check to a separate function
  src/errordialoghandler.cpp
  src/main.cpp
  src/util/thread_check.h
Due: clang-format

Using object name for thread comparision
  src/util/thread_check.h
Due: clang-format

Analyzer thread: Assert for waiting not more than 5 s during shutdown
  src/analyzer/trackanalysisscheduler.h
Due: clang-format

remove invalid DEBUG_ASSERT()
  src/engine/enginebuffer.cpp
Due: clang-format

Fix includes in parented_ptr.h
  src/util/parented_ptr.h
Due: clang-format

EngineBuffer::isTrackLoaded() returns only true if fully loaded
  src/engine/enginebuffer.cpp
  src/test/signalpathtest.h
Due: clang-format

use p prefix for AnalyzerThread::Pointer
  src/analyzer/trackanalysisscheduler.h
Due: clang-format

Introduce Worker::hasThread() replacing bool operator
  src/analyzer/trackanalysisscheduler.cpp
  src/analyzer/trackanalysisscheduler.h
Due: clang-format

Remove unused EngineControl::seek()
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/enginecontrol.h
Due: clang-format

Avoid extra reference counting by std:move
  src/track/track.cpp
Due: clang-format

Improve the description of DEBUG_ASSERT() and fix typos.
  src/library/analysis/analysisfeature.cpp
  src/mixer/playermanager.cpp
  src/util/assert.h
Due: clang-format

DEBUG_ASSERT condition is now considered as used.
  src/control/controlobject.cpp
  src/library/dao/autodjcratesdao.cpp
  src/sources/soundsourcemp3.cpp
  src/track/beats.cpp
  src/util/assert.h
Due: clang-format

Add presentformyfriends to the contributor list in the Mixxx about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

fix passthrough 'kPaththroughShaderPath' typo
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/deprecated/glslwaveformrenderersignal.cpp
Due: clang-format

Use qt6-5compat-dev instead of libqt6core5compat6-dev for Ubuntu > Jammy 22.4
  packaging/CPackDebUploadPPA.cmake
  packaging/debian/control.in
  tools/debian_buildenv.sh
Due: none

Disable broken StemControlTest until they are fixed.
  src/test/stemcontrolobjecttest.cpp
Due: clang-format

Remove umaintaned translation “Arabic (Algeria)” (ar_DZ).
  res/translations/mixxx_ar_DZ.qm
  res/translations/mixxx_ar_DZ.ts
Due: ts-source-copy

build: Add pre-commit hook to detect invalid QLabel buddy properties
  .pre-commit-config.yaml
  tools/check_ui_buddies.py
Due: none

yaeltex minimixxx: make controller setting
  res/controllers/Yaeltex MiniMixxx.midi.xml
  res/controllers/Yaeltex-MiniMixxx-scripts.js
Due: none
