Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

# _anlz.h/_pdb.h: Header files generated by Kaitai Struct
exclude: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: fix-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
    exclude: ^\.clang-format$
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/codespell-project/codespell
  rev: v1.17.1
  hooks:
  - id: codespell
    # ignore-regex is substituted by ' '
    entry: tools/codespell.py --ignore-file .codespellignore --ignore-regex "\\W(?:m_p*(?=[A-Z])|m_(?=\\w)|pp*(?=[A-Z])|k(?=[A-Z])|s_(?=\\w))" --files
    exclude: ^(\.codespellignore|src/dialog/dlgabout\.cpp|.*\.(?:pot?|ts|wxl))$
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v7.12.1
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    description: "Run clang-format in two passes (reformat, then break long lines)"
    entry: tools/clang_format.py
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    files: ^tools/.*$
- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.4'
  hooks:
  - id: flake8
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.7.1.1
  hooks:
  - id: shellcheck
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./tools/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - manual

Check m_pScanner for null befor using
  src/library/trackcollectionmanager.cpp
Due: clang-format

remove redundant null check before delete
  src/mixxx.cpp
Due: clang-format

Tweak remove/hide track confirm message to match confirm exit message
  src/widget/wtracktableview.cpp
Due: clang-format

fix some VC type conversion warnings
  src/controllers/midi/portmidicontroller.cpp
  src/encoder/encoderopus.cpp
  src/engine/sync/synccontrol.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wtracktableviewheader.cpp
Due: clang-format

Use override keyword in LaunchImage class
  src/skin/legacy/launchimage.cpp
  src/skin/legacy/launchimage.h
Due: clang-format

Replace Assertion with a warning
  src/preferences/dialog/dlgprefinterface.cpp
Due: clang-format

remove redundant finalize() call. It is allso called from the destructor.
  src/main.cpp
  src/mixxx.cpp
Due: clang-format

QML: Add missing Q_OBJECT macro to QmlLibraryTrackListModel
  src/qml/qmllibrarytracklistmodel.h
Due: clang-format

QML: Add `get()` method to QmlLibraryTrackListModel
  src/qml/qmllibrarytracklistmodel.cpp
  src/qml/qmllibrarytracklistmodel.h
Due: clang-format

lp1955159: Prevent resetting of played history in database
  src/library/dao/trackdao.cpp
Due: clang-format

midi-components-0.1: improve docs with additional comments
  res/controllers/midi-components-0.1.js
Due: none

Create Sjenica1
  Sjenica1
Due: none

midi-components-0.1: replace `else if` with `switch case`
  res/controllers/midi-components-0.1.js
Due: none

midi-components-0.1: improve error thrown in default HotcueButton#sendRGB
  res/controllers/midi-components-0.1.js
Due: none

midi-components-0.1: relax TODO ownership
  res/controllers/midi-components-0.1.js
Due: none

midi-components-0.1: improve array wrap-around logic
  res/controllers/midi-components-0.1.js
Due: none

midi-components-0.1: replace nested ifs with early returns where possible
  res/controllers/midi-components-0.1.js
Due: none

pre-commit: add eslint-plugin-jsdoc
  .eslintrc.json
  .pre-commit-config.yaml
Due: none

midi-components-0.1: add TODO comment about separating the effects
  res/controllers/midi-components-0.1.js
Due: none

midi-components-0.1: remove Pot invert feature
  res/controllers/midi-components-0.1.js
Due: none

Sidebar keyPressEvent: use switch case, consistent index validation
  src/widget/wlibrarysidebar.cpp
Due: clang-format

Use dedicated ReplaceFileW API function when relpacing the track after writing
  src/sources/metadatasourcetaglib.cpp
Due: clang-format

Handle ERROR_SHARING_VIOLATION and ERROR_ACCESS_DENIED
  src/sources/metadatasourcetaglib.cpp
Due: clang-format

Added a retry loop in case of a temprary ERROR_SHARING_VIOLATION
  src/sources/metadatasourcetaglib.cpp
Due: clang-format

Close track file after reading stream data before metadata export
  src/sources/soundsourceproxy.cpp
Due: clang-format

Change warning criteria, only warning case of ring buffer overflow Addressed review remarks regarding message texts and comments
  src/controllers/hid/hidcontroller.cpp
Due: clang-format

Added comments to clarify why we warn here
  src/controllers/hid/hidcontroller.cpp
Due: clang-format

BasePlayer: Add missing const qualifier to getGroup() method
  src/mixer/baseplayer.h
Due: clang-format

PlayerManager: Move duplicate code into function in anonymous namespace
  src/mixer/playermanager.cpp
Due: clang-format

Track Hide/Remove dialog: don't inherit style from WLibrary
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
Due: qsscheck

enable hotcues 5-8
  res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Pioneer-DDJ-SB3.midi.xml
Due: none

fix spelling
  res/controllers/Pioneer-DDJ-SB3-scripts.js
Due: none

Update CHANGELOG.md for 2.3.2 (#4563)
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: none

DlgTrackInfo: ensure Beats pointer before scaling beats
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
Due: clang-format

DlgTrackInfo: connect BPM buttons to slotScaleBpm
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
Due: clang-format

remove mapping of the haedphones and master levels
  res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Pioneer-DDJ-SB3.midi.xml
Due: none

Replace Sleep() by QThread::msleep()
  src/sources/metadatasourcetaglib.cpp
Due: clang-format

Improve variable naming
  src/sources/metadatasourcetaglib.cpp
Due: clang-format

Improve control flow and comments
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
Due: clang-format

Dispose sleep.h and SleepableQThread, workarounds for QT4 where QThread::sleep() was potected.
  CMakeLists.txt
  src/mixer/playermanager.cpp
  src/soundio/soundmanager.cpp
  src/util/sleep.h
  src/util/sleepableqthread.cpp
  src/util/sleepableqthread.h
Due: clang-format
