Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

MidiController: send both standard MIDI & sysex to common method
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/hss1394controller.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/portmidicontroller.cpp
Due: clang-format

set CPACK_DEBIAN_PACKAGE_BUILD_DEPENDS_EXTRA in CPackDebInstall.cmake
  packaging/CPackDebInstall.cmake
Due: none

ControlDoublePrivate: clarify debug assertion
  src/control/control.cpp
Due: clang-format

Use a common BeatUtils::calculateAverageBpm() function
  src/track/beatmap.cpp
  src/track/beatutils.cpp
  src/track/beatutils.h
Due: clang-format

Restore the Solution with the case fallthrough
  src/library/basetracktablemodel.cpp
Due: clang-format

Lower CMake Version to 3.13. Don't install unused developer symlink of linfdk-aac.dylib
  CMakeLists.txt
  packaging/debian/control.in
Due: none

lower also the cmake version used for our CI
  .github/workflows/build.yml
Due: none

Try to fix guessKeyFromText() on Windows
  src/test/keyutilstest.cpp
  src/track/keyutils.cpp
Due: clang-format

EngineBuffer: Use sample/frame conversion functions from frameadapter.h
  src/engine/enginebuffer.cpp
Due: clang-format

DlgPreferences: clang-format fix
  src/preferences/dialog/dlgpreferences.cpp
Due: clang-format

WEffectPushButton: fix crash with invalid skins
  src/widget/weffectpushbutton.cpp
Due: clang-format

BpmControl: Add debug assertion to verify that the sample rate is valid
  src/engine/controls/bpmcontrol.cpp
Due: clang-format

EngineBuffer: Set EngineControl track sample rate/count on track load
  src/engine/enginebuffer.cpp
Due: clang-format

EffectChainPresetManager: trim whitespace from imported presets
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

WEffectChainPresetSelector: do not change preset on mouse scroll
  src/widget/weffectchainpresetselector.cpp
  src/widget/weffectchainpresetselector.h
Due: clang-format

WEffectChainPresetSelector: set tooltips
  src/widget/weffectchainpresetselector.cpp
Due: clang-format

WEffectChainPresetButton: do not accept focus
  src/widget/weffectchainpresetbutton.cpp
Due: clang-format

WEffectChainPresetButton: remove superfluous connection to show menu
  src/widget/weffectchainpresetbutton.cpp
Due: clang-format

Remove unused constants from header file
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format

Introduce kInitalSample as inital value not 0.0
  src/engine/controls/enginecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format

Tango: fix fx slot v-layout with Super knobs
  res/skins/Tango/fx_unit_left.xml
  res/skins/Tango/fx_unit_right.xml
  res/skins/Tango/style.qss
Due: qsscheck

Tango: push deck mixer to top with jump/loop controls shown
  res/skins/Tango/deck_left.xml
  res/skins/Tango/deck_right.xml
  res/skins/Tango/style.qss
Due: qsscheck

setCurrentSample using m_filepos_play, and fix failing test.
  src/engine/enginebuffer.cpp
  src/test/enginesynctest.cpp
Due: clang-format

move Linux build instructions to code repo from wiki
  INSTALL-Linux.md
Due: none

INSTALL-Linux.md: update Arch Linux instructions
  INSTALL-Linux.md
Due: none

remove i prefix
  src/engine/enginebuffer.cpp
Due: clang-format

disble the CMAKE_INTERPROCEDURAL_OPTIMIZATION code but keep it as comment for documentation purpose.
  CMakeLists.txt
Due: none

Use -DBL_MAX as inital sample position, and fix more tests
  src/engine/controls/enginecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/looping_control_test.cpp
Due: clang-format

BeatsTest: Fix expected return value for Beats::findNthBeat
  src/test/beatstest.cpp
Due: clang-format

track: Fix DEBUG_ASSERT when importing beats from Serato Metadata
  src/track/track.cpp
Due: clang-format

GH Actions: fix Windows compiler caching
  .github/workflows/build.yml
Due: none

CMake: use /Z7 instead of /Zi on Windows to let caching work
  CMakeLists.txt
Due: none

unmap the "Master" button because it drives an analog amp
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
Due: none

typo in comment
  res/controllers/Traktor-Kontrol-S2-MK3-hid-scripts.js
Due: none

Fix waveform reset
  src/widget/wtrackmenu.cpp
Due: clang-format

Pref > EQ: move 'no effect/EQ' items to the top of the list
  src/preferences/dialog/dlgprefeq.cpp
Due: clang-format

WEffectSelector: make 'no effect' topmost list item
  src/widget/weffectselector.cpp
Due: clang-format

Pref > EQ: remove useless label strings from deck EQ grid
  src/preferences/dialog/dlgprefeq.cpp
Due: clang-format

CMake: do not use /OPT:ICF link option on Windows
  CMakeLists.txt
Due: none

GH Actions: fix caching on Windows
  .github/workflows/build.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
