Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Remove unused drawWaveformPartStackedRGB declaration
  src/waveform/renderers/waveformoverviewrenderer.h
Due: clang-format

Move tracker DSP from SoundSource to effect rack per review
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/trackereffect.cpp
  src/effects/backends/builtin/trackereffect.h
  src/preferences/dialog/dlgprefmodplug.cpp
  src/sources/soundsourceopenmpt.cpp
  src/sources/soundsourceopenmpt.h
  src/sources/trackerdsp.cpp
  src/sources/trackerdsp.h
Due: clang-format

Add tests for SoundSourceOpenMPT and TrackerEffect
  CMakeLists.txt
  src/test/id3-test-data/test.mod
  src/test/soundsourceopenmpt_test.cpp
  src/test/trackereffect_test.cpp
  tools/seed-test-profile.sh
Due: clang-format

Apply clang-format to TrackerEffect and test files
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/trackereffect.cpp
  src/effects/backends/builtin/trackereffect.h
  src/test/soundsourceopenmpt_test.cpp
  src/test/trackereffect_test.cpp
Due: clang-format

Update TypeScript definitions
  res/controllers/mixxx-controls.d.ts
Due: none

Use spa_atoi32 in place of std::atoi
  src/soundio/pipewireenumerator.cpp
Due: clang-format

Add uniform time base option for library overview waveforms
  src/library/overviewcache.cpp
  src/library/overviewcache.h
  src/library/tabledelegates/overviewdelegate.cpp
  src/library/tabledelegates/overviewdelegate.h
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: clang-format

add invert zoom direction preference for waveform mouse wheel
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/widget/wwaveformviewer.cpp
Due: clang-format

Issue a message in preference page when PipeWire forced buffer size/samplerate is not provided
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
Due: clang-format

Fix buffer size/samplerate variable access from multiple threads
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanagerconfig.cpp
Due: clang-format

Add mapping for Reloop Digital Jockey 2 Master Edition
  res/controllers/Reloop-Digital-Jockey-2-ME.midi.xml
Due: none

fixup! Add a default PipeWire SoundDevice
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/pipewireenumerator.cpp
Due: clang-format

Update device channels in preferences on default PipeWire device updates
  src/preferences/dialog/dlgprefsounditem.cpp
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
Due: clang-format

fixup! Update device channels in preferences on default PipeWire device updates
  src/preferences/dialog/dlgprefsounditem.cpp
Due: clang-format

KrugerMatz DJ-001: Add controller mapping and scripts
  res/controllers/KrugerMatz-DJ-001-scripts.js
  res/controllers/KrugerMatz-DJ-001.midi.xml
Due: none

add `--stats` flag to CmdLineArgs to allow collecting statistics without enabling other dev features
  src/coreservices.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/timer.h
Due: clang-format

Fix #16848 slip mode rendering in split stem view
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
Due: clang-format

fix: Auto DJ cooloff excludes never-played tracks and setting doesn't persist
  src/library/dao/autodjcratesdao.cpp
  src/preferences/dialog/dlgprefautodj.cpp
Due: clang-format

LateNightQML: center mixer headphone buttons
  res/skins/LateNightQML/Mixer/MixerDecks.qml
Due: none

feat(qml): centralize translated menu actions and configurable shortcuts
  res/qml/ApplicationMenuActions.qml
  res/qml/MainMenuBar.qml
  res/qml/main.qml
  src/controllers/keyboard/keyboardeventfilter.cpp
  src/controllers/keyboard/keyboardeventfilter.h
  src/qml/qmlapplicationproxy.cpp
  src/qml/qmlapplicationproxy.h
Due: clang-format

fix(LateNightQML): bridge legacy library search and shortcut safety
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNightQML/Library.qml
  src/controllers/keyboard/keyboardeventfilter.h
  src/qml/qmllegacylibraryitem.cpp
  src/qml/qmllegacylibraryitem.h
Due: clang-format, qsscheck

feat(LateNightQML): add hierarchical application menu
  res/skins/LateNightQML/Toolbar/Toolbar.qml
  res/skins/LateNightQML/main.qml
Due: none

fix(LateNightQML): improve menu keyboard navigation
  res/skins/LateNightQML/Toolbar/ApplicationMenuShortcuts.qml
  res/skins/LateNightQML/Toolbar/Toolbar.qml
  src/qml/qmlapplicationproxy.cpp
  src/qml/qmlapplicationproxy.h
Due: clang-format

fix(LateNightQML): disable inactive deck menu actions
  res/skins/LateNightQML/Toolbar/ApplicationMenuShortcuts.qml
  res/skins/LateNightQML/Toolbar/Toolbar.qml
  res/skins/LateNightQML/main.qml
Due: none

fix(LateNightQML): prevent application menu text clipping
  res/skins/LateNightQML/Toolbar/Toolbar.qml
Due: none

refactor(LateNightQML): use shared application menu actions
  res/skins/LateNightQML/Toolbar/ApplicationMenuShortcuts.qml
  res/skins/LateNightQML/Toolbar/Toolbar.qml
  res/skins/LateNightQML/main.qml
Due: none

LateNightQML: compact diagonal effect unit layouts
  res/skins/LateNightQML/Effects/EffectsRack.qml
Due: none

fixes
  res/controllers/KrugerMatz-DJ-001-scripts.js
Due: none

vertical control
  res/controllers/KrugerMatz-DJ-001-scripts.js
Due: none

Remove libqt6opengl6-dev from packaging/debian/control.in
  packaging/debian/control.in
Due: none

refactor(LateNightQML): move duration formatting to QML
  CMakeLists.txt
  res/qml/Mixxx/DurationFormatter.qml
  res/qml/Mixxx/qmldir
  res/skins/LateNightQML/Deck/TitleTimeRows.qml
  src/qml/qmlconfigproxy.cpp
  src/qml/qmldurationformatter.cpp
  src/qml/qmldurationformatter.h
  src/test/qmldurationformattertest.cpp
Due: clang-format

Update res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
Due: none

Deere: rework hotcue count selector using WidgetStack
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/hotcues.xml
  res/skins/Deere/hotcues_16.xml
  res/skins/Deere/hotcues_24.xml
  res/skins/Deere/hotcues_36.xml
  res/skins/Deere/hotcues_4.xml
  res/skins/Deere/hotcues_8.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/skinsettings_numtoggle.xml
  res/skins/Deere/style.qss
Due: qsscheck

Fix code style issues
  res/schema.xml
  src/library/basetrackcache.cpp
  src/library/dao/trackdao.cpp
  src/library/dlgtrackinfo.cpp
  src/track/track.h
Due: clang-format

Add COMMAND_ERROR_IS_FATAL ANY to some execute_process() calls.
  cmake/modules/BundleInstall.cmake.in
  packaging/CPackDebInstall.cmake
  packaging/CPackDebUploadPPA.cmake
Due: none

View: add legal free music sources browser
  CMakeLists.txt
  src/dialog/dlgfreemusic.cpp
  src/dialog/dlgfreemusic.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Due: clang-format

fix: incorrect linking of previewdeck's playback_indicator
  res/controllers/Traktor-MX2-hid-scripts.js
Due: none

enh: Allow Mixer effects per channel like Traktor does by holding gfx_toggle while pressing gfx{0...4}
  res/controllers/Traktor-MX2-hid-scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
