Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Update CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Bump version to 2.5.1
  CMakeLists.txt
Due: none

[fix] Fix automatic trimming of search bar text
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

Add support for Arturia KeyLab Mk1
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

PlaylistFeature
  src/library/trackset/playlistfeature.cpp
Due: clang-format

SetlogFeature
  src/library/trackset/setlogfeature.cpp
Due: clang-format

keylab: address review feedback
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

PlaylistDAO
  src/library/dao/playlistdao.cpp
  src/library/dao/trackschema.h
Due: clang-format

PlaylistDAO
  src/library/dao/playlistdao.cpp
Due: clang-format

Add Patrick Taels to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add comment and fix typo
  src/track/globaltrackcache.cpp
Due: clang-format

Relation class added.
  CMakeLists.txt
  res/mixxx.qrc
  res/schema.xml
  src/library/trackset/relations/relationsfeature.cpp
  src/track/relation.cpp
  src/track/relation.h
Due: clang-format

Relations library icon added.
  res/images/library/ic_library_relations.svg
Due: none

KeyLab: update stop button to be the cue button
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

KeyLab: cleanup setting menu options
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

Document KeyLab USB details in XML file
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

WIP Library scanner: find renamed files
  src/library/dao/trackdao.cpp
Due: clang-format

Lib sidebar: add Bookmark hotkeys
  src/library/browse/foldertreemodel.cpp
  src/library/libraryfeature.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackset/setlogfeature.cpp
  src/library/treeitem.h
  src/library/treeitemmodel.cpp
  src/util/db/dbid.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

test painting with Qt::CheckstateRole, broken/complex with Qt 6.2.3 (fixed in >= 6.3.2)
  res/skins/LateNight/palemoon/style/bg_trans.png
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
Due: clang-format, qsscheck

KeyLab: rework drum pads to be configurable
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

fix js broken by pre-commit
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
Due: none

RelationDAO added.
  CMakeLists.txt
  res/schema.xml
  src/library/dao/relationdao.cpp
  src/library/dao/relationdao.h
  src/track/relation.cpp
  src/track/relation.h
Due: clang-format

KeyLab: add buttons to switch between pad modes
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

KeyLab: only show layer on screen on button press
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

KeyLab: factor out the layer mapping code
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

sqls
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/searchcrate/dlgbasesearchcrateinfo.cpp
  src/library/trackset/searchcrate/groupedsearchcratesfeature.cpp
  src/library/trackset/searchcrate/searchcratefeaturehelper.cpp
  src/library/trackset/searchcrate/searchcratefuntions.h
  src/library/trackset/searchcrate/searchcratetablemodel.cpp
Due: clang-format

startCIforArtifacts
  src/library/trackset/preparation/preparationfeature.cpp
Due: clang-format

Update wtracktableview.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

removeSortingBoolWTrackTableView
  src/library/autodj/dlgautodj.cpp
  src/library/library.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

RenamedSplitterInLibraryXML
  res/skins/Deere/library.xml
  res/skins/LateNight/library.xml
  res/skins/Tango/library.xml
Due: none

Database schema updated
  res/schema.xml
  src/database/mixxxdb.cpp
Due: clang-format

fix: add missing WaveformRenderMark init value
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format

fix: use old marker constr for GL waveform
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmarkset.cpp
Due: clang-format

fix: force rendergraph to build as static lib
  src/rendergraph/opengl/CMakeLists.txt
  src/rendergraph/scenegraph/CMakeLists.txt
Due: none

fix: deallocate DigitsRender vertices when unused
  src/rendergraph/opengl/backend/basegeometry.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
