Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

use std::lround instead of std::lroundf
  src/waveform/renderers/allshader/digitsrenderer.cpp
Due: clang-format

Tooltips: add `bpmlock`
  src/skin/legacy/tooltips.cpp
Due: clang-format

LateNight: deactivate beatgrid edit controls if BPM is locked
  res/skins/LateNight/classic/buttons/btn__bpm_locked.svg
  res/skins/LateNight/classic/buttons/btn__bpm_unlocked.svg
  res/skins/LateNight/controls/button_1state_optional.xml
  res/skins/LateNight/controls/button_1state_right_optional.xml
  res/skins/LateNight/decks/deck_settings.xml
  res/skins/LateNight/palemoon/buttons/btn__bpm_locked.svg
  res/skins/LateNight/palemoon/buttons/btn__bpm_unlocked.svg
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
Due: qsscheck

Use QStringLiteral on ScopedTimer
  src/controllers/rendering/controllerrenderingengine.cpp
Due: clang-format

Add missing const qualifier and add checks on RB retrieve
  src/engine/bufferscalers/rubberbandworkerpool.cpp
  src/engine/bufferscalers/rubberbandworkerpool.h
  src/engine/bufferscalers/rubberbandwrapper.cpp
Due: clang-format

Fix Sony SixxAxis controller not working
  res/controllers/Sony-SixxAxis.js
Due: none

Beats: Add initial read-only support for downbeats
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

Beats: Add method to get the iterator to a beat close to a position
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

BpmControl: Add Beats editing controls
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/skin/legacy/tooltips.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

LateNight: Set downbeat color in skin.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/waveform.xml
Due: none

WaveformRenderBeat: Add support for rendering downbeats
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrenderbeat.h
Due: clang-format

WaveformRenderBeat: Pass QVector directly to `drawLines()`
  src/waveform/renderers/waveformrenderbeat.cpp
Due: clang-format

LateNight: Add buttons for setting/removing beats markers [WIP]
  res/skins/LateNight/palemoon/buttons/btn__beats_remove_marker.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_remove_marker_active.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_set_marker.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_set_marker_active.svg
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
Due: qsscheck

Show markers on waveforms [WIP]
  res/skins/LateNight/skin.xml
  res/skins/LateNight/waveform.xml
  src/track/beats.h
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrenderbeat.h
Due: clang-format

Fix pre-commit
  src/engine/controls/bpmcontrol.cpp
Due: clang-format

Document the current Runtime of GlobalTrackCacheTest.concurrentDelete
  src/test/globaltrackcache_test.cpp
Due: clang-format

CHANGELOG: Sort Remaning Feature entries to Interface section
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Deere: rework/stabilize key/BPM edit row
  res/skins/Deere/deck_text_row.xml
  res/skins/Deere/style.qss
Due: qsscheck

LateNight: simplify template for button with optional cover
  res/skins/LateNight/controls/button_1state_optional.xml
  res/skins/LateNight/controls/button_1state_right_optional.xml
Due: none

(fix) LateNight: correct ObjectName variable
  res/skins/LateNight/waveform.xml
Due: none

Deere: disable beatgrid edit controls if BPM is locked
  res/skins/Deere/deck_text_row.xml
  res/skins/Deere/left_right_1state_button_optional.xml
  res/skins/Deere/style.qss
Due: qsscheck

Deere: add BPM lock toggle to beatrid edit row
  res/skins/Deere/deck_text_row.xml
  res/skins/Deere/icon/ic_bpm_locked_48px.svg
  res/skins/Deere/icon/ic_bpm_unlocked_48px.svg
  res/skins/Deere/style.qss
Due: qsscheck

Downbeat support for AllShader
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.h
Due: clang-format

Replace the waitcond and mutex with sema on RBTask
  src/engine/bufferscalers/rubberbandtask.cpp
  src/engine/bufferscalers/rubberbandtask.h
Due: clang-format

Tango: deactivate beatgrid edit controls if BPM is locked
  res/skins/Tango/buttons/btn_bpm_locked.svg
  res/skins/Tango/buttons/btn_bpm_unlocked.svg
  res/skins/Tango/controls/button_1state_optional.xml
  res/skins/Tango/controls/button_1state_right_optional.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
Due: qsscheck

Add better comments and various nits
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/bufferscalers/rubberbandwrapper.cpp
  src/engine/bufferscalers/rubberbandwrapper.h
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Add waveform options for beatgrid
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/track/beats.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.h
  src/waveform/renderers/allshader/waveformrenderersignalbase.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Due: clang-format

Beat markers store beat length instead of beat count
  src/test/beatstest.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/serato/beatgrid.cpp
  src/track/serato/beatsimporter.cpp
Due: clang-format

Beatgrid edit control repaet the action if active
  res/skins/LateNight/skin.xml
  res/skins/LateNight/waveform.xml
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
Due: clang-format

Preferences Effects: add Hide/Unhide buttons to Effects tab
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffects.h
  src/preferences/dialog/dlgprefeffectsdlg.ui
  src/preferences/effectmanifesttablemodel.cpp
  src/preferences/effectmanifesttablemodel.h
Due: clang-format

DEBUG 'LoadSelectedTrack' control, triggered via keyboard
  src/library/librarycontrol.cpp
  src/mixer/basetrackplayer.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

Fix incorrect checkbox name and reword warning message
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounddlg.ui
Due: clang-format

(fix) Pref Mixer: don't update EQs/QuickEffects while applying ...
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
Due: clang-format

ControllerRenderingEngine: Fix GL includes
  src/controllers/rendering/controllerrenderingengine.h
Due: clang-format

ControllerScriptEngineLegacy: Disable execution policy with libc++
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format

CI: Reenable QML in macOS builds
  .github/workflows/build.yml
Due: none

ControllerScriptEngineLegacy: Remove execution policy
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format

ControllerScriptEngineLegacy: Use reinterpret_cast for image buffer
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format

ControllerScriptEngineLegacy: Add short comment on `bit_cast`
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format

ControllerScriptEngineLegacy: Update comment on `bit_cast`
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
