Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

# _anlz.h/_pdb.h: Header files generated by Kaitai Struct
exclude: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: fix-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
    exclude: ^\.clang-format$
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/codespell-project/codespell
  rev: v1.17.1
  hooks:
  - id: codespell
    # ignore-regex is substituted by ' '
    entry: tools/codespell.py --ignore-file .codespellignore --ignore-regex "\\W(?:m_p*(?=[A-Z])|m_(?=\\w)|pp*(?=[A-Z])|k(?=[A-Z])|s_(?=\\w))" --files
    exclude: ^(\.codespellignore|src/dialog/dlgabout\.cpp|.*\.(?:pot?|ts|wxl))$
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v7.12.1
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    description: "Run clang-format in two passes (reformat, then break long lines)"
    entry: tools/clang_format.py
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    files: ^tools/.*$
- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.4'
  hooks:
  - id: flake8
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.7.1.1
  hooks:
  - id: shellcheck
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./tools/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - manual

LateNight: fixup width of Quick Effect popup
  res/skins/LateNight/style.qss
Due: qsscheck

add Chopper effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/choppereffect.cpp
  src/effects/backends/builtin/choppereffect.h
Due: clang-format

Update res/controllers/Roland_DJ-505-scripts.js
  res/controllers/Roland_DJ-505-scripts.js
Due: none

skins: add 4th EQ knob (only shows with 4 knob EQ effects)
  res/skins/Deere/mixer_column_eq_left.xml
  res/skins/Deere/mixer_column_eq_right.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/mixer/channel_left.xml
  res/skins/LateNight/mixer/channel_right.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/mixer/mixer_channel_left.xml
  res/skins/Tango/mixer/mixer_channel_right.xml
Due: none

add semiparametric EQ effects like PLAYdifferently mixers
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/equalizer_util.h
  src/effects/backends/builtin/semiparametriceq3knobeffect.cpp
  src/effects/backends/builtin/semiparametriceq3knobeffect.h
  src/effects/backends/builtin/semiparametriceq4knobeffect.cpp
  src/effects/backends/builtin/semiparametriceq4knobeffect.h
  src/effects/backends/builtin/semiparametriceqconstants.h
  src/effects/backends/effectmanifest.h
  src/effects/backends/effectmanifestparameter.h
  src/preferences/dialog/dlgprefeq.cpp
Due: clang-format

Controller: make m_sDeviceName const
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/portmidicontroller.cpp
  src/test/controller_mapping_validation_test.cpp
  src/test/midicontrollertest.cpp
Due: clang-format

replace --controller-debug CLI argument with Qt logging categories
  CMakeLists.txt
  src/control/controlobjectscript.cpp
  src/control/controlobjectscript.h
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midioutputhandler.cpp
  src/controllers/midi/midioutputhandler.h
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/controllerscriptmoduleengine.cpp
  src/controllers/scripting/controllerscriptmoduleengine.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/test/controllerscriptenginelegacy_test.cpp
  src/util/runtimeloggingcategory.cpp
  src/util/runtimeloggingcategory.h
Due: clang-format

HSS1394/PortMidiController: remove superfluous QString formatting
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/portmidicontroller.cpp
Due: clang-format

MidiOutputHandler: correct comment
  src/controllers/midi/midioutputhandler.cpp
Due: clang-format

common-controller-scripts.js: use console.log for print
  res/controllers/common-controller-scripts.js
Due: none

Hercules DJ Console 4 Mx: use console.log instead of engine.log
  res/controllers/Hercules-DJ-Console-4-Mx-scripts.js
Due: none

remove ControllerDebug
  CMakeLists.txt
  packaging/debian/mixxx.sgml
  src/control/controlobjectscript.cpp
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/controller.cpp
  src/controllers/controllerdebug.cpp
  src/controllers/controllerdebug.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midioutputhandler.cpp
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/logging.cpp
Due: clang-format

HidController: change getInputReport to automatically call script
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Due: clang-format

create QDialogs on the stack
  src/widget/wtrackmenu.cpp
Due: clang-format

refine comment in RemoveTrackFilesFromDiskTrackPointerOperation
  src/widget/wtrackmenu.cpp
Due: clang-format

instantiate dialog ingredients just before they're needed
  src/widget/wtrackmenu.cpp
Due: clang-format

Use info not warning for skin COs
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

CI: Update ArchLinux docker image for Qt6 builds to 20211116-qt6
  .github/workflows/build.yml
Due: none

common-controller-scripts.js: Make engine.log use console.log internally
  res/controllers/common-controller-scripts.js
Due: none

This reverts a comment with a wrong assumption
  src/util/logging.cpp
Due: clang-format

Logging: Filter all debug messages from the controller category
  src/util/logging.cpp
Due: clang-format

ControllerDebug: Remove singleton in favor of categorized logging
  CMakeLists.txt
  src/control/controlobjectscript.cpp
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/controller.cpp
  src/controllers/controllerdebug.cpp
  src/controllers/controllerdebug.h
  src/controllers/hid/hidcontroller.cpp
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midioutputhandler.cpp
  src/controllers/midi/portmidicontroller.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/logging.cpp
Due: clang-format

Logging: Improve documentation for special --controller-debug logging
  src/util/logging.cpp
Due: clang-format

PortMidiController: Check for outputDeviceInfo nullptr in constructor
  src/controllers/midi/portmidicontroller.cpp
Due: clang-format

HidController: return QByteArrays for get[Input/Feature]Report
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Due: clang-format

Macros: Migrate to FramePos
  src/engine/controls/enginecontrol.h
  src/engine/controls/macrocontrol.cpp
  src/engine/controls/macrocontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/macros/macro_test.cpp
  src/test/macros/macro_test.h
  src/test/macros/macrocontrol_test.cpp
  src/test/macros/macrodao_test.cpp
  src/test/macros/macroplayback_test.cpp
  src/test/macros/macrorecording_test.cpp
  src/test/signalpathtest.h
  src/track/beats.h
  src/track/macro.cpp
  src/track/macro.h
  src/track/macroaction.cpp
  src/track/macroaction.h
  src/track/track.cpp
Due: clang-format

HidController: take QByteArray for sendFeatureReport
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Due: clang-format

HidController: avoid extra copy of data
  src/controllers/hid/hidcontroller.cpp
Due: clang-format

Improve documentation comments
  CMakeLists.txt
  src/control/controlpushbutton.cpp
  src/coreservices.cpp
  src/database/mixxxdb.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/controls/bpmcontrol.h
  src/engine/controls/enginecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/engine/sidechain/enginerecord.cpp
  src/engine/sidechain/enginesidechain.cpp
  src/engine/sidechain/enginesidechain.h
  src/engine/sync/enginesync.h
  src/library/dao/cuedao.cpp
  src/library/dao/trackdao.h
  src/library/library.cpp
  src/mixer/basetrackplayer.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/recording/recordingmanager.cpp
  src/recording/recordingmanager.h
  src/recording/recordingmanagerbase.cpp
  src/recording/recordingmanagerbase.h
  src/test/readaheadmanager_test.cpp
  src/track/beats.h
  src/track/track.cpp
  src/track/track.h
  src/util/db/dbconnectionpool.h
  src/util/db/dbconnectionpooled.h
  src/util/parented_ptr.h
Due: clang-format

Macros: Implement Controls and Database
  CMakeLists.txt
  res/schema.xml
  src/database/mixxxdb.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/controls/macrocontrol.cpp
  src/engine/controls/macrocontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/library/dao/macrodao.cpp
  src/library/dao/macrodao.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/proto/CMakeLists.txt
  src/proto/macro.proto
  src/test/cuecontrol_test.cpp
  src/test/macros/macro_proto
  src/test/macros/macro_test.cpp
  src/test/macros/macro_test.h
  src/test/macros/macrocontrol_test.cpp
  src/test/macros/macrodao_test.cpp
  src/test/macros/macroplayback_test.cpp
  src/test/macros/macrorecording_test.cpp
  src/test/signalpathtest.h
  src/track/macro.cpp
  src/track/macro.h
  src/track/macroaction.cpp
  src/track/macroaction.h
  src/track/track.cpp
  src/track/track.h
  src/util/db/dbid.cpp
  src/util/db/dbid.h
Due: clang-format

Macros: Update Schemata and namings
  res/schema.xml
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/macrocontrol.cpp
  src/library/dao/macrodao.cpp
  src/proto/macro.proto
  src/test/macros/macro_test.cpp
  src/track/macro.cpp
  src/track/macro.h
  src/track/macroaction.cpp
  src/track/macroaction.h
  src/util/db/dbid.cpp
  src/util/db/dbid.h
Due: clang-format

Macros/Skin/LateNight: Add a rough rack for two channels
  res/skins/LateNight/macros/macro.xml
  res/skins/LateNight/macros/macros_channel.xml
  res/skins/LateNight/macros_rack.xml
  res/skins/LateNight/skin.xml
Due: none

Macros/Skin/LateNight: Create & Style MacroActivate Button with icons
  res/skins/LateNight/macros/macro.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Macros/Skin/LateNight: Refactor MacroPrefix
  res/skins/LateNight/macros/macro.xml
Due: none
