Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Library sidebar: don't select on right-click, only set focus
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebarmodel.cpp
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

Library sidebar: don't select newly created or duplicated crate/playlist
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

CrateFeature::activateCrate: remove redundant activateChild()
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

BasePlaylistFeature::activatePlaylist: remove redundant selectIndex()
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

Library sidebar: track left & right clicks separately
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Library sidebar: don't rebuild tree model after item rename or lock change, just update labels
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

History feature: fix decoration of current playlist after 'Finish current, start new'
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Library sidebar: add item selection helpers for playlists & crates
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

History feature: clear view when clicking YEAR items
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

History feature: allow deleting all playlists in YEAR node
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/widget/wlibrarysidebar.cpp
Due: clang-format

PlaylistDAO: add setPlaylistsLocked
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
Due: clang-format

History: allow un/locking all playlists in a YEAR folder
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

PlaylistDAO: add getNextPlaylist(), to be used for History feature
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
Due: clang-format

Library sidebar: handle item selection in DAO callback slots ...
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

skins: add focus indicator (right-click) to library sidebar items
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Due: qsscheck

BasePlaylistFeature::updateChildModel: use QSet to reduce tree iterations
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

Library sidebar: add helper to get the (first) selected index
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

Library sidebar: toggleItem() emits click(), not delayed pressed()
  src/widget/wlibrarysidebar.cpp
Due: clang-format

LateNight: brighter fx parameter buttons = better contrast in fx focus mode
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

ITunesImporter: Use explicit std::atomic<bool>::load
  src/library/itunes/itunesmacosimporter.mm
  src/library/itunes/itunesxmlimporter.cpp
Due: clang-format

ITunesImporter: Use const references where possible
  src/library/itunes/itunesmacosimporter.h
  src/library/itunes/itunesmacosimporter.mm
  src/library/itunes/itunesxmlimporter.cpp
  src/library/itunes/itunesxmlimporter.h
Due: clang-format

ITunesImporter: Add short comment on lifetime
  src/library/itunes/itunesmacosimporter.h
  src/library/itunes/itunesxmlimporter.h
Due: clang-format

Restore deck effect states
  res/controllers/Reloop-Mixage.scripts.js
Due: none

Remap MASTER button, but disable until Mixxx function is working
  res/controllers/Reloop-Mixage.midi.xml
  res/controllers/Reloop-Mixage.scripts.js
Due: none

Fix linter issues
  res/controllers/Reloop-Mixage.scripts.js
Due: none

Dispose build_environment files and use the release-only environment
  packaging/macos/build_environment
  packaging/windows/build_environment
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Enable arm64 macOS build
  .github/workflows/build.yml
  CMakeLists.txt
  tools/macos_arm64-cross_buildenv.sh
Due: none

Implement hashcode checking for the windows build environment
  tools/windows_buildenv.bat
Due: none

Introduce BUILDENV_BRANCH variable
  tools/macos_arm64-cross_buildenv.sh
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

BasePlaylistFeature: improve playlist import comment
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

simplify WLibrarySidebar::selectedIndex return
  src/widget/wlibrarysidebar.cpp
Due: clang-format

playlist features: remove obsolete qAsConst
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

PlaylistDAO: use kInvalidPlaylistId
  src/library/dao/playlistdao.cpp
Due: clang-format

Removed uneeded workaround, for applying value in WBeatSpinBox::stepBy in two steps
  src/widget/wbeatspinbox.cpp
Due: clang-format

PlaylistDAO: simplify string building for Sql query
  src/library/dao/playlistdao.cpp
Due: clang-format

CrateFeature: use existing table model for importing when crate is selected
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

PlaylistFeature: early return for inedaquate playlist type
  src/library/trackset/playlistfeature.cpp
Due: clang-format

playlist features: fix debug string
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Add function to scroll through side pane using track select knob
  res/controllers/Reloop-Mixage.midi.xml
  res/controllers/Reloop-Mixage.scripts.js
Due: none

PlaylistDAO: make delete functions return bool
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
Due: clang-format
