Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Update res/controllers/Intech TEK2.scripts.js
  res/controllers/Intech TEK2.scripts.js
Due: none

Wheel turns adjusted to pot
  res/controllers/Intech TEK2.scripts.js
Due: none

Remove duplicate enty of #13092
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Remove possible recursive call of rawSiblingValue()
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
Due: clang-format

Update GitHub actions
  .github/workflows/build.yml
Due: none

Friendlier error message if Engine export fails for track
  src/library/export/engineprimeexportjob.cpp
  src/library/export/libraryexporter.cpp
Due: clang-format

Library scan: don't show report dialog when auto-scan detected no changes
  src/coreservices.cpp
  src/library/library_decl.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/mixxxmainwindow.cpp
Due: clang-format

Update src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportjob.cpp
Due: clang-format

chore: update pre-commit hook
  .pre-commit-config.yaml
Due: none

document settings
  res/controllers/Numark-NS6II-scripts.js
Due: none

feat: add quick FX for stem
  CMakeLists.txt
  res/qml/ComboBox.qml
  res/qml/EqColumn.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/QuickFxKnob.qml
  res/qml/StemKnob.qml
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
  src/effects/presets/effectxmlelements.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/mixer/basetrackplayer.cpp
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/qml/qmlchainpresetmodel.cpp
  src/qml/qmlchainpresetmodel.h
  src/qml/qmleffectsmanagerproxy.cpp
  src/qml/qmleffectsmanagerproxy.h
  src/util/sample.cpp
  src/util/sample.h
Due: clang-format, qmllint

(fix/Qt6) Skins: hide reserved space for invisible table header sort indicators
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Due: qsscheck

Tango: don't change header sort arrow icon on hover
  res/skins/Tango/style.qss
Due: qsscheck

(fix) use 'played' track color also for played/play count delegate
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/bpmdelegate.h
  src/library/tabledelegates/checkboxdelegate.cpp
  src/library/tabledelegates/checkboxdelegate.h
  src/library/tabledelegates/playcountdelegate.cpp
Due: clang-format

Implemented non-floating legacy stem controls for LateNight
  CMakeLists.txt
  res/skins/LateNight/classic/buttons/btn__stem_controls_collapse.svg
  res/skins/LateNight/classic/buttons/btn__stem_controls_expand.svg
  res/skins/LateNight/palemoon/buttons/btn__stem_controls_collapse.svg
  res/skins/LateNight/palemoon/buttons/btn__stem_controls_expand.svg
  res/skins/LateNight/stem_channel.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/LateNight/waveforms_container.xml
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/widget/wstemlabel.cpp
  src/widget/wstemlabel.h
Due: clang-format, qsscheck

AutoDJ: use remove hotkey Del for Clear Queue and Remove Crate actions
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/sidebarmodel.cpp
Due: clang-format

AutoDJ: add 'Clear Queue' menu action
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
Due: clang-format

refactor: adhere to "F.48: Don’t return std::move(local)"
  src/control/controlvalue.h
  src/library/basetracktablemodel.cpp
Due: clang-format

refactor: adhere to "Unique Owner Types" exception of GSL F.18
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollersettingslayout.h
Due: clang-format

improve Taglib/SoundSource logging: FileType enum as string (char*), omit 'file://' prefix for local files
  src/sources/metadatasourcetaglib.cpp
  src/sources/soundsourceproxy.cpp
  src/track/taglib/trackmetadata_file.cpp
  src/track/taglib/trackmetadata_file.h
Due: clang-format

move positioNear(FramePos, FramePos) to FramePos::isNear(Framepos)
  src/audio/frame.h
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

move getBeatContext() and ~NoLookup() to Beats class
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/test/bpmcontrol_test.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

CueControl: separate debug assertions
  src/engine/controls/cuecontrol.cpp
Due: clang-format

Beats: add helper to get fractional beats in frame range
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

Looping: get correct size when saving/reactivating loop with non-preset length
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

Looping: setting a manual updates beatloop_size so halve/double works
  src/engine/controls/loopingcontrol.cpp
  src/test/looping_control_test.cpp
Due: clang-format

reset beatloop_size to default when loading a track with no loop
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

Looping: changing beatloop_size only affects active loop or if playpos is after loop
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
Due: clang-format

Allow to delete the keys by removing the global key value.
  src/track/trackrecord.cpp
Due: clang-format

Adding a test that verifies that the metadata key field is kept if the user does not edit it.
  CMakeLists.txt
  src/sources/soundsourceproxy.h
  src/test/trackmetadataexport_test.cpp
Due: clang-format

Remove global key functions form TrackRecord and inline them in Track. This is more efficient and easier to understand.
  src/track/track.cpp
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Due: clang-format

Comment updateGlobalKeyNormalizeText()
  src/track/trackrecord.h
Due: clang-format

Read and write keyText to database, independent from the key format in preferences for GUI
  src/library/dao/trackdao.cpp
Due: clang-format

Improve comments of key functions in Keys
  src/track/keys.h
Due: clang-format

Add preferred notation form ID3v2
  src/track/keyutils.cpp
  src/track/keyutils.h
Due: clang-format

Keep detected key map in case the imported metadata value corresponds to it
  src/track/track.cpp
Due: clang-format

Use preferred notation form ID3v2 when writing key changes to files and database
  src/track/keyfactory.cpp
  src/track/trackrecord.cpp
Due: clang-format

Fix returning the formated value
  src/track/track.cpp
Due: clang-format

Improve KeyUtils class
  src/track/keyfactory.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
