Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

ITunesDAO: Use non-unique name for TreeItems
  src/library/itunes/itunesdao.cpp
Due: clang-format

Start names with a capital letter
  CHANGELOG.md
Due: changelog, metainfo

Add latest 2.3 changes
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

make sure AnalyzerSilence::verifyFirstSound uses the lower frame boundary for inputs
  src/analyzer/analyzersilence.cpp
Due: clang-format

Prime 4: Add beatloop function when pressing loop encoder
  res/controllers/Denon-Prime-4-scripts.js
  res/controllers/Denon-Prime-4.midi.xml
Due: none

cmake: use -B option to select mold linker for GCC < 12.1.0
  CMakeLists.txt
Due: none

Dispose kMinFrameIndex, because it is always 0
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Add a comment about double sharps
  src/track/keyutils.cpp
Due: clang-format

Make s_scaleModeInfo position independent
  src/track/keyutils.cpp
Due: clang-format

Join scale mode info structs
  src/track/keyutils.cpp
Due: clang-format

Introduce s_lancelotMajorModes
  src/track/keyutils.cpp
Due: clang-format

style corrected
  res/skins/LateNight/style_palesun.qss
Due: qsscheck

Access s_scaleModeInfo in a range based loop
  src/track/keyutils.cpp
Due: clang-format

Don't lookup lld binary, rely on the compiler's lookup paths for ld.lld
  CMakeLists.txt
Due: none

Fix typos in comment
  src/engine/bufferscalers/enginebufferscalest.cpp
Due: clang-format

remove redundant clear()
  src/engine/bufferscalers/enginebufferscalest.cpp
Due: clang-format

Replace gcc version check by a test call with fuse-ld and fall back to a mold symlink lookup.
  CMakeLists.txt
Due: none

Improves mold symlink lookup
  CMakeLists.txt
Due: none

Update CHANGELOG for 2.3.6
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Update Translation template. Found 2657 source text(s) (0 new and 2657 already existing)
  res/translations/mixxx.ts
Due: none

Improve changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Describe how to test the extra latency caused by pitch
  src/engine/bufferscalers/enginebufferscalest.cpp
Due: clang-format

Clarify offset in the comments
  src/engine/bufferscalers/enginebufferscalest.cpp
Due: clang-format

Fix assertion against backward ranges
  src/sources/audiosource.cpp
Due: clang-format

pre-commit fix
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

(fix) WTrackProperty: focus double-clicked property field in DlgTrackInfo
  src/library/dlgtrackinfo.cpp
Due: clang-format

Introduce kCanarySampleRate
  src/test/analyserwaveformtest.cpp
Due: clang-format

Replace tio by pTrack
  src/analyzer/analyzer.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzerkey.cpp
Due: clang-format

Delete obsolete -platform xcb args
  res/linux/org.mixxx.Mixxx.desktop
Due: none

feat(util): convert between mixxx::Duration and std::chrono::duration
  src/util/duration.h
Due: clang-format

refactor(util): remove unused #include
  src/util/threadcputimer.h
Due: clang-format

refactor(util): implement PerformanceTimer using std::chrono
  CMakeLists.txt
  src/util/performancetimer.cpp
  src/util/performancetimer.h
Due: clang-format

refactor(timer): Streamline QString use, ownership and temporaries
  src/util/timer.cpp
  src/util/timer.h
Due: clang-format

feat(util): make Stat::ComputeTypes a QFlag instead of plain int
  src/util/stat.h
Due: clang-format

refactor(timer): make ScopedTimer invocations pass UTF-16 literals
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzergain.cpp
  src/coreservices.cpp
  src/engine/channelmixer.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginemaster.cpp
  src/library/dao/trackdao.cpp
  src/library/scanner/importfilestask.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/recursivescandirectorytask.cpp
  src/mixxxmainwindow.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/skin/skinloader.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/sources/soundsourcemodplug.cpp
  src/util/timer.h
  src/vinylcontrol/vinylcontrolprocessor.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/waveform/renderers/waveformrendererendoftrack.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/woverview.cpp
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
  src/widget/wvumeterbase.cpp
  src/widget/wvumeterlegacy.cpp
Due: clang-format

refactor(timer): remove GuiTickTimer and SuspendableTimer (unused)
  src/util/timer.cpp
  src/util/timer.h
Due: clang-format

refactor(battery): use QTimer instead of GuiTickTimer for Battery Update
  src/util/battery/battery.cpp
  src/util/battery/battery.h
Due: clang-format

refactor(timer): optimize Timer running check
  src/util/performancetimer.h
  src/util/timer.cpp
  src/util/timer.h
Due: clang-format

style(util): fix performancetimer indentation; add constexpr
  src/util/performancetimer.h
Due: clang-format
