Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Install Qt6::ShaderTools
  CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

Replaced the initialization code by a snipped already used in other mappings, to fix a crash reported on macOS only.
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: none

dont write into nullptr
  src/library/trackset/crate/cratetablemodel.cpp
Due: clang-format

show play list name in debug output
  src/library/playlisttablemodel.cpp
Due: clang-format

removed unnecessary intermediate slot
  src/library/library.cpp
  src/library/library.h
Due: clang-format

copy from browsetablemodel
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
Due: clang-format

added comment about BrowseTableModel cut/paste acting on filesystem
  src/library/browse/browsetablemodel.cpp
Due: clang-format

use pVar nomenclature for pointers
  src/widget/wlibrary.cpp
Due: clang-format

formatting
  src/library/trackset/basetracksetfeature.cpp
Due: clang-format

shortkeys for track list management (between library, playlists, crates and autodj)
  CMakeLists.txt
  src/coreservices.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.h
  src/library/libraryview.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackmodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/basetracksetfeature.h
  src/library/trackset/tracksettablemodel.h
  src/util/clipboard.cpp
  src/util/clipboard.h
  src/widget/wlibrary.cpp
  src/widget/wlibrary.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarytableview.h
  src/widget/wlibrarytextbrowser.cpp
  src/widget/wlibrarytextbrowser.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

use pVar nomenclature for pointers
  src/library/sidebarmodel.cpp
Due: clang-format

replace addTracks with addTracksWithTrackIds (which addTracks now calls) so we can also add tracks based on ids directly
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/library/trackset/tracksettablemodel.cpp
Due: clang-format

fixes post-rebase
  src/library/trackset/tracksettablemodel.cpp
  src/widget/wlibrary.cpp
Due: clang-format

ignore ctrl-left/right in wlibrarytableview
  src/widget/wlibrarytableview.cpp
Due: clang-format

Pioneer DDJ-FLX4: Added a keep alive timer which prevents the controller from entering BT pairing mode while connected
  res/controllers/Pioneer-DDJ-FLX4-script.js
Due: none

Pioneer DDJ-FLX4: Removed headphone gain mapping, as it's done in hardware
  res/controllers/Pioneer-DDJ-FLX4.midi.xml
Due: none

Install qml6-module-qtquick-window
  CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

Pioneer DDJ-FLX4: Added reverse engineering notice
  res/controllers/Pioneer-DDJ-FLX4-script.js
Due: none

refactor: avoid temporary qlist allocation on midi sysex receive
  src/controllers/midi/midicontroller.cpp
Due: clang-format

fix(qml): Remove unused include from `qmlapplication.h`
  src/qml/qmlapplication.h
Due: clang-format

fix(qml): Do not pass empty list to `QFileSystemWatcher::removePaths()`
  src/qml/qmlautoreload.cpp
Due: clang-format

Merge pull request #12842 from grizeldi/flx4-improvements
  res/controllers/Pioneer-DDJ-FLX4-script.js
  res/controllers/Pioneer-DDJ-FLX4.midi.xml
Due: none

fix(qml): Fix QML auto-reloading even if path removal fails
  src/qml/qmlautoreload.cpp
Due: clang-format

feat(effects): add `QuickEffectChain::presetIndexChanged` signal
  src/effects/chains/quickeffectchain.cpp
  src/effects/chains/quickeffectchain.h
Due: clang-format

feat(effects): add `[QuickEffectRack1]`, `loaded_chain_preset` CO
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
Due: clang-format

Install qml6-module-qtquick-layouts
  CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

Update changelog
  CHANGELOG.md
Due: changelog, metainfo

Update changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Fixes from review
  res/controllers/midi-controller-api.d.ts
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/midimessage.h
Due: clang-format

remove applyMakeUp DB round trip
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

Moving namespace to cpp + add defaut constants
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

Add line breaks to descriptions
  src/effects/backends/builtin/compressoreffect.cpp
Due: clang-format

Change default values
  src/effects/backends/builtin/compressoreffect.cpp
Due: clang-format

ratiod2db fix
  src/util/math.h
Due: clang-format

fix default Color column width
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/colordelegate.cpp
  src/library/colordelegate.h
  src/widget/wtracktableview.h
Due: clang-format

fix default Color column width
  src/library/basetracktablemodel.cpp
Due: clang-format

SoundSourceMP3: fix unused function warning
  src/sources/soundsourcemp3.cpp
Due: clang-format

update libkeyfinder to 2.2.8
  CMakeLists.txt
Due: none

Add multi value protection for all muti-value tags: (Add title album and comment as well)
  src/track/taglib/trackmetadata_common.cpp
Due: clang-format

Introduce isMultiValueTagEqual() that compares in the QString domain to sort out encoding issues.
  src/track/taglib/trackmetadata_common.cpp
Due: clang-format
