Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Fix code style
  src/library/dao/trackdao.cpp
Due: clang-format

LateNight: make xfader assign buttons strict (no toggling to 0)
  res/skins/LateNight/controls/button_xfader_aux.xml
  res/skins/LateNight/controls/button_xfader_deck.xml
  res/skins/LateNight/mic_aux/aux_unit.xml
  res/skins/LateNight/mixer.xml
  res/skins/LateNight/mixer/mixer_2decks.xml
  res/skins/LateNight/palemoon/buttons/btn__xfader_aux_left.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_aux_left_off.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_aux_mid.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_aux_mid_off.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_aux_right.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_aux_right_off.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_left_default.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_left_off.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_left_warning.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_mid_default.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_mid_off.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_mid_warning.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_right_default.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_right_off.svg
  res/skins/LateNight/palemoon/buttons/btn__xfader_deck_right_warning.svg
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Fix incorrect ChannelGroup creation for computing channel string for preference page
  src/preferences/dialog/dlgprefsounditem.cpp
  src/soundio/sounddevice.cpp
  src/soundio/sounddevicepipewire.cpp
Due: clang-format

Store port name and channel separately instead of using regex to return channel string
  src/soundio/pipewireenumerator.cpp
  src/soundio/sounddevicepipewire.cpp
  src/soundio/sounddevicepipewire.h
Due: clang-format

Always quantize loop endpoints to closest beat (#16612)
  src/engine/controls/loopingcontrol.cpp
  src/test/looping_control_test.cpp
Due: clang-format

Scan summary: add missing arg for total missing tracks
  src/mixxxmainwindow.cpp
Due: clang-format

Prefs: move Simple to top of main waveform type list
  src/preferences/dialog/dlgprefwaveform.cpp
Due: clang-format

Add sticky mouse issue #14492 to Wayland warning message
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Prefs: move Simple to top of overview waveform type list
  src/preferences/dialog/dlgprefwaveform.cpp
Due: clang-format

Improve Wayland warning to cover both waveforms and spinnies
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Add Simple overview waveform type
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/overviewtype.h
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
  src/widget/woverview.cpp
Due: clang-format

Warn when running OpenGL waveforms on Wayland
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

chore: bump up Ubuntu version to 26.04
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/checks.yml
Due: none

chore: add Ubuntu 26.04 compatibility
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/modules/FindPortMidi.cmake
Due: none

fix: address all clazy errors
  src/controllers/rendering/controllerrenderingengine.h
  src/controllers/scripting/javascriptplayerproxy.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/library/browse/browsethread.h
  src/preferences/dialog/dlgprefrecord.cpp
  src/qml/qmllibrarysource.h
  src/qml/qmllibrarysourcetree.h
  src/qml/qmllibrarytracklistmodel.h
  src/qml/qmlpreferencesproxy.h
  src/qml/qmlskincontrolcreator.h
  src/qml/qmlsoundmanagerproxy.h
  src/qml/qmlwaveformdisplay.h
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.h
  src/widget/wbpmeditor.h
Due: clang-format

chore(QML): remove backward compatibility for 6.4 on TreeView
  res/qml/Library/Browser.qml
  src/main.cpp
Due: clang-format

chore: handle QTemporaryFile:filnename() relative path
  src/test/soundproxy_test.cpp
Due: clang-format

fix: treat new config as 3.0-ready
  res/qml/Settings.qml
  src/qml/qmlapplication.cpp
Due: clang-format

feat(Android): persist the QML definition to storage to allow live designing
  src/qml/qmlapplication.cpp
Due: clang-format

fix(QML): don't terminate after failed loading in dev mode
  src/qml/qmlapplication.cpp
Due: clang-format

feat(QMLPref): make the action bar static
  res/qml/Settings/SoundHardware.qml
Due: none

fix(QML): explicitely set deck background to prevent focus issue
  res/qml/Library/SourceTree.qml
Due: none

fix(QML): improve main view mobile support
  res/qml/main.qml
Due: none

feat(QML): refactor library
  res/qml/Library.qml
  res/qml/Library/Cell.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/Library/TrackList.qml
  src/qml/qmllibrarytracklistcolumn.cpp
  src/qml/qmllibrarytracklistcolumn.h
  src/qml/qmllibrarytracklistmodel.cpp
  src/qml/qmllibrarytracklistmodel.h
Due: clang-format

LibraryScannerDlg: clamp the path size to prevent constant dialog resizing
  CMakeLists.txt
  src/library/scanner/libraryscannerdlg.cpp
Due: clang-format

chore: improve QML performance
  res/qml/ActionButton.qml
  res/qml/ActionPopup.qml
  res/qml/Button.qml
  res/qml/ComboBox.qml
  res/qml/Deck/BeatJump.qml
  res/qml/Deck/HotcueAndStem.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Loop.qml
  res/qml/Deck/PlayButton.qml
  res/qml/Deck/TempoColumn.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Fader.qml
  res/qml/FormButton.qml
  res/qml/InputField.qml
  res/qml/Library/Browser.qml
  res/qml/Library/Cell.qml
  res/qml/PreviewDeck.qml
  res/qml/Settings.qml
  res/qml/Settings/AudioConnection.qml
  res/qml/Settings/Controller.qml
  res/qml/Settings/ControllerCard.qml
  res/qml/Settings/ControllerSettings.qml
  res/qml/Settings/FormButton.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/Settings/Slider.qml
  res/qml/Settings/SpinBox.qml
  res/qml/Slider.qml
Due: none

feat(QML): refactor CovertArt provider to use Db instead of full Track object
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/qml/asyncimageprovider.cpp
  src/qml/asyncimageprovider.h
Due: clang-format

feat(QML): use waveform overview cache
  src/coreservices.cpp
  src/library/dao/trackdao.h
  src/library/overviewcache.cpp
  src/library/overviewcache.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/qml/qmlwaveformoverview.cpp
  src/qml/qmlwaveformoverview.h
Due: clang-format

feat(QML): add range tooltip on long press
  res/qml/RangeButton.qml
Due: none

fix(QML): prevent log spam on drag-n-drop track
  res/qml/Deck.qml
Due: none

fix(QML): make fader react to any drag
  res/qml/Mixxx/Controls/Slider.qml
Due: none

fix(QML): restore responsivness on Setting popup
  res/qml/Settings.qml
Due: none

fix(QML): correct the BPM value in Spinny
  res/qml/Deck/Spinny.qml
Due: none

feat: add splash screen
  res/qml/MainWindow.qml
  res/qml/main.qml
  src/main.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlcoreservices.cpp
  src/qml/qmlcoreservices.h
Due: clang-format

chore: add Quick.Effect to the dependencies
  CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

fix(QML): add workaround for acrive DragHandler behind popup
  res/qml/ActionPopup.qml
  res/qml/ComboBox.qml
  res/qml/Library/Cell.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/Mixxx/Controls/Slider.qml
  res/qml/Settings.qml
  res/qml/main.qml
  src/qml/qmlcoreservices.cpp
  src/qml/qmlcoreservices.h
Due: clang-format

fix(QML): correctly position focused deck
  res/qml/MainWindow.qml
Due: none

chore: update vcpkg to add missing Quick.Effects libs
  .github/workflows/build.yml
  CMakeLists.txt
  tools/android_buildenv.sh
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Analysis: add Stop to sidebar menu
  src/library/analysis/analysisfeature.cpp
  src/library/analysis/analysisfeature.h
  src/library/analysis/dlganalysis.h
Due: clang-format

Cover menu: extract cover image to file, show in file browser (show only for file cover)
  src/widget/wcoverartmenu.cpp
  src/widget/wcoverartmenu.h
  src/widget/wtrackmenu.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
