Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

test: fix DelayRing concurrent wraparound test
  src/test/delayringtest.cpp
Due: clang-format

Use EQ crossover settings for waveform analysis
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/coreservices.cpp
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/test/analyserwaveformtest.cpp
  src/waveform/waveform.cpp
  src/waveform/waveform.h
  src/waveform/waveformfactory.cpp
  src/waveform/waveformfactory.h
Due: clang-format

Remove DelayRingTest.ConcurrentWraparound test due to flakiness
  src/test/delayringtest.cpp
Due: clang-format

Fix resetting the color of tracks cached in memory
  src/library/basetrackcache.cpp
Due: clang-format

Rename remaining stop marker files and label to end marker
  CMakeLists.txt
  res/skins/Deere/icon/ic_autodj_end_marker.svg
  res/skins/Deere/style.qss
  res/skins/LateNight/classic/buttons/btn__autodj_end_marker.svg
  res/skins/LateNight/palemoon/buttons/btn__autodj_end_marker.svg
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/btn/btn_autodj_end_marker.svg
  res/skins/Shade/style.qss
  res/skins/Tango/buttons/btn_autodj_end_marker.svg
  res/skins/Tango/style.qss
  src/library/playlisttablemodel.cpp
  src/test/playlistdao_endmarker_test.cpp
Due: clang-format, qsscheck

Test that the end marker leaves the next track queued
  src/test/autodjprocessor_test.cpp
Due: clang-format

Fix devision by zero
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrenderersimple.cpp
  src/waveform/renderers/allshader/waveformrendererstem.cpp
Due: clang-format

feat(QML): use waveform overview cache
  src/coreservices.cpp
  src/library/dao/trackdao.h
  src/library/overviewcache.cpp
  src/library/overviewcache.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/qml/qmlwaveformoverview.cpp
  src/qml/qmlwaveformoverview.h
Due: clang-format

fix(QML): correct the BPM value in Spinny
  res/qml/Deck/Spinny.qml
Due: none

chore: improve QML performance
  res/qml/ActionButton.qml
  res/qml/ActionPopup.qml
  res/qml/Button.qml
  res/qml/ComboBox.qml
  res/qml/Deck/BeatJump.qml
  res/qml/Deck/HotcueAndStem.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Loop.qml
  res/qml/Deck/PlayButton.qml
  res/qml/Deck/TempoColumn.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Fader.qml
  res/qml/FormButton.qml
  res/qml/InputField.qml
  res/qml/Library/Browser.qml
  res/qml/Library/Cell.qml
  res/qml/PreviewDeck.qml
  res/qml/Settings.qml
  res/qml/Settings/AudioConnection.qml
  res/qml/Settings/Controller.qml
  res/qml/Settings/ControllerCard.qml
  res/qml/Settings/ControllerSettings.qml
  res/qml/Settings/FormButton.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/Settings/Slider.qml
  res/qml/Settings/SpinBox.qml
  res/qml/Slider.qml
Due: none

fix(QML): prevent log spam on drag-n-drop track
  res/qml/Deck.qml
Due: none

feat: add splash screen
  res/qml/MainWindow.qml
  res/qml/main.qml
  src/main.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlcoreservices.cpp
  src/qml/qmlcoreservices.h
Due: clang-format

chore: add Quick.Effect to the dependencies
  CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

fix(QML): reverting RatioChoice breaking layouts
  res/qml/Settings/Library.qml
  res/qml/Settings/RatioChoice.qml
Due: none

fix(QML): add workaround for acrive DragHandler behind popup
  res/qml/ActionPopup.qml
  res/qml/ComboBox.qml
  res/qml/Library/Cell.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/Mixxx/Controls/Slider.qml
  res/qml/Settings.qml
  res/qml/main.qml
  src/qml/qmlcoreservices.cpp
  src/qml/qmlcoreservices.h
Due: clang-format

fix(QML): fixing library setting hooks
  res/qml/Settings/Library.qml
  res/qml/Settings/RatioChoice.qml
Due: none

fix(QML): correctly position focused deck
  res/qml/MainWindow.qml
Due: none

fix(QML): restore responsivness on Setting popup
  res/qml/Settings.qml
Due: none

fix(QML): clashing enum on library operations result
  res/qml/Settings/Library.qml
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
Due: clang-format

fix(QML): address clazy warnings
  src/qml/qmllibraryproxy.cpp
  src/qml/qmllibraryproxy.h
Due: clang-format

chore: add Quick.Effect to the dependencies
  CMakeLists.txt
Due: none

chore: pevent unused warnings with clang
  src/sources/soundsourcemp3.cpp
Due: clang-format

KeyUtils: add classifyAgainst() harmonic key classifier
  src/test/keyutilstest.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Due: clang-format

Library: add per-deck harmonic key highlighter
  CMakeLists.txt
  res/keyboard/en_US.kbd.cfg
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/keyhighlightmanager.cpp
  src/library/keyhighlightmanager.h
  src/library/library.cpp
  src/library/library.h
  src/test/keyhighlightmanagertest.cpp
Due: clang-format

Library: reflect a pitched deck's playing key in the harmonic highlighter
  src/library/basetracktablemodel.cpp
  src/library/keyhighlightmanager.cpp
  src/library/keyhighlightmanager.h
  src/library/tabledelegates/keydelegate.cpp
  src/test/keyhighlightmanagertest.cpp
Due: clang-format

CHANGELOG: note the library harmonic key highlighter
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Improve the implementation according to reviewer feedback, implement unicode arrows for directionality
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/keyhighlightmanager.cpp
  src/library/keyhighlightmanager.h
  src/library/tabledelegates/keydelegate.cpp
  src/library/trackmodel.h
  src/test/keyhighlightmanagertest.cpp
  src/test/keyutilstest.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Due: clang-format

Stem Tests: Add second stem test track
  src/test/stemcontrolobjecttest.cpp
  src/test/stems/stem01/01-drum.wav
  src/test/stems/stem01/02-bass.wav
  src/test/stems/stem01/03-melody.wav
  src/test/stems/stem01/04-vocal.wav
  src/test/stems/stem01/sin_AAC_256kbps_VBR.stem.mp4
  src/test/stems/stem01/sin_ALAC_24bit.stem.mp4
  src/test/stems/stem01/sin_mainmix.wav
  src/test/stems/stem01/test.stem.json
  src/test/stems/stem01/test_missing_stem_details.stem.json
  src/test/stems/stem01/test_missing_stem_details.stem.mp4
  src/test/stems/stem02/01-drum.wav
  src/test/stems/stem02/02-bass.wav
  src/test/stems/stem02/03-melody.wav
  src/test/stems/stem02/04-vocal.wav
  src/test/stems/stem02/trance_AAC_256kbps_VBR.stem.mp4
  src/test/stems/stem02/trance_ALAC_24bit.stem.mp4
  src/test/stems/stem02/trance_mainmix.wav
  src/test/stemtest.cpp
Due: clang-format

Table delegate: move paintItemBackground() to DefaultDelegate
  src/library/tabledelegates/defaultdelegate.cpp
  src/library/tabledelegates/defaultdelegate.h
  src/library/tabledelegates/multilineeditdelegate.cpp
  src/library/tabledelegates/multilineeditdelegate.h
  src/library/tabledelegates/tableitemdelegate.cpp
  src/library/tabledelegates/tableitemdelegate.h
Due: clang-format

Fix #17026 cue and intro/outro markers in split stem slip mode
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
Due: clang-format

feat(QML): add range tooltip on long press
  res/qml/RangeButton.qml
Due: none

feat(QML): refactor CovertArt provider to use Db instead of full Track object
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/trackcollectionmanager.cpp
  src/library/trackcollectionmanager.h
  src/qml/asyncimageprovider.cpp
  src/qml/asyncimageprovider.h
Due: clang-format

LibraryScannerDlg: clamp the path size to prevent constant dialog resizing
  CMakeLists.txt
  src/library/scanner/libraryscannerdlg.cpp
Due: clang-format

fix: treat new config as 3.0-ready
  res/qml/Settings.qml
  src/qml/qmlapplication.cpp
Due: clang-format

fix(QML): explicitely set deck background to prevent focus issue
  res/qml/Library/SourceTree.qml
Due: none

fix(QML): don't terminate after failed loading in dev mode
  src/qml/qmlapplication.cpp
Due: clang-format

chore: group scenario that shares common preconditions
  src/test/behave/AGENTS.md
  src/test/behave/README.md
  src/test/behave/environment.py
  src/test/behave/features/library.feature
  src/test/behave/steps/mixxx_steps.py
Due: none

chore: add test for responsiveness
  src/test/behave/AGENTS.md
  src/test/behave/features/deck.feature
  src/test/behave/features/library.feature
  src/test/behave/features/settings/interface.feature
  src/test/behave/features/settings/main.feature
  src/test/behave/steps/mixxx_steps.py
  src/test/behave/steps/settings_steps.py
Due: none
