Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

Allow to enable FFmpeg even if no component versions available
  CMakeLists.txt
Due: none

DlgPrefEffects: reimport default presets with Defaults button
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
  src/preferences/dialog/dlgprefeffects.cpp
Due: clang-format

EffectChainPresetManager: use "Export" in title of export dialog
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

WEffectChainPresetButton: "Save preset" -> "Save new preset"
  src/widget/weffectchainpresetbutton.cpp
Due: clang-format

use QChar and QStringLiteral in effects item models
  src/preferences/effectchainpresetlistmodel.cpp
  src/preferences/effectmanifesttablemodel.cpp
Due: clang-format

EffectsBackend: use constexpr char[] for translated strings
  src/effects/backends/effectsbackend.cpp
Due: clang-format

turn EffectChainMixMode into a class with a Type enum
  CMakeLists.txt
  src/effects/defs.h
  src/effects/effectchain.cpp
  src/effects/effectchain.h
  src/effects/effectchainmixmode.cpp
  src/effects/effectchainmixmode.h
  src/effects/presets/effectchainpreset.cpp
  src/effects/presets/effectchainpreset.h
  src/engine/effects/engineeffectchain.h
  src/engine/effects/message.h
Due: clang-format

EffectChain: fix slotControlLoadedChainPresetRequest for QuickEffectChains
  src/effects/effectchain.cpp
Due: clang-format

Help menu: link to online manual only, remove obsolete 2.2 manual
  Mixxx-Manual.pdf
  src/widget/wmainmenubar.cpp
Due: clang-format

use Cargo.toml & Cargo.lock for sccache build dependency
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: none

Sync Lock: Minor refactoring.
  res/skins/LateNight/decks/rate_controls.xml
  src/engine/sync/basesyncablelistener.cpp
  src/engine/sync/basesyncablelistener.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/engine/sync/internalclock.cpp
  src/engine/sync/syncable.h
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

Sync Lock: remove debugging stuff
  src/engine/sync/basesyncablelistener.cpp
  src/engine/sync/enginesync.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

Sync Lock: Fix some broken tests
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

Sync Lock: Fix clazy error
  src/engine/sync/synccontrol.cpp
Due: clang-format

Sync Lock: Remove unneeded end-of-track code
  src/engine/enginebuffer.cpp
  src/engine/sync/synccontrol.cpp
  src/engine/sync/synccontrol.h
Due: clang-format

Sync Lock: Add orange state for sync leader button
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/style_classic.qss
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format, qsscheck

Sync Lock: make sure there's always a sync leader
  src/engine/sync/enginesync.cpp
  src/test/enginesynctest.cpp
Due: clang-format

Sync Lock: Fix leader button in latenight (very temp graphic)
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/style_classic.qss
  src/engine/sync/synccontrol.cpp
Due: clang-format, qsscheck

Sync Lock: When disabling explicit sync, make sure we pick a soft master if there are two playing sync decks
  src/engine/sync/enginesync.cpp
  src/test/enginesynctest.cpp
Due: clang-format

ControllerSyncable: Add base class with signals
  CMakeLists.txt
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/midi/midibeatclock.cpp
  src/controllers/midi/midibeatclock.h
  src/controllers/midi/midicontroller.h
  src/engine/sync/controllersyncable.cpp
  src/engine/sync/controllersyncable.h
Due: clang-format

Disable FFmpeg on Windows
  .github/workflows/build.yml
Due: none

library local browse: sort tracks by numeric duration instead of string lexicographically
  src/library/browse/browsethread.cpp
Due: clang-format

GitHub Actions: Pin specific sccache version
  .github/workflows/build.yml
Due: none

CMake: Fix typo in Shoutidjc_FOUND variable name
  CMakeLists.txt
Due: none

silence debug
  src/track/beatutils.cpp
Due: clang-format

EncoderFdkAac: Improve error reporting
  src/encoder/encoderfdkaac.cpp
Due: clang-format

EncoderFdkAac: Fix broken detection on Ubuntu 18.04 (lp1919073)
  src/encoder/encoderfdkaac.cpp
Due: clang-format

CMake: Require OpenSSL for building libshout-idjc on Linux
  lib/libshout-idjc/CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

EffectChainPresetManager: handle old effects.xml with presets existing
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

EffectChainPresetManager: improve error handling in importDefaultPresets
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

EffectChainPresetManager: fix emission of lists updated signals
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

Sync Lock: remove unneeded const
  src/engine/sync/synccontrol.cpp
Due: clang-format

SoundManager: remove erroneous warning and add debug assertion
  src/soundio/soundmanager.cpp
Due: clang-format

Sync Lock: Add needed svg for testing
  res/skins/LateNight/classic/buttons/btn__leader_deck.svg
Due: none

Sync Lock: Clicking an Explicit Master converts to Soft Master. Clicking again converts to Follower
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

SyncLock: reduce calls to non-atomic gets
  src/engine/sync/basesyncablelistener.cpp
Due: clang-format

Sync Lock: Address notes about test syntax
  src/test/enginesynctest.cpp
Due: clang-format

WEffectChainPresetButton: hardcode 3 effect slots for now
  src/widget/weffectchainpresetbutton.cpp
Due: clang-format

CMake: Simplify FFmpeg option
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

CMake: Restrict MEDIAFOUNDATION to Windows
  CMakeLists.txt
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
