Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

Addressing acolombier review: use generic Wayland warning message mentioning spinny issues
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Addressing daschuer review: fix upgrade path storing combobox index instead of enum value in config
  src/preferences/dialog/dlgprefwaveform.cpp
Due: clang-format

Add recenetly merged PRs to CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add Spgamer0407 to the contributor list in the Mixxx about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

fix(Android): correctly prompt device access request
  src/controllers/android.cpp
  src/soundio/sounddeviceportaudio.cpp
Due: clang-format

feat(Android): auto launch when plugging a supported device
  CMakeLists.txt
  cmake/modules/gen_usb_device_filter.cmake
  packaging/android/AndroidManifest.xml
  packaging/android/src/org/mixxx/UsbPermission.java
  packaging/android/usb_device_filter.xml.in
Due: clang-format

build fixed
  CMakeLists.txt
Due: none

fixes
  CMakeLists.txt
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
Due: clang-format

chore: update VCPKG to use the latest TagLib version
  CMakeLists.txt
  src/test/taglibtest.cpp
  tools/android_buildenv.sh
  tools/macos_buildenv.sh
  tools/update_vcpkg.py
  tools/windows_buildenv.bat
Due: clang-format

chore: update CMake version to meet minimum Qt reqs
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

chore: change FFmpeg CMake module to match Qt's casing
  CMakeLists.txt
  cmake/modules/FindFFmpeg.cmake
Due: none

fixed compiler warning
  src/coreservices.cpp
  src/remote/remote.cpp
  src/remote/remote.h
Due: clang-format

fixup! feat(QML): add library settings
  src/qml/qmllibraryproxy.cpp
Due: clang-format

test
  src/remote/remote.h
Due: clang-format

test
  CMakeLists.txt
Due: none

Implement cpu pinning and cgroup cpuset support
  CMakeLists.txt
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/cpupinning.cpp
  src/util/cpupinning.h
Due: clang-format

isolate script: try using Performance governor (Linux only)
  tools/mixxx-isolate.py
Due: none

Add mixxx-isolate helper script
  CMakeLists.txt
  tools/mixxx-isolate.py
Due: none

cmake: print hint that cset allows CPU pinning
  CMakeLists.txt
Due: none

WIP tweak isolate script
  tools/mixxx-isolate.py
Due: none

fix effect of potential race condition with QuantizeControl #16320
  src/engine/controls/quantizecontrol.cpp
Due: clang-format

Fix wrong windows-arm condition in workflows Removed printing of the wrong cmake version (the really used one is printed in Configure step)
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
Due: none

Increase minimum required CMake version according Qt requirements
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

Adapt Antoines taglibtest fix from 4880a76dbb140b8ab52070f5057fb5170403eb3a
  src/test/taglibtest.cpp
Due: clang-format

Use latest 2.7 versions of the VCPKG buildenvs
  tools/android_buildenv.sh
  tools/macos_buildenv.sh
  tools/update_vcpkg.py
  tools/windows_buildenv.bat
Due: none

Rename FFMPEG to FFmpeg to match QtMultimedias requirements Remove lib prefix from FFmpeg CMake component names to match QtMultimedias requirements
  CMakeLists.txt
  cmake/modules/FindFFMPEG.cmake
  cmake/modules/FindFFmpeg.cmake
Due: none

Create FFmpeg imported targets FFmpeg::avcodec, FFmpeg::avformat, FFmpeg::avutil, FFmpeg::swresample, FFmpeg::swscale
  CMakeLists.txt
  cmake/modules/FindFFmpeg.cmake
Due: none

Unify CMake output of FFmpeg libraries to other libraries
  CMakeLists.txt
Due: none

fix: incorrect linking of previewdeck's playback_indicator
  res/controllers/Traktor-MX2-hid-scripts.js
Due: none

Add Single Effect Modes to Traktor MX2 Controller
  res/controllers/Traktor-MX2-hid-scripts.js
Due: none

feat: Pad Modes for Samplers (Patterns) + enh: improve preview handling:
  res/controllers/Traktor MX2.hid.xml
  res/controllers/Traktor-MX2-hid-scripts.js
Due: none

enh: Allow Mixer effects per channel like Traktor does by holding gfx_toggle while pressing gfx{0...4}
  res/controllers/Traktor-MX2-hid-scripts.js
Due: none

Add warning for master gain setting
  res/controllers/Traktor MX2.hid.xml
Due: none

Introduce kBeatGridAlpha for de-duplication
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Reqires that the generic overload is not an enum type
  src/preferences/configobject.h
Due: clang-format

Replace PortAudio API macros with QStringLiteral
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/portaudioenumerator.cpp
  src/soundio/portaudioenumerator.h
  src/soundio/sounddevicepipewire.cpp
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/soundio/soundmanagerconfig.cpp
  src/soundio/soundmanagerconfig.h
Due: clang-format

DlgTrackInfoMulti: add Find/Replace GUI for all string properties
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/library/dlgtrackinfomulti.ui
Due: clang-format

Add QComboBox to select PipeWire/PortAudio at startup time and make PipeWire builds optional
  CMakeLists.txt
  cmake/modules/FindPipeWire.cmake
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounddlg.ui
  src/soundio/networkenumerator.cpp
  src/soundio/networkenumerator.h
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
  src/soundio/portaudioenumerator.cpp
  src/soundio/portaudioenumerator.h
  src/soundio/sounddeviceenumerator.cpp
  src/soundio/sounddeviceenumerator.h
  src/soundio/sounddevicepipewire.cpp
  src/soundio/sounddevicepipewire.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/soundio/soundmanagerconfig.cpp
Due: clang-format

Handle PipeWire server restarts
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
Due: clang-format
