Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Pref Broadcast: move Metadata options below Stream Info options
  src/preferences/dialog/dlgprefbroadcastdlg.ui
Due: none

Pref Broadcast: disable Ogg checkbox if not relevant
  src/preferences/dialog/dlgprefbroadcast.cpp
Due: clang-format

Pref Waveform: keep dialog as narrow as possible
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: clang-format

Pref Recording: make file format options independent from encoder grids
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefrecorddlg.ui
Due: clang-format

Pref Controller: reduce minimum width of root page
  src/controllers/dlgprefcontrollersdlg.ui
Due: none

Pref Decks: remove meaning less sensitivity spinbox
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: clang-format

Sync Lock: prefer an existing soft leader if it is valid
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
  src/test/enginesynctest.cpp
Due: clang-format

Bump libc6 downgrade version
  .github/workflows/build-checks.yml
Due: none

Sync Lock: revert ability to set soft leader on stopped decks.
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

improve mixxx-libdjinterop definition
  CMakeLists.txt
Due: none

Add a workaround to inherit dependencies for 'CMakeFiles/mixxx-lib_autogen_timestamp_deps' with make.
  CMakeLists.txt
Due: none

Added engine.beginTimer tests
  src/test/controllerscriptenginelegacy_test.cpp
Due: clang-format

Improve comments
  src/engine/controls/bpmcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/sync/enginesync.cpp
Due: clang-format

Increase visual precision for FramePos during debug
  src/audio/frame.cpp
Due: clang-format

don't clone rate_ratio in case of SyncMode::Follower
  src/mixer/basetrackplayer.cpp
Due: clang-format

Fix TODO in EngineBufferScaleLinear
  src/engine/bufferscalers/enginebufferscalelinear.cpp
Due: clang-format

calculate the new localBpm for all channels after process() and before postPorcess()
  src/engine/channels/engineaux.h
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/channels/enginemicrophone.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemixer.cpp
Due: clang-format

Add disabled assertion for debugging purpose
  src/engine/controls/bpmcontrol.cpp
Due: clang-format

Let EngineBufferScaleLinear report read frames in double precision.
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalelinear.h
  src/engine/enginebuffer.cpp
Due: clang-format

Use imported target ZLIB::ZLIB
  CMakeLists.txt
Due: none

Remove unnecessary unpolish operation of the style, before polish the new style
  src/widget/controlwidgetconnection.cpp
  src/widget/wcolorpicker.cpp
  src/widget/wpushbutton.cpp
  src/widget/wwidgetgroup.cpp
Due: clang-format

Copy the channel to clone from via load track to avoid a false seek after track is loaded
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/mixer/basetrackplayer.cpp
Due: clang-format

Set FrameInfo first. This fixes dealing with old data when calculating the bpm after track load.
  src/engine/enginebuffer.cpp
Due: clang-format

Reworked soft takeover for amount knob
  res/controllers/Reloop-Mixage.midi.xml
  res/controllers/Reloop-Mixage.scripts.js
Due: none

Fix attack & release
  src/effects/backends/builtin/compressoreffect.cpp
Due: clang-format

Replace not defined CO name pitch_reset by pitch_set_default
  res/controllers/Hercules-DJ-Console-RMX-hid-scripts.js
Due: none

Fix transient BPM values, indicating wrong a wrong tempo
  src/engine/controls/bpmcontrol.cpp
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

Improve comments
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

Beats: Add method to get the iterator to a beat close to a position
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

Beats: Add initial read-only support for downbeats
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

BpmControl: Add Beats editing controls
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/skin/legacy/tooltips.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

WaveformRenderBeat: Add support for rendering downbeats
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrenderbeat.h
Due: clang-format

LateNight: Set downbeat color in skin.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/waveform.xml
Due: none

WaveformRenderBeat: Pass QVector directly to `drawLines()`
  src/waveform/renderers/waveformrenderbeat.cpp
Due: clang-format

LateNight: Add buttons for setting/removing beats markers [WIP]
  res/skins/LateNight/palemoon/buttons/btn__beats_remove_marker.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_remove_marker_active.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_set_marker.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_set_marker_active.svg
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
Due: qsscheck

Show markers on waveforms [WIP]
  res/skins/LateNight/skin.xml
  res/skins/LateNight/waveform.xml
  src/track/beats.h
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrenderbeat.h
Due: clang-format

Allow to place an automatic set transition into the prerole
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

Keep PCH always enabled on Windows, diable it on Linux/macOS
  CMakeLists.txt
Due: none

Enable precompiled headers on Linux if no ccache is found
  CMakeLists.txt
Due: none
