Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

fix freeze when loading a new track while scratching with waveform or spinny
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
Due: clang-format

(fix) Avoid engine freeze when loading a new track while scratching with waveform or spinny
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
Due: clang-format

Library: make scan report optional (opt-out)
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Due: clang-format

Library scanner: find renamed files
  src/library/dao/trackdao.cpp
Due: clang-format

Support registering MIDI input handlers from ComponentsJS
  res/controllers/midi-components-0.0.js
Due: none

TrackTableView_Delegate
  CMakeLists.txt
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dlgtrackinfo.h
  src/library/tabledelegates/genredelegate.cpp
  src/library/tabledelegates/genredelegate.h
Due: clang-format

DEBUG Crash after tablet event
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Due: clang-format

Improve zsh compatibility when detecting the current working tree directory.
  tools/macos_buildenv.sh
Due: none

Retire Ubuntu Oracular 24.10
  CMakeLists.txt
Due: none

genredao
  CMakeLists.txt
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/tabledelegates/genredelegate.cpp
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

Traktor S2 Mk1: Fix effect light on application start
  res/controllers/Traktor-Kontrol-S2-MK1-hid-scripts.js
Due: none

genredao_correction
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
  src/library/dao/playlistdao.h
Due: clang-format

genredao_correction
  src/library/basesqltablemodel.cpp
Due: clang-format

genredao_correction
  src/library/basesqltablemodel.cpp
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
Due: clang-format

genredao_correction
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/dao/genredao.cpp
  src/library/tabledelegates/genredelegate.cpp
  src/library/tabledelegates/genredelegate.h
Due: clang-format

genredao_correction
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
  src/library/tabledelegates/genredelegate.cpp
Due: clang-format

genredao_dlgtrackinfomulti
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/widget/wtrackmenu.cpp
Due: clang-format

genredao_dlgtrackinfomulti_correction
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfomulti.cpp
Due: clang-format

genredao_dlgtrackinfomulti_correction
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
Due: clang-format

single dialog property
  CMakeLists.txt
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/widget/wgenretaginput.cpp
  src/widget/wgenretaginput.h
  src/widget/wtrackmenu.cpp
Due: clang-format

ci: Fix empty pathspec error in sync-branches workflow
  .github/workflows/sync_branches.yml
Due: none

Update Translation template. Found 3228 source text(s) (7 new and 3221 already existing)
  res/translations/mixxx.ts
Due: ts-source-copy

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-6/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_ca.qm
  res/translations/mixxx_ca.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
Due: ts-source-copy

Update Translation template. Found 3235 source text(s) (10 new and 3225 already existing)
  res/translations/mixxx.ts
Due: ts-source-copy

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-7/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_ca.qm
  res/translations/mixxx_ca.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_nl.qm
  res/translations/mixxx_nl.ts
Due: ts-source-copy

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_ca.qm
  res/translations/mixxx_ca.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
Due: ts-source-copy

remove no longer maintained fr_CA and fr_CI languages
  res/translations/mixxx_fr_CA.qm
  res/translations/mixxx_fr_CA.ts
  res/translations/mixxx_fr_CI.qm
  res/translations/mixxx_fr_CI.ts
Due: ts-source-copy

genredao_dlgtrackinfomulti_genre_add_button
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.ui
Due: clang-format

Add missing tr() for translated tooltips
  src/skin/legacy/tooltips.cpp
Due: clang-format

(fix) prevent crash with null track pointer
  src/library/dlgtrackinfomulti.cpp
  src/widget/wtrackmenu.cpp
Due: clang-format

(fix) make Track Info dialog fit screen by putting Summary into a QScrollArea
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
Due: clang-format

Search: add filter shortcuts, eg. t|title, a|artist, cm|comment, y|year
  src/library/searchqueryparser.cpp
Due: clang-format

Search: add constant BPM filter `bpm:const`
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackschema.h
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/library/searchqueryparser.cpp
  src/library/trackset/tracksettablemodel.cpp
Due: clang-format

clone&adapt_trackset_crate
  CMakeLists.txt
  res/images/library/ic_library_genres.svg
  res/mixxx.qrc
  res/schema.xml
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dao/genredao.cpp
  src/library/dao/genredao.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfomulti.cpp
  src/library/library.cpp
  src/library/library.h
  src/library/tabledelegates/genredelegate.cpp
  src/library/tabledelegates/genredelegate.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackmodel.h
  src/library/trackset/genre/genre.h
  src/library/trackset/genre/genrefeature.cpp
  src/library/trackset/genre/genrefeature.h
  src/library/trackset/genre/genrefeaturehelper.cpp
  src/library/trackset/genre/genrefeaturehelper.h
  src/library/trackset/genre/genreid.h
  src/library/trackset/genre/genreschema.h
  src/library/trackset/genre/genrestorage.cpp
  src/library/trackset/genre/genrestorage.h
  src/library/trackset/genre/genresummary.h
  src/library/trackset/genre/genretablemodel.cpp
  src/library/trackset/genre/genretablemodel.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/tabledelegates/genredelegate.cpp
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/trackcollection.cpp
Due: clang-format

clone&adapt_trackset_crate_correction
  src/library/tabledelegates/genredelegate.h
Due: clang-format
