Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Fixed line length formatting
  src/library/traktor/traktorfeature.cpp
Due: clang-format

Library: Fixed playlist name incorrectly used as path for importing
  src/library/baseexternallibraryfeature.cpp
Due: clang-format

Library: Line length fixes
  src/library/baseexternallibraryfeature.cpp
Due: clang-format

Library: Made a local variable explicitly const
  src/library/baseexternallibraryfeature.cpp
Due: clang-format

expose track info
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Due: clang-format

Tracks view: use pemanent header (don't recreate on every model change)
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Due: clang-format

Tracks view: handle the header's sort signals only if sorting is enabled
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
Due: clang-format

Tracks view header: make menu a parented_ptr, consolidate reset functions
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Due: clang-format

fixup! TRACE TrackView::loadTrackModel(), Header::setModel() etc., BaseSqlTabelModel::select()
  src/library/basesqltablemodel.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
Due: clang-format

Code correction
  res/controllers/Numark-MixstreamPro-scripts.js
Due: none

Fix Unittest on Launchpad by partially reverting #15656
  .github/workflows/checks.yml
  CMakeLists.txt
Due: none

Pioneer DDJ-FLX4: Implement KeyShift mode
  res/controllers/Pioneer-DDJ-FLX4-script.js
  res/controllers/Pioneer-DDJ-FLX4.midi.xml
Due: none

Address notes: * clamp values to sane min and max * use shift+master-long-press to toggle per-deck relative setting
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Pioneer DDJ-FLX4: Use int-rounded pitch shift value to change pad lights
  res/controllers/Pioneer-DDJ-FLX4-script.js
Due: none

BrowseFeature: stop model population when switching to another feature
  src/library/browse/browsetablemodel.h
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
  src/library/trackmodel.h
  src/widget/wtracktableview.cpp
Due: clang-format

BrowseFeature: keep scroll position / relative selection while updating
  src/library/browse/browsefeature.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/browse/browsetablemodel.h
Due: clang-format

fix(QML): correctly handle path validation for waveform marker
  src/qml/qmlwaveformrenderer.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermarkbase.h
Due: clang-format

ci(ANdroid): update cache before installing deps
  tools/android_buildenv.sh
Due: none

ci(Android): update cache before installing deps
  tools/android_buildenv.sh
Due: none

chore(CI): factorise CMake build option and remove redundant job
  .github/workflows/build.yml
  .github/workflows/checks.yml
Due: none

feat: add QML UiTest
  .github/workflows/build.yml
  .github/workflows/develop.yml
  CMakeLists.txt
  src/test/main.cpp
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
  src/test/qml/servertest.cpp
  src/test/qml/servertest.h
Due: clang-format

fix(rendergraph): disable QShader for GL on Qt 6.6
  src/rendergraph/CMakeLists.txt
Due: none

chore(test): add a basic UI test
  CMakeLists.txt
  res/qml/main.qml
  src/test/qml/basic_test.cpp
Due: clang-format

fix(library): remove library folder prompt on empty source list if in developer mode
  src/coreservices.cpp
Due: clang-format

fix (typo) : Incorrect name in CDJ-350 controller mapping
  res/controllers/Pioneer CDJ-350 Ch1.midi.xml
Due: none

BasetrackCache: fix false positive tracks results when using extra filter
  src/library/analysis/analysislibrarytablemodel.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetrackcache.cpp
Due: clang-format

Traktor S4MK3: New preference for FX button order
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

S4 Mk3: add option to stop scratching on hotcue press
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

S4 Mk3: add option for different scratch modes and wheel/LED sync
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Add Didier Malenfant to the contributor list in the Mixxx about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Rene E to the contributor list in the Mixxx about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Owen Turnbull to the contributor list in the Mixxx about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

BrowseFeature: pass only valid paths to BrowseThread
  src/library/browse/browsetablemodel.cpp
Due: clang-format

Update Changelog for 2.5.4
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Clean up control flow in test/main.cpp
  src/test/main.cpp
Due: clang-format

Update Translation template. Found 3132 source text(s) (2 new and 3130 already existing)
  res/translations/mixxx.ts
Due: ts-source-copy

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx-2.5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_ca.qm
  res/translations/mixxx_ca.ts
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_gl.qm
  res/translations/mixxx_gl.ts
Due: ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
