Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

use a common find_package(Shout) and put target_link_libraries to the else branch
  CMakeLists.txt
Due: none

Import cue points in-place
  src/track/cueinfoimporter.cpp
Due: clang-format, line-length

actually link against internal shout_mixxx
  CMakeLists.txt
Due: none

Use btn_beatloop for effects, since the hotcue button is now transparent
  res/skins/Shade/btn/btn_beatloop_3.png
  res/skins/Shade/btn/btn_beatloop_3_down.png
  res/skins/Shade/btn/btn_beatloop_3_over.png
  res/skins/Shade/btn/btn_beatloop_3_overdown.png
  res/skins/Shade/deck_effect.xml
  res/skins/Shade/effectslotsmall.xml
Due: none

master sync: prevent setting explicit master to stopped decks
  res/skins/LateNight/deck_rate_controls.xml
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format, line-length

Reduce log spam
  src/controllers/colormapper.cpp
Due: clang-format, line-length

Fix uninitialized return value in ColorMapper
  src/controllers/colormapper.cpp
Due: clang-format, line-length

Remove redundant text from log messages
  src/controllers/colormapper.cpp
Due: clang-format, line-length

Add debug assertion for unreachable code
  src/controllers/colormapper.cpp
Due: clang-format, line-length

add 'active' property to WSearchLineEdit
  src/widget/wsearchlineedit.h
Due: clang-format, line-length

EffectManifestParameter: remove unused functions
  src/effects/backends/effectmanifestparameter.h
Due: clang-format, line-length

add ControlObjects for shifting cue points
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/track/cue.cpp
  src/track/cue.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format, line-length

Perform a basic read test when opening an audio source
  src/sources/audiosource.cpp
  src/sources/audiosource.h
  src/sources/soundsourceproxy.cpp
Due: clang-format, line-length

Tango: ugly proof-of-concept for cue timing shift buttons
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
Due: qsscheck

i18: Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-3/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_nl-BE.qm
  res/translations/mixxx_nl-BE.ts
Due: none

i18n: Update translation template. Found 2518 source text(s) (2 new and 2516 already existing). Removed 3 obsolete entries
  res/translations/mixxx.ts
Due: none

i18n: Add Maori (mi-NZ) to the list of available languages
  res/mixxx.qrc
Due: none

Fix copy&paste error
  src/controllers/colormapper.cpp
Due: clang-format, line-length

Delete redundant code
  src/track/serato/markers2.cpp
Due: clang-format, line-length

Parse and dump Serato Markers2 as base64 encoded string
  src/test/seratomarkers2test.cpp
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
Due: clang-format, line-length

Delete unused QDataStream version
  src/track/serato/markers.cpp
  src/track/serato/markers2.cpp
Due: clang-format, line-length

track/serato/markers2: Fix insertion of version signature
  src/track/serato/markers2.cpp
Due: clang-format, line-length

track/serato/markers2: Fix padding issue
  src/track/serato/markers2.cpp
Due: clang-format, line-length

Import and export Serato markers as Xiph/Vorbis file tags
  src/track/serato/tags.h
  src/track/taglib/trackmetadata_common.cpp
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_xiph.cpp
Due: clang-format, line-length

Import and export Serato markers as MP4 file tags
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.cpp
  src/track/serato/tags.h
  src/track/taglib/trackmetadata_common.cpp
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
Due: clang-format, line-length

test/serato: Add test data for MP4 Markers2 tag and adapt tests
  src/test/serato/data/mp4/markers2/analyzed.octet-stream
  src/test/serato/data/mp4/markers2/bpmlock.octet-stream
  src/test/serato/data/mp4/markers2/hotcues-and-loops.octet-stream
  src/test/serato/data/mp4/markers2/track-color-993333.octet-stream
  src/test/seratomarkers2test.cpp
Due: clang-format, line-length

pre-commit: Ignore test data
  .pre-commit-config.yaml
Due: none

sources/metadatasourcetaglib: Pass filetype to Xiph import/export methods
  src/sources/metadatasourcetaglib.cpp
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/taglib/trackmetadata_xiph.h
Due: clang-format, line-length

track/serato/markers2: Add base64encode helper function
  src/track/serato/markers2.cpp
Due: clang-format, line-length

track/serato/markers2: Improve common parse method and add dumpCommon
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
Due: clang-format, line-length

track/serato/markers2: Move some shared code into parseCommon method
  src/track/serato/markers2.cpp
  src/track/serato/markers2.h
Due: clang-format, line-length

track/serato/markers: Return empty encoded byte array if payload if empty
  src/track/serato/markers.cpp
Due: clang-format, line-length

src/test/serato: Test empty tags data with multiple filetypes
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
Due: clang-format, line-length

track/serato/tags: Use doxygen-style comment for SeratoTags class
  src/track/serato/tags.h
Due: clang-format, line-length

Add debug output for failing tests
  src/test/seratomarkers2test.cpp
  src/test/seratomarkerstest.cpp
Due: clang-format, line-length

test/serato: Add some basic Markers2 FLAC tests and sample data
  src/test/serato/data/flac/markers2/analyzed.octet-stream
  src/test/serato/data/flac/markers2/bpmlock.octet-stream
  src/test/serato/data/flac/markers2/track-color-993333.octet-stream
  src/test/seratomarkers2test.cpp
Due: clang-format, line-length

track/serato/markers2: Fix encoding in dumpBase64Encoded()
  src/track/serato/markers2.cpp
Due: clang-format, line-length

test/seratomarkers2test: Dump failed test output for easier debugging
  src/test/seratomarkers2test.cpp
Due: clang-format, line-length
