Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

Update res/controllers/Numark-NS4FX-scripts.js
  res/controllers/Numark-NS4FX-scripts.js
Due: none

Browse feature: use parented_ptr, forward-declare, rm unused includes
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
Due: clang-format

Browse feature: remove TODO, add comment
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: use Library model when path is watched (in library)
  CMakeLists.txt
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/browse/browsetablemodel.cpp
  src/library/librarytablemodel.cpp
  src/library/librarytablemodel.h
Due: clang-format

Browse feature: add library view comment to rescan dialog
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: decorate watched path items
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.cpp
  src/library/treeitem.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

Browse feature: add symlink map, update that and `watched` flag when library directories change
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/library.cpp
  src/library/library.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

debug/trace
  src/library/browse/browsefeature.cpp
  src/library/browse/browselibrarytablemodel.cpp
Due: clang-format

S4 Mk3: add options for different scratch modes
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Adding configurable pregain threshold for broadcasting
  .gitignore
  src/mixer/playerinfo.cpp
  src/mixer/playerinfo.h
  src/preferences/broadcastprofile.cpp
  src/preferences/broadcastprofile.h
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefbroadcastdlg.ui
Due: clang-format

Track: emit bpmLockChanged when updating TrackRecord so `bpmlock` control is also updated
  src/engine/controls/bpmcontrol.cpp
  src/track/track.cpp
Due: clang-format

Library scanner: clear fs_deleted only for files still on disk
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscanner.h
  src/library/scanner/recursivescandirectorytask.cpp
  src/library/scanner/scannertask.h
  src/library/trackcollection.h
  src/test/trackdao_test.cpp
Due: clang-format

Try apostrophes and right single quotation marks
  src/library/searchqueryparser.cpp
Due: clang-format

Added good detailed comment for non obvious isPlaying method
  src/engine/sync/abletonlink.cpp
Due: clang-format

Change destruction order in AbletonLink destructor Destroy m_pLink before control objects
  src/engine/sync/abletonlink.cpp
Due: clang-format

fixup! QML: add waveform setting and option proxy
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformrenderer.cpp
Due: clang-format

Add ICU collation
  CMakeCache.txt
  CMakeFiles/cmake.check_cache
  CMakeLists.txt
  src/library/searchquery.cpp
Due: clang-format

fixup! fix(QML): correctly handle path validation for waveform marker
  src/qml/qmlwaveformrenderer.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermarkbase.h
Due: clang-format

Add opt-in Bungee petrify debug mode
  CMakeLists.txt
  docs/bungee-integration.md
Due: none

BNG-15/16: seed Bungee defaults and refresh prefs UI
  CMakeLists.txt
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/settingsmanager.cpp
  src/test/settingsmanager_test.cpp
Due: clang-format

BNG-13: buffer-window regression test + ASan CI
  .github/workflows/bungee-asan.yml
  src/engine/bufferscalers/enginebufferscalebungee.h
  src/test/enginebufferscalebungeetest.cpp
Due: clang-format

docs/bungee-integration: BNG-14 post-fix review pass
  docs/bungee-integration.md
Due: none

docs(bungee): dependency integration plan and BNG-17..24 execution tickets
  docs/plans/bungee-dependency-integration/00-current-state.md
  docs/plans/bungee-dependency-integration/01-upstream-bungee.md
  docs/plans/bungee-dependency-integration/02-vcpkg-buildenv.md
  docs/plans/bungee-dependency-integration/03-mixxx-cmake.md
  docs/plans/bungee-dependency-integration/04-packaging-ci.md
  docs/plans/bungee-dependency-integration/05-validation-and-pr-strategy.md
  docs/plans/bungee-dependency-integration/06-branch-ci-discipline.md
  docs/plans/bungee-dependency-integration/07-execution-tickets.md
  docs/plans/bungee-dependency-integration/HANDOFF.md
  docs/plans/bungee-dependency-integration/README.md
  docs/plans/bungee-dependency-integration/bng-18-version-matrix.md
  docs/plans/bungee-dependency-integration/maintainer-questions.md
  docs/tasks/.pi/.ticket.lock
  docs/tasks/done/BNG-17.md
  docs/tasks/done/BNG-18.md
  docs/tasks/done/BNG-19.md
  docs/tasks/done/BNG-20.md
  docs/tasks/index.yaml
  docs/tasks/open/BNG-21.md
  docs/tasks/open/BNG-22.md
  docs/tasks/open/BNG-23.md
  docs/tasks/open/BNG-24.md
  docs/tasks/transitions.jsonl
Due: none

build(bungee): normalize CMake dependency discovery to Bungee::Bungee (BNG-19)
  CMakeLists.txt
  cmake/modules/FindBungee.cmake
Due: none

build(bungee): add in-tree vcpkg overlay port for Bungee (BNG-20 Option C)
  CMakeLists.txt
  cmake/vcpkg-overlay-ports/bungee/README.md
  cmake/vcpkg-overlay-ports/bungee/assert-win32-compat.patch
  cmake/vcpkg-overlay-ports/bungee/cmake-use-vcpkg-deps-and-install-layout.patch
  cmake/vcpkg-overlay-ports/bungee/pffft-include-path.patch
  cmake/vcpkg-overlay-ports/bungee/portfile.cmake
  cmake/vcpkg-overlay-ports/bungee/resample-msvc-noinline.patch
  cmake/vcpkg-overlay-ports/bungee/unofficial-bungee-config.cmake
  cmake/vcpkg-overlay-ports/bungee/usage
  cmake/vcpkg-overlay-ports/bungee/vcpkg.json
Due: none

build(bungee): ExternalProject_Add source-fetch fallback (BNG-21)
  CMakeLists.txt
  cmake/patches/bungee/apply-patches.cmake
  cmake/patches/bungee/lower-cmake-minimum.patch
  docs/tasks/done/BNG-21.md
  docs/tasks/index.yaml
  docs/tasks/transitions.jsonl
Due: none

docs(bungee): split BNG-23 into BNG-25..28 (+BNG-29 deferred)
  docs/tasks/index.yaml
  docs/tasks/open/BNG-22.md
  docs/tasks/open/BNG-23.md
  docs/tasks/open/BNG-24.md
  docs/tasks/open/BNG-25.md
  docs/tasks/open/BNG-26.md
  docs/tasks/open/BNG-27.md
  docs/tasks/open/BNG-28.md
  docs/tasks/open/BNG-29.md
Due: none

Remove unnecessary kDefaultBpm. m_oldTempo now uses default Bpm initialization (kValueUndefined = 0.0) instead of arbitrary 9999.9 value.
  src/engine/sync/abletonlink.cpp
Due: clang-format

Search: fix 'dateadded' filter, also try custom user format, fix baseyear
  src/library/basetracktablemodel.h
  src/library/searchquery.cpp
Due: clang-format

add DateFormatChangedBroadcaster to force-update track table views
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/dateformatbroadcaster.cpp
  src/library/dateformatbroadcaster.h
  src/library/library.cpp
  src/test/librarytest.cpp
Due: clang-format

TRACE date search filter
  src/library/searchquery.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
Due: clang-format

build(bungee): add Eigen3 + pffft ExternalProject_Add targets (BNG-25)
  CMakeLists.txt
  cmake/patches/pffft/CMakeLists.txt.in
  docs/tasks/done/BNG-25.md
  docs/tasks/index.yaml
  docs/tasks/transitions.jsonl
Due: none

fixup! QML: add controller setting proxy
  CMakeLists.txt
Due: none

build(bungee): wire Eigen3 + pffft into bungee_external (BNG-26)
  CMakeLists.txt
  cmake/patches/pffft/CMakeLists.txt.in
  docs/tasks/done/BNG-26.md
  docs/tasks/index.yaml
  docs/tasks/transitions.jsonl
Due: none

feat(BNG): BNG-27
  docs/tasks/done/BNG-27.md
  docs/tasks/index.yaml
  docs/tasks/transitions.jsonl
  packaging/flatpak/modules/bungee.yaml
  packaging/flatpak/modules/eigen3.yaml
  packaging/flatpak/modules/pffft.yaml
  packaging/flatpak/org.mixxx.Mixxx.yaml
Due: none

ci(BNG): BNG-28
  .github/workflows/bungee-asan.yml
  docs/tasks/done/BNG-28.md
  docs/tasks/index.yaml
  docs/tasks/transitions.jsonl
Due: none

docs(BNG): BNG-24
  docs/plans/bungee-dependency-integration/pr-description.md
  docs/tasks/done/BNG-23.md
  docs/tasks/done/BNG-24.md
  docs/tasks/index.yaml
  docs/tasks/transitions.jsonl
Due: none

Playlists: add 'Prep' playlist, add controls to add track from deck or library
  res/mixxx.qrc
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

Prep playlist: add sidebar hotkey Alt+P to set/unset the Prep playlist
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format
