Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

# _anlz.h/_pdb.h: Header files generated by Kaitai Struct
exclude: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/codespell-project/codespell
  rev: f7f304cb40596e4706be27ca44d1401396a97420
  hooks:
  - id: codespell
    # ignore-regex is substituted by ' '
    entry: tools/codespell.py --ignore-file .codespellignore --ignore-regex "\\W(?:m_p*(?=[A-Z])|m_(?=\\w)|pp*(?=[A-Z])|k(?=[A-Z])|s_(?=\\w))" --files
    exclude: ^(\.codespellignore|src/dialog/dlgabout\.cpp|.*\.(?:pot?|ts|wxl))$
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v7.11.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    description: "Run clang-format in two passes (reformat, then break long lines)"
    entry: tools/clang_format.py
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$
- repo: https://github.com/psf/black
  rev: stable
  hooks:
  - id: black
    files: ^tools/.*$
- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.4'
  hooks:
  - id: flake8
    files: ^tools/.*$
    types: [text, python]
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./tools/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - manual

make cmake build type individual per target and
  .github/workflows/build.yml
Due: none

Remove not working CMAKE_MSVC_RUNTIME_LIBRARY
  CMakeLists.txt
Due: none

Link against pthread on windows
  lib/libshout-idjc/CMakeLists.txt
Due: none

Back to release
  .github/workflows/build.yml
Due: none

Corrected error handling for returned bytesRead value
  src/controllers/hid/hidcontroller.cpp
Due: clang-format

Extracted buffering and de-duplicating code for input reports into a private member function
  CMakeLists.txt
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hidcontroller.h
Due: clang-format

SoundSourceFFmpeg: Use av_make_q to fix build errors on MSVC
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Logging: Add missing newline in logrotate error message
  src/util/logging.cpp
Due: clang-format

Remove unused code
  packaging/CPackDebUploadPPA.cmake
Due: none

Added lost mixxx.manpage to install the manpage.
  packaging/debian/mixxx.manpages
Due: none

move docbook-to-man call to cmake file
  packaging/CPackDebUploadPPA.cmake
  packaging/debian/rules
Due: none

use override_dh_installudev to preserve default order of dh_calls
  packaging/debian/rules
Due: none

Fix realtime hint
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Add Grantlee lib to dependencies
  CMakeLists.txt
  cmake/modules/FindGrantlee.cmake
Due: none

Major track export overhaul
  src/library/export/dlgtrackexport.ui
  src/library/export/trackexportdlg.cpp
  src/library/export/trackexportdlg.h
  src/library/export/trackexportwizard.cpp
  src/library/export/trackexportwizard.h
  src/library/export/trackexportworker.cpp
  src/library/export/trackexportworker.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratesummary.h
  src/test/trackexport_test.cpp
  src/test/trackexport_test.h
  src/track/track.h
  src/track/trackfile.h
  src/util/formatter.cpp
  src/util/formatter.h
Due: clang-format

Use the the last right click selected playlist, not the current
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

fix: fix midi address for sampler play led
  res/controllers/Behringer-DDM4000-scripts.js
Due: none

feat: use loop instead of repeat for sampler loop mode
  res/controllers/Behringer-DDM4000-scripts.js
Due: none

Add libgrantlee5-dev to debian build env
  packaging/debian/control.in
  tools/debian_buildenv.sh
Due: none

Remove empty lines at the end to the XML file for G4V controller.
  res/controllers/Gemini-G4V.midi.xml
Due: none

Revert search clear button focus change
  src/widget/wsearchlineedit.cpp
Due: clang-format

Remove obsolete linter header Remove forgotten conflict marker
  res/controllers/Gemini-G4V-scripts.js
Due: none

Logging: Fix wrong usage of QDir() when disabling log to file
  src/mixxx.cpp
  src/test/mixxxtest.cpp
  src/util/logging.cpp
  src/util/logging.h
Due: clang-format

Logging: Use lightweight QString instead of QDir
  src/database/mixxxdb.cpp
  src/sources/soundsourceopus.cpp
  src/test/mixxxtest.cpp
  src/util/logging.cpp
  src/util/logging.h
Due: clang-format

Fix build problems
  CMakeLists.txt
  cmake/modules/FindGrantlee.cmake
Due: none

Make Key a Q_GADGET and add string properties for formatting
  src/track/keys.cpp
  src/track/keys.h
  src/track/track.h
Due: clang-format

Use index for position index and dup for duplication counter
  src/library/export/trackexportworker.cpp
  src/library/export/trackexportworker.h
  src/test/trackexport_test.cpp
Due: clang-format

GitHub Actions: Remove "Set up cmake" build step
  .github/workflows/build.yml
Due: none

Add support for exporting files from context menu
  src/library/export/trackexportdlg.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktext.cpp
  src/widget/wtrackwidgetgroup.cpp
Due: clang-format

Make beatgrid lock symbol a toggle button.
  res/skins/Deere/deck_text_row.xml
  res/skins/Deere/style.qss
  src/controllers/controlpickermenu.cpp
  src/skin/tooltips.cpp
Due: clang-format, qsscheck

Export crate summary into file exporter context
  CMakeLists.txt
  src/library/export/trackexportdlg.cpp
  src/library/export/trackexportdlg.h
  src/library/export/trackexportworker.cpp
  src/library/export/trackexportworker.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratesummary.cpp
  src/library/trackset/crate/cratesummary.h
  src/widget/wtrackmenu.cpp
Due: clang-format

Add render function which does not escape html characters
  src/library/export/trackexportworker.cpp
  src/util/formatter.cpp
  src/util/formatter.h
Due: clang-format

Added hirsute
  CMakeLists.txt
Due: none

Enable m4a encoding for PPA builds
  packaging/CPackDebUploadPPA.cmake
  packaging/debian/control.in
Due: none

Reword and move comments
  src/sources/soundsourceproxy.cpp
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Due: clang-format

Add TODO for a suggested redesign and refactoring
  src/track/trackrecord.h
Due: clang-format

Fix file extensions during recording.
  src/encoder/encoder.cpp
  src/encoder/encoder.h
  src/preferences/dialog/dlgprefrecord.cpp
  src/recording/recordingmanager.cpp
Due: clang-format

Generate Debug Infor during workflow builds.
  .github/workflows/build.yml
Due: none

Remove install path dependency from Linux builds
  CMakeLists.txt
  src/preferences/configobject.cpp
Due: clang-format
