Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Happy new year 2025
  LICENSE
  packaging/debian/copyright
  packaging/wix/LICENSE.rtf.in
Due: none

Remove redundant license header from Find*.cmake files The global LICENSE file covers them.
  cmake/modules/FindChromaprint.cmake
  cmake/modules/FindDjInterop.cmake
  cmake/modules/FindEbur128.cmake
  cmake/modules/FindFLAC.cmake
  cmake/modules/FindG72X.cmake
  cmake/modules/FindGPerfTools.cmake
  cmake/modules/FindHSS1394.cmake
  cmake/modules/FindID3Tag.cmake
  cmake/modules/FindKeyFinder.cmake
  cmake/modules/FindLibUSB.cmake
  cmake/modules/FindLibudev.cmake
  cmake/modules/FindMAD.cmake
  cmake/modules/FindMP4.cmake
  cmake/modules/FindMP4v2.cmake
  cmake/modules/FindModplug.cmake
  cmake/modules/FindOgg.cmake
  cmake/modules/FindOpus.cmake
  cmake/modules/FindOpusFile.cmake
  cmake/modules/FindPortAudio.cmake
  cmake/modules/FindPortMidi.cmake
  cmake/modules/FindShoutidjc.cmake
  cmake/modules/FindSleef.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/FindSoundTouch.cmake
  cmake/modules/FindTagLib.cmake
  cmake/modules/FindUpower.cmake
  cmake/modules/FindVorbis.cmake
  cmake/modules/Findhidapi.cmake
  cmake/modules/Findlilv.cmake
  cmake/modules/Findmp3lame.cmake
  cmake/modules/Findrubberband.cmake
  cmake/modules/Findserd.cmake
  cmake/modules/Findsord.cmake
  cmake/modules/Findwavpack.cmake
  cmake/modules/Findzix.cmake
Due: none

(fix) Latenight64: Allow waveform resizing.
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/LateNight (64 Samplers)/skin.xml
Due: changelog, metainfo

Bump version to 2.5.1
  CMakeLists.txt
Due: none

feat: auto detect the ShareDataAPI
  res/controllers/Traktor Kontrol S4 MK3.bulk.xml
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/TraktorKontrolS4MK3Screens/S4MK3/AdvancedScreen.qml
  res/controllers/TraktorKontrolS4MK3Screens/S4MK3/AdvancedScreen/DeckScreen.qml
  res/controllers/TraktorKontrolS4MK3Screens/S4MK3/AdvancedScreen/ViewModels/DeckInfo.qml
  res/controllers/TraktorKontrolS4MK3Screens/S4MK3/StockScreen.qml
Due: qmllint

chore: add missing global in ESlint
  eslint.config.cjs
Due: none

fixup! feat: store tracklist as tag comment on recording
  src/encoder/encoder.cpp
  src/encoder/encoder.h
  src/encoder/encodermp3.cpp
Due: clang-format

Update debian changelog
  packaging/debian/changelog
Due: none

Welcome Ubuntu questing
  CMakeLists.txt
Due: none

Keep - to prefere ppa versions over debian builds +dfsg
  packaging/CPackConfig.cmake
Due: none

Add an +r for revision which is greater that the +dfsg
  packaging/CPackConfig.cmake
Due: none

X11-less - Use FindWrapOpenGL
  CMakeLists.txt
  src/util/screensaver.cpp
Due: clang-format

Release 2.5.1
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Clean up https://downloads.mixxx.org/snapshots/
  .github/workflows/download_cleanup.yml
Due: none

Support the Icon P1-Nano controller
  res/controllers/Icon-P1Nano-scripts.js
  res/controllers/Icon-P1Nano.midi.xml
Due: none

Add some basic (currently unused) touch screen buttons
  res/controllers/Icon-P1Nano-scripts.js
  res/controllers/Icon-P1Nano.midi.xml
Due: none

P1Nano: Swap position of decks/controls on screen
  res/controllers/Icon-P1Nano-scripts.js
Due: none

P1Nano: allow blinking BPM tap LED on beat
  res/controllers/Icon-P1Nano-scripts.js
  res/controllers/Icon-P1Nano.midi.xml
Due: none

fixup! feat: store tracklist as tag comment on recording
  src/encoder/encodermp3.cpp
Due: clang-format

xwax: Add timecode definitions for Traktor MK2
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Add needed filter structures
  CMakeLists.txt
  lib/xwax/filters.c
  lib/xwax/filters.h
Due: none

xwax: Push samples into the delayline
  CMakeLists.txt
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Implement a ring buffer as delayline
  lib/xwax/delayline.c
  lib/xwax/delayline.h
  lib/xwax/timecoder.h
Due: none

xwax: Compute the RMS value
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Implement pitch detection for Traktor MK2
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Implement demodulation functions for Traktor MK2
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Improve accuracy of the pitch filter coefficients
  lib/xwax/pitch.h
Due: none

Update Changelog for 2.6-beta
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Remove Uwe Klotz from the past developer list, since he is on the recent list.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Lubosz Sarnecki to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add more layers to Twister bindings
  res/controllers/DJ TechTools MIDI Fighter Twister.midi.xml
  res/controllers/DJ TechTools-MIDI Fighter Twister-scripts.js
Due: none

Add support for Arturia KeyLab Mk1
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

Document KeyLab USB details in XML file
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

KeyLab: rework drum pads to be configurable
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
  res/controllers/ArturiaKeyLab.midi.xml
Due: none

KeyLab: cleanup setting menu options
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

KeyLab: update stop button to be the cue button
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

keylab: address review feedback
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

KeyLab: factor out the layer mapping code
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

KeyLab: only show layer on screen on button press
  res/controllers/Arturia-KeyLab-Mk1-scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
