Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

# _anlz.h/_pdb.h: Header files generated by Kaitai Struct
exclude: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: fix-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
    exclude: ^\.clang-format$
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/codespell-project/codespell
  rev: v1.17.1
  hooks:
  - id: codespell
    # ignore-regex is substituted by ' '
    entry: tools/codespell.py --ignore-file .codespellignore --ignore-regex "\\W(?:m_p*(?=[A-Z])|m_(?=\\w)|pp*(?=[A-Z])|k(?=[A-Z])|s_(?=\\w))" --files
    exclude: ^(\.codespellignore|src/dialog/dlgabout\.cpp|.*\.(?:pot?|ts|wxl))$
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v7.12.1
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    description: "Run clang-format in two passes (reformat, then break long lines)"
    entry: tools/clang_format.py
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    files: ^tools/.*$
- repo: https://gitlab.com/pycqa/flake8
  rev: '3.8.4'
  hooks:
  - id: flake8
    files: ^tools/.*$
    types: [text, python]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.7.1.1
  hooks:
  - id: shellcheck
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./tools/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - manual

update djinterop. prevent downloads while building
  shell.nix
Due: none

lookup mixxx source path when configuring, not when entering the nix-shell
  shell.nix
Due: none

Download external project sources by URL instead of Git
  CMakeLists.txt
Due: none

CI: Make sure to fetch all tags
  .github/workflows/build.yml
Due: none

Add versionMajorMinor() which extracts version parts.
  src/util/cmdlineargs.cpp
  src/util/version.cpp
  src/util/version.h
Due: clang-format

keyboard mapping sheet: fix AutoDJ color, small tweaks
  res/Mixxx-Keyboard-Shortcuts.pdf
  res/images/templates/ic_template_keyboard_mapping_sheet.svg
Due: none

Move CMD arguments link into def_urls. Use major/minor for link generation.
  CMakeLists.txt
  src/build.h.template
  src/defs_urls.h
  src/util/cmdlineargs.cpp
  src/util/version.cpp
Due: clang-format

Update Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Due: none

CMake: Add comments why we need URL downloads of external projects (#3779)
  CMakeLists.txt
Due: none

CMake fix passing multiple paths to libdjinterop
  CMakeLists.txt
Due: none

Skip saving of unmodified tracks
  src/library/trackcollectionmanager.cpp
Due: clang-format

Sync Lock: Add an option to restore old 2.3 leader selection behavior
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
Due: clang-format

Sync Lock: tweak the names
  src/engine/sync/enginesync.cpp
  src/engine/sync/enginesync.h
Due: clang-format

Skip saving of missing tracks
  src/library/trackcollectionmanager.cpp
Due: clang-format

Round when scaling, to hit an integer BPM when comming from 1/3 BPM or such.
  src/track/beatgrid.cpp
Due: clang-format

BrowseThread: Skip inaccessible locations
  src/library/browse/browsethread.cpp
Due: clang-format

Don't use regions at the beginning of the end that are so far away that two tootal number of beats are valid in between. This fixes a warping beat issue for long track with short const regions.
  src/track/beatfactory.cpp
  src/track/beatutils.cpp
Due: clang-format

Fix typo in makeConstBpmFix() that prevent to use consider the last matching region for a precise const BPM
  src/track/beatutils.cpp
Due: clang-format

Advance version to V3
  src/track/beatfactory.cpp
Due: clang-format

Adapt resource path
  shell.nix
Due: none

Add missing build inputs
  shell.nix
Due: none

test/signalpathtest: Make sure that double conversion worked
  src/test/signalpathtest.h
Due: clang-format

Suggest user to use gcc in case of fastmath bug
  CMakeLists.txt
Due: none

use gcc as default compiler due fp rounding bug
  shell.nix
Due: none

force link against ffmpeg version 4
  shell.nix
Due: none

Update to djinterop 0.15.2 to fix cmaj key bug
  CMakeLists.txt
Due: none

Enable ENGINEPRIME feature on Debian builds
  packaging/debian/control.in
  packaging/debian/rules
Due: none

Improve optional debugging output
  src/track/beatfactory.cpp
  src/track/beatutils.cpp
Due: clang-format

use round() instead of adding 0.5 before truncate to int
  src/track/beatutils.cpp
Due: clang-format

Remove commneted debug message
  src/track/beatutils.cpp
Due: clang-format

Shade: style main menubar
  res/skins/Shade/btn/btn_mainmenu_checkbox.svg
  res/skins/Shade/btn/btn_mainmenu_checkbox_checked.svg
  res/skins/Shade/btn/btn_mainmenu_dark_checkbox.svg
  res/skins/Shade/btn/btn_mainmenu_dark_checkbox_checked.svg
  res/skins/Shade/btn/btn_mainmenu_summer_checkbox.svg
  res/skins/Shade/btn/btn_mainmenu_summer_checkbox_checked.svg
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_linux.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Shade/style_windows.qss
Due: qsscheck

Deere: style main menubar
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/icon/ic_mainmenu_checkbox.svg
  res/skins/Deere/icon/ic_mainmenu_checkbox_checked.svg
  res/skins/Deere/skin.xml
  res/skins/Deere/style-linux.qss
  res/skins/Deere/style-windows.qss
  res/skins/Deere/style.qss
Due: qsscheck

LateNight: make the effect selector fit with all configurations
  res/skins/LateNight/fx/slot_controls.xml
Due: none

Tango: style main menubar
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/buttons/btn_mainmenu_checkbox.svg
  res/skins/Tango/buttons/btn_mainmenu_checkbox_checked.svg
  res/skins/Tango/skin.xml
  res/skins/Tango/style-linux.qss
  res/skins/Tango/style-windows.qss
  res/skins/Tango/style.qss
Due: qsscheck

Numark Mixtrack Pro FX: added initial mapping
  res/controllers/Numark Mixtrack Pro FX.midi.xml
  res/controllers/Numark-Mixtrack-Pro-FX-scripts.js
Due: none

Numark Mixtrack Pro FX: added pad lights when shifted
  res/controllers/Numark-Mixtrack-Pro-FX-scripts.js
Due: none

resubmitting DN HC1000S controller script via GIT command line
  res/controllers/Denon-HC1000S-scripts.js
Due: none

resubmitting Denon HC1000S midi script via git command line to possibly fix pre-Commit errors
  res/controllers/Denon-HC1000S-scripts.js
  res/controllers/Denon_DN_HC1000S.midi.xml
Due: none

reverting to previous version of Denon-HC1000S-scripts and submitting via git command line, as last version failed on all tests
  res/controllers/Denon-HC1000S-scripts.js
Due: none

applying pre-commit patch for Denon-HC1000S-scripts and resubmitting via git commandline
  res/controllers/Denon-HC1000S-scripts.js
Due: none
