Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Copy debian 2.3.6 changelog entry
  packaging/debian/changelog
Due: none

Sandbox: Update cond-compiles in header
  src/util/sandbox.h
Due: clang-format

iOS packaging: Add Info.plist
  packaging/ios/Info.plist.in
Due: none

iOS packaging: Add launch screen
  packaging/ios/Assets.xcassets/Contents.json
  packaging/ios/Assets.xcassets/Logo.imageset/Contents.json
  packaging/ios/Assets.xcassets/Logo.imageset/Logo.pdf
  packaging/ios/LaunchScreen.storyboard
Due: none

iOS packaging: Add app icon
  packaging/ios/Assets.xcassets/AppIcon.appiconset/1024x1024.png
  packaging/ios/Assets.xcassets/AppIcon.appiconset/Contents.json
  packaging/ios/regenerate_appiconset.sh
  res/images/icons/scalable/apps/mixxx_ios.svg
Due: none

changelog: split 'Music Library' into sections
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog, controllers: move new mappings to the top
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: move Cover Art below Library
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: consolidate Effects and Preferences
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: move Library -> Backend below UI sections
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

CMakeLists: Revert QT6/QML typo
  CMakeLists.txt
Due: none

CmdlineArgs: Use user-accessible config directory
  src/util/cmdlineargs.cpp
Due: clang-format

changelog: revert level 4 headers, join Tracks Table + Menu, Sidebar + Search
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: various re-ordering
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

DlgPrefInterface: Disable tooltips on iOS by default
  src/preferences/dialog/dlgprefinterface.cpp
Due: clang-format

iOS packaging: Add microphone and Apple Music usage descriptions
  packaging/ios/Info.plist.in
Due: none

ConfigObject: Find resource path on iOS
  src/preferences/configobject.cpp
Due: clang-format

ConfigObject: Use `Q_OS_MACOS` guard for macOS
  src/preferences/configobject.cpp
Due: clang-format

changelog: restore alphabetical order of controller mappings
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: polish Controller Backend
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: consolidate itmes related to Effects refactoring
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: consolidate Skins and Library items
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

DesktopHelper: Add openUrl abstraction to support iOS
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontrollers.cpp
  src/dialog/dlgabout.cpp
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/util/cmdlineargs.h
  src/util/desktophelper.cpp
  src/util/desktophelper.h
  src/widget/wfindonwebmenu.cpp
  src/widget/wmainmenubar.cpp
Due: clang-format

DesktopHelper: Scope "select in file browser" command to macOS
  src/util/desktophelper.cpp
Due: clang-format

Join Franch translations to "fr" and remove all untranslated English strings.
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_fr_BE.qm
  res/translations/mixxx_fr_BE.ts
  res/translations/mixxx_fr_CA.qm
  res/translations/mixxx_fr_CA.ts
  res/translations/mixxx_fr_CI.qm
  res/translations/mixxx_fr_CI.ts
  res/translations/mixxx_fr_FR.qm
  res/translations/mixxx_fr_FR.ts
Due: none

Track rating: simplify by moving some logic from WStarRating to BaseTrackPlayerImpl
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/skin/legacy/legacyskinparser.cpp
  src/test/autodjprocessor_test.cpp
  src/widget/wstarrating.cpp
  src/widget/wstarrating.h
Due: clang-format

DesktopHelper: Add link to stackoverflow
  src/util/desktophelper.cpp
Due: clang-format

Tango: allow to toggle crossfader indepedently from mixer
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/topbar.xml
Due: none

History: show only current year's playlists at the top level
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-4/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_en_CA.qm
  res/translations/mixxx_en_CA.ts
  res/translations/mixxx_en_GB.qm
  res/translations/mixxx_en_GB.ts
  res/translations/mixxx_sk.qm
  res/translations/mixxx_sk.ts
  res/translations/mixxx_sl.qm
  res/translations/mixxx_sl.ts
  res/translations/mixxx_sn.qm
  res/translations/mixxx_sn.ts
  res/translations/mixxx_sq_AL.qm
  res/translations/mixxx_sq_AL.ts
  res/translations/mixxx_sr.qm
  res/translations/mixxx_sr.ts
  res/translations/mixxx_sv.qm
  res/translations/mixxx_sv.ts
  res/translations/mixxx_te.qm
  res/translations/mixxx_te.ts
  res/translations/mixxx_tr.qm
  res/translations/mixxx_tr.ts
  res/translations/mixxx_uk.qm
  res/translations/mixxx_uk.ts
  res/translations/mixxx_uz.qm
  res/translations/mixxx_uz.ts
  res/translations/mixxx_vi.qm
  res/translations/mixxx_vi.ts
  res/translations/mixxx_zh.qm
  res/translations/mixxx_zh.ts
  res/translations/mixxx_zh_CN.qm
  res/translations/mixxx_zh_CN.ts
  res/translations/mixxx_zh_HK.qm
  res/translations/mixxx_zh_HK.ts
  res/translations/mixxx_zh_TW.qm
  res/translations/mixxx_zh_TW.ts
Due: none

ControlModel: avoid duplicates in developer tools window
  src/control/controlmodel.cpp
Due: clang-format

Update Translation template. Found 2944 source text(s) (8 new and 2936 already existing)
  res/translations/mixxx.ts
Due: none

CMakeLists: Support building for iOS
  CMakeLists.txt
Due: none

Fail early in case Taglib 2.0 is found
  CMakeLists.txt
Due: none

Some code style form QtDesigner
  src/preferences/dialog/dlgprefmixerdlg.ui
Due: none

LateNight: use default TGB waveform colors
  res/skins/LateNight/decks/overview.xml
  res/skins/LateNight/waveform.xml
Due: none

DlgTrackInfo: remove redundant (explicit) update call
  src/library/dlgtrackinfo.cpp
Due: clang-format

Added slicer/slicer loop
  res/controllers/Hercules-DJControl-Inpulse-300-script.js
  res/controllers/Hercules_DJControl_Inpulse_300.midi.xml
Due: none

Add Main EQ slider via UI file
  src/preferences/dialog/dlgprefmixerdlg.ui
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
