Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

BpmFilterNode: replace , with . so numpad with localized separator can be used
  src/library/searchquery.cpp
Due: clang-format

DlgPrefLibrary: update fuzzy BPM range when 'rate_range' changed
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Due: clang-format

BpmFilterNode: simplify match case detection with MatchMode enum
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/widget/wsearchrelatedtracksmenu.cpp
Due: clang-format

Don't assert that an effect from a preset is available.
  src/effects/effectslot.cpp
Due: clang-format

rename bem to pBackendManager
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
Due: clang-format

Split EffectsBackendManager::getDisplayNameForEffectPreset() to handle the case of outdated presets
  src/effects/backends/effectsbackendmanager.cpp
  src/effects/backends/effectsbackendmanager.h
  src/preferences/dialog/dlgprefeffects.cpp
  src/widget/weffectchainpresetbutton.cpp
  src/widget/weffectchainpresetselector.cpp
Due: clang-format

BpmFilterNode: add Strict modes argument has decimals
  src/library/searchquery.cpp
  src/library/searchquery.h
Due: clang-format

Add test button
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferencesdlg.ui
Due: clang-format

add tooltip for WTrackProperty's select'n'click inline editor
  src/skin/legacy/tooltips.cpp
Due: clang-format

WTrackProperty: unset hover state when menu is opened
  src/widget/wtrackproperty.cpp
Due: clang-format

skins: add styles for WTrackPropertyEditor
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/deck.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
Due: qsscheck

WTrackProperty: add 'selected click' in-place editor
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
Due: clang-format

Improve headers of Paintable
  src/widget/paintable.cpp
  src/widget/paintable.h
Due: clang-format

Add missing null check when using m_pPlayPosMarkTexture
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format

Introduce OpenGLTexture2D to get around nested allocations when creating textures
  CMakeLists.txt
  src/util/opengltexture2d.cpp
  src/util/opengltexture2d.h
  src/util/texture.cpp
  src/util/texture.h
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendererpreroll.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/widget/wspinnyglsl.cpp
  src/widget/wspinnyglsl.h
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterglsl.h
Due: clang-format

Drag'n'drop: avoid unintended drag on hover
  src/util/dnd.cpp
  src/widget/wcoverart.cpp
Due: clang-format

Waveform/Spinny scratching: fix loop wrap-around issue
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
  src/engine/readaheadmanager.cpp
Due: clang-format

feat: controller screen rendering
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  CMakeLists.txt
  res/controllers/Dummy Device Screen.hid.xml
  res/controllers/DummyDeviceDefaultScreen.qml
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllerscreenpreview.cpp
  src/controllers/controllerscreenpreview.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/dlgprefcontrollerdlg.ui
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollermappingfilehandler.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/rendering/controllerrenderingengine.cpp
  src/controllers/rendering/controllerrenderingengine.h
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/coreservices.cpp
  src/coreservices.h
  src/qml/qmlapplication.cpp
  src/test/controller_mapping_file_handler_test.cpp
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
  src/test/controllerrenderingengine_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/helpers/log_test.cpp
  src/test/helpers/log_test.h
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  tools/README
  tools/dummy_hid_device.cpp
Due: clang-format, qmllint

BpmFilterNode: expand NULL search to cover '-' and 0.00 etc.
  src/library/searchquery.cpp
Due: clang-format

BpmFilterNode: Strict modes require decimals (not just separator)
  src/library/searchquery.cpp
Due: clang-format

Controller settings: allow :hwbtn:`LABEL` syntax for styling
  src/controllers/legacycontrollersettings.cpp
Due: clang-format

use :hwbtn: for Traktor S4 Mk3 settings
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
Due: none

BpmFilterNode: refine Strict modes, rename mode names
  src/library/searchquery.cpp
  src/library/searchquery.h
Due: clang-format

BpmFilterNode: adjust tests
  src/test/searchqueryparsertest.cpp
Due: clang-format

Add a comment that explains the OpenGLTexture2D class
  src/util/opengltexture2d.h
Due: clang-format

Avoid to manipulate m_texture via pointer
  src/waveform/renderers/allshader/waveformrendererpreroll.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format

fix(util): fix ambigous overload error due to native qDebug impl for std::optional
  src/util/optional.h
Due: clang-format

skins: override 'missing track' color in Tracks > Missing
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Due: qsscheck

Library: paint missing tracks with custom color
  res/skins/LateNight/style_palemoon.qss
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/tableitemdelegate.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format, qsscheck

BPMDelegate: fix 'selected' color, was overriden by 'played' color
  src/library/tabledelegates/bpmdelegate.cpp
Due: clang-format

Track played color: rename, use char* for default value
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format, qsscheck

feat: enable controller setting on MIDI
  src/controllers/midi/legacymidicontrollermappingfilehandler.cpp
Due: clang-format

Changed example COs for normalized value functions
  res/controllers/engine-api.d.ts
Due: none

Renamed some more occurrences of Parameter
  src/control/control.cpp
  src/control/control.h
  src/control/controlbehavior.cpp
  src/control/controlbehavior.h
  src/control/controlobject.cpp
  src/control/controlobject.h
  src/control/controlpotmeter.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/softtakeover.cpp
  src/controllers/softtakeover.h
Due: clang-format

fix: segfault when restoring default controller settings
  src/controllers/legacycontrollersettings.cpp
Due: clang-format

feat(S4MK3): optional mapping to the software mixer
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

fix: incorrect reboot required notification on preference updates
  src/preferences/dialog/dlgprefinterface.cpp
Due: clang-format

feat(S4MK3): custom default pad layout
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

fix(S4MK3): redundant default value and invalid device matching
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
Due: none

fix rectangle of loop gradient (it erroenously used the position of the hotcue marker texture) and rounding of play position marker
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format
