Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Update res/controllers/Reloop-Mixage.scripts.js
  res/controllers/Reloop-Mixage.scripts.js
Due: none

BpmControl: add missing delete for m_pTranslateBeatsMove
  src/engine/controls/bpmcontrol.cpp
Due: clang-format

Revert "BpmControl: add missing delete for m_pTranslateBeatsMove"
  src/engine/controls/bpmcontrol.cpp
Due: clang-format

LateNight: add 4-state button
  res/skins/LateNight/controls/button_4state_display.xml
Due: none

LateNight: use 4-state button for broadcast toggle
  res/skins/LateNight/toolbar.xml
Due: none

Update Mixtrack Pro Controller
  res/controllers/Numark Mixtrack Pro.midi.xml
  res/controllers/Numark-Mixtrack-Pro-scripts.js
Due: none

Accidental tabs
  res/controllers/Numark Mixtrack Pro.midi.xml
Due: none

Find all tabs
  res/controllers/Numark Mixtrack Pro.midi.xml
Due: none

Function Call Fix
  res/controllers/Numark-Mixtrack-Pro-scripts.js
Due: none

Fix Clip Flash
  res/controllers/Numark-Mixtrack-Pro-scripts.js
Due: none

Added mpris stub, not working
  CMakeLists.txt
  src/broadcast/filelistener/filelistener.cpp
  src/broadcast/filelistener/filelistener.h
  src/broadcast/filelistener/metadatafileworker.cpp
  src/broadcast/filelistener/metadatafileworker.h
  src/broadcast/listenbrainzlistener/listenbrainzjsonfactory.cpp
  src/broadcast/listenbrainzlistener/listenbrainzjsonfactory.h
  src/broadcast/listenbrainzlistener/listenbrainzservice.cpp
  src/broadcast/listenbrainzlistener/listenbrainzservice.h
  src/broadcast/listenbrainzlistener/networkmanager.cpp
  src/broadcast/listenbrainzlistener/networkmanager.h
  src/broadcast/listenbrainzlistener/networkreply.cpp
  src/broadcast/listenbrainzlistener/networkreply.h
  src/broadcast/listenbrainzlistener/networkrequest.cpp
  src/broadcast/listenbrainzlistener/networkrequest.h
  src/broadcast/mpris/mediaplayer2.cpp
  src/broadcast/mpris/mediaplayer2.h
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mediaplayer2playlists.cpp
  src/broadcast/mpris/mediaplayer2playlists.h
  src/broadcast/mpris/mediaplayer2tracklist.cpp
  src/broadcast/mpris/mediaplayer2tracklist.h
  src/broadcast/mpris/mpris.cpp
  src/broadcast/mpris/mpris.h
  src/broadcast/scrobblingmanager.cpp
  src/broadcast/scrobblingmanager.h
  src/coreservices.cpp
  src/coreservices.h
  src/main.cpp
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/preferences/broadcastsettings.cpp
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/qml/qmlapplication.cpp
  src/test/coreservicestest.cpp
  src/test/playermanagertest.cpp
Due: clang-format

Allow pasting new tracks not already in library
  src/library/basetracktablemodel.cpp
Due: clang-format

MPRIS now reflects the playback state
  CMakeLists.txt
  src/broadcast/filelistener/filelistener.cpp
  src/broadcast/listenbrainzlistener/listenbrainzjsonfactory.cpp
  src/broadcast/listenbrainzlistener/listenbrainzservice.cpp
  src/broadcast/listenbrainzlistener/listenbrainzservice.h
  src/broadcast/listenbrainzlistener/networkmanager.cpp
  src/broadcast/listenbrainzlistener/networkmanager.h
  src/broadcast/listenbrainzlistener/networkreply.h
  src/broadcast/listenbrainzlistener/networkrequest.cpp
  src/broadcast/listenbrainzlistener/networkrequest.h
  src/broadcast/mpris/mediaplayer2.cpp
  src/broadcast/mpris/mediaplayer2.h
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mediaplayer2playlists.cpp
  src/broadcast/mpris/mediaplayer2playlists.h
  src/broadcast/mpris/mediaplayer2tracklist.cpp
  src/broadcast/mpris/mediaplayer2tracklist.h
  src/broadcast/mpris/mpris.cpp
  src/broadcast/mpris/mpris.h
  src/broadcast/mpris/mprisservice.cpp
  src/broadcast/mpris/mprisservice.h
  src/broadcast/scrobblingmanager.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/test/playermanagertest.cpp
Due: clang-format

Disabled failing test until a solution is found
  src/broadcast/filelistener/filelistener.cpp
  src/broadcast/filelistener/filelistener.h
  src/broadcast/mpris/mpris.cpp
  src/test/scrobblingmanager_test.cpp
Due: clang-format

Fixed broken tests, continuing MPRIS implementation
  CMakeLists.txt
  src/broadcast/mpris/mediaplayer2.cpp
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mpris.cpp
  src/broadcast/mpris/mpris.h
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
  src/broadcast/mpris/mprisservice.cpp
  src/broadcast/mpris/mprisservice.h
  src/mixer/playermanager.cpp
  src/mixxxmainwindow.h
  src/test/scrobblingmanager_test.cpp
  src/test/trackplayedtimer_test.cpp
Due: clang-format

Formatting
  res/controllers/Numark Mixtrack Pro.midi.xml
  res/controllers/Numark-Mixtrack-Pro-scripts.js
Due: none

Code style issue fix
  res/controllers/Numark-Mixtrack-Pro-scripts.js
Due: none

CMakeLists: Require WebGL 2.0
  CMakeLists.txt
Due: none

Fixed non compiling build
  src/broadcast/listenbrainzlistener/listenbrainzservice.cpp
  src/broadcast/listenbrainzlistener/listenbrainzservice.h
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mprisplayer.h
Due: clang-format

add `hotcue_X_indicator` control
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

README: link to CONTRIBUTING.md
  README.md
Due: none

Track menu: rephrase BPM -> "Reset" to "Clear BPM and Beatgrid"
  src/widget/wtrackmenu.cpp
Due: clang-format

Track menu: rephrase "Reset" menu -> "Clear"
  src/widget/wtrackmenu.cpp
Due: clang-format

Apply suggestions from code review
  src/skin/legacy/tooltips.cpp
Due: clang-format

Try to fix a warning when concatinating QByteArrays
  src/util/clipboard.cpp
Due: clang-format

Break excessively long lines
  src/skin/legacy/tooltips.cpp
Due: clang-format

Use a common QString to avoid repetition
  src/skin/legacy/tooltips.cpp
Due: clang-format

Segfault on weak_ptr
  CMakeLists.txt
  src/broadcast/metadatabroadcast.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
  src/broadcast/mpris/mprisservice.h
  src/broadcast/scrobblingmanager.cpp
Due: clang-format

Fixed eject bug
  src/broadcast/scrobblingmanager.cpp
  src/broadcast/scrobblingmanager.h
Due: clang-format

Library: move table item delegates to src/library/tabledelegates
  CMakeLists.txt
  src/library/basetracktablemodel.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/bpmdelegate.h
  src/library/tabledelegates/colordelegate.cpp
  src/library/tabledelegates/colordelegate.h
  src/library/tabledelegates/coverartdelegate.cpp
  src/library/tabledelegates/coverartdelegate.h
  src/library/tabledelegates/locationdelegate.cpp
  src/library/tabledelegates/locationdelegate.h
  src/library/tabledelegates/multilineeditdelegate.cpp
  src/library/tabledelegates/multilineeditdelegate.h
  src/library/tabledelegates/playcountdelegate.cpp
  src/library/tabledelegates/playcountdelegate.h
  src/library/tabledelegates/previewbuttondelegate.cpp
  src/library/tabledelegates/previewbuttondelegate.h
  src/library/tabledelegates/stardelegate.cpp
  src/library/tabledelegates/stardelegate.h
  src/library/tabledelegates/stareditor.cpp
  src/library/tabledelegates/stareditor.h
  src/library/tabledelegates/tableitemdelegate.cpp
  src/library/tabledelegates/tableitemdelegate.h
Due: clang-format

Library: move Analysis, Hidden and Missing into separate directories
  CMakeLists.txt
  src/library/analysis/analysisfeature.cpp
  src/library/analysis/analysisfeature.h
  src/library/analysis/analysislibrarytablemodel.cpp
  src/library/analysis/analysislibrarytablemodel.h
  src/library/analysis/dlganalysis.cpp
  src/library/analysis/dlganalysis.h
  src/library/analysis/dlganalysis.ui
  src/library/library.cpp
  src/library/missing_hidden/dlghidden.cpp
  src/library/missing_hidden/dlghidden.h
  src/library/missing_hidden/dlghidden.ui
  src/library/missing_hidden/dlgmissing.cpp
  src/library/missing_hidden/dlgmissing.h
  src/library/missing_hidden/dlgmissing.ui
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/hiddentablemodel.h
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/missing_hidden/missingtablemodel.h
  src/library/mixxxlibraryfeature.cpp
  src/library/traktor/traktorfeature.cpp
Due: clang-format

Mpris reflects AutoDJ enabled
  src/broadcast/metadatabroadcast.cpp
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mpris.cpp
  src/broadcast/mpris/mpris.h
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
Due: clang-format

Synchronize AutoDJ next deck with top track in queue
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
Due: clang-format

Pause, play and go next MPRIS functions work
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mpris.h
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
Due: clang-format

Fixed correct fade-in in MPRIS
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
Due: clang-format

Add a workflow for cleaning up the downloads folder at mixxx.org
  .github/workflows/download_cleanup.yml
Due: none

Update changelog for 2.4.1
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Replace file:line that tricks sphinx linkcheck when building the manual
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Added volume, playback status and loop status as well as a LINUX define
  src/broadcast/mpris/mediaplayer2player.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mpris.cpp
  src/broadcast/mpris/mpris.h
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
  src/broadcast/mpris/mprisservice.cpp
  src/broadcast/mpris/mprisservice.h
  src/mixer/playermanager.cpp
Due: clang-format

Moved MPRIS into a feature
  CMakeLists.txt
  src/mixer/playermanager.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
