Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

wip
  res/controllers/Traktor-Kontrol-S4-MK3.js
  src/controllers/controllerscreenpreview.cpp
  src/controllers/controllerscreenpreview.h
  src/controllers/hid/hidiooutputreport.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformoverview.cpp
  src/waveform/renderers/waveformdisplayrange.cpp
  src/waveform/renderers/waveformdisplayrange.h
Due: clang-format

chore: block GUI thread during rendering process
  src/controllers/controllerscreenpreview.cpp
  src/controllers/dlgprefcontroller.cpp
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/rendering/controllerrenderingengine.cpp
  src/controllers/rendering/controllerrenderingengine.h
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/test/controller_mapping_file_handler_test.cpp
  src/test/controller_mapping_validation_test.cpp
  src/test/controllerrenderingengine_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
Due: clang-format

feat: add support for onboard screens
  CMakeLists.txt
  res/controllers/Traktor Kontrol S4 MK3.bulk.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/TraktorKontrolS4MK3Screens.qml
  res/controllers/TraktorKontrolS4MK3Screens/BPMIndicator.qml
  res/controllers/TraktorKontrolS4MK3Screens/HotcuePoint.qml
  res/controllers/TraktorKontrolS4MK3Screens/KeyIndicator.qml
  res/controllers/TraktorKontrolS4MK3Screens/Keyboard.qml
  res/controllers/TraktorKontrolS4MK3Screens/LoopSizeIndicator.qml
  res/controllers/TraktorKontrolS4MK3Screens/OnAirTrack.qml
  res/controllers/TraktorKontrolS4MK3Screens/OneShotHotcue.qml
  res/controllers/TraktorKontrolS4MK3Screens/Progression.qml
  res/controllers/TraktorKontrolS4MK3Screens/TimeAndBeatloopIndicator.qml
  res/controllers/TraktorKontrolS4MK3Screens/WaveformOverview.qml
  src/controllers/bulk/bulksupported.h
  src/qml/qmlwaveformdisplay.cpp
  src/widget/wtracktableview.cpp
  tools/README
  tools/clang_format.py
  tools/traktor_s4_mk3_screen_test.c
Due: clang-format, qmllint

feat: inter controller communication
  CMakeLists.txt
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/controllerruntimedata.cpp
  src/controllers/controllerruntimedata.h
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Due: clang-format

scrolling qml waveformdisplay working
  CMakeLists.txt
  res/qml/Mixxx/Controls/WaveformDisplay.qml
  res/qml/WaveformDisplay.qml
  res/qml/main.qml
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayermanagerproxy.h
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformdisplay.h
  src/waveform/isynctimeprovider.h
  src/waveform/renderers/waveformdisplayrange.cpp
  src/waveform/renderers/waveformdisplayrange.h
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
  src/waveform/vsyncthread.h
Due: clang-format, qmllint

WIP
  src/controllers/rendering/controllerrenderingengine.cpp
  src/controllers/rendering/controllerrenderingengine.h
  src/controllers/scripting/controllerscriptenginebase.cpp
Due: clang-format

chore: refactor QML to use state on property binding
  res/controllers/Traktor Kontrol S4 MK3.bulk.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/TraktorKontrolS4MK3Screens.qml
  res/controllers/TraktorKontrolS4MK3Screens/OnAirTrack.qml
  src/waveform/renderers/waveformdisplayrange.cpp
  src/waveform/vsyncthread.h
  src/widget/wspinnybase.cpp
Due: clang-format, qmllint

Adjust minimal offset limit to not prpagate outdated positions
  src/waveform/visualplayposition.cpp
Due: clang-format

VisualPlayPosition::calcOffsetAtNextVSync: Improve verbosity in case of clamping
  src/waveform/visualplayposition.cpp
Due: clang-format

Don't request a visual playposition for an outdated frame
  src/waveform/vsyncthread.cpp
Due: clang-format

Add a region of known issues
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

improve description of minOffset
  src/waveform/visualplayposition.cpp
Due: clang-format

Use bit shift notation for the flag like enum values.
  src/engine/enginebuffer.h
Due: clang-format

add PlaylistTableModel::getDurationOfRows()
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
Due: clang-format

AutoDJ: fix GUI freeze when updating duration of many selected tracks
  src/library/autodj/dlgautodj.cpp
Due: clang-format

rename PlaylistTableModel::getDurationOfRows(), return mixxx::Duration, add comment
  src/library/autodj/dlgautodj.cpp
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
Due: clang-format

Fix for not moving the playpos when LoopOut button is hold down and the playpos is near the end of the loop (or the same for LoopIn, while playing reverse)
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
Due: clang-format

Don't depend on not used QML/Quick libraries
  CMakeLists.txt
  tools/debian_buildenv.sh
  tools/debian_buildenv_qt6.sh
Due: none

Add recently merged PRs
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
  tools/createChangelog.py
Due: changelog, metainfo

fix(qml): Improve knobs by applying selective 4xMSAA on the Arc shape
  res/qml/Mixxx/Controls/Knob.qml
Due: qmllint

DlgTagFetcher: prohibit clicking the original tags row
  src/library/dlgtagfetcher.cpp
Due: clang-format

DlgTagFtecher: Apply button applies only tags
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
  src/library/dlgtagfetcher.ui
Due: clang-format

DlgTagFtecher: rename button 'Apply' -> 'Apply Tags', adjust status message
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.ui
Due: clang-format

DlgTagFetcher: move addDivider() to namespace
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
Due: clang-format

Improve comments
  src/engine/channels/enginedeck.h
  src/engine/enginebuffer.cpp
  src/engine/enginemixer.cpp
  src/engine/sync/synccontrol.cpp
Due: clang-format

Revert "MixxxApplication: Use XCB plugin for static Qt builds on Linux"
  src/mixxxapplication.cpp
Due: clang-format

Fixed incorrect English tense in comments
  src/waveform/visualplayposition.cpp
Due: clang-format

allshader RGB: Show a ghosted version of the original waveform behind the gain-adjusted version.
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.h
Due: clang-format

Improve changelog entries
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

WaveformWidgetFactory: tweak debug output, add getDisplayNameFromType()
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

WaveformWidgetFactory: store type in member when writing to config
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

WaveformWidgetFactory: range-based loops, std:as_const
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

add qt6-qpa-plugins to dependencies
  CMakeLists.txt
Due: none

Remove unused Qt5 QML dependencies
  CMakeLists.txt
  tools/debian_buildenv.sh
Due: none

Add recent merges
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Rename createChangelog.py -> git_extract_changelog_entries.py
  tools/git_extract_changelog_entries.py
Due: none

Add comments and command line arguments
  tools/git_extract_changelog_entries.py
Due: none
