Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

add in xml and js file for ddj-200
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

remove noise descriptions
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

give good descriptions
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

improve and optimise script logic
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

add support for seeking
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

remove unused parameters
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

Change from code review by Holzhaus
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

Changes according to pre-commit hook
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

add support for LEDs
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

remove unused arguments
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

get headphones master button working
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: clang-format

GitHub Actions: Add labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Tango: apply QComboBox styling to WEffectChainPresetSelector
  res/skins/Tango/style.qss
Due: qsscheck

WaveformMarkRange: show meaningful color warnings
  src/waveform/renderers/waveformmarkrange.cpp
Due: clang-format, line-length

WaveformMarkRange: use desaturated Color for unavailable DisabledColor, set to tranparent and suppress warning when no EnabledControl is set
  src/waveform/renderers/waveformmarkrange.cpp
Due: clang-format, line-length

WSearchLineEdit: comment out color info debug messages
  src/widget/wsearchlineedit.cpp
Due: clang-format, line-length

Tango: use more generic file names for menu arrow buttons
  res/skins/Tango/buttons/btn_menu_arrow.svg
  res/skins/Tango/buttons/btn_menu_arrow_hover.svg
  res/skins/Tango/style.qss
Due: qsscheck

Tango: style WEffectChainPresetButton
  res/skins/Tango/style.qss
Due: qsscheck

fix QSS stylesheets for renaming of WEffect to WEffectName
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
Due: qsscheck

Update res/controllers/AKAI-MPKmini2-scripts.js
  res/controllers/AKAI-MPKmini2-scripts.js
Due: clang-format

Update res/controllers/Akai-APC-MINI.midi.xml
  res/controllers/Akai-APC-MINI.midi.xml
Due: none

Update res/controllers/AKAI-MPKmini2.midi.xml
  res/controllers/AKAI-MPKmini2.midi.xml
Due: none

Update res/controllers/Akai-APC-MINI-scripts.js
  res/controllers/Akai-APC-MINI-scripts.js
Due: clang-format

EffectChainPresetManager: refactor loading of preset lists
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectchainpresetmanager.h
Due: clang-format, line-length

EffectChainSlot: fix -Wfloat-conversion warnings
  src/effects/effectchainslot.cpp
Due: clang-format, line-length

EffectSlot: fix -Wfloat-conversion warnings
  src/effects/effectslot.cpp
Due: clang-format, line-length

Updated metadata
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

SoundSourceFFmpeg: Recite the api docs of av_strerror()
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

SoundSourceFFmpeg: Replace std::string with QString
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

TrackModel extension and refactoring of CoverArtDelegate to improve performance of determining CoverInfo
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetracktablemodel.cpp
  src/library/coverartdelegate.cpp
  src/library/trackmodel.h
Due: clang-format, line-length

WSearchRelatedTracksMenu: Add member function for adding actions
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wsearchrelatedtracksmenu.h
Due: clang-format, line-length

WSearchRelatedTracksMenu: Search for grouping and (release) year
  src/widget/wsearchrelatedtracksmenu.cpp
Due: clang-format, line-length

Removed argument name index from declaration
  src/library/trackmodel.h
Due: clang-format, line-length

Try to get Linux and MacOS builds pass by including library/coverart.h directly
  src/library/trackmodel.h
Due: clang-format, line-length

fixed new float-conversion error on Ubuntu/gcc/CMake build
  src/library/basetracktablemodel.cpp
Due: clang-format, line-length

Changed constexp from float to double to fix a new float-conversion error on Ubuntu/gcc/CMake build
  src/library/basetracktablemodel.cpp
Due: clang-format, line-length

WaveformMarkRange: parse range name only in case of invalid range colors
  src/waveform/renderers/waveformmarkrange.cpp
Due: clang-format, line-length
