Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

rangelist: separate declaration and definition
  CMakeLists.txt
  src/util/rangelist.cpp
  src/util/rangelist.h
Due: clang-format

ColorPaletteEditorModel: adhere to naming scheme
  src/preferences/colorpaletteeditormodel.cpp
Due: clang-format

ColorPaletteEditorModel: reduce nesting
  src/preferences/colorpaletteeditormodel.cpp
Due: clang-format

ColorPaletteEditorModel: fix if branch braces
  src/preferences/colorpaletteeditormodel.cpp
Due: clang-format

ColorPaletteEditorModel: improve const-correctness
  src/preferences/colorpaletteeditormodel.cpp
Due: clang-format

rangelist: add debug assert testing invalid lists
  src/test/rangelist_test.cpp
  src/util/rangelist.cpp
  src/util/rangelist.h
Due: clang-format

rangelist: debug assert on negative numbers
  src/test/rangelist_test.cpp
  src/util/rangelist.cpp
  src/util/rangelist.h
Due: clang-format

CI: Deploy stable releases to ppa:mixxx/mixxx
  .github/workflows/build.yml
Due: none

Turn a non const reference into a pointer.
  src/effects/builtin/echoeffect.cpp
Due: clang-format

Turn another non const reference into a pointer.
  src/effects/builtin/autopaneffect.cpp
Due: clang-format

fxrefact-resolve-conflicts
  res/skins/Shade/effect_parameter_button.xml
  res/skins/Shade/effect_parameter_knob.xml
  res/skins/Shade/style.qss
  res/skins/Tango/fx_parameter_button.xml
  res/skins/Tango/fx_unit_left.xml
  res/skins/Tango/fx_unit_right.xml
  res/skins/Tango/style.qss
Due: qsscheck

EffectChainPresetManager: validate renamed preset names
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

fix typo
  src/track/beatutils.cpp
Due: clang-format

Improve local variable names
  src/track/beatutils.cpp
Due: clang-format

CoverArtDelegate: Move out of member variable (and leave empty)
  src/library/coverartdelegate.cpp
Due: clang-format

CoverArtDelegate: Fix repeated repaint if covers could not be loaded
  src/library/coverartdelegate.cpp
Due: clang-format

CI: Improve deployment directory structure
  .github/workflows/build.yml
Due: none

EffectChainPresetManager: Unsplit some strings to help translators
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

EffectChainPresetManager: Use toByteArray to write XML document
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

EffectChainPresetManager: Add various string fixes
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

EffectChainPresetManager: Rename effectSupported to effectAvailable
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

EffectChainPresetManager: Fix trailing whitespace
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

tools/macos_buildenv.sh: Fix broken link on download server
  tools/macos_buildenv.sh
Due: none

Fix deprecation warnings for FFmpeg 4.4
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Write _version.h from CMakeList.txt to remove redundant Mixxx version
  CMakeLists.txt
  src/_version.h
  src/_version.h.in
Due: clang-format

Fix MIXXX_FILEVERSION, broken after the last commit
  CMakeLists.txt
  src/mixxx.rc
Due: none

Rename _version.h to version.h and Version class to VersionStore
  CMakeLists.txt
  src/_version.h.in
  src/build.h.template
  src/controllers/dlgcontrollerlearning.cpp
  src/controllers/dlgprefcontroller.cpp
  src/defs_version.h
  src/dialog/dlgabout.cpp
  src/errordialoghandler.cpp
  src/main.cpp
  src/mixxx.cpp
  src/mixxx.rc
  src/mixxx.rc.include.template
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/preferences/upgrade.cpp
  src/soundio/soundmanager.cpp
  src/util/cmdlineargs.cpp
  src/util/console.cpp
  src/util/versionstore.cpp
  src/util/versionstore.h
  src/version.h.in
Due: clang-format

FFmpeg: Remove dependency on sizeof(AVPacket)
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

FFmpeg: Add debug assertion before invoking av_read_frame()
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

ran a js formatting plugin on the script to remove all tabs;
  res/controllers/Denon-HC1000S-scripts.js
Due: none

ocal pre-commit pass on linux PC
  res/controllers/Denon-HC1000S-scripts.js
  res/controllers/Denon_DN_HC1000S.midi.xml
Due: none

Don't cascade .arg()
  src/util/versionstore.cpp
Due: clang-format

explain why we need MIXXX_VERSION_PRERELEASE
  CMakeLists.txt
Due: none

rename buildBranch into gitBranch
  src/dialog/dlgabout.cpp
  src/util/versionstore.cpp
  src/util/versionstore.h
  src/version.h.in
Due: clang-format

Include versiostore the right way
  src/controllers/dlgcontrollerlearning.cpp
  src/controllers/dlgprefcontroller.cpp
  src/dialog/dlgabout.cpp
  src/errordialoghandler.cpp
  src/main.cpp
  src/mixxx.cpp
  src/musicbrainz/web/musicbrainzrecordingstask.cpp
  src/soundio/soundmanager.cpp
  src/util/cmdlineargs.cpp
  src/util/console.cpp
  src/util/versionstore.cpp
Due: clang-format

Remove unused prototype
  src/skin/legacyskinparser.h
Due: clang-format

Skip repeated property updates, cache the QMetaProperty object to avoid hash lookups at runtime.
  src/widget/controlwidgetconnection.cpp
  src/widget/controlwidgetconnection.h
Due: clang-format

check property name at the very first.
  src/widget/controlwidgetconnection.cpp
Due: clang-format

check convert() call during debug
  src/widget/controlwidgetconnection.cpp
Due: clang-format

Make m_propety and m_proertyName const
  src/widget/controlwidgetconnection.cpp
  src/widget/controlwidgetconnection.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
