Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

MacroControl: Update namings & improve controls
  src/engine/controls/macrocontrol.cpp
  src/engine/controls/macrocontrol.h
Due: clang-format, line-length

MacroControl: Add simple test
  CMakeLists.txt
  src/test/macros/macrocontrol_test.cpp
Due: clang-format, line-length

meter detection tweaks
  src/analyzer/analyzerrhythm.cpp
Due: clang-format, line-length

remove debug asserts for default time signature assignment
  src/track/beats.cpp
Due: clang-format, line-length

reduce beatmarker triangle size and change color
  src/waveform/renderers/waveformbeatmarker.cpp
Due: clang-format, line-length

reduce downbeat triangle size to 6 pixels
  src/waveform/renderers/waveformbeat.cpp
Due: clang-format, line-length

Traktor S3: make user configs global
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

Traktor S3: make button brightnesses global too
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

fix broken BeatsTest::BpmAround
  src/track/beats.cpp
Due: clang-format, line-length

Traktor S3: Implement channel 4 input mode
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

Traktor S3: remove redundant connections
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

Traktor S3: FX for input channel
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

fix broken beat marker assignment
  src/track/beat.h
  src/track/beats.cpp
Due: clang-format, line-length

enable bpm editing at all beats
  src/widget/wbeatmenu.cpp
  src/widget/wwaveformviewer.cpp
Due: clang-format, line-length

fix parented_ptr debug_assert on wbeatmenu
  src/widget/wbeatmenu.cpp
  src/widget/wbeatmenu.h
Due: clang-format, line-length

widget/wtrackmenu: Fix shadowing of variable in outer scope
  src/widget/wtrackmenu.cpp
Due: clang-format, line-length

PaleMoon: fix colors of active deck option icons (repeat, slip, keylock, eject, curpos, quantize)
  res/skins/LateNight/palemoon/buttons/btn__beat_curpos.svg
  res/skins/LateNight/palemoon/buttons/btn__eject.svg
  res/skins/LateNight/palemoon/buttons/btn__eject_active_12.svg
  res/skins/LateNight/palemoon/buttons/btn__eject_active_34.svg
  res/skins/LateNight/palemoon/buttons/btn__keylock.svg
  res/skins/LateNight/palemoon/buttons/btn__keylock_active_12.svg
  res/skins/LateNight/palemoon/buttons/btn__quantize.svg
  res/skins/LateNight/palemoon/buttons/btn__quantize_active_12.svg
  res/skins/LateNight/palemoon/buttons/btn__quantize_active_34.svg
  res/skins/LateNight/palemoon/buttons/btn__repeat.svg
  res/skins/LateNight/palemoon/buttons/btn__repeat_active_12.svg
  res/skins/LateNight/palemoon/buttons/btn__repeat_active_34.svg
  res/skins/LateNight/palemoon/buttons/btn__slip.svg
  res/skins/LateNight/palemoon/buttons/btn__slip_active_12.svg
Due: none

widget/wtrackmenu: Distinguish "no common color" from "no track color"
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format, line-length

Traktor S3: fix keylock light and input fx
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

util/color/predefinedcolorpalettes: Add Mixxx Track Color Palette
  src/util/color/predefinedcolorpalettes.cpp
  src/util/color/predefinedcolorpalettes.h
Due: clang-format, line-length

A POC commit, that uses a autocorelation of the ComplexSD and tries to detect downbeats with it.
  lib/qm-dsp/dsp/tempogram/AutocorrelationProcessor.cpp
  lib/qm-dsp/dsp/tempogram/AutocorrelationProcessor.h
  src/analyzer/analyzerrhythm.cpp
Due: clang-format, line-length

widget/wtrackmenu: Use nested std::optional instead of bool pointer
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format, line-length

fix enginesynctest
  src/test/enginesynctest.cpp
  src/track/beats.cpp
Due: clang-format, line-length

widget/wtrackmenu: Remove `std::optional<T>::has_value()` call
  src/widget/wtrackmenu.cpp
Due: clang-format, line-length

remove todo
  src/widget/wbeatmenu.cpp
Due: clang-format, line-length

widget/wtrackmenu: Improve comment
  src/widget/wtrackmenu.h
Due: clang-format, line-length

add downbeat numbers near downbeat triangles
  src/waveform/renderers/waveformbeat.cpp
  src/waveform/renderers/waveformrenderplaymarker.cpp
Due: clang-format, line-length

waveformbeatmarker: font, alignment and color changes
  src/waveform/renderers/waveformbeatmarker.cpp
Due: clang-format, line-length

beats: fix debug assert condition
  src/track/beats.cpp
Due: clang-format, line-length

PaleMoon: center Meta knob bg, tweak Fx parameter knob outline
  res/skins/LateNight/fx/meta_knob.xml
  res/skins/LateNight/palemoon/knobs/knob_bg_fx.svg
  res/skins/LateNight/palemoon/knobs/knob_bg_small.svg
Due: none

LateNight: refine fx unit focus indicator (with midi-components.js)
  res/skins/LateNight/fx/singletons.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

beats: reduce floating point precision requirement for comparison
  src/track/beats.cpp
Due: clang-format, line-length

LateNight beatsize spinboxes: show contrasting selection color only in focused spinboxes
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Delete obsolete/unused #include directives
  src/library/browse/browsefeature.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratofeature.cpp
Due: clang-format, line-length

Order registration of meta types in MixxxApplication
  src/mixxxapplication.cpp
  src/mixxxapplication.h
Due: clang-format, line-length

Delete unused class MFile
  src/util/file.cpp
  src/util/file.h
Due: clang-format, line-length

LateNight PaleMoon: Improve TrackMenu and CueMenuPopup styles
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

LateNight: show key controls by default
  res/skins/LateNight/skin.xml
Due: none

PaleMoon: frameless library table
  res/skins/LateNight/palemoon/style/lib_bg.png
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

PaleMoon: dark X in lib clear search icon
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search_focus.svg
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
