Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

MidiDispatcher: use noteOff option by default
  res/controllers/lib/mididispatcher.mjs
Due: none

ControllerEngine: show error if module has no receiveData function
  src/controllers/engine/controllerengine.cpp
Due: clang-format, line-length

ControllerEngine: add ConsoleExtension into QJSEngine environment
  src/controllers/engine/controllerengine.cpp
Due: clang-format, line-length

MidiDispatcher: delete debug message
  res/controllers/lib/mididispatcher.mjs
Due: none

ControllerEngine: use millisecond precision for timestamps
  src/controllers/engine/controllerengine.cpp
Due: clang-format, line-length

MidiDispatcher: rename receiveData to receiveMidiData
  res/controllers/lib/mididispatcher.mjs
Due: none

MidiDispatcher: add JSDoc documentation
  res/controllers/lib/mididispatcher.mjs
Due: none

MidiDispatcher: rename receiveMidiData function to handleMidiInput
  res/controllers/lib/mididispatcher.mjs
Due: none

controllers: rename receiveData function to handleInput
  src/controllers/controller.cpp
  src/controllers/engine/controllerengine.cpp
  src/controllers/engine/controllerengine.h
  src/controllers/midi/midicontroller.cpp
Due: clang-format, line-length

fix MidiController tests
  src/controllers/midi/midicontroller.cpp
Due: clang-format, line-length

MidiDispatcher: use hash function instead of JSONifying Arrays
  res/controllers/lib/mididispatcher.mjs
Due: none

ControllerEngine: #if QT_VERSION check for loadModule method
  src/controllers/engine/controllerengine.cpp
Due: clang-format, line-length

MidiDispatcher: avoid a string comparison on each input message
  res/controllers/lib/mididispatcher.mjs
Due: none

MidiDispatcher: improve JSDoc documentation
  res/controllers/lib/mididispatcher.mjs
Due: none

Macros: Simplify database schema
  res/schema.xml
Due: none

PaleMoon: dim table header font
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

MidiDispatcher: more improvements to JSDoc documentation
  res/controllers/lib/mididispatcher.mjs
Due: none

ControllerEngine: fix build for Qt < 5.12
  src/controllers/engine/controllerengine.cpp
Due: clang-format, line-length

create active white noise effect with a dry/wet knob
  CMakeLists.txt
  build/depends.py
  src/effects/builtin/builtinbackend.cpp
  src/effects/builtin/whitenoiseeffect.cpp
  src/effects/builtin/whitenoiseeffect.h
Due: clang-format, line-length

remove MidiDispatcher JS module
  res/controllers/lib/mididispatcher.mjs
  res/mixxx.qrc
Due: none

PaleMoon: tweak hotcue icons a bit for dark cue colors
  res/skins/LateNight/palemoon/buttons/btn__1_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__2_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__3_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__4_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__5_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__6_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__7_active_dark.svg
  res/skins/LateNight/palemoon/buttons/btn__8_active_dark.svg
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

LateNight: adjust padding in library featre root pages
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

PaleMoon: consolidate splitter settings, refine style sheet comments
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Fix update of estimated total track items during processing
  src/library/trackprocessing.cpp
Due: clang-format, line-length

Implement ItemIterator for indexed Qt collections
  src/util/itemiterator.h
Due: clang-format, line-length

Fix wording of comment
  src/library/trackprocessing.cpp
Due: clang-format, line-length

Changing tempos support
  CMakeLists.txt
  build/depends.py
  src/track/beatfactory.cpp
  src/track/beatstats.cpp
  src/track/beatstats.h
  src/track/beatutils.cpp
  src/track/beatutils.h
Due: clang-format, line-length

Fix AutoDJ debug assertions in tests
  src/library/autodj/autodjprocessor.cpp
Due: clang-format, line-length

Macros: Style recording Dot
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/toolbar.xml
Due: qsscheck

Macros: Create poll thread to update recording status CO
  src/recording/macromanager.cpp
Due: clang-format, line-length

better styling
  src/track/beatstats.cpp
  src/track/beatstats.h
  src/track/beatutils.cpp
Due: clang-format, line-length

Macros: Emit saveMacro signal on recording stop
  src/recording/macromanager.cpp
  src/recording/macromanager.h
Due: clang-format, line-length

SoundSourceFFmpeg: Reformat code
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

SoundSourceFFmpeg: Delete invalid debug assertion
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

Macros: Move into own folder & separate Macro class
  CMakeLists.txt
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/macros/macro.cpp
  src/macros/macro.h
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/mixxx.cpp
  src/test/macromanager_test.cpp
Due: clang-format, line-length

Macros: Rename Tests
  CMakeLists.txt
  src/macros/macrorecorder.h
  src/test/macromanager_test.cpp
  src/test/macros_test.cpp
Due: clang-format, line-length

Macros: Rename MacroManager to MacroRecorder
  CMakeLists.txt
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/deck.cpp
  src/mixer/deck.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixxx.cpp
  src/mixxx.h
  src/test/macromanager_test.cpp
  src/test/signalpathtest.h
Due: clang-format, line-length

beats: use function to calculate beat length
  src/track/beats.cpp
Due: clang-format, line-length

Macros: Use QTimer to poll for recording start
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
Due: clang-format, line-length

Macros: Test recording_status CO
  src/test/macros_test.cpp
Due: clang-format, line-length

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
