Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Add missing header to console.cpp
  src/util/console.cpp
Due: clang-format

Add knee param + fixes
  src/effects/backends/builtin/compressoreffect.cpp
Due: clang-format

Add compressor effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

Auto make up fixes
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

Split compressor logic and make up logic
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

Compression refactoring
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

Auto make up refactoring
  src/effects/backends/builtin/compressoreffect.cpp
  src/effects/backends/builtin/compressoreffect.h
Due: clang-format

#ifdef the content out instead of CMakeLists.txt solution
  CMakeLists.txt
  src/nativeeventhandlerwin.cpp
  src/nativeeventhandlerwin.h
Due: clang-format

Move link library comctl32 from Qt dependency section, to general Windows section
  CMakeLists.txt
Due: none

Added comments
  src/nativeeventhandlerwin.cpp
Due: clang-format

add library_pch.h and a script to collect all angle bracket headers
  src/library_pch.h
  tools/make_library_pch.py
Due: clang-format

Use ControlX group for Mode button
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Add missing semicolons
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Fix undefined variables
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Replace print() with console.log()
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Add some line breaks
  src/track/beats.h
Due: clang-format

Add values to warnings in case of beat iterator overflow protection
  src/track/beats.cpp
Due: clang-format

Use overall average BPM before the play position is adjusted (kInitialPlayPosition)
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/enginebuffer.cpp
Due: clang-format

Reformatted code to modern ES6 class structure
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

Lower clamping warning to debug message, because it can happen and it is no issue.
  src/track/beats.cpp
Due: clang-format

src: use only 'behavior' (AE), rename all occurences of 'behaviour' (BE)
  src/control/controleffectknob.cpp
  src/control/controleffectknob.h
  src/effects/effectknobparameterslot.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/library/librarycontrol.cpp
  src/mixxxapplication.cpp
  src/track/serato/beatgrid.cpp
  src/track/serato/tags.cpp
  src/widget/openglwindow.cpp
  src/widget/tooltipqopengl.h
  src/widget/wlibrary.h
Due: clang-format

controllers: use zoom helper, fix zoom ranges
  res/controllers/KANE_QuNeo_scripts.js
  res/controllers/Korg-nanoKONTROL-2-scripts.js
  res/controllers/Novation-Launchpad MK2-scripts.js
  res/controllers/Novation-Launchpad Mini MK3-scripts.js
  res/controllers/Novation-Launchpad-Mini-scripts.js
  res/controllers/Novation-Launchpad-scripts.js
Due: none

controllers: add helper to control "waveform_zoom" with potmeters
  res/controllers/common-controller-scripts.js
  src/mixer/basetrackplayer.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Due: clang-format

Use compiler/CMake macros to detect target OS
  src/encoder/encodersndfileflac.h
  src/encoder/encoderwave.h
  src/test/playlisttest.cpp
  src/util/battery/battery.cpp
  src/util/screensaver.cpp
  src/util/threadcputimer.cpp
Due: clang-format

macOS buildenv: Improve error message for CI-only wrappers
  tools/macos_arm64-cross-release_buildenv.sh
  tools/macos_arm64-cross_buildenv.sh
  tools/macos_release_buildenv.sh
Due: none

library/GUI: fix track background color, add delegate for Played column
  CMakeLists.txt
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/btn/btn_lib_bpm_unlocked_black.svg
  res/skins/Shade/btn/btn_lib_bpm_unlocked_white.svg
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  src/library/basetracktablemodel.cpp
  src/library/bpmdelegate.cpp
  src/library/playcountdelegate.cpp
  src/library/playcountdelegate.h
Due: clang-format, qsscheck

tracks table: Ctrl+Space toggles BPM & Played checkboxes
  src/widget/wtracktableview.cpp
Due: clang-format

feat(debug): make DBG macro usable within expressions
  src/util/debug.h
Due: clang-format

Sync Lock: protect against syncing phase to a stopped leader
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/sync/enginesync.cpp
  src/engine/sync/synccontrol.cpp
Due: clang-format

Use simpler atomic int for audible status
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Due: clang-format

track menu: enable Lock BPM action if any selected track BPM is unlocked
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

Add a test -- this reveals that my code is bad
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/sync/synccontrol.cpp
  src/test/enginesynctest.cpp
Due: clang-format

reset to the very most basic change
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/enginesynctest.cpp
Due: clang-format

Tracks table: don't wrap around when Shift is pressed
  src/widget/wlibrarytableview.cpp
Due: clang-format

add "loop_remove" to control picker menu
  src/controllers/controlpickermenu.cpp
Due: clang-format

KeyControl: std::unique_ptr, parented_ptr
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
Due: clang-format

controllers: fix zoom ranges
  res/controllers/KANE_QuNeo_scripts.js
  res/controllers/Korg-nanoKONTROL-2-scripts.js
  res/controllers/Novation-Launchpad MK2-scripts.js
  res/controllers/Novation-Launchpad Mini MK3-scripts.js
  res/controllers/Novation-Launchpad-Mini-scripts.js
  res/controllers/Novation-Launchpad-scripts.js
Due: none

Deere: fix main VU meter control [Master] > [Main]
  res/skins/Deere/vumeter_main.xml
Due: none

controllers: fix engine.beginTimer() syntax
  res/controllers/Akai-LPD8-RK-scripts.js
  res/controllers/American-Audio-VMS2-scripts.js
  res/controllers/Behringer-BCD3000-Advanced-scripts.js
  res/controllers/DJ-Tech-CDJ-101-scripts.js
  res/controllers/DJ-Tech-Kontrol-One-scripts.js
  res/controllers/DJ-Tech-i-Mix-Reload-scripts.js
  res/controllers/Denon-DN-SC2000.midi.js
  res/controllers/Electrix-Tweaker-scripts.js
  res/controllers/Gemini-FirstMix-scripts.js
  res/controllers/Hercules DJ Control MP3 e2-scripts.js
  res/controllers/Hercules-DJ-Console-Mk1-hid-scripts.js
  res/controllers/Hercules-DJ-Console-Mk2-hid-scripts.js
  res/controllers/Hercules-DJ-Console-RMX-scripts.js
  res/controllers/Hercules-DJ-Control-MP3-scripts.js
  res/controllers/Hercules-DJ-Control-Steel-scripts.js
  res/controllers/Hercules-DJControl-Compact-scripts.js
  res/controllers/Ion-Discover-DJ-Pro-scripts.js
  res/controllers/Ion-Discover-DJ-scripts.js
  res/controllers/Korg-nanoKONTROL-2-scripts.js
  res/controllers/Korg-nanoPAD2-scripts.js
  res/controllers/Numark-Mixtrack-2-scripts.js
  res/controllers/Numark-Mixtrack-Pro-scripts.js
  res/controllers/Numark-Omni-Control-scripts.js
  res/controllers/Numark-Total-Control-scripts.js
  res/controllers/Numark-V7-scripts.js
  res/controllers/Pioneer-DDJ-SB2-scripts.js
  res/controllers/Pioneer-DDJ-SX-scripts.js
  res/controllers/Reloop Terminal Mix 2-4.js
  res/controllers/Reloop-Beatmix-2-4-scripts.js
  res/controllers/Reloop-Jockey-3-ME-scripts.js
  res/controllers/Stanton-SCS1d-scripts.js
  res/controllers/Stanton-SCS1m-scripts.js
  res/controllers/Stanton-SCS3d-scripts.js
  res/controllers/TrakProDJ-iPad-scripts.js
  res/controllers/Vestax-VCI-100-3DEX-scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
