Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

SoundSourceFFmpeg: Fix stream range calculation
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

SoundSourceFFmpeg: Take stream start_time into account
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

Add libdjinterop external project dependency
  CMakeLists.txt
  cmake/modules/FindDjInterop.cmake
Due: none

Fix crash in ~GLSLWaveformWidget()
  src/waveform/widgets/glslwaveformwidget.cpp
  src/waveform/widgets/glslwaveformwidget.h
Due: clang-format, line-length

Delete redundant explicit static_cast
  src/waveform/widgets/glslwaveformwidget.cpp
Due: clang-format, line-length

SoundSourceFFmpeg: Rename constant
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

Corrections to the doc installation path (CMake) Inclusion of the current QT 5 translation files (CMake and Scons) Corrected one resource path in glslwaveformrenderersignal.cpp Cleaned mixxx.qrc
  CMakeLists.txt
  SConscript
  res/mixxx.qrc
  src/waveform/renderers/glslwaveformrenderersignal.cpp
Due: clang-format, line-length

Fixed SConscript syntax.
  CMakeLists.txt
  SConscript
Due: none

The comments broke this
  CMakeLists.txt
Due: none

Make djinterop explicit opt-in.
  .travis.yml
  CMakeLists.txt
  appveyor.yml
Due: none

beats: add back old protobuf types for backwards compatibility
  src/proto/beats.proto
Due: clang-format

sync lock possible fix: delete code for sync-during-callback
  src/engine/controls/bpmcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginemaster.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/internalclock.h
  src/test/enginesynctest.cpp
Due: clang-format, line-length

Fix debug assertion when storing Cue objects without track id
  src/track/track.cpp
Due: clang-format, line-length

Avoid unneeded locking
  src/track/track.cpp
  src/track/track.h
Due: clang-format, line-length

Reset track id of cue objects when removing from track
  src/track/track.cpp
Due: clang-format, line-length

added timer to prevent issues with soft takeover
  res/controllers/Denon-MC7000-scripts.js
Due: clang-format

add timer for delayed soft takeover
  res/controllers/Denon-MC7000-scripts.js
Due: clang-format

fix [Library], AutoDjAddBottom/Top ControlObjects
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format, line-length

add [Library], AutoDjAddReplace ControlObject
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
Due: clang-format, line-length

fix typo
  src/library/librarycontrol.h
Due: clang-format, line-length

don't search for legacy controller mappings in subdirectories
  src/controllers/controllerpresetinfoenumerator.cpp
Due: clang-format, line-length

split ControllerEngine functionality into ControllerEngineJSProxy
  src/controllers/engine/controllerengine.cpp
  src/controllers/engine/controllerengine.h
  src/controllers/engine/controllerenginejsproxy.cpp
  src/controllers/engine/controllerenginejsproxy.h
  src/controllers/engine/scriptconnection.h
  src/controllers/engine/scriptconnectionjsproxy.cpp
Due: clang-format, line-length

controllers: clean up some #includes
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/scripting/controllerscripthandler.h
  src/test/controller_preset_validation_test.cpp
  src/util/translations.h
Due: clang-format, line-length

split ControllerScriptHandler into base and subclasses
  CMakeLists.txt
  build/depends.py
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/controllerscripthandler.cpp
  src/controllers/scripting/controllerscripthandler.h
  src/controllers/scripting/controllerscriptmoduleengine.cpp
  src/controllers/scripting/controllerscriptmoduleengine.h
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/controllers/scripting/legacy/controllerscriptinterface.cpp
  src/controllers/scripting/legacy/controllerscriptinterface.h
  src/controllers/scripting/legacy/scriptconnection.cpp
  src/controllers/scripting/legacy/scriptconnection.h
  src/test/controller_preset_validation_test.cpp
  src/test/controllerengine_test.cpp
Due: clang-format, line-length

reorganize controller scripting code
  CMakeLists.txt
  build/depends.py
  src/control/controlobjectscript.h
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/scripting/colormapper.cpp
  src/controllers/scripting/colormapper.h
  src/controllers/scripting/colormapperjsproxy.cpp
  src/controllers/scripting/colormapperjsproxy.h
  src/controllers/scripting/controllerscripthandler.cpp
  src/controllers/scripting/controllerscripthandler.h
  src/controllers/scripting/legacy/controllerscriptinterface.cpp
  src/controllers/scripting/legacy/controllerscriptinterface.h
  src/controllers/scripting/legacy/scriptconnection.cpp
  src/controllers/scripting/legacy/scriptconnection.h
  src/controllers/scripting/legacy/scriptconnectionjsproxy.cpp
  src/controllers/scripting/legacy/scriptconnectionjsproxy.h
  src/test/colormapperjsproxy_test.cpp
  src/test/controller_preset_validation_test.cpp
  src/test/controllerengine_test.cpp
Due: clang-format, line-length

remove hacks for JS modules in legacy controller system
  src/controllers/controllerpreset.h
  src/controllers/controllerpresetfilehandler.cpp
Due: clang-format, line-length

ControllerScriptEngineBase: remove outdated comment
  src/controllers/scripting/controllerscriptenginebase.cpp
Due: clang-format, line-length

TrackDAO: Initialize track id immediately after (re-)insert
  src/library/dao/trackdao.cpp
Due: clang-format, line-length

Account for duplicate initialization of track id
  src/library/dao/trackdao.cpp
  src/track/track.cpp
Due: clang-format, line-length

Fix invalid std::move parameter passing
  src/track/track.cpp
Due: clang-format, line-length

Reset track id of cue points
  src/track/track.cpp
Due: clang-format, line-length

Added missing constexpr
  src/widget/wtrackwidgetgroup.cpp
Due: clang-format, line-length

replace empty destructor with "default"
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wtrackwidgetgroup.h
Due: clang-format, line-length

Use only CMake build from libdjinterop
  CMakeLists.txt
Due: none

Controller: replace legacy NULL with nullptr
  src/controllers/controller.cpp
Due: clang-format, line-length

ControllerScriptModuleEngine: keep build working with Qt < 5.12
  src/controllers/scripting/controllerscriptmoduleengine.cpp
Due: clang-format, line-length

cleanup handling of incoming HID/USB Bulk/MIDI sysex data
  src/controllers/controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
Due: clang-format, line-length

MidiController: rename confusingly overloaded "receive" method
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/controllers/midi/portmidicontroller.cpp
  src/test/midicontrollertest.cpp
  src/test/portmidicontroller_test.cpp
Due: clang-format, line-length

Macros: Introduce MacroManager as wrapper
  CMakeLists.txt
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/mixxx.cpp
  src/mixxx.h
Due: clang-format, line-length

Add a PKCS12 Windows code signing certificate and sign exe/msi artifacts.
  appveyor.yml
  build/certificates/windows_sectigo_codesign_certificate.pfx.enc
Due: none
