Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

tooltips: add show_prepwin, legacyskinparser: add preparationwindow in layout
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/skin/legacy/tooltips.cpp
Due: clang-format

chore: disable the benchmark CI by default
  .github/workflows/benchmark.yml
  .github/workflows/build.yml
  .github/workflows/pr-command.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

Add CHANGELOG entries for 2.5.4
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Remove not working fix for dependencies of trusted-signing-action #15239
  .github/workflows/build.yml
Due: none

fix missing {
  src/qml/qmlwaveformdisplay.cpp
Due: clang-format

fix missing ,
  src/engine/enginebuffer.cpp
Due: clang-format

fix: reset stem color correctly
  src/mixer/basetrackplayer.cpp
Due: clang-format

add Qt6::GuiPrivate component for rendergraph QShader support (Qt >= 6.10)
  CMakeLists.txt
Due: none

library: display hotcues on overview waveform
  src/library/overviewcache.cpp
  src/library/tabledelegates/overviewdelegate.cpp
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
Due: clang-format

Added WIP docs controls export script
  tools/ts_export_docs_controls.py
Due: none

Extract controls from docs
  tools/ts_export_docs_controls.py
Due: none

Added control types generator WIP
  res/controllers/_mixxx-controls.ts
  tools/ts_export_docs_controls.py
Due: none

address review feedback
  src/library/overviewcache.cpp
  src/library/overviewcache.h
  src/library/tabledelegates/overviewdelegate.cpp
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
Due: clang-format

fix: convert cue points to cue infos using getCueInfo()
  src/library/overviewcache.cpp
Due: clang-format

add stacked overview waveform rendering modes
  CMakeLists.txt
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/overviewtype.h
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
  src/widget/woverview.cpp
Due: clang-format

fix(LateNight): hide stem control if the track has no stems
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
Due: qsscheck

feat(LateNight): add an option to constrain waveform breadth
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/waveform.xml
  src/skin/legacy/tooltips.cpp
Due: clang-format

Track comment: show only first line in WTrackPropertyEditor
  src/widget/wtrackproperty.cpp
Due: clang-format

Track comment: add shortcut to edit deck label, Alt + deckNum
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
Due: clang-format

Track comment: add linebreak with \n in WTrackPropertyEditor
  src/widget/wtrackproperty.cpp
Due: clang-format

chore: add skin controls for stems on Deere
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/knob_bg_green_gapless.svg
  res/skins/Deere/knob_medium_optional_label.xml
  res/skins/Deere/parallel_waveforms.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/stem_channel.xml
  res/skins/Deere/stem_control.xml
  res/skins/Deere/style.qss
  res/skins/Deere/tool_bar.xml
Due: qsscheck

chore: add skin controls for stems on Tango
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/skin.xml
  res/skins/Tango/stem_channel.xml
  res/skins/Tango/stem_control.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
  res/skins/Tango/waveforms_container.xml
Due: qsscheck

Added combined group types
  res/controllers/_mixxx-controls.ts
  tools/ts_export_docs_controls.py
Due: none

Added dynamic control names; Added pot meter suffixes
  res/controllers/_mixxx-controls.ts
  tools/ts_export_docs_controls.py
Due: none

LateNight: add ERROR label to broadcast toggle
  res/skins/LateNight/toolbar.xml
Due: none

Added ts doc markdown tables
  res/controllers/_mixxx-controls.ts
  tools/ts_export_docs_controls.py
Due: none

change deck bg to subtle shade of deck colour
  res/skins/Deere/skin.xml
Due: none

Added md table support for range; Fixed readonly detection
  tools/ts_export_docs_controls.py
Due: none

Added @since version tag; Fixed deprecated tag
  res/controllers/_mixxx-controls.ts
  tools/ts_export_docs_controls.py
Due: none

Sorted names; Excluded removed controls;
  res/controllers/_mixxx-controls.ts
  tools/ts_export_docs_controls.py
Due: none

Finished controls generator (release candidate 1)
  res/controllers/_mixxx-controls.ts
  res/controllers/mixxx-controls.d.ts
  tools/ts_export_docs_controls.py
Due: none

Search: maintain cursor position when saving query
  src/widget/wsearchlineedit.cpp
Due: clang-format

effects.xml: name Stem QuickEffect chains node like deck QuickEffects
  src/effects/presets/effectchainpresetmanager.cpp
  src/effects/presets/effectxmlelements.h
Due: clang-format

add libopenmpt support with backward-compatible DSP effects
  CMakeLists.txt
  cmake/modules/FindOpenMPT.cmake
  src/coreservices.cpp
  src/preferences/dialog/dlgprefmodplug.cpp
  src/sources/soundsourceopenmpt.cpp
  src/sources/soundsourceopenmpt.h
  src/sources/soundsourceproxy.cpp
  src/sources/trackerdsp.cpp
  src/sources/trackerdsp.h
Due: clang-format

Overview: also clear waveform image on type change to start afresh
  src/widget/woverview.cpp
Due: clang-format

Fix debug assert violation when building without stem support
  src/skin/legacy/legacyskinparser.cpp
  src/widget/weffectchainpresetselector.cpp
Due: clang-format

Revert "Merge branch 'track-comment-hotkey' of github.com:ronso0/mixxx"
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
Due: clang-format

Track comment: show only first line in WTrackPropertyEditor
  src/widget/wtrackproperty.cpp
  src/widget/wtrackproperty.h
Due: clang-format
