Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

Fix not working cmake default_option() with braces in the default string
  CMakeLists.txt
Due: none

CI: Use custom CMake version on macOS/Ubuntu 18.04 only
  .github/workflows/build.yml
Due: none

Revert "Fix not working cmake default_option() with braces in the default string"
  CMakeLists.txt
Due: none

CMake: Fix Qt5Keychain detection
  CMakeLists.txt
Due: none

CMake: Fix setting of X_VCPKG_APPLOCAL_DEPS_INSTALL
  CMakeLists.txt
Due: none

CI: Remove references to ubuntu-18.04 from build
  .github/workflows/build.yml
Due: none

CI: Upgrade jwlawson/actions-setup-cmake from v1.4 to v1.9
  .github/workflows/build.yml
Due: none

Delete obsolete comments referencing Ubuntu Bionic 18.04
  src/encoder/encoderfdkaac.cpp
  src/encoder/encodersndfileflac.cpp
Due: clang-format

Delete obsolete workaround when casting a double into an enum
  src/widget/whotcuebutton.cpp
Due: clang-format

Enable StatementMacros in .clang-format
  .clang-format
Due: none

replace led array with start plus index
  res/controllers/Pioneer-DDJ-SB3-scripts.js
Due: none

replace "manual" toggle with built in function
  res/controllers/Pioneer-DDJ-SB3-scripts.js
Due: none

Waveforms on macOS fixup: also exclude simple renderers from enum list
  src/waveform/widgets/waveformwidgettype.h
Due: clang-format

skins/QMLDemo: Move image sources to theme singleton
  res/skins/QMLDemo/Button.qml
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/HotcuePopup.qml
  res/skins/QMLDemo/Knob.qml
  res/skins/QMLDemo/MixerColumn.qml
  res/skins/QMLDemo/Slider.qml
  res/skins/QMLDemo/Theme/Theme.qml
Due: none

LateNight: fix scaling of icons still using background-image
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Skins, waveforms: remove I-beam from in/outro marker to equalize marker size
  res/skins/Deere/deck_waveform.xml
  res/skins/Shade/waveform.xml
  res/skins/Tango/waveform.xml
Due: none

DlgPrefWaveforms: adjust ResetToDefault to new combobox content
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

DlgPrefWaveforms: sort waveform types alphabetically
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.h
  src/waveform/widgets/waveformwidgettype.h
Due: clang-format

Add support for editing ReplayGain values.
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Revert extra if condition to add a default option and don't use not working and redundant braces.
  CMakeLists.txt
Due: none

ReplayGain edit: move validation to the tablemodel
  src/library/basesqltablemodel.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Skins, waveforms: position in/outro markers inside the range
  res/skins/Deere/deck_waveform.xml
  res/skins/Shade/waveform.xml
  res/skins/Tango/waveform.xml
Due: none

Edit Replaygain: factor out function
  src/library/basetracktablemodel.cpp
Due: clang-format

Edit Replaygain: edit func name
  src/library/basesqltablemodel.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Edit Replaygain: Avoid unnecessary struct comparison and eliminate unused return value
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Allow parentheses in default_option() depends string
  cmake/modules/DefaultOption.cmake
Due: none

WTrackMenu: improve format of Delete warning
  src/widget/wtrackmenu.cpp
Due: clang-format

Remove from disk: rename variables
  src/widget/wtrackmenu.cpp
Due: clang-format

widgethelper: add method to stretch QListWidget to show all content
  src/util/widgethelper.cpp
  src/util/widgethelper.h
Due: clang-format

Remove from disk: stretch dialog to show all files
  src/widget/wtrackmenu.cpp
Due: clang-format

SoundSourceFLAC: Fix armv7hl build on gcc 11.1
  src/sources/soundsourceflac.cpp
Due: clang-format

CMake: Set default build type if not set explicitly
  CMakeLists.txt
Due: none

Add AAC to dynamic metadata statement
  src/engine/sidechain/shoutconnection.cpp
Due: clang-format

skins/QMLDemo: Add section background
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/DeckInfoBar.qml
  res/skins/QMLDemo/DeckRow.qml
  res/skins/QMLDemo/Mixer.qml
  res/skins/QMLDemo/SectionBackground.qml
  res/skins/QMLDemo/Theme/Theme.qml
  res/skins/QMLDemo/images/section.svg
  res/skins/QMLDemo/main.qml
Due: none

skins/QMLDemo: Improve microphone/aux units and add ducking controls
  res/skins/QMLDemo/AuxiliaryUnit.qml
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/MicrophoneUnit.qml
  res/skins/QMLDemo/Slider.qml
  res/skins/QMLDemo/Theme/Theme.qml
  res/skins/QMLDemo/images/slider_handle_micducking.svg
  res/skins/QMLDemo/images/slider_micducking.svg
Due: none

skins/QMLDemo: Add basic microphone/aux inputs to crossfader row
  res/skins/QMLDemo/AuxiliaryUnit.qml
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/MicrophoneUnit.qml
Due: none

QML: Introduce reusable PlayerDropArea component
  res/skins/QMLDemo/Deck.qml
  res/skins/QMLDemo/Mixxx/PlayerDropArea.qml
  res/skins/QMLDemo/Mixxx/qmldir
  res/skins/QMLDemo/Sampler.qml
Due: none

skins/QMLDemo: Move effects to separate row
  res/skins/QMLDemo/CrossfaderRow.qml
  res/skins/QMLDemo/EffectRow.qml
  res/skins/QMLDemo/main.qml
Due: none

skins/QMLDemo: Add sampler row
  res/skins/QMLDemo/ControlMiniKnob.qml
  res/skins/QMLDemo/EmbeddedBackground.qml
  res/skins/QMLDemo/MiniKnob.qml
  res/skins/QMLDemo/Sampler.qml
  res/skins/QMLDemo/SamplerRow.qml
  res/skins/QMLDemo/Theme/Theme.qml
  res/skins/QMLDemo/images/miniknob.svg
  res/skins/QMLDemo/images/miniknob_shadow.svg
  res/skins/QMLDemo/main.qml
Due: none

skins/QMLDemo: Fix crossfader margins
  res/skins/QMLDemo/CrossfaderRow.qml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
