Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

LateNight: smaller Fx Mix & Super knob, darker Fx Mix arc
  res/skins/LateNight/fx/singletons.xml
  res/skins/LateNight/fx_rack.xml
  res/skins/LateNight/skin.xml
Due: none

LateNight PaleMoon: desaturate & darken hovered selected item in drop-down lists
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

LateNight PaleMoon: polish samplers
  res/skins/LateNight/classic/sliders/knob_pitch_sampler.svg
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/decks/rate_controls_compact.xml
  res/skins/LateNight/palemoon/sliders/knob_pitch_sampler.svg
  res/skins/LateNight/palemoon/style/vu_sampler_clipping_bg_.png
  res/skins/LateNight/palemoon/style/vu_sampler_level_bg_.png
  res/skins/LateNight/samplers/sampler.xml
  res/skins/LateNight/samplers/sampler_mini.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

LateNight Mixer: simplify templates = faster switching 2/4 decks, better accomodate Booth knob
  res/skins/LateNight/controls/knob.xml
  res/skins/LateNight/controls/knob_textless.xml
  res/skins/LateNight/controls/knob_with_label.xml
  res/skins/LateNight/fx/assign_buttons_master.xml
  res/skins/LateNight/fx/singletons.xml
  res/skins/LateNight/mic_aux/aux_unit.xml
  res/skins/LateNight/mic_aux/ducking_controls.xml
  res/skins/LateNight/mic_aux/mic_unit.xml
  res/skins/LateNight/mixer.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/mixer/channel_left.xml
  res/skins/LateNight/mixer/channel_right.xml
  res/skins/LateNight/mixer/mixer_2decks.xml
  res/skins/LateNight/mixer/mixer_4decks.xml
  res/skins/LateNight/mixer/mixer_master_headphone.xml
  res/skins/LateNight/mixer/vumeter_single.xml
  res/skins/LateNight/palemoon/buttons/btn__lib_clear_search.svg
  res/skins/LateNight/samplers/sampler.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
Due: qsscheck

LateNight: expose toolbar clock more
  res/skins/LateNight/toolbar.xml
Due: none

Traktor Kontrol S2 MK2: Fixed 2-4 bytes long controls not working
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
Due: none

Traktor Kontrol S2 MK2: Added knob soft takeover
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
Due: none

Update author name and e-mail
  res/controllers/Traktor-Kontrol-S2-MK2-hid-scripts.js
Due: none

Fixed build failures on Linux and MacOS
  src/library/basesqltablemodel.h
  src/library/browse/browsetablemodel.h
Due: clang-format

Delete unused global constant
  src/effects/builtin/biquadfullkilleqeffect.h
Due: clang-format

Fix type inconsistencies in effects
  src/effects/builtin/biquadfullkilleqeffect.cpp
  src/effects/builtin/biquadfullkilleqeffect.h
  src/effects/builtin/lvmixeqbase.h
Due: clang-format

Restrict Clang 10 warning workaround
  src/util/logging.cpp
Due: clang-format

Add missing emit keywords
  src/library/dao/playlistdao.cpp
Due: clang-format

Update res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

Update res/controllers/Pioneer-DDJ-200-scripts.js
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Libarycontrol: fix crash when trying to refocus the library while another Mixxx window has focus
  src/library/librarycontrol.cpp
Due: clang-format

rename padding argument
  src/widget/wsearchlineedit.cpp
Due: clang-format

changelog: fix library focus crash #3201
  CHANGELOG
Due: none

make pre commit happy again
  src/controllers/controlpickermenu.cpp
Due: clang-format

Fix destruction of lv2manifests
  src/effects/lv2/lv2manifest.cpp
Due: clang-format

fix old-style cast
  src/effects/lv2/lv2manifest.cpp
Due: clang-format

SoundSourceFLAC: Fix Werror=sign-compare for armv7hl
  src/sources/soundsourceflac.cpp
Due: clang-format

Update src/library/clementine/clementinedbconnection.cpp
  src/library/clementine/clementinedbconnection.cpp
Due: clang-format

push packages to cachix
  .travis.yml
Due: none

fix camelcase
  src/widget/wsearchlineedit.cpp
Due: clang-format

Fix widget size on very long entries in the history
  src/widget/wsearchlineedit.cpp
Due: clang-format

incorperate review comments
  src/library/clementine/clementinedbconnection.cpp
  src/library/clementine/clementinefeature.cpp
Due: clang-format

clementine bpm are in int - use mixxx float database bpm if not provided
  src/library/clementine/clementinedbconnection.cpp
  src/library/clementine/clementinedbconnection.h
Due: clang-format

apply reformat fixes
  src/library/clementine/clementinedbconnection.cpp
  src/library/clementine/clementineplaylistmodel.cpp
Due: clang-format

CMake: Add support for macOS bundles
  .travis.yml
  CMakeLists.txt
  cmake/macos_bundle.plist.in
Due: none

CMake: Add support for macOS codesigning
  .travis.yml
  build/certificates/macos_developer_id_codesign_certificate.p12.enc
Due: none

CMake: Fix RPATHs in macOS bundles
  CMakeLists.txt
Due: none

CMake: Add Qt plugins to the macOS bundle
  CMakeLists.txt
Due: none

Update __init__.js
  script/console/__init__.js
Due: none

Correctly report error codes. Run tests in travis dev shell
  .travis.yml
  shell.nix
Due: none

Travis CI: Fixed the Pre-commit-pr hooks error
  src/controllers/controlpickermenu.cpp
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/dlgautodj.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
