Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Use an immutable std::weak_ptr for creating borrowed_ptr
  src/test/borrowabletest.cpp
  src/util/borrowable_ptr.h
Due: clang-format

Add an explaining comment in BorrowableTest
  src/test/borrowabletest.cpp
Due: clang-format

Changed all u_int8_t to int
  src/track/beats.cpp
  src/track/beats.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format

wip: add libsamplerate scaler. TODO: scaling logic
  CMakeLists.txt
  packaging/debian/control.in
  src/coreservices.cpp
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/bufferscalers/enginebufferscalesr.cpp
  src/engine/bufferscalers/enginebufferscalesr.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  tools/rpm_buildenv.sh
Due: clang-format

Added default value for m_downbeatsOffset
  src/track/beats.h
Due: clang-format

Fix destruction order in ReadAheadManagerTest to avoid dangling control pointers
  src/test/readaheadmanager_test.cpp
Due: clang-format

Fix engine control destruction order to avoid temporary dangling control pointer.
  src/engine/enginebuffer.cpp
Due: clang-format

Make EngineBuffer::m_quantize a PollingControlProxy
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format

Add default constructor to PollingControlProxy
  src/control/pollingcontrolproxy.h
  src/widget/wcuemenupopup.cpp
Due: clang-format

Remove redundant prefix form PollingControlProxy variables
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Due: clang-format

Remove temporary with wrong name.
  src/library/basetracktablemodel.cpp
Due: clang-format

Replace getFieldString string with enum version
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
Due: clang-format

Fix translation context for "BaseTrackTableModel"
  src/library/columncache.cpp
Due: clang-format

Add missing XCloseDisplay(pDisplay);
  src/coreservices.cpp
Due: clang-format

Fix comments
  src/track/beatutils.cpp
Due: clang-format

CueModes: use enum only, fix logging
  src/engine/controls/cuecontrol.cpp
Due: clang-format

create a re-usable trySnap() function
  src/track/beatutils.cpp
  src/track/beatutils.h
Due: clang-format

Fix changing stem group for deck in ComponentsJS
  res/controllers/midi-components-0.0.js
Due: none

Controller engine: add isBrakeActive(), isSpinbackActive() and isSoftStartActive()
  res/controllers/engine-api.d.ts
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
Due: clang-format

controllers/engine-api.d.ts: fix brake()/spinback() documentation
  res/controllers/engine-api.d.ts
Due: none

Added a GUI box in preferences that enables users to independently choose scratching and keylock libraries.
  src/coreservices.cpp
  src/engine/bufferscalers/enginebufferscalesr.cpp
  src/engine/bufferscalers/enginebufferscalesr.h
  src/engine/bufferscalers/enginebufferscalest.cpp
  src/engine/controls/ratecontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounddlg.ui
Due: clang-format

Update Translation template. Found 3119 source text(s) (0 new and 3119 already existing)
  res/translations/mixxx.ts
  src/library/columncache.cpp
Due: clang-format, ts-source-copy

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/source_copy_allow_list.tsv
Due: ts-source-copy

CueControl: replace if/else with switch/case
  src/engine/controls/cuecontrol.cpp
Due: clang-format

CueControl: unique_ptr `cue_mode` and `cue_point`
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

update cue & play indicators when changing cue mode while deck is paused
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/enginebuffer.h
Due: clang-format

Computer feature: mention constraints of file view/model
  src/library/browse/browsefeature.cpp
Due: clang-format

Fix: avoid QThread segfault on macOS by using deleteLater() and disconnecting
  src/track/globaltrackcache.cpp
Due: clang-format

Fix(2.5): guard thread spawn in GlobalTrackCache and retain test stability
  src/track/globaltrackcache.cpp
Due: clang-format

engine(2.5): use indefinite wait for worker threads instead of polling
  src/track/globaltrackcache.cpp
Due: clang-format

engine(2.5): enqueue work and block worker threads until real eviction or shutdown
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
Due: clang-format

Fix(2.5): include <QQueue> and <QThread> so m_pendingEntries/QThread::create() build on macOS
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
Due: clang-format

fix(GlobalTrackCache): add missing member declarations for thread coordination
  src/track/globaltrackcache.h
Due: clang-format

Add previous 2.5.1 debian changelog. 2.5.2 will be autogenerated
  packaging/debian/changelog
Due: none

Update CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Bump version to 2.5.2
  CMakeLists.txt
  LICENSE
Due: none

Twister: Add stems layer
  res/controllers/DJ TechTools MIDI Fighter Twister.midi.xml
  res/controllers/DJ TechTools-MIDI Fighter Twister-scripts.js
Due: none

urls: fix Sound Hardware manual URL
  src/defs_urls.h
Due: clang-format

Pref Sound: add (?) to Sound API label, link to API section in the manual
  src/defs_urls.h
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Release 2.5.2
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
