Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmlformat, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmlformat: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

dlgtagfetcher: redundant lines deleted
  src/library/dlgtagfetcher.cpp
  src/library/dlgtagfetcher.h
Due: clang-format

tracksuggestionfeature: trackLoad slot adjusted
  src/library/tracksuggestion/tracksuggestionfeature.cpp
Due: clang-format

dlgtagfetcher: p prefix added for pointers
  src/library/dlgtagfetcher.cpp
Due: clang-format

proof of concept scrolling waveform using QSGSceneGraph
  CMakeLists.txt
  res/qml/main.qml
  src/qml/qmlapplication.cpp
  src/qml/qmlrendertest.cpp
  src/qml/qmlrendertest.h
Due: clang-format, qmlformat, qmllint

proof of concept scrolling waveform using QSGSceneGraph
  res/qml/main.qml
Due: qmlformat, qmllint

proof of concept scrolling waveform using QSGSceneGraph, 2 instances
  res/qml/main.qml
  src/qml/qmlrendertest.cpp
Due: clang-format, qmlformat, qmllint

taking device pixel ratio into account
  src/qml/qmlrendertest.cpp
Due: clang-format

Move to MIXXX_VCPKG_ROOT to avoid conflicts with system wide VCPKG_ROOT
  CMakeLists.txt
  tools/windows_buildenv.bat
Due: none

use same trick for libkeyfinder as for libdjinterop externalproject_add to pass cmake_prefix_path
  CMakeLists.txt
Due: none

fix(soundsourceflac): Fix `-Wswitch` when building with FLAC >= 1.4.0
  src/sources/soundsourceflac.cpp
Due: clang-format

fix(qml): Fix compatibility with Qt 6.3.0 - 6.3.2 by bumping QML version
  CMakeLists.txt
  res/qml/ControlButton.qml
  res/qml/ControlKnob.qml
  res/qml/ControlMiniKnob.qml
  res/qml/ControlSlider.qml
  res/qml/Deck.qml
  res/qml/DeckInfoBar.qml
  res/qml/DeveloperToolsWindow.qml
  res/qml/EffectSlot.qml
  res/qml/EqKnob.qml
  res/qml/FocusedWidgetControl.qml
  res/qml/Hotcue.qml
  res/qml/HotcuePopup.qml
  res/qml/InfoBarButton.qml
  res/qml/Knob.qml
  res/qml/Library.qml
  res/qml/LibraryControl.qml
  res/qml/LibraryControlLoadSelectedTrackHandler.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/Mixxx/Controls/Spinny.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/Mixxx/Controls/WaveformOverviewHotcueMarker.qml
  res/qml/Mixxx/Controls/WaveformOverviewMarker.qml
  res/qml/Mixxx/PlayerDropArea.qml
  res/qml/Mixxx/qmldir
  res/qml/OrientationToggleButton.qml
  res/qml/Sampler.qml
  res/qml/Slider.qml
  res/qml/SyncButton.qml
  res/qml/VuMeter.qml
  res/qml/WaveformOverview.qml
  res/qml/main.qml
Due: qmlformat, qmllint

Fix use of uninitialized memory
  src/waveform/renderers/glwaveformrenderer.h
  src/widget/wraterange.cpp
Due: clang-format

use <Layout>horizontal</Layout> in VU-Meter wrapper widgets
  res/skins/Shade/auxiliary.xml
  res/skins/Shade/microphone.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Shade/preview_deck.xml
  res/skins/Shade/sampler.xml
Due: none

Fix sefgault cause by a concurrent creation of platform windows.
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

Add Distortion effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/distortioneffect.cpp
  src/effects/backends/builtin/distortioneffect.h
  src/util/sample.cpp
  src/util/sample.h
  src/widget/weffectpushbutton.cpp
Due: clang-format

wcoverartmenu: Disc Access moved to another thread
  src/library/export/coverartcopyworker.cpp
  src/library/export/coverartcopyworker.h
  src/widget/wcoverartmenu.cpp
  src/widget/wcoverartmenu.h
Due: clang-format

coverartworker: signal name changed & run protected
  src/library/export/coverartcopyworker.cpp
  src/library/export/coverartcopyworker.h
  src/widget/wcoverartmenu.cpp
Due: clang-format

coverartcopyworker: Error handling added.
  src/library/export/coverartcopyworker.cpp
Due: clang-format

coverartcopyworker: fail signal added.
  src/library/export/coverartcopyworker.cpp
  src/library/export/coverartcopyworker.h
  src/widget/wcoverartmenu.cpp
  src/widget/wcoverartmenu.h
Due: clang-format

Add missing return
  src/effects/backends/builtin/distortioneffect.cpp
Due: clang-format

Fix warnings
  src/effects/backends/builtin/distortioneffect.cpp
  src/effects/backends/builtin/distortioneffect.h
  src/util/sample.cpp
Due: clang-format

replace obsolete QStandardPaths::DataLocation with QStandardPaths::AppLocalDataLocation, which is the same according to Qt docs
  src/util/cmdlineargs.cpp
Due: clang-format

coverartcopyworker: fileaccess.info() added
  src/library/export/coverartcopyworker.cpp
Due: clang-format

coverartcopyworker: wait() added in destructor
  src/library/export/coverartcopyworker.cpp
  src/library/export/coverartcopyworker.h
Due: clang-format

MC7000: Remove redundant check in roll implementation
  res/controllers/Denon-MC7000-scripts.js
Due: none

MC7000: Restore previous loop size after roll loop
  res/controllers/Denon-MC7000-scripts.js
Due: none

MC7000: Keep track of per-deck roll buttons
  res/controllers/Denon-MC7000-scripts.js
Due: none

made vumetergl the default and simplified commandline option to disable it
  src/util/cmdlineargs.cpp
Due: clang-format

style(github): Apply formatting changes from pre-commit prettier hook
  .github/workflows/stale.yml
Due: none

Apply the GL widget workaround only for the x11 (xcb) platform
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

Implement band bypass mode on all eq effects
  src/effects/backends/builtin/bessel4lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel4lvmixeqeffect.h
  src/effects/backends/builtin/bessel8lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel8lvmixeqeffect.h
  src/effects/backends/builtin/biquadfullkilleqeffect.cpp
  src/effects/backends/builtin/biquadfullkilleqeffect.h
  src/effects/backends/builtin/linkwitzriley8eqeffect.cpp
  src/effects/backends/builtin/linkwitzriley8eqeffect.h
  src/effects/backends/builtin/threebandbiquadeqeffect.cpp
  src/effects/backends/builtin/threebandbiquadeqeffect.h
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
Due: clang-format

Update waveforms to work well with new eq mode
  src/waveform/renderers/qtwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
Due: clang-format

Add UI to change eq button mode
  src/preferences/dialog/dlgprefeq.cpp
  src/preferences/dialog/dlgprefeq.h
  src/preferences/dialog/dlgprefeqdlg.ui
Due: clang-format

Some renaming
  src/mixer/basetrackplayer.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
Due: clang-format

Rename control picker items
  src/controllers/controlpickermenu.cpp
Due: clang-format

Fix warning
  src/waveform/renderers/waveformrenderersignalbase.cpp
Due: clang-format

Fix tests
  src/mixer/basetrackplayer.cpp
Due: clang-format

Update eq button tooltips when mode changes
  CMakeLists.txt
  res/skins/Deere/equalizer_rack_parameter_left.xml
  res/skins/Deere/equalizer_rack_parameter_right.xml
  res/skins/LateNight/mixer/eq_knob_4decks.xml
  res/skins/LateNight/mixer/eq_knob_left.xml
  res/skins/LateNight/mixer/eq_knob_right.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/mixer/eq_button.xml
  src/effects/backends/builtin/equalizer_util.h
  src/effects/backends/effectmanifestparameter.h
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/widget/weffectpushbutton.h
  src/widget/wequalizerpushbutton.cpp
  src/widget/wequalizerpushbutton.h
Due: clang-format

Remove unused file
  src/widget/weffectparameterbase.cpp
Due: clang-format

AnalyzerTrack: Use it instead of TrackPointers
  src/analyzer/analyzer.h
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzerebur128.h
  src/analyzer/analyzergain.cpp
  src/analyzer/analyzergain.h
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/analyzersilence.cpp
  src/analyzer/analyzersilence.h
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerthread.h
  src/analyzer/analyzertrack.h
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/analyzer/trackanalysisscheduler.cpp
  src/analyzer/trackanalysisscheduler.h
Due: clang-format
