Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Align class definition layout with the rest of Mixxx
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/widget/openglwindow.cpp
  src/widget/openglwindow.h
  src/widget/tooltipqopengl.cpp
  src/widget/tooltipqopengl.h
  src/widget/wglwidgetqopengl.cpp
  src/widget/wglwidgetqopengl.h
Due: clang-format

Adjust names of variables
  src/widget/wglwidgetqglwidget.h
  src/widget/winitialglwidget.cpp
  src/widget/winitialglwidget.h
  src/widget/wspinny.cpp
  src/widget/wspinnybase.cpp
  src/widget/wspinnybase.h
  src/widget/wvumeter.cpp
  src/widget/wvumeterglsl.cpp
  src/widget/wvumeterglsl.h
  src/widget/wvumeterlegacy.cpp
  src/widget/wvumeterlegacy.h
Due: clang-format

Remove redundant include
  src/widget/tooltipqopengl.cpp
Due: clang-format

rename controller-pedantic to controller-abort-on-warning
  src/controllers/scripting/controllerscriptenginebase.cpp
  src/controllers/scripting/controllerscriptenginebase.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
Due: clang-format

fix(ci): only run typescript-eslint on *.d.ts definitions
  .eslintrc.json
Due: none

fix(ci): silence eslint complaints for common-controller-scripts.js
  res/controllers/common-controller-scripts.js
Due: none

Check for manual link instead of wiki link (controller documentation is moved)
  src/controllers/controllermappinginfo.cpp
  src/controllers/controllermappinginfo.h
  src/controllers/legacycontrollermapping.h
  src/test/controller_mapping_validation_test.cpp
Due: clang-format

Kontrol S4 Mk3: initial commit
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: PR feedback
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/common-controller-scripts.js
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
Due: clang-format

Kontrol S4 Mk3: adding settings for various behavior and small refactor
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: styling update
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: Fix deck change
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/common-controller-scripts.js
Due: none

Kontrol S4 Mk3: PR feedback
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: add controller mapping
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: adding end of track warning feature
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: PR feedback
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/common-controller-scripts.js
Due: none

Kontrol S4 Mk3: fixes and motor control enhancement
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: default setting tweaks and LED bugfix
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: additionnal effect mappings and init fix
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: fix loop mode exit and aligning with doc
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: better motor stability and smoother support for 45 RPM mode
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: adding input mixer feature
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Kontrol S4 Mk3: adding context-menu control using playlist button
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

fix pre-commit failing due to TS new linting rules
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/controllers/common-controller-scripts.js
Due: none

Changed to ES2015 classes, const functions and used JSDoc deprecate syntax Silenced eslint warnings or unused vars
  res/controllers/common-controller-scripts.js
Due: none

Update changelog for NI Traktor Kontrol S4MK3
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Adjusted the remaining Symbols
  src/controllers/dlgprefcontroller.cpp
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollermappingfilehandler.cpp
Due: clang-format

Check if for a valid intro before adjust it from the track cue position
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

Add a sanity check for intros of manual cued track
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

Don't exceed intro end if outro is longer than adjusted intro
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

Improve error message in moc_included_test.cpp
  src/util/moc_included_test.cpp
Due: clang-format

Remove quotes from #error
  src/util/moc_included_test.cpp
Due: clang-format

Remove Ubuntu Focal build instructions (again)
  CMakeLists.txt
Due: none

Add changelog entries
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add a status message about googletest. This helps to identify the source or errors like "missing pthread.h"
  CMakeLists.txt
Due: none

Give a hint about the scripts in the tools directory, if the environment is not found.
  CMakeLists.txt
Due: none

Give a hint how to build Mixxx with Visual Studio or from the command line.
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Improve CHANGELOG entries
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
