Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

Pioneer DDJ-200: Changed DDJ200.decks into ComponentContainer
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: replaced Object loops with forEachComponentContainer
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Library Preferences: compose font style if font has no styleName()
  src/preferences/dialog/dlgpreflibrary.cpp
Due: clang-format

Pioneer DDJ-200: removed DDJ200.Pad
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: changed options and description
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

Pioneer DDJ-200: added option to use SuperEQ as Gain
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: fixed EffectButtons and enabled 3/4th Unit
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Upload all 2.5 builds to "Patch Builds" ppa:mixxx/mixxxpatches
  .github/workflows/build.yml
Due: none

Pioneer DDJ-200: fixed PadMode Modeselector
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: minor bugfix für blinking LED
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: prevent initialization warning
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Don't allow closing preferences with faulty Sound Hardware config
  src/preferences/dialog/dlgpreferencepage.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
Due: clang-format

Pioneer DDJ-200: simplified shift
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: simplified shutdown
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: solve "missing scratch deck" warning
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: cleanup obsolete loop
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: fixed Shift issue
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Skin Highlight Controls: initial concept of Skin Control Highlights
  res/skins/LateNight/decks/deck_compact.xml
  res/skins/LateNight/decks/deck_full.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/decks/preview_deck.xml
  res/skins/LateNight/mixer/channel_4decks.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/LateNight/waveforms_container.xml
  src/skin/skincontrols.cpp
  src/skin/skincontrols.h
Due: clang-format, qsscheck

Install QuickTemplates2 required by QuickControlls2
  CMakeLists.txt
Due: none

Skin Highlight Controls: preview of new feature
  preview/control_deck1_and_deck2.png
  preview/control_deck1_and_deck4.png
  preview/control_deck3_and_deck2.png
Due: none

don't install windows lonly nativestyle module on Debian based distros
  tools/debian_buildenv.sh
Due: none

Dont depend on the windows only qml6-module-qtquick-nativestyle package.
  CMakeLists.txt
  packaging/debian/control.in
Due: none

Add "Window" element to skinparser
  res/skins/Shade/skin.xml
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
Due: clang-format

Pioneer DDJ-200: fixed JogWheel
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: fixed mixxx version string
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

Pioneer DDJ-200: improved code readability
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: completed midi documentation
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: bugfix for code typo introduced in dcd6955af53146b1b
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: bugfix wrong index
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: fixed typo
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: moved information about DEMO mode to mixx-manual
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Fix reset to defaults for PositionDisplayType
  src/preferences/dialog/dlgprefdeck.cpp
Due: clang-format

Pioneer DDJ-200: fixed shift and shutdown
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: separated faderStart and faderStop
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Fix default for "[Controls], RateDir" in lotResetToDefaults()
  src/preferences/dialog/dlgprefdeck.cpp
Due: clang-format

Use QStringLiteral for config keys
  src/preferences/dialog/dlgprefdeck.cpp
Due: clang-format

Waveform preferences: remove empty destructor
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Due: clang-format

Waveform preferences: move get/set acceleration to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Waveform preferences: move get/set WaveformOptions to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Waveform preferences: factory writes beatgrid alpha to config
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format
