Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Update res/controllers/Hercules-DJControl-Inpulse-500-script.js
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
Due: none

fix: re-tabbed to 4 spaces
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
Due: none

Remove superfluous ASSERT in wtrackmenu.cpp.
  src/skin/legacy/tooltips.cpp
  src/widget/wtrackmenu.cpp
Due: clang-format

Give a hint for https://github.com/mixxxdj/mixxx/wiki/Compiling-dependencies-for-macOS-arm64 when compiling on Apple M1/M2/M3
  CMakeLists.txt
Due: none

Adjust the hint towards the correct buildenv.sh
  CMakeLists.txt
Due: none

Fix pre-commit
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
  res/controllers/Hercules_DJControl_Inpulse_500.midi.xml
Due: none

PositionScratchController: fix false high rate when seeking
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/positionscratchcontroller.cpp
  src/engine/positionscratchcontroller.h
Due: clang-format

feat: use the readahead manager for the saved jump
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
  src/test/readaheadmanager_test.cpp
Due: clang-format

Update src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.cpp
Due: clang-format

feat: add RMS support for waveform
  src/analyzer/analyzerwaveform.cpp
  src/analyzer/analyzerwaveform.h
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/preferences/waveformsettings.h
  src/waveform/waveform.cpp
  src/waveform/waveform.h
Due: clang-format

Update res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Pioneer-DDJ-SB3-scripts.js
Due: none

feat: factorise controller setting to reduce boilerplate
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
  src/controllers/legacycontrollersettingsfactory.h
Due: clang-format

test: remove heap allocation on controller setting
  src/test/controller_mapping_settings_test.cpp
Due: clang-format

fix: prevent use-after-free with a texture buffer deepcopy
  src/rendergraph/opengl/texture.cpp
Due: clang-format

scrolling qml waveformdisplay working
  res/qml/Mixxx/Controls/WaveformDisplay.qml
  src/main.cpp
  src/qml/qmlplayermanagerproxy.cpp
  src/qml/qmlplayermanagerproxy.h
  src/waveform/isynctimeprovider.h
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
  src/waveform/vsyncthread.h
Due: clang-format, qmllint

fixup! feat: add scrolling waveform in QML using scenegraph
  CMakeLists.txt
  src/analyzer/analyzerwaveform.h
  src/qml/qmlapplication.h
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
Due: clang-format

fixup! feat: add scrolling waveform in QML using scenegraph
  res/qml/WaveformDisplay.qml
  src/qml/qmlwaveformrenderer.h
Due: clang-format, qmllint

chore: address pre-commit linting
  src/engine/sidechain/enginerecord.cpp
  src/preferences/dialog/dlgprefrecord.cpp
Due: clang-format

use helper class for eventfilter and create it in main thread
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
Due: clang-format

comment
  src/controllers/legacycontrollersettings.cpp
Due: clang-format

Improve some descriptions
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add recent changes from the 2.5 branch
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

fix: skip message send if sysex code is undefined
  res/controllers/Reloop-Digital-Jockey-2-IE.scripts.js
Due: none

Fix accidenral removal in fr_FR.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
Due: none

Remove accidental insertion in fr_FR.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
Due: none

Traktor S4mk2: fix script error in pointlessLightShow()
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Due: none

Set the tooltip within WCoverArtLabel itself
  src/library/dlgtrackinfo.cpp
  src/widget/wcoverartlabel.cpp
Due: clang-format

Improve documentation for WBasicLineEdit
  src/widget/wbasiclineedit.h
Due: clang-format

Improve documentation for WMultiLineTextEdit
  src/widget/wmultilinetextedit.h
Due: clang-format

Improve documentation for WBasicTabWidget
  src/widget/wbasictabwidget.h
Due: clang-format

Revert "DlgTrackInfo/UpDown: Change focus when pressing Up/Down on WBasicLabel"
  CMakeLists.txt
  src/library/dlgtrackinfo.ui
  src/widget/wbasiclabel.cpp
  src/widget/wbasiclabel.h
Due: clang-format

Revert "DlgTrackInfo/UpDown: Change focus when pressing Up/Down on WBasicTabWidget"
  CMakeLists.txt
  src/library/dlgtrackinfo.ui
  src/widget/wbasictabwidget.cpp
  src/widget/wbasictabwidget.h
Due: clang-format

Revert "DlgTrackInfo/UpDown: Change focus when pressing Up/Down on WBasicLineEdit"
  CMakeLists.txt
  src/library/dlgtrackinfo.ui
  src/widget/wbasiclineedit.cpp
  src/widget/wbasiclineedit.h
Due: clang-format

Handle up/down key navigation via DlgTrackInfo::eventFilter
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
