Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

Controller: pass received input QByteArray by reference
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midicontroller.h
  src/test/portmidicontroller_test.cpp
Due: clang-format, line-length

BulkController: avoid deep copying input data
  src/controllers/bulk/bulkcontroller.cpp
  src/controllers/bulk/bulkcontroller.h
Due: clang-format, line-length

Build options named by feature rather than dependency
  .travis.yml
  CMakeLists.txt
  appveyor.yml
Due: none

Macros: Test & fix Macro serialization
  src/macros/macro.cpp
  src/macros/macro.h
  src/test/macro-proto-test
  src/test/macros_test.cpp
Due: clang-format, line-length

ControllerScriptModuleEngine: pass raw ArrayBuffer to input callback
  src/controllers/scripting/controllerscriptmoduleengine.cpp
Due: clang-format, line-length

Move defaulted destructor to cpp file
  src/widget/wtrackwidgetgroup.cpp
  src/widget/wtrackwidgetgroup.h
Due: clang-format, line-length

Macros: Improve documentation
  src/macros/macro.cpp
  src/macros/macro.h
Due: clang-format, line-length

Macros: Implement & test Macro deserialization
  src/macros/macro.cpp
  src/macros/macro.h
  src/test/macros_test.cpp
Due: clang-format, line-length

beats: add migration code
  src/track/beatfactory.cpp
Due: clang-format, line-length

engine/controls/loopingcontrol: Add setBeatLoop method
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/enginecontrol.cpp
  src/engine/controls/enginecontrol.h
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format, line-length

remove cpack verbose flag
  .travis.yml
Due: none

Hss1394Controller: fix build
  src/controllers/midi/hss1394controller.cpp
  src/controllers/midi/hss1394controller.h
Due: clang-format, line-length

Macros: Fix stop if recording is already stopped
  src/macros/macrorecorder.cpp
Due: clang-format, line-length

Macros: Simplify recording stop polling
  src/macros/macrorecorder.cpp
Due: clang-format, line-length

Macros: Clean up parameter naming
  src/engine/enginebuffer.cpp
  src/macros/macro.cpp
  src/macros/macro.h
  src/macros/macromanager.cpp
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
  src/test/macros_test.cpp
Due: clang-format, line-length

Macros: Create proto namespace alias
  src/macros/macro.cpp
Due: clang-format, line-length

update comments
  src/proto/beats.proto
  src/track/beatfactory.cpp
Due: clang-format, line-length

first prototype
  CMakeLists.txt
  res/skins/LateNight/decks/rate_controls.xml
  src/skin/legacyskinparser.cpp
  src/skin/legacyskinparser.h
  src/skin/tooltips.cpp
  src/widget/wnumberrate.cpp
  src/widget/wnumberrate.h
  src/widget/wratedisplay.cpp
  src/widget/wratedisplay.h
Due: clang-format, line-length

Update src/widget/wratedisplay.h
  src/widget/wratedisplay.h
Due: clang-format, line-length

Update src/widget/wratedisplay.cpp
  src/widget/wratedisplay.cpp
Due: clang-format, line-length

revert all UI changes
  res/skins/Tango/buttons/btn_beats_set_bar_beat.svg
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
  src/controllers/controlpickermenu.cpp
  src/skin/tooltips.cpp
  src/waveform/renderers/waveformrenderbeat.cpp
  src/waveform/renderers/waveformrenderbeat.h
Due: clang-format, qsscheck, line-length

finish renaming of variables
  src/widget/wratedisplay.cpp
Due: clang-format, line-length

remove debug code
  src/widget/wratedisplay.cpp
Due: clang-format, line-length

CMake: Restore test working directory to fix Appveyor builds
  CMakeLists.txt
Due: none

update LateNight
  res/skins/LateNight/decks/rate_controls.xml
  res/skins/LateNight/style.qss
  src/widget/wnumberrate.cpp
Due: clang-format, qsscheck, line-length

Clarify comment in basesyncableistener
  src/engine/sync/basesyncablelistener.h
Due: clang-format, line-length

LateNight: add indicator for [FxUnitN],controller_input_active
  res/skins/LateNight/fx/singletons.xml
  res/skins/LateNight/fx/unit_parameters_hidden.xml
  res/skins/LateNight/fx/unit_parameters_visible.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

LateNight Classic: indent skin settings sub sections
  res/skins/LateNight/style_classic.qss
Due: qsscheck

add tooltips for some skin settings
  src/skin/tooltips.cpp
Due: clang-format, line-length

Preferences > Sound: prevent changing combobox or spinbox values when scrolling the page
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounditem.cpp
  src/preferences/dialog/dlgprefsounditem.h
Due: clang-format, line-length

rephrase mic ducking & maximize_library tooltips
  src/skin/tooltips.cpp
Due: clang-format, line-length

decouple downbeat from onset processing
  src/analyzer/analyzerrhythm.cpp
  src/analyzer/analyzerrhythm.h
Due: clang-format, line-length

cuecontrol: Use hotcue_X_endposition instead hotcue_X_length
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermark.cpp
  src/widget/woverview.cpp
Due: clang-format, line-length

controllers: Fix crash if controller mapping has no module
  src/controllers/controller.cpp
  src/controllers/controllerpresetfilehandler.cpp
  src/controllers/engine/controllerengine.cpp
Due: clang-format, line-length

engine/controls/cuecontrol: Set hotcue type CO on cue load
  src/engine/controls/cuecontrol.cpp
Due: clang-format, line-length
