Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

QML: prevent deck to be dragged out of position
  res/qml/main.qml
Due: none

fix(Android): prevent shell from exiting on buildenv sourcing
  tools/android_buildenv.sh
Due: none

Restore common-hid-packet-parser global symbol exceptions for eslint
  eslint.config.cjs
Due: none

Re-add accidentally deleted setup code for QML
  src/test/controller_mapping_validation_test.cpp
Due: clang-format

Reloop Mixtour: bugfix Mixer selection
  res/controllers/Reloop-Mixtour-scripts.js
Due: none

Reloop Mixtour: bugfix FX selection
  res/controllers/Reloop-Mixtour-scripts.js
Due: none

fixup! fix(QML): correctly handle path validation for waveform marker
  src/qml/qmlwaveformrenderer.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.cpp
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermarkbase.h
Due: clang-format

Fix clazy
  src/test/controller_mapping_validation_test.cpp
Due: clang-format

AutoDJ: Reset AutoDJ when deck orientation changes
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
Due: clang-format

Fix crash when sandbox asks for access from non-main thread on macOS
  src/util/sandbox.cpp
Due: clang-format

chore: add maybe_unused to support nodiscard added in Qt 6.10
  src/sources/soundsourcemodplug.cpp
  src/sources/soundsourcewv.cpp
  src/util/logging.cpp
Due: clang-format

feat(QML): enhance the setting components
  res/qml/Settings.qml
  res/qml/Settings/AudioRouter.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/main.qml
Due: none

Style fixes and formatting cleanup in DlgPrefLibrary
  src/preferences/dialog/dlgpreflibrary.cpp
Due: clang-format

rename Reloop Beatmix controller files to denote MK2 version and follow proper Mixxx naming format
  res/controllers/Reloop-Beatmix-2-4-MK2-scripts.js
  res/controllers/Reloop-Beatmix-2-4-MK2.midi.xml
Due: none

fix WhiteNoise effect ramp logic
  src/effects/backends/builtin/whitenoiseeffect.cpp
Due: clang-format

Remove commented code section
  src/test/controller_mapping_validation_test.cpp
Due: clang-format

Use Qt include aliases
  src/test/controller_mapping_validation_test.cpp
  src/test/controller_mapping_validation_test.h
Due: clang-format

feat: refactor and finish missing feature for MPRIS
  CMakeLists.txt
  res/mixxx.qrc
  src/broadcast/metadatabroadcast.cpp
  src/broadcast/metadatabroadcast.h
  src/broadcast/mpris/mediaplayer2.cpp
  src/broadcast/mpris/mediaplayer2player.h
  src/broadcast/mpris/mpris.cpp
  src/broadcast/mpris/mprisplayer.cpp
  src/broadcast/mpris/mprisplayer.h
  src/broadcast/mpris/mprisservice.cpp
  src/broadcast/scrobblingmanager.cpp
  src/broadcast/scrobblingmanager.h
  src/coreservices.cpp
  src/coreservices.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/preferences/dialog/dlgprefmetadata.cpp
  src/preferences/dialog/dlgprefmetadata.h
  src/preferences/dialog/dlgprefmetadatadlg.ui
  src/track/track.h
  src/track/trackplaytimers.cpp
  src/track/trackplaytimers.h
  src/track/tracktiminginfo.cpp
  src/track/tracktiminginfo.h
Due: clang-format

feat: refactor MacOSMediaPlayerService to integrate with ScrobblingManager
  CMakeLists.txt
  src/broadcast/macos/macosmediaplayerservice.h
  src/broadcast/macos/macosmediaplayerservice.mm
  src/broadcast/scrobblingmanager.cpp
  src/coreservices.cpp
  src/coreservices.h
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefmetadata.cpp
  src/preferences/dialog/dlgprefmetadatadlg.ui
Due: clang-format

MacOSMediaPlayerService: Add MacOSMediaPlayerService
  CMakeLists.txt
  src/broadcast/macos/macosmediaplayerservice.h
  src/broadcast/macos/macosmediaplayerservice.mm
  src/coreservices.cpp
  src/coreservices.h
Due: clang-format

WaveformWidget: forward declare rendergraph resource
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
Due: clang-format

rendergraph: add support for custom playposition
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformrendererabstract.cpp
  src/waveform/renderers/waveformrendererabstract.h
Due: clang-format

rendergraph: allow explicit visual position declaration
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/visualplayposition.h
Due: clang-format

DigitsRenderNode: correctly invalidate upon updates and clearing
  src/waveform/renderers/allshader/digitsrenderer.cpp
Due: clang-format

WaveformRendererSignalBase: use static EQ factors if no CO exists and store selected options
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
Due: clang-format

QML: add waveform setting and option proxy
  res/qml/WaveformDisplay.qml
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmltrackproxy.h
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformdisplay.h
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.cpp
  src/qml/qmlwaveformrenderer.h
Due: clang-format

Add AbletonLink widgets to Deere skin
  res/skins/Deere/style.qss
  res/skins/Deere/tool_bar.xml
Due: qsscheck

Implemented AbletonLink widgets for Tango
  res/skins/Tango/style.qss
  res/skins/Tango/topbar.xml
Due: qsscheck

Added minimal LINK widgets to Shade skin
  res/skins/Shade/mixer_panel.xml
  res/skins/Shade/style.qss
Due: qsscheck

Fix clang-format line wrapping in trackcollectionmanager.cpp
  src/library/trackcollectionmanager.cpp
Due: clang-format

Remove redundant connection of cue position control. We already receive an update via Cue::updated()
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/widget/woverview.cpp
Due: clang-format

Initalize uninitalized variables
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
Due: clang-format

Use VERIFY_OR_DEBUG_ASSERT() in WaveformWidgetRenderer::init() for pRendered->init()
  src/waveform/renderers/waveformwidgetrenderer.cpp
Due: clang-format

Remove redundant connection of cue end position control. We already receive an update via Cue::updated()
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformmarkset.h
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/widget/woverview.cpp
Due: clang-format

WaeformRedndere: Avoid plain new() by using std::unique_ptr
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
  src/waveform/renderers/waveformrendererendoftrack.cpp
  src/waveform/renderers/waveformrendererendoftrack.h
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
Due: clang-format

Move connectVisibleChanged() to setup() this fixes the CO: show_intro_outro_cues #15967
  src/waveform/renderers/waveformrendermarkbase.cpp
  src/waveform/renderers/waveformrendermarkbase.h
Due: clang-format

Enable BUNGEE by default for CI testing
  CMakeLists.txt
Due: none

Fix clang-format alignment in trackcollectionmanager.cpp
  src/library/trackcollectionmanager.cpp
Due: clang-format

Add GainEffect builtin effect
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/gaineffect.cpp
  src/effects/backends/builtin/gaineffect.h
Due: clang-format
