Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Moved the color selector loop to wtracktableview
  src/library/librarycontrol.cpp
  src/library/libraryview.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

ControlPickerMenu: Add library track color control
  src/controllers/controlpickermenu.cpp
Due: clang-format

Track color controls: Fix code style issue
  src/library/librarycontrol.cpp
Due: clang-format

Unused argument warnign fix
  src/library/libraryview.h
Due: clang-format

Color Palette: Added getNthColor method
  src/mixer/basetrackplayer.cpp
  src/util/color/colorpalette.cpp
  src/util/color/colorpalette.h
  src/widget/wtracktableview.cpp
Due: clang-format

Added library color selector
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
Due: clang-format

Add TODO
  src/util/color/colorpalette.cpp
Due: clang-format

CI: Disable QML CI on macOS x64 for now
  .github/workflows/build.yml
Due: none

Clang tidy and cleanup
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/skin/legacy/tooltips.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/serato/beatgrid.cpp
  src/track/serato/beatsimporter.cpp
  src/waveform/renderers/allshader/waveformrenderbeat.cpp
Due: clang-format

WTrackTableView: Use calculateCutIndex instead of restoreCurrentIndex
  src/widget/wtracktableview.cpp
Due: clang-format

AutoDJFeature: Allow searching of the Auto DJ playlist (again)
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
Due: clang-format

ProxyTrackModel: Forward Cut and Paste to underlying TrackModel
  src/library/proxytrackmodel.cpp
  src/library/proxytrackmodel.h
Due: clang-format

BaseSqlTableModel: Expose the search columns via searchColumns()
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/basetrackcache.cpp
  src/library/basetrackcache.h
Due: clang-format

AutoDJFeature: Fix indentation of findOrCrateAutoDjPlaylistId to avoid issues with clang-format
  src/library/autodj/autodjfeature.cpp
Due: clang-format

Fix: Remove leftover debugging output
  src/library/basetrackcache.cpp
Due: clang-format

Search: add 'type' filter
  src/library/searchqueryparser.cpp
Due: clang-format

Add control to edit the beatgrid bar length
  res/skins/LateNight/palemoon/buttons/btn__beats_decrease_bar_length.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_decrease_bar_length_active.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_increase_bar_length.svg
  res/skins/LateNight/palemoon/buttons/btn__beats_increase_bar_length_active.svg
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/skin/legacy/tooltips.cpp
  src/test/beatstest.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/serato/beatsimporter.cpp
Due: clang-format, qsscheck

Hide Control 0xFF in case of one byte messages
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/delegates/midibytedelegate.cpp
Due: clang-format

Fix searching for untranslated ConfigKey in input mapping table
  src/controllers/controllerinputmappingtablemodel.cpp
  src/controllers/delegates/controldelegate.cpp
Due: clang-format

(opti/cleanup) make use of WLibrary::getCurrentTrackTableView() ...
  src/library/analysis/dlganalysis.cpp
  src/library/analysis/dlganalysis.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/librarycontrol.cpp
  src/library/libraryview.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/widget/wlibrary.cpp
  src/widget/wlibrarytableview.cpp
  src/widget/wlibrarytableview.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

Improve playlist parser test coverage
  src/test/playlisttest.cpp
Due: clang-format

Fix MSVC warnings in parsercsv.cpp
  src/library/parsercsv.cpp
Due: clang-format

adjust `FocusWidget`: [Library],GoToItem uses space in WSearchRelatedTracksMenu
  src/library/library_decl.h
  src/library/librarycontrol.cpp
Due: clang-format

Add a missing inner null check
  src/controllers/controllerinputmappingtablemodel.cpp
Due: clang-format

Update changelog for 2.6-alpha
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Update CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

ShoutConnection: fix code style, rename variables
  src/engine/sidechain/shoutconnection.cpp
  src/engine/sidechain/shoutconnection.h
Due: clang-format

ShoutConnection: const
  src/engine/sidechain/shoutconnection.cpp
  src/engine/sidechain/shoutconnection.h
Due: clang-format

Add latest changes to CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add missing includes
  src/controllers/legacycontrollersettingslayout.h
  src/controllers/midi/midimessage.h
  src/waveform/renderers/allshader/digitsrenderer.cpp
Due: clang-format

Restore QT5 compatibility for the sake of quick regression checks
  src/controllers/midi/legacymidicontrollermapping.cpp
  src/library/dlgtrackinfomulti.cpp
  src/library/searchquery.cpp
  src/waveform/renderers/allshader/waveformrendererslipmode.cpp
Due: clang-format

Update Translation template. Found 3104 source texts (176 new and 2928 already existing)
  res/translations/mixxx.ts
Due: none

Welcome Oracular Oriole good bye Lunar Lobster
  CMakeLists.txt
Due: none

rekordbox: incorporate https://github.com/Deep-Symmetry/crate-digger/issues/32 fix
  lib/rekordbox-metadata/rekordbox_pdb.cpp
  lib/rekordbox-metadata/rekordbox_pdb.h
  lib/rekordbox-metadata/rekordbox_pdb.ksy
Due: none

Added code to allow / path separator on Windows too
  src/library/parsercsv.cpp
  src/test/playlisttest.cpp
Due: clang-format

ShoutConnection: return early in metaDataHasChanged()
  src/engine/sidechain/shoutconnection.cpp
  src/engine/sidechain/shoutconnection.h
Due: clang-format

ShoutConnection: log metadata update info
  src/engine/sidechain/shoutconnection.cpp
Due: clang-format

Install missing qml modules
  packaging/debian/control.in
Due: none

Add further asserts, comments and reword misleading symbols
  src/audio/frame.h
  src/engine/bufferscalers/enginebufferscale.cpp
  src/engine/bufferscalers/enginebufferscale.h
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalelinear.h
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.h
  src/engine/bufferscalers/enginebufferscalest.cpp
  src/engine/bufferscalers/enginebufferscalest.h
  src/engine/cachingreader/cachingreaderchunk.cpp
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/enginebuffer.cpp
  src/test/enginebufferscalelineartest.cpp
  src/test/mockedenginebackendtest.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
