Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.3.4

Rename all text based key representation to KeyText
  src/library/basesqltablemodel.cpp
  src/library/browse/browsethread.cpp
  src/library/dlgtrackinfo.cpp
  src/test/trackmetadata_test.cpp
  src/track/taglib/trackmetadata_ape.cpp
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/track.cpp
  src/track/trackinfo.cpp
  src/track/trackinfo.h
  src/track/trackrecord.cpp
Due: clang-format

split makebasicKeysFrom() Text into a normalizing and a keep text version
  src/library/rekordbox/rekordboxfeature.cpp
  src/track/keyfactory.cpp
  src/track/keyfactory.h
  src/track/trackrecord.cpp
Due: clang-format

Rename getGlobalKeyText() to formatGlobalKey(), because it reformats the global key according to the preferences.
  src/library/dao/trackdao.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/track/trackrecord.cpp
  src/track/trackrecord.h
Due: clang-format

Improve TrackRecord::updateGlobalKeyText()
  src/track/trackrecord.cpp
Due: clang-format

Pioneer-DDJ-SB3: Fix enabling slip mode
  res/controllers/Pioneer-DDJ-SB3-scripts.js
Due: none

Pioneer-DDJ-SB3: Fix invalid callback
  res/controllers/Pioneer-DDJ-SB3-scripts.js
Due: none

Pioneer-DDJ-SB3: Adds Master gain and headGain control
  res/controllers/Pioneer-DDJ-SB3.midi.xml
Due: none

Pioneer-DDJ-SB3: Adds FX Super Knob control to shifted FX Level knob
  res/controllers/Pioneer-DDJ-SB3-scripts.js
  res/controllers/Pioneer-DDJ-SB3.midi.xml
Due: none

Added missing expectations for EnginMasterTests
  src/test/enginemastertest.cpp
Due: clang-format

Ensure that convertWCStringToQString asserts only, when the string is longer, than the specified length
  src/util/string.h
Due: clang-format

library, browsefeature: fix quick link path retrieval
  src/library/browse/browsefeature.cpp
Due: clang-format

Add shift button on right deck
  res/controllers/Denon Prime 4.midi.xml
  res/controllers/Denon-Prime-4-scripts.js
Due: none

change 'Paramater' to 'Parameter'
  res/controllers/Denon Prime 4.midi.xml
Due: none

Fix typo in Denon-Prime-4-scripts.js
  res/controllers/Denon-Prime-4-scripts.js
Due: none

controllers: show HID devices in developer mode
  src/controllers/hid/hidenumerator.cpp
Due: clang-format

refactor(util): simplify convertWCStringToQString
  src/util/string.h
Due: clang-format

refactor(hid): pass proper `maxLen` to `mixxx::convertWCStringToQString`
  src/controllers/hid/hiddevice.cpp
Due: clang-format

feat(ci): tweak pre-commit-config for pre-commit.ci
  .pre-commit-config.yaml
Due: none

Release 2.3.4
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Removed resendUnchangedReport implementation from PR #4692 form HidIoOutputReport
  src/controllers/hid/hidiooutputreport.cpp
  src/controllers/hid/hidiooutputreport.h
Due: clang-format

Removed redundant printing of device name and serial number Nowadays the logging system prints this information at begin of each line anyway
  src/controllers/hid/hidiooutputreport.cpp
Due: clang-format

Renamed option resendUnchangedReport to useNonSkippingFIFO and described the new behavior
  src/controllers/hid/hidcontroller.h
  src/controllers/hid/hidiooutputreport.cpp
  src/controllers/hid/hidiooutputreport.h
  src/controllers/hid/hidiothread.cpp
  src/controllers/hid/hidiothread.h
Due: clang-format

Added implementation of FIFO for OutputReports
  CMakeLists.txt
  src/controllers/hid/hidioglobaloutputreportfifo.cpp
  src/controllers/hid/hidioglobaloutputreportfifo.h
Due: clang-format

Use the new OutputReport FIFO as alternative mode in HidIoThread
  src/controllers/hid/hidiooutputreport.cpp
  src/controllers/hid/hidiooutputreport.h
  src/controllers/hid/hidiothread.cpp
  src/controllers/hid/hidiothread.h
Due: clang-format

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Don't use probably broken QMenuBar::setNativeMenuBar(false)
  src/mixxx.cpp
Due: clang-format

feat: initial glitch effect implementation
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/glitcheffect.cpp
  src/effects/backends/builtin/glitcheffect.h
Due: clang-format

Manage EngineEffectsManager's livetime via a unique_ptr
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
Due: clang-format

Initalize the control value from the default constructor of ControlDoublePrivate
  src/control/control.cpp
Due: clang-format

Add missing free for m_pDelayBuffer
  src/engine/effects/engineeffectsdelay.cpp
  src/engine/effects/engineeffectsdelay.h
Due: clang-format

Replace QScopedPointer with std::uniqe_ptr for a better tracking of ownership
  src/effects/effectsmanager.cpp
  src/effects/effectsmessenger.cpp
  src/effects/effectsmessenger.h
  src/engine/effects/engineeffectsmanager.cpp
  src/engine/effects/engineeffectsmanager.h
  src/util/messagepipe.h
Due: clang-format

Add missing override keyword and use default
  src/engine/effects/engineeffectsmanager.cpp
  src/engine/effects/engineeffectsmanager.h
Due: clang-format

Fix double ownership of the pResponsePipe
  src/effects/effectsmanager.cpp
  src/effects/effectsmessenger.cpp
  src/effects/effectsmessenger.h
Due: clang-format

Remove not initalized m_innerHeight
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

Remove stray semicolon
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

fix typo
  src/effects/effectsmanager.cpp
Due: clang-format

remove redundant std::move
  src/util/messagepipe.h
Due: clang-format

Document the use of the raw pointer returned by getEngineEffectsManager()
  src/effects/effectsmanager.h
Due: clang-format

Copy track samples to stack and verify, to avoid using an invalid value due to a race condition
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
Due: clang-format

fix(Controller): excluding ELAN touch screen
  src/controllers/hid/hiddenylist.h
  src/controllers/hid/hidenumerator.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
