Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

Prep playlist: refine append actions UX, show splashscreen to provide feedback
  res/images/library/ic_heart_beige.svg
  res/images/library/ic_heart_beige_crossed.svg
  res/images/library/ic_heart_broken_xxl.png
  res/images/library/ic_heart_broken_xxl.svg
  res/images/library/ic_heart_checked_xxl.png
  res/images/library/ic_heart_checked_xxl.svg
  res/images/library/ic_heart_cyan.svg
  res/images/library/ic_heart_cyan_locked.svg
  res/images/library/ic_heart_cyan_xxl.png
  res/images/library/ic_heart_cyan_xxl.svg
  res/images/library/ic_heart_disabled.svg
  res/mixxx.qrc
  res/skins/default.qss
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/util/widgethelper.cpp
  src/util/widgethelper.h
Due: clang-format, qsscheck

Numark NS4FX: use 2nd row of fadercuts pads to control stems
  res/controllers/Numark-NS4FX-scripts.js
Due: none

test(engine): cover Bungee scaler selection and buffer windows
  CMakeLists.txt
  src/engine/enginebuffer.h
  src/test/enginebufferbungeetest.cpp
  src/test/enginebufferscalebungeetest.cpp
Due: clang-format

feat(engine): add Bungee keylock scaler integration
  CMakeLists.txt
  cmake/modules/FindBungee.cmake
  src/engine/bufferscalers/enginebufferscalebungee.cpp
  src/engine/bufferscalers/enginebufferscalebungee.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
Due: clang-format

build(bungee): normalize dependency discovery to Bungee::Bungee
  CMakeLists.txt
  cmake/modules/FindBungee.cmake
Due: none

build(bungee): add source-fetch fallback for Bungee, Eigen3, and pffft
  CMakeLists.txt
  cmake/patches/bungee/apply-patches.cmake
  cmake/patches/bungee/assert-win32-compat.patch
  cmake/patches/bungee/cmake-use-vcpkg-deps-and-install-layout.patch
  cmake/patches/bungee/lower-cmake-minimum.patch
  cmake/patches/bungee/pffft-include-path.patch
  cmake/patches/bungee/resample-msvc-noinline.patch
  cmake/patches/bungee/unofficial-bungee-config.cmake
  cmake/patches/eigen3/install-header-only.cmake
  cmake/patches/pffft/CMakeLists.txt.in
Due: none

ci(bungee): add Bungee ASan and workflow wiring
  .github/workflows/build.yml
  .github/workflows/bungee-asan.yml
Due: none

build(flatpak): add Bungee dependency modules
  packaging/flatpak/modules/bungee.yaml
  packaging/flatpak/modules/eigen3.yaml
  packaging/flatpak/modules/pffft.yaml
  packaging/flatpak/org.mixxx.Mixxx.yaml
Due: none

build(bungee): remove vendored source fallback
  CMakeLists.txt
Due: none

feat(prefs): enable Bungee by default and update keylock UI
  CMakeLists.txt
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/settingsmanager.cpp
  src/test/settingsmanager_test.cpp
Due: clang-format

docs(bungee): document dependency build prerequisites
  docs/bungee-integration.md
Due: none

fixed resetting effect selector
  res/controllers/Numark-NS4FX-scripts.js
Due: none

EngineBufferScale: only reallocate buffer when more channels is needed
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
Due: clang-format

fixup! QML: add waveform setting and option proxy
  src/qml/qmlwaveformrenderer.cpp
Due: clang-format

fixup! QML: add controller setting proxy
  CMakeLists.txt
Due: none

SidebarModel/TreeItemModel: cleanup, early return, opti, refine comments, p prefix for pointers
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.h
  src/library/treeitemmodel.cpp
Due: clang-format

SetlogFeature: optimize a bit, remove obsolete comments
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Library sidebar: store model pointer as member
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

Library sidebar: add bookmarks + navigation controls
  res/skins/LateNight/style_palemoon.qss
  src/library/libraryfeature.cpp
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

WLibrarySidebar: remove obsolete expand() calls, add note about scrollTo()
  src/widget/wlibrarysidebar.cpp
Due: clang-format

Library sidebar: Enter rebuilds outdated BrowseFeature child trees
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
Due: clang-format

TreeItem: add helper isItemDataUnique()
  src/library/libraryfeature.h
  src/library/trackset/setlogfeature.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

PlaylistDAO: also emit type after adding or deleting playlists ...
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

Library sidebar: click on Refresh icon in Computer enforces tree rebuild
  src/library/browse/browsefeature.cpp
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Library sidebar: decorate bookmarks with SidebarItemDelegate
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

BrowseFeature fix: don't automatically rebuild tree on each expand
  res/images/library/ic_library_refresh.svg
  res/mixxx.qrc
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/libraryfeature.h
  src/library/sidebarmodel.cpp
Due: clang-format

Library Sidebar: store Bookmarks in config + restore
  src/library/library.cpp
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
Due: clang-format

Library sidebar: add Bookmark controls prev/next/select
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

AutoDJ: Address review feedback on end marker/Doxygen comments, generic sentinel name, clearer log message
  src/library/autodj/autodjprocessor.cpp
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
  src/library/playlisttablemodel.cpp
  src/test/playlistdao_stopmarker_test.cpp
  src/widget/wtracktableview.h
Due: clang-format

DlgTrackInfoMulti: move includes to cpp
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
Due: clang-format

SoundSourceProxyTest.seekBoundaries more verbose error report
  src/test/soundproxy_test.cpp
Due: clang-format

Remove unnecessary av_frame_unref() calls and use m_pavDecodedFrame more symetric for readability.
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

Add optional debug message for first decoded sample value
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Introduce a m_leadin_flush_buffers_fix flag for workaround an libfdk_aac seeking issue.
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

Remove unnecessary cutting of lead-in and lead-out frames.
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Prefer Fraunhofer FDK AAC over internal AAC
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

(controller) mapped library column sort to on unused star track button
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: none

DlgTrackInfoMulti: move Comments edit text helper to namespace
  src/library/dlgtrackinfomulti.cpp
Due: clang-format

Remove not working adjusting to frame boundaries.
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Refactor sandbox access handling to ensure UI interactions occur on the main thread for macOS.
  src/library/library.cpp
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format
