Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Update 2.5 buildenv to latest version
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Fixed remaining size_t to std::size_t
  src/engine/channels/enginedeck.cpp
Due: clang-format

Improve comment
  src/library/coverartdelegate.cpp
Due: clang-format

smarties 20241103
  src/library/libraryfeature.h
  src/library/sidebarmodel.cpp
  src/library/trackset/smarties/20241102 ui_dlgsmartiesinfo.h
  src/library/trackset/smarties/dlgsmartiesinfo - Copy (2).ui
  src/library/trackset/smarties/dlgsmartiesinfo.cpp
  src/library/trackset/smarties/dlgsmartiesinfo.h
  src/library/trackset/smarties/smartiesfeature.cpp
  src/library/trackset/smarties/smartiesfeature.h
  src/library/trackset/smarties/smartiesfeaturehelper.cpp
  src/library/trackset/smarties/smartiesfeaturehelper.h
  src/library/trackset/smarties/smartiestablemodel.cpp
  src/library/trackset/smarties/smartiestablemodel.h
Due: clang-format

renamed "until" to "distanceTo" where appropriate, added "since" items
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

fix alignment
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

fix layout
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

util/string.h: add removeTrailingWhitespaces(), used in DlgTrackInfoMulti
  src/library/dlgtrackinfomulti.cpp
  src/util/string.h
Due: clang-format

Improve comments
  src/test/taglibtest.cpp
Due: clang-format

smarties 20241103
  src/library/trackset/smarties/dlgsmartiesinfo.cpp
  src/library/trackset/smarties/dlgsmartiesinfo.h
  src/library/trackset/smarties/smartiesfeature.cpp
  src/library/trackset/smarties/smartiesstorage.cpp
  src/library/trackset/smarties/smartiestablemodel.cpp
Due: clang-format

smarties 20241104
  src/library/trackset/smarties/dlgsmartiesinfo - Copy (2).ui
  src/library/trackset/smarties/dlgsmartiesinfo - Copy.ui
  src/library/trackset/smarties/dlgsmartiesinfo.h
  src/library/trackset/smarties/dlgsmartiesinfohelper.cpp
  src/library/trackset/smarties/dlgsmartiesinfohelper.h
  src/library/trackset/smarties/dlgsmartiespreferencepage.cpp
  src/library/trackset/smarties/dlgsmartiespreferencepage.h
  src/library/trackset/smarties/mainwindow.cpp
  src/library/trackset/smarties/mainwindow.h
  src/library/trackset/smarties/mainwindow.ui
  src/library/trackset/smarties/smartiesfeature.cpp
  src/library/trackset/smarties/smartiesfeature.h
Due: clang-format

TrackDAO: add helper collectTrackLocations(), use FwdSqlQuery
  src/library/dao/trackdao.cpp
Due: clang-format

smarties 20241104
  src/library/trackset/smarties/dlgsmartiesinfo.cpp
  src/library/trackset/smarties/dlgsmartiesinfo.h
  src/library/trackset/smarties/smartiesfeature.h
  src/library/trackset/smarties/smartiesfeaturehelper.cpp
Due: clang-format

smarties 20241104
  CMakeLists.txt
Due: none

smarties 20241104
  res/schema.xml
  src/library/trackset/smarties/smartiesfeature.h
  src/library/trackset/smarties/smartiesfeaturehelper.cpp
Due: clang-format

Delete src/library/trackset/smarties/dlgsmartiesactions.cpp
  src/library/trackset/smarties/dlgsmartiesactions.cpp
Due: clang-format

Delete src/library/trackset/smarties/dlgsmartiesactions.h
  src/library/trackset/smarties/dlgsmartiesactions.h
Due: clang-format

smarties 20241104
  src/library/trackset/smarties/smartiesfeature.h
Due: clang-format

smarties 20241104
  .pre-commit-config.yaml
  src/database/mixxxdb.cpp
  src/library/trackset/smarties/smartiesfeature.cpp
Due: clang-format

RekordBoxFeature: add played functionality to rekordbox external devices without importing
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.h
Due: clang-format

smarties 20241104
  res/schema.xml
Due: none

smarties 20241104
  src/library/trackset/smarties/smartiesfeaturehelper.cpp
Due: clang-format

RekordBoxFeature: add played functionality -- pre-commit patch
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

OSC_in_Mixxx_ARM64_Support/2.6
  src/osc/osc/OscOutboundPacketStream.h
  src/osc/osc/OscReceivedElements.cpp
  src/osc/osc/OscReceivedElements.h
  src/osc/osc/OscTypes.h
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

OSC_in_Mixxx_ARM64_Support/2.6 wit a comment to get the pr get compiled
  src/osc/oscreceiver.cpp
Due: clang-format

Revert "chore: pin Node.JS pre-commit hooks to use LTS"
  .pre-commit-config.yaml
Due: none

TrackDAO/PlaylistDAO: use table columns constants
  src/library/dao/playlistdao.cpp
  src/library/dao/trackdao.cpp
  src/library/dao/trackschema.h
Due: clang-format

Update src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

Fix error introduced by github action
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

chore: pre-commit migrate-config
  .pre-commit-config.yaml
Due: none

Fix talkover ducking bug: apply ducking after apllying effects
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
Due: clang-format

WIP add skin styles for Preferences & Track Properties, LateNight PaleMoon only
  res/skins/LateNight/palemoon/buttons/btn__lib_radio_button_on.svg
  res/skins/LateNight/palemoon/buttons/btn__pref_checkbox.svg
  res/skins/LateNight/palemoon/buttons/btn__pref_checkbox_disabled.svg
  res/skins/LateNight/palemoon/buttons/btn__pref_radio_button_on.svg
  res/skins/LateNight/palemoon/buttons/btn__pref_spinbox_down.svg
  res/skins/LateNight/palemoon/buttons/btn__pref_spinbox_up.svg
  res/skins/LateNight/style_palemoon.qss
  src/controllers/dlgprefcontroller.cpp
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wtrackmenu.cpp
Due: clang-format, qsscheck

(fix) Pref Waveforms: add tabstops for Beats/Time until... options
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

(fix) Pref Library: fix tabstops
  src/preferences/dialog/dlgpreflibrarydlg.ui
Due: none

chore: `pre-commit autoupdate` hooks
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hook dependencies to latest
  .pre-commit-config.yaml
Due: none

(fix) skin reload: store new color scheme
  src/preferences/dialog/dlgprefinterface.cpp
Due: clang-format
