Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

debug/trace
  src/library/browse/browsefeature.cpp
  src/library/browse/browselibrarytablemodel.cpp
Due: clang-format

Stat: Improve output formatting and remove unused QDebug
  src/util/stat.cpp
  src/util/stat.h
Due: clang-format

Add 432 Hz key detection modifications
  %1
  432HZ_FEATURE.md
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/plugins/analyzerplugin.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/analyzer/plugins/analyzerqueenmarykey.h
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
  src/library/basetracktablemodel.cpp
  src/library/tabledelegates/keydelegate.cpp
  src/library/trackmodel.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefkey.h
  src/preferences/dialog/dlgprefkeydlg.ui
  src/preferences/keydetectionsettings.h
  src/proto/keys.proto
  src/track/keyfactory.cpp
  src/track/keyfactory.h
  src/track/keys.cpp
  src/track/keys.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Ducking: simplify & reformat connections
  src/engine/enginetalkoverducking.cpp
Due: clang-format

Add TODO for next 432Hz feature improvements
  432HZ_TODO.md
Due: none

Update Deezer planning: use Git URLs instead of local paths
  COMMIT_D1_DEEZER_INTEGRATION.md
Due: none

Extend A4: Add real beat sync and BPM tendency features
  COMMIT_A4_AUTODJ_BEAT_KEY_MATCHING.md
Due: none

ci(benchmark): remove unused parameters
  .github/workflows/benchmark.yml
Due: none

ci(benchmark): remove currently broken window jobs
  .github/workflows/benchmark.yml
Due: none

S3MK3: don't stop scratch mode if platter is being held
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Prepare implementation plans for 432Hz feature improvements
  COMMIT_02_LIBRARY_UI_TUNING_SYMBOLS.md
  COMMIT_03_DECK_UI_TUNING_STATUS.md
  COMMIT_04_DECK_UI_SKIN_PORTING.md
  COMMIT_05_BUGFIX_SPINNY_SYNC.md
  COMMIT_06_DYNAMIC_FREQUENCY_DETECTION.md
  COMMIT_07_DYNAMIC_PITCH_ADJUSTMENT.md
Due: none

Extend 432Hz TODO with UI/UX improvements
  432HZ_TODO.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add tuning frequency persistence and library column
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetrackcache.cpp
  src/library/basetracktablemodel.cpp
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackdao.cpp
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
  src/library/tabledelegates/keydelegate.cpp
  src/library/trackmodel.h
  src/proto/keys.proto
  src/skin/legacy/tooltips.cpp
  src/track/keyfactory.cpp
  src/track/keyfactory.h
  src/track/keys.cpp
  src/track/keys.h
  src/track/track.cpp
  src/track/track.h
Due: clang-format

Add dynamic tuning frequency detection
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/plugins/analyzerplugin.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/analyzer/plugins/analyzerqueenmarykey.h
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefkey.h
  src/preferences/dialog/dlgprefkeydlg.ui
  src/preferences/keydetectionsettings.h
Due: clang-format

Implement dynamic 432Hz pitch lock using detected tuning
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Due: clang-format

Tracks: fix title update after dropping tracks on Tracks sidebar item
  src/library/librarytablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
Due: clang-format

Library sidebar: allow internal drag, eg. playlist/folder to Auto DJ
  src/library/analysis/analysisfeature.cpp
  src/library/analysis/analysisfeature.h
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/libraryfeature.h
  src/library/mixxxlibraryfeature.cpp
  src/library/mixxxlibraryfeature.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/trackcollection.h
  src/library/trackcollectionmanager.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/library/treeitemmodel.cpp
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

fix(CtrlRenderingEngine): prevent engine setup if config is invalid
  src/controllers/rendering/controllerrenderingengine.cpp
Due: clang-format

Controller: extend product information and implement mapping serialisation
  src/controllers/bulk/bulkcontroller.h
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/controllermappinginfo.cpp
  src/controllers/controllermappinginfo.h
  src/controllers/dlgprefcontroller.h
  src/controllers/hid/hidiooutputreport.h
  src/controllers/hid/legacyhidcontrollermappingfilehandler.h
  src/controllers/legacycontrollermapping.cpp
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
  src/controllers/legacycontrollersettingslayout.cpp
  src/controllers/legacycontrollersettingslayout.h
  src/controllers/midi/legacymidicontrollermappingfilehandler.h
  src/test/controller_mapping_file_handler_test.cpp
Due: clang-format

QML: add controller setting proxy
  CMakeLists.txt
  src/coreservices.cpp
  src/qml/qmlpreferencesproxy.cpp
  src/qml/qmlpreferencesproxy.h
Due: clang-format

WaveformWidget: forward declare rendergraph resource
  src/waveform/widgets/allshader/waveformwidget.cpp
  src/waveform/widgets/allshader/waveformwidget.h
Due: clang-format

rendergraph: add support for custom playposition
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/renderers/waveformrendererabstract.cpp
  src/waveform/renderers/waveformrendererabstract.h
Due: clang-format

DigitsRenderNode: correctly invalidate upon updates and clearing
  src/waveform/renderers/allshader/digitsrenderer.cpp
Due: clang-format

rendergraph: allow explicit visual position declaration
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/waveform/visualplayposition.h
Due: clang-format

WaveformRendererSignalBase: use static EQ factors if no CO exists and store selected options
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
Due: clang-format

QML: add waveform setting and option proxy
  res/qml/HotcuePopup.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/WaveformDisplay.qml
  res/qml/main.qml
  src/preferences/interface.h
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmltrackproxy.h
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformdisplay.h
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.cpp
  src/qml/qmlwaveformrenderer.h
Due: clang-format

Support for associative midiIn values in connectMidiIn
  res/controllers/midi-components-0.0.js
Due: none

chore(CI): factorise CMake build option and remove redundant job
  .github/workflows/build.yml
  .github/workflows/checks.yml
Due: none

fix(rendergraph): disable QShader for GL on Qt 6.6
  src/rendergraph/CMakeLists.txt
Due: none

chore(test): add a basic UI test
  CMakeLists.txt
  res/qml/main.qml
  src/test/qml/basic_test.cpp
Due: clang-format

fix(library): remove library folder prompt on empty source list if in developer mode
  src/coreservices.cpp
Due: clang-format

feat: add QML UiTest
  .github/workflows/build.yml
  .github/workflows/develop.yml
  CMakeLists.txt
  src/test/main.cpp
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
  src/test/qml/servertest.cpp
  src/test/qml/servertest.h
Due: clang-format

Fix tuning detection scoring and 432Hz pitch lock reapply
  src/analyzer/analyzerkey.cpp
  src/analyzer/analyzerkey.h
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/engine/controls/keycontrol.cpp
  src/engine/controls/keycontrol.h
  src/mixer/basetrackplayer.cpp
Due: clang-format

Control learning: fix deck offset for stem controls
  src/controllers/controlpickermenu.cpp
  src/mixer/playermanager.h
Due: clang-format

Ensure tuning_frequency column is auto-created
  src/database/mixxxdb.cpp
Due: clang-format

Recover library if rows are missing
  src/database/mixxxdb.cpp
Due: clang-format

Recover library by clearing stale track_locations
  src/database/mixxxdb.cpp
Due: clang-format
