Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

FindSndFile: Link mpg123 in static builds
  cmake/modules/FindSndFile.cmake
Due: none

FindSleef: Emit warning if found without sleefdft
  cmake/modules/FindSleef.cmake
Due: none

Tooltips: fix 'horizontal' detection of WSliderComposed
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wslidercomposed.cpp
  src/widget/wslidercomposed.h
Due: clang-format

Tooltip: add sub-commands (up, down etc.) for WKnobComposed
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

feat: refactor FFmpeg soundsource to allow other soundsource to inherit it
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

Add prefix to static variables, switch to std::array and use a range-based for loop
  src/util/screensaver.cpp
  src/util/screensaver.h
Due: clang-format

FindSleef: Treat sleefdft as component
  cmake/modules/FindSleef.cmake
  cmake/modules/Findrubberband.cmake
Due: none

FindSleef: Strip 'sleef' prefix from components
  cmake/modules/FindSleef.cmake
  cmake/modules/Findrubberband.cmake
Due: none

FindSndFile: Only link mpg123 if libsndfile >= 1.1.0
  cmake/modules/FindSndFile.cmake
Due: none

FindSndFile: Fix version check
  cmake/modules/FindSndFile.cmake
Due: none

BpmControl: don't make "bpm_toggle_lock" repeatable
  src/engine/controls/bpmcontrol.cpp
Due: clang-format

Paste tracks: restore previous focus column
  src/widget/wtracktableview.cpp
Due: clang-format

WTrackTableView: use cut/paste for internal drag move
  src/widget/wtracktableview.cpp
Due: clang-format

implement sysex unlock
  res/controllers/.eslintrc.json
  res/controllers/Pioneer-HID-unlock.hid.xml
  res/controllers/Pioneer-MIDI-unlock-scripts.js
  res/controllers/Pioneer-MIDI-unlock.midi.xml
  res/controllers/libpcon.js
Due: none

add sysex deviceID/device-magic
  res/controllers/libpcon.js
Due: none

initiate sysex handshake from host
  res/controllers/Pioneer-MIDI-unlock-scripts.js
  res/controllers/libpcon.js
Due: none

Apply suggestions from code review
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
Due: none

fix screwed up sysex sending
  res/controllers/libpcon.js
Due: none

fix DJM750MK2 devicesysexcode/PID
  res/controllers/libpcon.js
Due: none

Revert "Synchronize also with "Add to AutoDJ" buttons in context menu"
  src/library/autodj/autodjprocessor.h
  src/library/dao/playlistdao.cpp
Due: clang-format

Removing unused QML Scene3D import
  res/controllers/DummyDeviceDefaultScreen.qml
Due: qmllint

properly parse sysex header; hid header todo
  res/controllers/libpcon.js
Due: none

add multi-track property editor DlgTrackInfoMulti
  CMakeLists.txt
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/library/dlgtrackinfomulti.ui
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartmenu.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableview.cpp
Due: clang-format

fix: add missing spacer in interface preference
  src/preferences/dialog/dlgprefinterfacedlg.ui
Due: none

Use QString instead of char ptr
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

Update CHANGELOG.md with the latest changes.
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add comment for static method public visibility
  src/sources/soundsourceffmpeg.h
Due: clang-format

Add Nicolau Leal Werneck to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Moved David Guglielmi back to the recent contributor list. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Chris H. Meyer to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Code Style: Add brances around single line blocks.
  src/mixer/basetrackplayer.cpp
Due: clang-format

added a little bit of console.debug
  res/controllers/libpcon.js
Due: none

Add Daniel Fernandes to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add Grégoire Locqueville to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add grizeldi to the contributor list in the about box. Thank you very much
  src/dialog/dlgabout.cpp
Due: clang-format

actually handle incoming sysex data
  res/controllers/Pioneer-MIDI-unlock.midi.xml
Due: none

add more debug, remove unnecessary cast
  res/controllers/libpcon.js
Due: none

more fixes, etcetcetcpppppp
  res/controllers/libpcon.js
Due: none

slowly starting to understand TypedArrays again
  res/controllers/libpcon.js
Due: none

TyPeErrOr
  res/controllers/libpcon.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
