Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Library scan dialog: add progress bar, improve display of current task
  src/library/scanner/importfilestask.h
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/libraryscannerdlg.cpp
  src/library/scanner/libraryscannerdlg.h
Due: clang-format

Fix build without GoogleTest and Benchmark (#15727)
  CMakeLists.txt
  src/engine/controls/cuecontrol.h
  src/engine/controls/enginecontrol.h
  src/engine/enginebuffer.h
  src/engine/sync/enginesync.h
  src/engine/sync/synccontrol.h
  src/library/scanner/libraryscanner.h
  src/library/trackcollection.h
  src/mixer/playermanager.h
  src/sources/soundsourceproxy.h
  src/track/serato/beatsimporter.h
  src/util/fileinfo.h
Due: clang-format

Tracks view: use pemanent header (don't recreate on every model change)
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Due: clang-format

Tracks view: handle the header's sort signals only if sorting is enabled
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
Due: clang-format

Tracks view header: make menu a parented_ptr, consolidate reset functions
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Due: clang-format

fixup! TRACE TrackView::loadTrackModel(), Header::setModel() etc., BaseSqlTabelModel::select()
  src/library/basesqltablemodel.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableviewheader.cpp
Due: clang-format

feat(QML): explicitely define setting category
  res/qml/Settings.qml
  res/qml/Settings/Category.qml
Due: none

feat(QML): enhance the setting components
  res/qml/Settings.qml
  res/qml/Settings/AudioRouter.qml
  res/qml/Settings/RatioChoice.qml
  res/qml/main.qml
Due: none

chore: add qmlformat in pre-commit hooks
  .pre-commit-config.yaml
  .qmlformat.ini
Due: none

fixup! feat(QML): add basic DnD Deck interface
  res/qml/Deck/BeatJump.qml
  res/qml/Deck/HotcueAndStem.qml
  res/qml/Deck/Spinny.qml
  res/qml/Deck/TempoColumn.qml
  res/qml/Deck/WaveformOverview.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/Mixxx/Controls/Knob.qml
  res/qml/main.qml
Due: none

waveformrenderer: Fix crash caused by division by zero
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
Due: clang-format

Fix building after merge
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
Due: clang-format

fixup! feat(QML): add basic DnD Deck interface
  res/qml/Deck.qml
Due: none

Update CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

fixup! feat(QML): add basic DnD Deck interface
  res/qml/ActionButton.qml
  res/qml/Button.qml
  res/qml/ControlFader.qml
  res/qml/CrossfaderRow.qml
  res/qml/Deck.qml
  res/qml/Deck/BeatJump.qml
  res/qml/Deck/CueButton.qml
  res/qml/Deck/FXAssign.qml
  res/qml/Deck/HotcueAndStem.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Loop.qml
  res/qml/Deck/PlayButton.qml
  res/qml/Deck/Spinny.qml
  res/qml/Deck/TempoColumn.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Deck/WaveformOverview.qml
  res/qml/EqColumn.qml
  res/qml/EqKnob.qml
  res/qml/Fader.qml
  res/qml/FormButton.qml
  res/qml/Library/Browser.qml
  res/qml/Library/Cell.qml
  res/qml/MicrophoneDuckingPanel.qml
  res/qml/Mixer.qml
  res/qml/MixerColumn.qml
  res/qml/Mixxx/Controls/Fader.qml
  res/qml/QuickFxKnob.qml
  res/qml/RangeButton.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/Theme/Theme.qml
  res/qml/WaveformDisplay.qml
  res/qml/main.qml
Due: none

chore(ExternalLibraryFeature): Fixed typos in a comment
  src/library/baseexternallibraryfeature.cpp
Due: clang-format

fix(ExternalLibraryFeature): Added a debug assert
  src/library/baseexternallibraryfeature.cpp
Due: clang-format

fix(ExternalLibraryFeature): Refactored createPlaylistModelForPlaylist()
  src/library/baseexternallibraryfeature.cpp
  src/library/baseexternallibraryfeature.h
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/itunesfeature.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.h
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.h
  src/library/serato/seratofeature.cpp
  src/library/serato/seratofeature.h
  src/library/traktor/traktorfeature.cpp
  src/library/traktor/traktorfeature.h
Due: clang-format

Add files via upload
  Mapping DDJ-FLX10-info.pdf
  Pioneer-DDJ-FLX10-Mapping-info.rtf
Due: none

fix: reset the quickfx stem effect on track load when auto reset is enabled
  src/effects/effectchain.cpp
  src/effects/effectchain.h
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/engine/enginemixer.h
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
Due: clang-format

fixup! QML: add controller setting proxy
  src/controllers/legacycontrollersettings.h
  src/test/controller_mapping_settings_test.cpp
Due: clang-format

fixup! QML: add controller setting proxy
  src/controllers/controllermappinginfo.cpp
Due: clang-format

Assert for assumptions when importing external playlists
  src/library/baseexternalplaylistmodel.cpp
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

Bump version to 2.5.4
  CMakeLists.txt
  LICENSE
Due: none

chore: update kaitai files, runtime and fix missing tracks
  lib/kaitai/.build/build
  lib/kaitai/.build/build.ps1
  lib/kaitai/.build/gtest-v1.8.1-fix-Werror-maybe-uninitialized.patch
  lib/kaitai/.build/install-gtest
  lib/kaitai/.build/run-unittest
  lib/kaitai/.build/run-unittest.ps1
  lib/kaitai/.editorconfig
  lib/kaitai/.github/workflows/build.yml
  lib/kaitai/.gitignore
  lib/kaitai/CMakeLists.txt
  lib/kaitai/Common.cmake
  lib/kaitai/LICENSE
  lib/kaitai/README.md
  lib/kaitai/gcc4.mk
  lib/kaitai/kaitai/exceptions.h
  lib/kaitai/kaitai/kaitaistream.cpp
  lib/kaitai/kaitai/kaitaistream.h
  lib/kaitai/tests/CMakeLists.txt
  lib/kaitai/tests/gtest-nano.h
  lib/kaitai/tests/unittest.cpp
  lib/rekordbox-metadata/rekordbox_anlz.cpp
  lib/rekordbox-metadata/rekordbox_anlz.h
  lib/rekordbox-metadata/rekordbox_anlz.ksy
  lib/rekordbox-metadata/rekordbox_pdb.cpp
  lib/rekordbox-metadata/rekordbox_pdb.h
  lib/rekordbox-metadata/rekordbox_pdb.ksy
Due: none

fixup! QML: add controller setting proxy
  src/controllers/controllermappinginfo.cpp
  src/test/controller_mapping_settings_test.cpp
Due: clang-format

Release 2.5.4
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Check for a tag of the current checkout branch. github.ref does not reliably contain the tag for tagged commits.
  .github/workflows/build.yml
Due: none

Add Vocal and Instrumental Separation Effects
  CMakeLists.txt
  src/effects/backends/builtin/builtinbackend.cpp
  src/effects/backends/builtin/instrumentalseparationeffect.cpp
  src/effects/backends/builtin/instrumentalseparationeffect.h
  src/effects/backends/builtin/vocalseparationeffect.cpp
  src/effects/backends/builtin/vocalseparationeffect.h
Due: clang-format

Keyboard: add shortcut for Show Auto DJ
  src/widget/wmainmenubar.cpp
Due: clang-format

Improve Instrumental Separation Effect: Ramping, Group Delay, and Intensity Handling
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  GITHUB_WORKFLOW.txt
  src/effects/backends/builtin/instrumentalseparationeffect.cpp
  src/effects/backends/builtin/instrumentalseparationeffect.h
  src/effects/backends/builtin/vocalseparationeffect.cpp
  src/effects/backends/builtin/vocalseparationeffect.h
Due: clang-format

Delete GITHUB_WORKFLOW.txt
  GITHUB_WORKFLOW.txt
Due: none

Remove .vscode files from repository
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
