Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

Pioneer XDJ-RX midi mapping
  res/controllers/Pioneer XDJ-RX.midi.xml
  res/controllers/Pioneer-XDJ-RX-scripts.js
Due: clang-format

Macros: Adjust playback tolerance range
  src/engine/enginebuffer.cpp
  src/macros/macrorecorder.cpp
Due: clang-format, line-length

put the js file through beautifier.
  res/controllers/Pioneer-XDJ-RX-scripts.js
Due: clang-format

LateNight: move sampler xFader switches
  res/skins/LateNight/samplers/sampler.xml
  res/skins/LateNight/samplers/sampler_mini.xml
  res/skins/LateNight/style.qss
Due: qsscheck

create bpm editor context menu
  CMakeLists.txt
  build/depends.py
  src/track/beat.h
  src/track/beats.cpp
  src/track/beats.h
  src/waveform/renderers/waveformrenderbeat.cpp
  src/widget/wbeatmenu.cpp
  src/widget/wbeatmenu.h
  src/widget/wtempomenu.cpp
  src/widget/wtempomenu.h
  src/widget/wtimesignaturemenu.cpp
  src/widget/wwaveformviewer.cpp
Due: clang-format, line-length

Do not write a log file when running tests
  src/test/mixxxtest.cpp
  src/util/logging.cpp
  src/util/logging.h
Due: clang-format, line-length

Change log level from Debug to Info during tests
  src/test/mixxxtest.cpp
Due: clang-format, line-length

Engine: Reduce unrelated changes
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
Due: clang-format, line-length

Traktor S3: finish refactor!
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

Traktor S3: Fix some bugs. Pretty stable again
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

MixxxTest: Allow setting logLevel via command line args
  src/test/mixxxtest.cpp
  src/util/cmdlineargs.h
Due: clang-format, line-length

CMake/Travis: Set test log level to info
  .travis.yml
  CMakeLists.txt
Due: none

Ignore log messages for disabled log levels
  src/util/logging.cpp
Due: clang-format, line-length

CMake: Remove fixed CTest timeout to allow override on command line
  CMakeLists.txt
Due: none

Travis/Appveyor CI: Set CTest timeout to 45 seconds for CI builds
  .travis.yml
  appveyor.yml
Due: none

MacroDAO: Add saveMacro method for constructed method
  src/macros/macrodao.cpp
  src/macros/macrodao.h
  src/macros/macromanager.cpp
  src/test/macros/macrodao_test.cpp
Due: clang-format, line-length

Macros: Add Playback Test
  CMakeLists.txt
  src/test/cuecontrol_test.cpp
  src/test/macros/macroplayback_test.cpp
  src/test/signalpathtest.h
Due: clang-format, line-length

MacroRecorder: Refactor namings & RT-safety
  src/macros/macro.cpp
  src/macros/macrodao.cpp
  src/macros/macromanager.cpp
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
Due: clang-format, line-length

Improve Onset detection
  lib/qm-dsp/dsp/onsets/DetectionFunction.cpp
  src/analyzer/analyzerrhythm.cpp
Due: clang-format, line-length

rhythm analyzer - fix novelty curve and use it as input of qm beat tracker
  lib/qm-dsp/dsp/tempogram/FIRFilter.cpp
  lib/qm-dsp/dsp/tempogram/FIRFilter.h
  lib/qm-dsp/dsp/tempogram/SpectrogramProcessor.cpp
  lib/qm-dsp/dsp/tempogram/SpectrogramProcessor.h
  src/analyzer/analyzerrhythm.cpp
Due: clang-format, line-length

Traktor S3: better timers
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

Macros: Rename & refactor MacroRecorder COs
  src/control/controlobject.cpp
  src/control/controlobject.h
  src/macros/macrorecorder.cpp
  src/test/macros/macrorecorder_test.cpp
  src/test/macros/macros_test.cpp
Due: clang-format, line-length

use snapgrid to make new novelty curve
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
  src/analyzer/analyzerrhythm.cpp
Due: clang-format, line-length

add metergram
  src/analyzer/analyzerrhythm.cpp
  src/analyzer/analyzerrhythm.h
Due: clang-format, line-length

most of the suggested changes applied.
  res/controllers/Pioneer-XDJ-RX-scripts.js
Due: clang-format

removed softTakover line for playlist
  res/controllers/Pioneer-XDJ-RX-scripts.js
Due: clang-format

fix of typo
  res/controllers/Pioneer-XDJ-RX-scripts.js
Due: clang-format

init functions argument erased
  res/controllers/Pioneer-XDJ-RX-scripts.js
Due: clang-format

add new meter detection
  lib/qm-dsp/dsp/tempotracking/TempoTrackV2.cpp
  src/analyzer/analyzerrhythm.cpp
  src/analyzer/analyzerrhythm.h
  src/analyzer/analyzerrhythmbpm.cpp
Due: clang-format, line-length

Replace ConfigKey::isNull()/isEmpty() checks with new isValid() method
  src/control/control.cpp
  src/control/controlobject.cpp
  src/control/controlproxy.cpp
  src/controllers/dlgcontrollerlearning.cpp
  src/dialog/dlgdevelopertools.cpp
  src/preferences/configobject.h
  src/skin/legacyskinparser.cpp
Due: clang-format, line-length

tools: Reset start line number after group of lines has been found
  tools/clang_format.py
  tools/githelper.py
Due: none

control: Rename ControlFlag to AllowInvalidKey
  src/control/control.cpp
  src/control/controlproxy.cpp
  src/widget/wwidgetstack.cpp
Due: clang-format, line-length

control: Document ControlFlag enum values
  src/control/control.h
Due: clang-format, line-length

Macros: Fix skin controls
  res/skins/LateNight/toolbar.xml
Due: none

Macros: Add slot number to database
  res/schema.xml
  src/macros/macro.h
  src/macros/macrodao.cpp
  src/macros/macrodao.h
  src/test/macros/macrodao_test.cpp
  src/test/macros/macroplayback_test.cpp
  src/test/macros/macros_test.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format, line-length

track/taglib/trackmetadata_commont: Improve var names for Serato data
  src/track/taglib/trackmetadata_common.cpp
Due: clang-format, line-length

track/serato/beatgrid: Add some comments and make some method private
  src/track/serato/beatgrid.h
Due: clang-format, line-length

woverview: document play position triangles
  src/widget/woverview.cpp
Due: clang-format, line-length

waveform: move drawing of play position marker to separate function, add function for drawing play pos triangles
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
Due: clang-format, line-length

Fix import of external playlists
  src/library/baseexternalplaylistmodel.cpp
Due: clang-format, line-length
