Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Create cmake-multi-platform.yml
  .github/workflows/cmake-multi-platform.yml
Due: none

added dep
  tools/debian_buildenv.sh
Due: none

removed unused parameter
  src/remote/remote.cpp
Due: clang-format

fixed
  src/remote/remote.cpp
Due: clang-format

clearup
  src/coreservices.cpp
  src/remote/remote.cpp
  src/remote/remote.h
Due: clang-format

Fixed the cover reload on single track
  src/library/dlgtrackinfo.cpp
Due: clang-format

Update changelog for 2.6-beta
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Set up pre-commit hooks for code formatting and checks
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

qmlwaveform: Drop namespace qualifiers for member notify signal parameters.
  src/qml/qmlwaveformoverview.h
  src/qml/qmlwaveformrenderer.h
Due: clang-format

Search related menu: draw separator between checkbox and label
  res/skins/LateNight/style_palemoon.qss
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wsearchrelatedtracksmenu.h
Due: clang-format, qsscheck

(fix) Search related menu: disable double-click
  src/widget/wsearchrelatedtracksmenu.cpp
Due: clang-format

(fix) Search related menu: improve checkbox click UX
  src/widget/wsearchrelatedtracksmenu.cpp
Due: clang-format

chore(tools): add script to easily generate signe wave test signal
  tools/generate_test_audio.py
Due: none

(fix) Track menu: highlight row when hovering checkbox
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

Allow Apples Audiotoolbox AAC decoder
  src/sources/soundsourceffmpeg.cpp
Due: clang-format

fixup! feat: add saved jump
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/readaheadmanager.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
Due: clang-format

fix waveform image alignment
  src/waveform/renderers/waveformmark.cpp
Due: clang-format

Print decoder name as debug output
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourcestem.cpp
Due: clang-format

Deck relation views reimplemented.
  src/library/relations/dlgrelations.cpp
  src/library/relations/dlgrelations.h
  src/library/relations/relationsfeature.cpp
  src/library/relations/relationsfeature.h
  src/library/relations/relationstablemodel.cpp
  src/library/relations/relationstablemodel.h
  src/widget/wrelationtableview.cpp
  src/widget/wrelationtableview.h
Due: clang-format

feat: add QML setting popup
  CMakeLists.txt
  res/qml/Button.qml
  res/qml/Settings.qml
  res/qml/Settings/Analyzer.qml
  res/qml/Settings/AutoDJ.qml
  res/qml/Settings/Broadcast.qml
  res/qml/Settings/Controller.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/Library.qml
  res/qml/Settings/MixerEffect.qml
  res/qml/Settings/Parameter.qml
  res/qml/Settings/Recording.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/Settings/StatsPerformance.qml
  res/qml/Theme/Theme.qml
  res/qml/images/gear.svg
  res/qml/main.qml
  src/qml/qmlsettingparameter.cpp
  src/qml/qmlsettingparameter.h
Due: clang-format, qmllint

Enable load tracks from relation views.
  src/library/relations/dlgrelations.cpp
  src/library/relations/dlgrelations.h
  src/library/relations/relationsfeature.cpp
  src/track/relation.cpp
Due: clang-format

Updated to latest 2.6 VCPKG buildenv with FFMPEG port changes
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Switch GitHub runner to Windows-2022
  .github/workflows/build.yml
Due: none

Disabled 2 .aac.m4a test files on Windows, that always fail due to Win11 bug #11094
  src/test/soundproxy_test.cpp
Due: clang-format

Add a check, if the MSVC toolset version is new enough
  CMakeLists.txt
Due: none

xwax: Implement a ring buffer as delayline
  lib/xwax/delayline.c
  lib/xwax/delayline.h
Due: none

vinylcontrol: Add Traktor MK2s to timecode collection
  src/preferences/dialog/dlgprefvinyl.cpp
  src/vinylcontrol/defs_vinylcontrol.h
  src/vinylcontrol/vinylcontrolxwax.cpp
Due: clang-format

xwax: Implement demodulation functions for Traktor MK2
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Push samples into the delayline
  CMakeLists.txt
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Implement pitch detection for Traktor MK2
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

xwax: Compute the RMS value
  lib/xwax/timecoder.c
  lib/xwax/timecoder.h
Due: none

cmake: Always export compile commands
  CMakeLists.txt
Due: none

xwax: Improve accuracy of the pitch filter coefficients
  lib/xwax/pitch.h
Due: none

xwax: Implement LUT loading/storing feature
  lib/xwax/timecoder.c
Due: none

Updated README.md to VS2022 and made the name of the special shell bold
  README.md
Due: none

Allow FFmpeg's and Apple's Audiotoolbox AAC decoder for AAC Stem decoding
  src/sources/soundsourcestem.cpp
Due: clang-format

Refine Warning if AAC is not available
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourcestem.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
