Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmlformat, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: ./tools/changelog.py
  language: python

qmlformat:
  name: qmlformat
  entry: tools/qmlformat.py
  pass_filenames: true
  language: system

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: ./tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.9.3
  - lxml==4.6.3
  - Markdown==3.3.4

Use also the prarent commit date when ammending
  tools/update_metainfo.py
Due: none

Update changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

consider merges when creating res/linux/org.mixxx.Mixxx.metainfo.xml
  tools/update_metainfo.py
Due: none

Update Changelog
  CHANGELOG.md
Due: changelog, metainfo

Update CHANGELOG.md
  CHANGELOG.md
Due: changelog, metainfo

Used @default syntax - According the JSDoc spec, the value is optional, I added it nevertheless, because VS Code doesn't print it otherwise
  res/controllers/common-hid-packet-parser.js
Due: none

Replaced all strings with embedded expressions by template strings
  res/controllers/common-hid-packet-parser.js
Due: none

fix(rekordbox): Fix missing playlists due to invalid child ID
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

Incorporate code review feedback
  src/mixer/playermanager.cpp
  src/mixer/playermanager.h
  src/mixer/samplerbank.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
Due: clang-format

draw vumeters with textures
  src/widget/paintable.cpp
  src/widget/paintable.h
  src/widget/wglwidget.cpp
  src/widget/wvumetergl.cpp
  src/widget/wvumetergl.h
Due: clang-format

reset visual state on exposed
  src/widget/wglwidget.cpp
  src/widget/wglwidget.h
  src/widget/wvumetergl.cpp
  src/widget/wvumetergl.h
Due: clang-format

Optimized Dataview based implementation of HIDPacket.pack
  res/controllers/common-hid-packet-parser.js
Due: none

Optimized Dataview based implementation of HIDPacket.unpack
  res/controllers/common-hid-packet-parser.js
Due: none

Corrected type of packetField.pack Added type for HIDPacket.packSizes Added missing information about endianess of pack types
  res/controllers/common-hid-packet-parser.js
Due: none

Added missing type/type cast
  res/controllers/common-hid-packet-parser.js
Due: none

Added missing @type to HIDPacket.groups
  res/controllers/common-hid-packet-parser.js
Due: none

This was the only place where the keyword initializePacketData exist in the Mixxx codebase, and the comment that it don't work is there since the beginning of the Mixxx Git history.
  res/controllers/common-hid-packet-parser.js
Due: none

Tried to explain, what this.timers = {}; is used for.
  res/controllers/common-hid-packet-parser.js
Due: none

Update version number in license file
  packaging/wix/LICENSE.rtf
Due: none

all IO operations should be done in background thread
  src/library/browse/browsefeature.cpp
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
Due: clang-format

add initial support for filesystem watch this way one still needs to refresh the subtree manually...
  src/library/browse/foldertreemodel.cpp
Due: clang-format

add threading for IO
  src/library/browse/browsefeature.cpp
  src/library/browse/browsetablemodel.cpp
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
  src/library/treeitem.cpp
  src/library/treeitemmodel.h
Due: clang-format

only define std::hash<QString> when necessary Qt 5.14.0 already defines itself std::hash<QString>
  src/library/browse/foldertreemodel.h
Due: clang-format

fix spelling
  src/library/browse/foldertreemodel.cpp
Due: clang-format

make QString std::hashable
  src/library/browse/foldertreemodel.h
Due: clang-format

Qt (c) ready solution of the previous fix DO NOT MERGE as this fully blocks the thread UI upon insertion of children
  src/library/browse/browsefeature.cpp
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
  src/library/treeitemmodel.h
Due: clang-format

handle return value of QtConcurrent::run
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
Due: clang-format

fix codestyle
  src/library/browse/browsefeature.cpp
  src/library/browse/foldertreemodel.cpp
Due: clang-format

fix old Qt connect
  src/library/browse/foldertreemodel.cpp
Due: clang-format

fix after rebase
  src/library/browse/browsefeature.cpp
Due: clang-format

fix FolderTreeModel destructor the thread should die
  src/library/browse/foldertreemodel.cpp
Due: clang-format

fix windows compilation by moving windows.h include first resolve issue with const signal
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
Due: clang-format

fix formatting
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/foldertreemodel.cpp
  src/library/browse/foldertreemodel.h
Due: clang-format

protect m_pWidget from being used during destruction
  src/widget/wglwidget.cpp
  src/widget/wglwidget.h
Due: clang-format

Expose both kill and bypass as eq effect params
  src/controllers/controlpickermenu.cpp
  src/effects/backends/builtin/bessel4lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel4lvmixeqeffect.h
  src/effects/backends/builtin/bessel8lvmixeqeffect.cpp
  src/effects/backends/builtin/bessel8lvmixeqeffect.h
  src/effects/backends/builtin/biquadfullkilleqeffect.cpp
  src/effects/backends/builtin/biquadfullkilleqeffect.h
  src/effects/backends/builtin/equalizer_util.h
  src/effects/backends/builtin/linkwitzriley8eqeffect.cpp
  src/effects/backends/builtin/linkwitzriley8eqeffect.h
  src/effects/backends/builtin/threebandbiquadeqeffect.cpp
  src/effects/backends/builtin/threebandbiquadeqeffect.h
  src/effects/chains/equalizereffectchain.cpp
  src/effects/chains/equalizereffectchain.h
  src/mixer/basetrackplayer.cpp
  src/waveform/renderers/qtwaveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrendererfilteredsignal.cpp
  src/waveform/renderers/waveformrenderersignalbase.cpp
  src/waveform/renderers/waveformrenderersignalbase.h
Due: clang-format

macOS packaging: Add better ICNS rendering of icon
  res/osx/VolumeIcon.icns
  res/osx/application.icns
Due: none

macOS packaging: Add script for regenerating ICNS from SVG
  packaging/macos/regenerate_icns.sh
Due: none

Initalize uninitalized variables
  src/track/serato/beatgrid.h
Due: clang-format

Add missing & for returning a member as reference
  src/waveform/renderers/waveformwidgetrenderer.h
Due: clang-format

Introduce WaveformWidgetRenderer::getCuePointerFromIndex() to avoid pointer to pointer dereferences
  src/waveform/renderers/waveformwidgetrenderer.cpp
  src/waveform/renderers/waveformwidgetrenderer.h
  src/widget/wwaveformviewer.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmlformat: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
