Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmlformat, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: ./tools/changelog.py
  language: python

qmlformat:
  name: qmlformat
  entry: tools/qmlformat.py
  pass_filenames: true
  language: system

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: ./tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.9.3
  - lxml==4.6.3
  - Markdown==3.3.4

EngineEffectsDelay: use first instead of subspan
  src/engine/effects/engineeffectsdelay.cpp
Due: clang-format

RingDelayBufferTest: eliminate spanFromPtrLen
  src/test/ringdelaybuffer_test.cpp
Due: clang-format

EngineEffectsDelay: remove the p prefix
  src/test/engineeffectsdelay_test.cpp
Due: clang-format

Add hotcue clearing support
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Due: none

Fix lint errors
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Due: none

missed a spot
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Due: none

RingDelayBuffer: fix buffer clearing
  src/util/ringdelaybuffer.cpp
  src/util/ringdelaybuffer.h
Due: clang-format

Update Changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Update changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Replace Launchpad links in README.md
  README.md
Due: none

Replace bug tracker in debian package config
  packaging/debian/mixxx.sgml
Due: none

Update 2.3.4 changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Update 2.3.4 changelog
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: metainfo

Numark DJ2Go2: Fix inverted tempo fader Fix the inverted tempo fader moving issue. Part of issue #10586 (lp1948596).
  res/controllers/Numark_DJ2GO2_Touch_scripts.js
Due: none

Effects: add/improve comments on chain presets
  src/effects/effectchain.cpp
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

Effects: replace m_isQuickEffectChain with EffectsManager::chainIsQuickEffectChain
  src/effects/chains/quickeffectchain.cpp
  src/effects/effectchain.cpp
  src/effects/effectchain.h
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
Due: clang-format

build(cmake): Fix CMake warning regarding extracted archive timestamps
  CMakeLists.txt
Due: none

refactor(soundsourceffmpeg): Fix compatibility with FFmpeg 5.1 [WIP]
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

PitchShiftEffect: add description comments
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

WEffectChainPresetSelector: use Qt::ToolTipRole data for tooltip
  src/widget/weffectchainpresetselector.cpp
Due: clang-format

Effects: add/improve comments on chain presets
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/effects/presets/effectchainpresetmanager.cpp
Due: clang-format

PitchShiftEffect: remove unnecessary comment
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

PitchShiftEffect: explain why the pow is required
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

basesqltablemodel: duplicated line deleted.
  src/library/basesqltablemodel.cpp
Due: clang-format

make SoundDeviceStatus an enum class
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/qml/qmlapplication.cpp
  src/soundio/sounddevice.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenotfound.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddevicestatus.h
  src/soundio/soundmanager.cpp
Due: clang-format

refactor(soundsourceffmpeg): Fix compatibility with FFmpeg 5.1
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

PitchShiftEffect: add range parameter explanation
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

PitchShiftEffect: add semitones mode description
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

PitchShiftEffect: remove unuseful comments
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

fix: Fix `-Werror=nonnull-compare` warning in thread affinity assertion
  src/util/thread_affinity.h
Due: clang-format

Add Issue Forms
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Require FFmpeg v4.1.9 or later
  CMakeLists.txt
  src/encoder/encoderffmpegcore.cpp
  src/sources/soundsourceffmpeg.cpp
  src/sources/soundsourceffmpeg.h
Due: clang-format

Update issue templates
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Due: none

Add "Sur" to .codespellignore for "MacOs Big Sur"
  .codespellignore
Due: none

tracksuggestionfeature-lastfmtask: fix ci.
  src/library/tracksuggestion/lastfm/lastfmgettracksimilartask.cpp
  src/library/tracksuggestion/tracksuggestionfeature.cpp
Due: clang-format

tracksuggestionfeature: initial commit.
  CMakeLists.txt
  res/images/library/ic_library_tracksuggestion.svg
  res/mixxx.qrc
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/library.cpp
  src/library/tracksuggestion/dlgtracksuggestion.cpp
  src/library/tracksuggestion/dlgtracksuggestion.h
  src/library/tracksuggestion/dlgtracksuggestion.ui
  src/library/tracksuggestion/lastfm/lastfmgettracksimilartask.cpp
  src/library/tracksuggestion/lastfm/lastfmgettracksimilartask.h
  src/library/tracksuggestion/suggestionfetcher.cpp
  src/library/tracksuggestion/suggestionfetcher.h
  src/library/tracksuggestion/tracksuggestionfeature.cpp
  src/library/tracksuggestion/tracksuggestionfeature.h
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Due: clang-format

tracksf: sorting added for "match" & "playcount".
  res/schema.xml
  src/database/mixxxdb.cpp
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/columncache.cpp
  src/library/columncache.h
  src/library/dao/trackschema.h
  src/library/mixxxlibraryfeature.cpp
  src/library/trackmodel.h
Due: clang-format

WEffectChainPresetButton: verify chain identfier from skin node
  src/widget/weffectchainpresetbutton.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmlformat: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
