Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Add files via upload
  res/translations/mixxx_nl.ts
Due: none

undo/redo cue add/remove, wip
  src/coreservices.cpp
  src/track/track.cpp
  src/track/track.h
  src/util/undostack.h
  src/widget/wmainmenubar.cpp
Due: clang-format

create UndoStack singleton for test
  src/test/mixxxtest.cpp
Due: clang-format

feat: add basic COs and UI for STEM file
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginedeck.h
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
  src/preferences/dialog/dlgprefmixerdlg.ui
  src/track/track.h
Due: clang-format

feat: add a simple stem waveform renderer
  CMakeLists.txt
  src/analyzer/analyzerwaveform.cpp
  src/waveform/renderers/allshader/waveformrendererfiltered.cpp
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
  src/waveform/renderers/allshader/waveformrenderertextured.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/waveform.h
  src/waveform/waveformfactory.h
  src/waveform/widgets/allshader/waveformwidget.cpp
Due: clang-format

feat: add UI control for stem
  CMakeLists.txt
  res/skins/Deere/deck.xml
  res/skins/Deere/deck_waveform.xml
  res/skins/Deere/skin_settings.xml
  res/skins/Deere/style.qss
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/style_palemoon.qss
  res/skins/LateNight/waveform.xml
  res/skins/Shade/deck.xml
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Shade/waveform.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
  res/skins/Tango/waveform.xml
  src/main.cpp
  src/mixxxmainwindow.h
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/tooltips.cpp
  src/widget/wstemcontrol.cpp
  src/widget/wstemcontrol.h
  src/widget/wwaveformviewer.cpp
  src/widget/wwaveformviewer.h
Due: clang-format, qsscheck

Deprecate lodash.mixxx.js and script.deepMerge for removal in a future release
  res/controllers/common-controller-scripts.js
  res/controllers/lodash.mixxx.js
  res/controllers/midi-components-0.0.js
Due: none

feat: add UI for stem on QML
  CMakeLists.txt
  res/qml/EqColumn.qml
  res/qml/Mixer.qml
  res/qml/StemKnob.qml
  src/qml/qmlplayerproxy.cpp
  src/qml/qmlplayerproxy.h
  src/qml/qmlstemsmodel.cpp
  src/qml/qmlstemsmodel.h
Due: clang-format, qmllint

Update Translation template. Found 3126 source text(s) (8 new and 3118 already existing)
  res/translations/mixxx.ts
Due: none

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-6/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_it.qm
  res/translations/mixxx_it.ts
  res/translations/mixxx_nl.qm
  res/translations/mixxx_nl.ts
Due: none

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-4/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_it.qm
  res/translations/mixxx_it.ts
  res/translations/mixxx_nl.qm
  res/translations/mixxx_nl.ts
  res/translations/mixxx_pl.qm
  res/translations/mixxx_pl.ts
  res/translations/mixxx_pt.qm
  res/translations/mixxx_pt.ts
  res/translations/mixxx_pt_BR.qm
  res/translations/mixxx_pt_BR.ts
  res/translations/mixxx_pt_PT.qm
  res/translations/mixxx_pt_PT.ts
Due: none

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_it.qm
  res/translations/mixxx_it.ts
  res/translations/mixxx_nl.qm
  res/translations/mixxx_nl.ts
  res/translations/mixxx_pt.qm
  res/translations/mixxx_pt.ts
  res/translations/mixxx_pt_BR.qm
  res/translations/mixxx_pt_BR.ts
  res/translations/mixxx_pt_PT.qm
  res/translations/mixxx_pt_PT.ts
Due: none

Update Numark-Mixtrack-Platinum-FX-scripts.js
  res/controllers/Numark-Mixtrack-Platinum-FX-scripts.js
Due: none

Let some time consuming table delegates render into cached pixmaps
  src/library/tabledelegates/bpmdelegate.cpp
  src/library/tabledelegates/bpmdelegate.h
  src/library/tabledelegates/playcountdelegate.cpp
  src/library/tabledelegates/previewbuttondelegate.cpp
Due: clang-format

Add CUE file annotation feature logic and UI
  src/engine/sidechain/enginerecord.cpp
  src/engine/sidechain/enginerecord.h
  src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefrecord.h
  src/preferences/dialog/dlgprefrecorddlg.ui
Due: clang-format

Fix formatting issues as per pre-commit hook
  src/engine/sidechain/enginerecord.cpp
  src/preferences/dialog/dlgprefrecord.cpp
Due: clang-format

Refactor QML instanciation
  res/controllers/Denon-DN-S3700.qml
  src/controllers/legacycontrollermapping.h
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/qml/mixxxcontroller.cpp
  src/qml/mixxxcontroller.h
Due: clang-format, qmllint

fix: Key text is elided from left, should be right
  src/library/tabledelegates/keydelegate.cpp
Due: clang-format

fix: support for new WaveformData struct in shaders
  res/shaders/filteredsignal.frag
  res/shaders/rgbsignal.frag
  res/shaders/stackedsignal.frag
Due: clang-format

Implement screens
  CMakeLists.txt
  res/controllers/Denon-DN-S3700.qml
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/qml/mixxxcontroller.h
  src/qml/mixxxscreen.cpp
  src/qml/mixxxscreen.h
Due: clang-format, qmllint

Fix tests
  res/controllers/common-controller-scripts.js
Due: none

Fix deprecation notice on VSCode
  res/controllers/common-controller-scripts.js
Due: none

Use var instead of const for script to make script.deepmerge working
  res/controllers/common-controller-scripts.js
Due: none

Also draw the text cells into cached pixmaps
  CMakeLists.txt
  enc_temp_folder/de392b1397291642c9d63d3e77eda0af/textdelegate.cpp
  src/library/basetracktablemodel.cpp
  src/library/tabledelegates/textdelegate.cpp
  src/library/tabledelegates/textdelegate.h
Due: clang-format

(fix) avoid catching Num key modifier on macOS
  src/controllers/keyboard/keyboardeventfilter.cpp
Due: clang-format

misc cleanup
  res/controllers/Numark-NS6II-scripts.js
Due: none

refactor takeoverLeds, reduce traffic
  res/controllers/Numark-NS6II-scripts.js
Due: none

add second hotcuepage; add hotcue_focus_color buttons
  res/controllers/Numark-NS6II-scripts.js
Due: none

implement pad mode for controlling a track's key
  res/controllers/Numark-NS6II-scripts.js
Due: none

add padmode for setting intro and outro markers
  res/controllers/Numark-NS6II-scripts.js
Due: none

fix precommit
  res/controllers/Numark-NS6II-scripts.js
Due: none

Update src/preferences/dialog/dlgprefrecord.cpp
  src/preferences/dialog/dlgprefrecord.cpp
Due: clang-format

Changed script's method definitions to ES6 methods
  res/controllers/common-controller-scripts.js
Due: none

Corrected pad mode long press functionality for Mixxx 2.4
  res/controllers/Numark-Mixtrack-Platinum-FX-scripts.js
Due: none

Transform component's init and shutdown to signals
  CMakeLists.txt
  res/controllers/Denon-DN-S3700.midi.xml
  res/controllers/Denon-DN-S3700.qml
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/qml/mixxxcontroller.cpp
  src/qml/mixxxcontroller.h
  src/qml/mixxxscreen.cpp
  src/qml/mixxxscreen.h
Due: clang-format, qmllint

Refactored arrayContains
  res/controllers/common-controller-scripts.js
Due: none

Fix tslint warnings
  res/controllers/common-controller-scripts.js
Due: none

Use default values and further optimization
  res/controllers/common-controller-scripts.js
Due: none

Optimized String.prototype.toInt
  res/controllers/common-controller-scripts.js
Due: none
