Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

add `--stats` flag to CmdLineArgs to allow collecting statistics without enabling other dev features
  src/coreservices.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
  src/util/timer.h
Due: clang-format

WOverview: create hotcue menu only on demand
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

Hotcue button: create menu only on demand (should reduce skin loading time)
  src/widget/whotcuebutton.cpp
  src/widget/whotcuebutton.h
Due: clang-format

Library: defer opening audio files until playback or analysis
  CHANGELOG.md
  src/library/dao/trackdao.cpp
  src/sources/soundsourceproxy.cpp
  src/test/soundproxy_test.cpp
  src/test/trackreftest.cpp
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
  src/track/track.cpp
  src/track/track.h
  src/track/trackrecord.h
  src/track/trackref.h
  src/util/sandbox.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format, changelog, metainfo

fix(qml): propagate Vinyl Control support to QML
  CMakeLists.txt
Due: none

common-controllerscripts.js: improve performance of `deckFromGroup()`
  res/controllers/common-controller-scripts.js
Due: none

Address Mic/Aux visual review feedback
  res/skins/LateNightQML/MicAux/AuxUnit.qml
  res/skins/LateNightQML/MicAux/MicUnit.qml
  res/skins/LateNightQML/MicAux/MicrophoneDuckingPanel.qml
Due: none

Import the public key so dput can verify the signature
  .github/workflows/build.yml
Due: none

Controllers: Add Novation Launchkey Mini MK4 25 mapping
  res/controllers/Launchkey_Mini_MK4_25-scripts.js
  res/controllers/Novation_Launchkey_Mini_MK4_25.midi.xml
Due: none

fixup! Update device channels in preferences on default PipeWire device updates
  src/preferences/dialog/dlgprefsounditem.cpp
Due: clang-format

Don't remove any port connection on PipeWire device destruction
  src/soundio/pipewireenumerator.cpp
  src/soundio/sounddevicepipewire.cpp
Due: clang-format

Add PipeWire logging code
  src/soundio/pipewireenumerator.cpp
Due: clang-format

Remove manual hardware volume sliders and use ControlAudioTaperPot for scaling
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
  src/preferences/dialog/dlgprefsounddlg.ui
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
Due: clang-format

AutoDJ: Replace compile-time debug flag with mixxx::Logger
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

AutoDJ: Fix transition stall when play stops before EOF
  src/library/autodj/autodjprocessor.cpp
Due: clang-format

AutoDJProcessorTest: Add zero-transition EOF race tests
  src/test/autodjprocessor_test.cpp
Due: clang-format

Guard against null values in PipeWire default metadata callbacks
  src/soundio/pipewireenumerator.cpp
Due: clang-format

Skip source tar ball upload for all distros except the first.
  packaging/CPackDebUploadPPA.cmake
Due: none

respect `repeat` in slip mode when enabled before slip, like looping
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/engine/enginebuffer.cpp
Due: clang-format

Fix macOS drag-and-drop support for NSFilePromiseReceiver cloud files
  CMakeLists.txt
  src/mixxxmainwindow.cpp
  src/util/filepromisedrophelper.h
  src/util/filepromisedrophelper.mm
Due: clang-format

fix(LateNightQML): enable menu shortcuts when closed
  res/skins/LateNightQML/Toolbar/ApplicationMenuShortcuts.qml
  res/skins/LateNightQML/Toolbar/Toolbar.qml
Due: none

Fix LateNightQML sampler control bindings
  res/qml/MicrophoneDuckingPanel.qml
  res/skins/LateNightQML/LateNightTheme/LateNightTheme.qml
  res/skins/LateNightQML/Samplers/SamplerExpandButton.qml
  res/skins/LateNightQML/Samplers/SamplerFull.qml
  res/skins/LateNightQML/Samplers/SamplerMini.qml
  res/skins/LateNightQML/Samplers/SamplersRack.qml
  res/skins/LateNightQML/Toolbar/Toolbar.qml
  res/skins/LateNightQML/main.qml
Due: none

Rework libremidi thread synchronization
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/midi/libremidicontroller.cpp
  src/controllers/midi/libremidicontroller.h
  src/controllers/midi/libremidienumerator.cpp
  src/controllers/midi/libremidienumerator.h
Due: clang-format

fixup! Remove manual hardware volume sliders and use ControlAudioTaperPot for scaling
  src/controllers/controlpickermenu.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/soundio/pipewireenumerator.cpp
  src/soundio/pipewireenumerator.h
Due: clang-format

Add CI smoke tests for QML skin startup
  CMakeLists.txt
  src/test/mixxxtest.cpp
  src/test/qml/qmlstartupsmoketest.cpp
  src/util/cmdlineargs.h
Due: clang-format

LateNightQML: make scaling path DPR-aware
  CMakeLists.txt
  res/qml/Mixxx/Controls/Slider.qml
  res/qml/Mixxx/Controls/WaveformOverviewHotcueMarker.qml
  res/qml/Mixxx/Controls/WaveformOverviewMarker.qml
  res/qml/Mixxx/Controls/WaveformOverviewMarkerLayer.qml
  res/skins/LateNightQML/Controls/Fader.qml
  res/skins/LateNightQML/Deck/LateNightIconButton.qml
  res/skins/LateNightQML/Deck/VinylControlsPlaceholder.qml
  src/control/control.cpp
  src/main.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlapplication.h
  src/qml/qmlautoreload.cpp
  src/qml/qmldprutils.h
  src/qml/qmllegacylibraryitem.cpp
  src/qml/qmllegacylibraryitem.h
  src/test/controlobjecttest.cpp
  src/test/pixmapcachelimit_test.cpp
  src/test/qmldprutilstest.cpp
  src/util/pixmapcachelimit.h
  src/util/qmldiagnostics.h
Due: clang-format

Improve QML smoke-test parameter diagnostics
  src/test/qml/qmlstartupsmoketest.cpp
Due: clang-format

rekordboxfeature: Persist the Rekordbox playlist table column layout (visibility, order, sort) so it survives restarts and isn’t tied to a specific table/playlist instance.
  src/library/rekordbox/rekordboxconstants.h
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/rekordbox/rekordboxfeature.h
Due: clang-format

tableview_test: add unit tests to support our changes
  src/test/tableview_test.cpp
Due: clang-format

tableview_test: use brace init to avoid most vexing parse
  src/test/tableview_test.cpp
Due: clang-format

Only default to ASIO if a device can actually be opened
  src/soundio/sounddevice.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/soundmanagerconfig.cpp
Due: clang-format

feat: add AppImage build via GitHub Actions + vcpkg buildenv
  .github/workflows/appimage.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  cmake/modules/FindFFmpeg.cmake
  cmake/modules/FindSndFile.cmake
  packaging/CPackConfig.cmake
  tools/linux_appimage_buildenv.sh
Due: none

Upload PPA: Continue if uploading of one release fails
  packaging/CPackDebUploadPPA.cmake
Due: none

Fix gcc 15.2.0 warning Wstrngop-overflow
  src/analyzer/analyzerwaveform.h
Due: clang-format

Address Mic/Aux review feedback
  res/skins/LateNightQML/MicAux/MicAuxRack.qml
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
  src/qml/qmlapplication.cpp
Due: clang-format

Fix QML startup smoke test review feedback
  CMakeLists.txt
  src/test/mixxxtest.cpp
  src/test/qml/qmlstartupsmoketest.cpp
  src/util/cmdlineargs.cpp
  src/util/cmdlineargs.h
Due: clang-format

fix(LateNightQML): Menu Bar Preferences don't open the dialog
  res/qml/ApplicationMenuActions.qml
  res/skins/LateNightQML/main.qml
Due: none

Include file mtimes in library scan directory freshness hashes
  src/library/scanner/recursivescandirectorytask.cpp
Due: clang-format

Add assertion for no negative stem count
  src/analyzer/analyzerwaveform.h
Due: clang-format
