Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

ci(pre-commit): Update pre-commit hooks to latest versions
  .pre-commit-config.yaml
Due: none

(fix) Controller pref: make Enabled checkbox clickable again
  src/controllers/dlgprefcontrollerdlg.ui
Due: none

move ScopedTimer from WOverview to WaveformOverviewRenderer
  src/library/overviewcache.h
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/widget/woverview.cpp
Due: clang-format

more const, break long lines
  src/widget/woverview.cpp
Due: clang-format

make WaveformOverviewRenderer a namespace
  src/library/overviewcache.cpp
  src/waveform/renderers/waveformoverviewrenderer.cpp
  src/waveform/renderers/waveformoverviewrenderer.h
  src/widget/woverview.cpp
Due: clang-format

ci(pre-commit): Remove unnecessary `stages` config
  .pre-commit-config.yaml
Due: none

ci(pre-commit): Remove `verbose` flag from eslint hook
  .pre-commit-config.yaml
Due: none

ci(pre-commit): Update the eslint hook dependencies
  .pre-commit-config.yaml
Due: none

clarify overview mono comment
  src/waveform/renderers/waveformoverviewrenderer.h
Due: clang-format

Fix the var stuff and jogWheel channels
  res/controllers/Hercules-DJControl-Inpulse-500-script.js
Due: none

Add recent changes to CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Resort fixes
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

ci(pre-commit): Pin dependencies using `pre-commit autoupdate --freeze`
  .pre-commit-config.yaml
Due: none

remove unused channelCount argument
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
Due: clang-format

More PRs
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

CopiedFastSearchLogicAndSolvedEditSmartiesOnRoot
  CMakeLists.txt
  src/library/trackset/searchcrate/groupedsearchcratesfeature.cpp
  src/library/trackset/searchcrate/searchcratefeature.cpp
  src/widget/wfastsearch.cpp
  src/widget/wfastsearch.h
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

Correction-Clazy
  src/widget/wsearchlineedit.cpp
Due: clang-format

Correction-Clazy
  src/widget/wfastsearch.cpp
Due: clang-format

Add M-Vave SMK-25 II piano keyboard mapping
  res/controllers/MVave-SMK-25-II-scripts.js
  res/controllers/MVave-SMK-25-II.midi.xml
Due: none

Add M-Vave SMC-Mixer controller mapping
  res/controllers/MVave-SMC-Mixer-scripts.js
  res/controllers/MVave-SMC-Mixer.midi.xml
Due: none

Fix misspelling in M-Vave SMC-Mixer XML file
  res/controllers/MVave-SMC-Mixer.midi.xml
Due: none

Improve some descriptions
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Use std::shared_ptr for AbstractLegacyControllerSetting to fix memory leaks in unit tests
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollersettings.h
  src/controllers/legacycontrollersettingsfactory.h
  src/test/controller_mapping_settings_test.cpp
Due: clang-format

Initialize uninitialized member variables
  src/controllers/legacycontrollersettings.h
Due: clang-format

Us pass by value + move in setScriptFiles() and remove redundant slot keyword
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
Due: clang-format

KeyboardEventFilter: enable and add more logging
  src/controllers/keyboard/keyboardeventfilter.cpp
Due: clang-format

Apply linter patch to M-Vave SMC-Mixer scripts
  res/controllers/MVave-SMC-Mixer-scripts.js
Due: none

ci(github): Set pull strategy to "merge"
  .github/workflows/sync_branches.yml
Due: none

ci(github): Set proper permissions for `sync_branches` workflow
  .github/workflows/sync_branches.yml
Due: none

ci(github): Persist credentials for later push
  .github/workflows/sync_branches.yml
Due: none

chore: use the mixxxbot user to run subsequent CIs
  .github/workflows/labeler.yml
  .github/workflows/softfix.yml
Due: none

ci(pre-commit): Pin prettier to 3.1.0
  .pre-commit-config.yaml
Due: none

ci(github): Move `softfix` token permissions to job level
  .github/workflows/softfix.yml
Due: none

ci(github): Remove all permissions on workflow level (only on job level)
  .github/workflows/download_cleanup.yml
  .github/workflows/git.yaml
Due: none

ci(github): Use `.yml` file extension for all workflows
  .github/workflows/git.yml
Due: none

ci(github): Pin all actions by ref to mitigate supply chain attacks
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/git.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
  .github/workflows/softfix.yml
  .github/workflows/stale.yml
Due: none

ci(pre-commit): Use `zizmor` in pedantic mode
  .pre-commit-config.yaml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
