Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Ignore separator " / " when comparing multi value tags
  src/track/taglib/trackmetadata_common.cpp
Due: clang-format

Move millstone link to GitHub
  CHANGELOG.md
Due: changelog, metainfo

Introduce a 2.4.1 CHANGELOG section
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add recent changes
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

make group,"waveform_zoom" a ControlPotmeter to simplify mapping to potmeters
  res/skins/Deere/style.qss
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Due: clang-format, qsscheck

add 'waveform_zoom_selector' to simplify mapping encoders
  src/controllers/controlpickermenu.cpp
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Due: clang-format

Use Object.deepMerge for ComponentContainer.applyLayer
  res/controllers/common-controller-scripts.js
  res/controllers/midi-components-0.0.js
Due: none

various improvements from review and feedback.
  res/controllers/Reloop Ready.midi.xml
  res/controllers/Reloop-Ready-scripts.js
Due: none

fixup! Controllers: Add Mapping for Reloop Ready
  res/controllers/Reloop-Ready-scripts.js
Due: none

chore(.gitignore): add /.vs and /out dirs
  .gitignore
Due: none

fix: fire a library scan on directory relocated
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Due: clang-format

PlaylistDAO: fix wrong id test
  src/library/dao/playlistdao.cpp
Due: clang-format

Playlists: force update of playlist tree repaint
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

History: show track count and duration in sidebar
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

Add load point option 'First hotcue'
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/preferences/dialog/dlgprefdeck.cpp
Due: clang-format

Add files via upload
  res/controllers/Numark Mixtrack Platinum FX.midi.xml
  res/controllers/Numark-Mixtrack-Platinum-FX-scripts.js
Due: none

Add missing libqt6shadertools6-dev to control.in
  packaging/debian/control.in
Due: none

AUBackend: Stub out Audio Unit (AU)-based effects backend
  CMakeLists.txt
  src/effects/backends/au/aubackend.cpp
  src/effects/backends/au/aubackend.h
  src/effects/backends/effectsbackendmanager.cpp
  src/effects/defs.h
Due: clang-format

AUBackend: Move class into source file
  CMakeLists.txt
  src/effects/backends/au/aubackend.cpp
  src/effects/backends/au/aubackend.h
  src/effects/backends/au/aubackend.mm
  src/effects/backends/effectsbackendmanager.cpp
Due: clang-format

AudioUnit: Use long form for everything
  CMakeLists.txt
  src/effects/backends/audiounit/audiounitbackend.h
  src/effects/backends/audiounit/audiounitbackend.mm
  src/effects/backends/audiounit/audiouniteffectprocessor.h
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
  src/effects/backends/audiounit/audiounitmanager.h
  src/effects/backends/audiounit/audiounitmanager.mm
  src/effects/backends/audiounit/audiounitmanifest.h
  src/effects/backends/audiounit/audiounitmanifest.mm
  src/effects/backends/effectsbackend.cpp
  src/effects/backends/effectsbackendmanager.cpp
  src/effects/defs.h
Due: clang-format

EffectsBackend: Remove space from 'Audio Unit'
  src/effects/backends/effectsbackend.cpp
Due: clang-format

AUManifest: Store AVAudioUnitComponent
  CMakeLists.txt
  src/effects/backends/au/aumanifest.h
  src/effects/backends/au/aumanifest.mm
Due: clang-format

AudioUnitEffectProcessor: Remove redundant field
  src/effects/backends/audiounit/audiouniteffectprocessor.h
Due: clang-format

EffectsBackend: Add backend type name for AU (Audio Unit)
  src/effects/backends/effectsbackend.cpp
Due: clang-format

AUEffectProcessor: Check render status
  src/effects/backends/au/aueffectprocessor.mm
Due: clang-format

AudioUnit: Rename AU -> AudioUnit
  CMakeLists.txt
  src/effects/backends/au/audiounitbackend.h
  src/effects/backends/au/audiounitbackend.mm
  src/effects/backends/au/audiouniteffectprocessor.h
  src/effects/backends/au/audiouniteffectprocessor.mm
  src/effects/backends/au/audiounitmanager.mm
  src/effects/backends/au/audiounitmanifest.h
  src/effects/backends/au/audiounitmanifest.mm
  src/effects/backends/effectsbackendmanager.cpp
Due: clang-format

AudioUnitManifest: Link the first parameter by default
  src/effects/backends/audiounit/audiounitmanifest.mm
Due: clang-format

AUEffectProcessor: Add more nullability annotations
  src/effects/backends/au/aueffectprocessor.h
  src/effects/backends/au/aueffectprocessor.mm
Due: clang-format

AudioUnitBackend: Remove redundant includes
  src/effects/backends/audiounit/audiounitbackend.h
Due: clang-format

AUBackend: Move implementations into class
  src/effects/backends/au/aubackend.mm
Due: clang-format

AUEffectProcessor: Pass the actual sample count
  src/effects/backends/au/aueffectprocessor.h
  src/effects/backends/au/aueffectprocessor.mm
Due: clang-format

AUManifest: Expose more metadata about the components
  src/effects/backends/au/aumanifest.mm
Due: clang-format

AudioUnitEffectProcessor: Set stream format explicitly
  src/effects/backends/audiounit/audiouniteffectprocessor.h
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
Due: clang-format

AudioUnitManager: Add option to instantiate synchronously
  src/effects/backends/au/audiounitmanager.h
  src/effects/backends/au/audiounitmanager.mm
Due: clang-format

AudioUnitEffectProcessor: Add missing nullability annotations
  src/effects/backends/audiounit/audiouniteffectprocessor.h
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
Due: clang-format

AudioUnitManager: Enable sync instantiation
  src/effects/backends/au/audiounitmanager.h
  src/effects/backends/au/audiounitmanager.mm
Due: clang-format

AudioUnitManager: Dispose of audio unit properly
  src/effects/backends/au/audiounitmanager.h
  src/effects/backends/au/audiounitmanager.mm
Due: clang-format

AudioUnitEffectProcessor: Set stream format on input and output scope
  src/effects/backends/audiounit/audiouniteffectprocessor.mm
Due: clang-format

AUEffectProcessor: Implement basic audio unit instantiation
  src/effects/backends/au/aubackend.mm
  src/effects/backends/au/aueffectprocessor.h
  src/effects/backends/au/aueffectprocessor.mm
Due: clang-format

AUManifest: Set correct backend type
  src/effects/backends/au/aumanifest.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
