Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

(fix) allow seeking (eg. to hotcue) while scratching with the waveform
  src/engine/controls/ratecontrol.cpp
  src/engine/controls/ratecontrol.h
  src/engine/positionscratchcontroller.cpp
Due: clang-format

Find controller path when executing mixxx-test from the build directory
  src/test/controller_mapping_validation_test.cpp
  src/test/controllers/controller_columnid_regression_test.cpp
Due: clang-format

Find id3-test-data path when executing mixxx-test from the build directory
  src/test/trackmetadataexport_test.cpp
Due: clang-format

Don't use deprecated "hotcue_1_enabled"/"hotcue_2_enabled"
  src/test/hotcuecontrol_test.cpp
Due: clang-format

Alter LauchImage logo during the 2024 Chistmas holidays
  src/skin/legacy/launchimage.cpp
Due: clang-format

Extend christmas season to 2025-01-06 (Epiphany)
  src/skin/legacy/launchimage.cpp
Due: clang-format

design: add Christmas splash screen
  res/images/mixxx-icon-logo-christmas.svg
  res/mixxx.qrc
  src/skin/legacy/launchimage.cpp
Due: clang-format

S4MK3: stop wheel led blinking when track is over/stopped
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

(fix) Track Info: show key text as in tracks table
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfomulti.cpp
Due: clang-format

util/string: remove ALL trailing whitespaces
  src/util/string.h
Due: clang-format

Improve key code
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
Due: clang-format

Keep keyText imported from metadata unchanged. It may has extra info like tuning ore advanced modes we cannot parse.
  src/track/trackrecord.cpp
Due: clang-format

Test for empty key text first
  src/library/dlgtrackinfomulti.cpp
Due: clang-format

Allow discarding unused return value and discard it.
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfomulti.cpp
  src/track/trackrecord.h
Due: clang-format

fix clang-tidy complain
  src/widget/wtrackstemmenu.cpp
Due: clang-format

renaming for clarity
  src/util/roundtopixel.h
  src/waveform/renderers/allshader/digitsrenderer.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format

chore(rendergraph): Order `generated_shaders_gl.cmake` alphabetically
  src/rendergraph/shaders/generated_shaders_gl.cmake
Due: none

ci(pre-commit): Automatically update rendergraph shaders on changes
  .pre-commit-config.yaml
Due: none

chore(rendergraph): Port `generate_shaders_gl.pl` to Python
  src/rendergraph/shaders/generate_shaders_gl.pl
  tools/rg_generate_shaders_gl.py
Due: none

Track Info dialog: remove invisible spacer
  src/library/dlgtrackinfo.ui
Due: none

Tracks: focus the editing field in the track properties that corresponds to the focused column
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

chore: update the Christmas logo with original assets
  res/images/mixxx-icon-logo-christmas.svg
Due: none

fixup! chore: update the Christmas logo with original assets
  src/skin/legacy/launchimage.cpp
Due: clang-format

Update Translation template. Found 33115 source texts (5 new and 3110 already existing)
  res/translations/mixxx.ts
Due: none

Update CHANGELOG.md for 2.5.0
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_es.qm
  res/translations/mixxx_es.ts
  res/translations/mixxx_es_419.qm
  res/translations/mixxx_es_419.ts
  res/translations/mixxx_es_AR.qm
  res/translations/mixxx_es_AR.ts
  res/translations/mixxx_es_CO.qm
  res/translations/mixxx_es_CO.ts
  res/translations/mixxx_es_ES.qm
  res/translations/mixxx_es_ES.ts
  res/translations/mixxx_es_MX.qm
  res/translations/mixxx_es_MX.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_he.qm
  res/translations/mixxx_he.ts
  res/translations/mixxx_it.qm
  res/translations/mixxx_it.ts
  res/translations/mixxx_nl.qm
  res/translations/mixxx_nl.ts
  res/translations/mixxx_ru.qm
  res/translations/mixxx_ru.ts
Due: none

WTrackTableView/~Header: get sorting capability from track model
  src/library/autodj/dlgautodj.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternaltrackmodel.cpp
  src/library/library.cpp
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/dlghidden.cpp
  src/library/missing_hidden/dlgmissing.cpp
  src/library/playlisttablemodel.cpp
  src/library/recording/dlgrecording.cpp
  src/library/trackmodel.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/widget/wanalysislibrarytableview.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

Track table header: add Shuffle tracks action to column menu
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Shade/style_dark.qss
  res/skins/Shade/style_summer_sunset.qss
  res/skins/Tango/style.qss
  res/skins/default.qss
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
  src/widget/wtracktableviewheader.cpp
  src/widget/wtracktableviewheader.h
Due: clang-format, qsscheck

(fix) Skins: center rate range labels (Qt6 regression)
  res/skins/Tango/decks/rate_pitch_key.xml
  res/skins/Tango/style.qss
  src/widget/wraterange.cpp
Due: clang-format, qsscheck

LateNight PaleMoon: fix EQ knob graphics for Qt6.5+
  res/skins/LateNight/palemoon/knobs/knob_bg_regular.svg
Due: none

Overview: clear pickup position display when opening cue menu
  src/widget/woverview.cpp
Due: clang-format

Track Info dialog: switch to Bpm tab if BPM editor should be focused
  src/library/dlgtrackinfo.cpp
Due: clang-format

Tracks: use clicked column to focus the editing field in track properties
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtrackproperty.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

feat(controllers): add new controller mapping for Numark NS6II
  res/controllers/Numark NS6II.midi.xml
  res/controllers/Numark-NS6II-scripts.js
Due: none

add Typescript MidiInputHandler definition
  res/controllers/midi-controller-api.d.ts
Due: none

update mapping to ES6 featureset
  res/controllers/Numark-NS6II-scripts.js
Due: none

properly shutdown takeoverleds
  res/controllers/Numark-NS6II-scripts.js
Due: none

add second hotcuepage; add hotcue_focus_color buttons
  res/controllers/Numark-NS6II-scripts.js
Due: none

fix broken splitcue workaround
  res/controllers/Numark-NS6II-scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
