Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

fixup! feat: add UI testing for QML
  .github/workflows/build.yml
Due: none

Update Translation template. Found 3213 source text(s) (16 new and 3197 already existing)
  res/translations/mixxx.ts
Due: ts-source-copy

add WCueButton: can be dropped onto a WPlayButton to latch 'play'
  CMakeLists.txt
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/util/defs.h
  src/widget/hotcuedrag.cpp
  src/widget/hotcuedrag.h
  src/widget/wcuebutton.cpp
  src/widget/wcuebutton.h
  src/widget/whotcuebutton.cpp
  src/widget/whotcuebutton.h
  src/widget/wplaybutton.h
Due: clang-format

skins: use WCueButton, switch to WPlayButton in mini decks
  res/skins/Deere/deck_controls_row.xml
  res/skins/Deere/deck_small.xml
  res/skins/Deere/sampler_text_row.xml
  res/skins/LateNight/decks/deck_mini.xml
  res/skins/LateNight/decks/row_5_transportLoopJump.xml
  res/skins/LateNight/decks/row_5_transportLoopJump_compact.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/decks/deck_left_mini.xml
  res/skins/Tango/decks/deck_right_mini.xml
  res/skins/Tango/decks/row_transport_left.xml
  res/skins/Tango/decks/row_transport_right.xml
Due: none

chore(pre-commit): upgrade qml_formatter to support JS chaining
  .pre-commit-config.yaml
Due: none

fix(crate): use completeBaseName as name when importing playlist
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

fix(playlist): use completeBaseName as name when importing playlist
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

fixup! feat: refactor player proxy and create separated track proxy
  src/qml/qmlplayerproxy.cpp
  src/qml/qmlplayerproxy.h
Due: clang-format

Playlists: add actions "Unlock all" and "Delete all unlocked"
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

(fix) Tooltips: keep linebreak before kbd shortcut tooltips
  src/widget/wbasewidget.h
Due: clang-format

(fix) Library Scan summary #13427: use QString::number() for 'missing' arg
  src/mixxxmainwindow.cpp
Due: clang-format

Add latest changes to CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Bump version to 2.6-beta
  CMakeLists.txt
  LICENSE
Due: none

saving changes due to controller errors
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Add Logical Changes and QMessageBox to Point the Configuration Error
  .gitignore
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Fix Sidebar and Remove Second Pop-up
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
Due: clang-format

Fix Clang-format pre-commit issue
  src/preferences/dialog/dlgpreferencepage.h
Due: clang-format

on Apply error, select tree item in order to switch to page
  src/preferences/dialog/dlgpreferences.cpp
Due: clang-format

feat(QML): add controller settings
  res/qml/Settings/Controller.qml
Due: qmllint

fixup! feat(QML): add controller settings
  CMakeLists.txt
  packaging/debian/control.in
  res/controllers/Dummy Device Screen.hid.xml
  res/qml/ActionPopup.qml
  res/qml/ComboBox.qml
  res/qml/EmbeddedBackground.qml
  res/qml/FormButton.qml
  res/qml/Settings.qml
  res/qml/Settings/Controller.qml
  res/qml/Settings/ControllerCard.qml
  res/qml/Settings/RatioChoice.qml
  s4_mk3.png
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/controllermappinginfo.cpp
  src/controllers/controllermappinginfo.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/dlgprefcontroller.h
  src/controllers/legacycontrollermappingfilehandler.cpp
  src/controllers/legacycontrollersettings.cpp
  src/controllers/legacycontrollersettings.h
  src/controllers/legacycontrollersettingslayout.cpp
  src/controllers/legacycontrollersettingslayout.h
  src/coreservices.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmlpreferencesproxy.cpp
  src/qml/qmlpreferencesproxy.h
  src/util/singleton.h
  tools/debian_buildenv.sh
Due: clang-format, qmllint

feat: add QML setting popup
  CMakeLists.txt
  res/qml/Button.qml
  res/qml/Settings.qml
  res/qml/Settings/Analyzer.qml
  res/qml/Settings/AutoDJ.qml
  res/qml/Settings/Broadcast.qml
  res/qml/Settings/Controller.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/Library.qml
  res/qml/Settings/MixerEffect.qml
  res/qml/Settings/Parameter.qml
  res/qml/Settings/Recording.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/Settings/StatsPerformance.qml
  res/qml/Theme/Theme.qml
  res/qml/images/gear.svg
  res/qml/main.qml
  src/qml/qmlsettingparameter.cpp
  src/qml/qmlsettingparameter.h
Due: clang-format, qmllint

feat(QML): add controller settings
  res/controllers/Dummy Device Screen.hid.xml
  src/controllers/controllermappinginfo.cpp
  src/controllers/controllermappinginfo.h
  src/controllers/legacycontrollersettings.h
  src/qml/qmlpreferencesproxy.cpp
  src/util/singleton.h
Due: clang-format

Export playlists to Engine DJ
  CMakeLists.txt
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/dao/trackdao.cpp
  src/library/export/dlglibraryexport.cpp
  src/library/export/dlglibraryexport.h
  src/library/export/engineprimeexportjob.cpp
  src/library/export/engineprimeexportjob.h
  src/library/export/engineprimeexportrequest.h
  src/library/export/libraryexporter.cpp
  src/library/export/libraryexporter.h
  src/library/library.cpp
  src/library/library.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/mixxxmainwindow.cpp
Due: clang-format

Const for playlist id/name iteration
  src/library/export/engineprimeexportjob.cpp
Due: clang-format

Dupe tracks in playlist controlled by DB feature
  src/library/dao/playlistdao.cpp
  src/library/export/engineprimeexportjob.cpp
Due: clang-format

libs_7zip_bit7z
  CMakeLists.txt
  src/coreservices.cpp
  src/coreservices.h
  src/preferences/backup/backupsettings.cpp
  src/preferences/backup/backupsettings.h
  src/preferences/backup/backupworker.cpp
  src/preferences/backup/backupworker.h
Due: clang-format

libs_7zip_bit7z
  cmake/modules/Find7zip.cmake
Due: none

libs_7zip_bit7z
  src/preferences/backup/backupworker.cpp
Due: clang-format

don't trigger CI checks/builds when PR is edited (eg. description changed)
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
Due: none

Browse feature: always use absolutePath() for TreeItems so the track (directory) filter works as expected
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Browse feature: remove TODO, add comment
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: use parented_ptr, forward-declare, rm unused includes
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
Due: clang-format

Browse feature: add library view comment to rescan dialog
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: enable sorting
  src/library/browse/browsetablemodel.cpp
Due: clang-format

Browse feature: use Library model when path is watched (in library)
  CMakeLists.txt
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
Due: clang-format

Browse feature: decorate watched path items with dot in upper left corner
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

Browse feature: update items when path is added to/removed from library
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/library.cpp
  src/library/library.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Recording feature: use parented_ptr, p prefix, forward-declare
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
Due: clang-format

Library sidebar: store model as member
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format
