Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

SetlogFeature: cleanup
  src/library/trackset/setlogfeature.cpp
Due: clang-format

WLibrarySidebar: remove commented, obsolete calls
  src/widget/wlibrarysidebar.cpp
Due: clang-format

SidebarModel/TreeItemModel: cleanup, early return, opti, refine comments, p prefix for pointers
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.h
  src/library/treeitemmodel.cpp
  src/widget/wlibrarysidebar.cpp
Due: clang-format

PlaylistDAO: also emit type after adding or deleting playlists ...
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
Due: clang-format

TreeItem: add helper isItemDataUnique()
  src/library/libraryfeature.h
  src/library/trackset/setlogfeature.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Library sidebar: add bookmarks, Alt+B toggles, Alt+Up/Down jumps to prev/next
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

Library sidebar: decorate bookmarks with SidebarItemDelegate
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

WLibrarySidebar: remove obsolete expand() calls, add note about scrollTo()
  src/widget/wlibrarysidebar.cpp
Due: clang-format

Library sidebar: click on Refresh icon in Computer enforces tree rebuild
  src/library/browse/browsefeature.cpp
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/library/treeitem.h
Due: clang-format

Library sidebar: rebuild outdated BrowseFeature child trees on Enter press
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
Due: clang-format

(fix) BrowseFeature: don't automatically rebuild tree on each expand
  res/images/library/ic_library_refresh.svg
  res/mixxx.qrc
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/libraryfeature.h
  src/library/sidebarmodel.cpp
Due: clang-format

WIP Recording feature: use BrowseLibraryTableModel if rec dir is watched
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/recordingfeature.cpp
  src/library/recording/recordingfeature.h
  src/preferences/dialog/dlgprefrecord.cpp
Due: clang-format

WIP Recording feature: update view and track (metadata) when recording is de/activated
  src/library/browse/browsefeature.cpp
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/recordingfeature.cpp
  src/library/trackcollection.h
Due: clang-format

TempTestWithoutVCPKGLibs
  CMakeLists.txt
  src/coreservices.cpp
  src/preferences/backup/backupsettings.cpp
  src/preferences/backup/backupsettings.h
  src/preferences/backup/backupworker.cpp
  src/preferences/backup/backupworker.h
Due: clang-format

TempTestWithoutVCPKGLibs-CIerrors
  src/preferences/backup/backupsettings.cpp
  src/preferences/backup/backupworker.cpp
Due: clang-format

TempTestWithoutVCPKGLibs-CIerrors
  src/preferences/backup/backupsettings.cpp
Due: clang-format

TempTestWithoutVCPKGLibs-CIerrors
  src/preferences/backup/backupworker.cpp
Due: clang-format

Don't hardcode the limit of parallel compiler threads
  .github/workflows/build.yml
Due: none

DeveloperTools: restore searchbar shortcut Ctrl+F
  src/dialog/dlgdevelopertools.cpp
  src/dialog/dlgdevelopertools.h
Due: clang-format

Use the 2.6 branch for the mixxxbetas ppa
  .github/workflows/build.yml
Due: none

chore: disable QML pre-commit hooks to prevent further data loss
  .pre-commit-config.yaml
Due: none

fix(DlgPrefController): remove deadlock when loading screen mapping
  src/controllers/dlgprefcontroller.cpp
Due: clang-format

fix(DlgPrefController): add missing layout
  src/controllers/dlgprefcontrollerdlg.ui
Due: none

feat: add QML setting popup
  CMakeLists.txt
  res/qml/Button.qml
  res/qml/Settings.qml
  res/qml/Settings/Analyzer.qml
  res/qml/Settings/AutoDJ.qml
  res/qml/Settings/Broadcast.qml
  res/qml/Settings/Category.qml
  res/qml/Settings/Controller.qml
  res/qml/Settings/Interface.qml
  res/qml/Settings/Library.qml
  res/qml/Settings/MixerEffect.qml
  res/qml/Settings/Recording.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/Settings/StatsPerformance.qml
  res/qml/Theme/Theme.qml
  res/qml/images/gear.svg
  res/qml/main.qml
  src/preferences/dialog/dlgprefinterface.cpp
  src/preferences/dialog/dlgprefinterface.h
  src/preferences/dialog/dlgprefinterfacedlg.ui
  src/qml/qmlconfigproxy.cpp
  src/qml/qmlconfigproxy.h
  src/qml/qmlsettingparameter.cpp
  src/qml/qmlsettingparameter.h
  src/qml/qmlwaveformdisplay.cpp
Due: clang-format, qmllint

Library: add controls to add deck/library track to 'Prep' playlist
  res/images/library/ic_heart_beige.svg
  res/images/library/ic_heart_beige_crossed.svg
  res/images/library/ic_heart_cyan.svg
  res/images/library/ic_heart_disabled.svg
  res/mixxx.qrc
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

Add more layers to Twister bindings
  res/controllers/DJ TechTools MIDI Fighter Twister.midi.xml
  res/controllers/DJ TechTools-MIDI Fighter Twister-scripts.js
Due: none

Twister: add colors to enum settings
  res/controllers/DJ TechTools MIDI Fighter Twister.midi.xml
Due: none

Library 'append to prep playlist': show 'heart' splashscreen on success for 1.5 s
  res/images/library/ic_heart_cyan_xxl.svg
  res/mixxx.qrc
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/librarycontrol.cpp
Due: clang-format

Disable QML to avoid undefined behaviour
  CMakeLists.txt
Due: none

(fix) revert to max 36 hotcues, fix one-off issue
  src/util/defs.h
Due: clang-format

add changelog entry for Cue drag'n'drop onto Play
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

changelog: mention revert to 36 hotcues (was 37 since 2.2 due to one-off issue)
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

feat: add UI testing for QML
  .github/workflows/build.yml
  CMakeLists.txt
  res/qml/main.qml
  src/coreservices.cpp
  src/test/main.cpp
  src/test/mixxxtest.cpp
  src/test/mixxxtest.h
  src/test/qml/example_test.cpp
  src/test/qml/servertest.cpp
  src/test/qml/servertest.h
Due: clang-format, qmllint

fixup! feat: add UI testing for QML
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

fixup! feat: add UI testing for QML
  .github/workflows/build.yml
Due: none

fixup! feat: add UI testing for QML
  CMakeLists.txt
Due: none

chore: tweak cache to prevent buildenv download
  .github/workflows/build.yml
Due: none
