Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

OSCLiblo -> fix problem with CI Builds on MacOS: plist & entitlements
  .github/workflows/build.yml
  CMakeLists.txt
  src/test/osc_liblo_test.cpp
  src/test/osc_mixxx_integration_test.cpp
Due: clang-format

OSCLiblo -> update OSCprefs UI & tooltips
  src/preferences/dialog/dlgprefoscdlg.ui
Due: none

OSCLiblo -> Cleanup & test packaging for MacOS (plist & entitlements)
  CMakeLists.txt
  packaging/macos/Mixxx.entitlements
  src/test/osc_mixxx_integration_test.cpp
Due: clang-format

OSCLiblo -> get liblo packahe on linux (apt) & MacOS (homeBrew / VCPKG)
  .github/workflows/build.yml
  CMakeLists.txt
  src/mixxxmainwindow.cpp
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  tools/debian_buildenv.sh
Due: clang-format

OSCLiblo -> Added extra regex for stem_fx super & enable
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
Due: clang-format

OSCLiblo -> Adjust CMakeLists, cmake for Liblo package
  .github/workflows/build.yml
  .github/workflows/checks.yml
  CMakeLists.txt
  cmake/modules/Findliblo.cmake
  cmake/modules/Findlo.cmake
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Due: clang-format

OSCLiblo -> cleanup commits & correct messages
  CMakeLists.txt
Due: none

OSCLiblo -> plist message for accessing network on MacOS
  packaging/macos/Info.plist.in
Due: none

PlaylistImporterFromCsv -> import an external CSV, search for possible matching tracks in the library
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
Due: clang-format

PlaylistimporterFromCsw -> extra fields in UI + cleanup
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

[FIX] Too complex type if group was any
  res/controllers/mixxx-controls.d.ts
Due: none

Set getSetting() name type back to string
  res/controllers/engine-api.d.ts
Due: none

Improve text for Cover Art -> Choose file menu
  src/widget/wcoverartmenu.cpp
Due: clang-format

Show an overview of the hotcues in the tooltip of multiple fields
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/trackcollection.h
Due: clang-format

Playlists: add action to remove duplicate tracks
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

Reorder Find on Web menu for fine to coarse, Exact Track to Cover Track
  src/widget/findonwebmenufactory.cpp
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
Due: clang-format

Remove not working Artist + Album from LastFM
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
Due: clang-format

Use a normal QMenu parent for the Find On Web root menu
  src/widget/wfindonwebmenu.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format

Move aboutToShow() code to updateMenus() to allow a first level action later.
  src/widget/wtrackmenu.cpp
Due: clang-format

Remove title and track info from Find on Web menu to tidy it up.
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
  src/widget/wfindonwebmenu.cpp
  src/widget/wfindonwebmenu.h
Due: clang-format

Introduce a find on Web ID
  src/widget/findonwebmenuservices/findonwebmenudiscogs.cpp
  src/widget/findonwebmenuservices/findonwebmenulastfm.cpp
  src/widget/findonwebmenuservices/findonwebmenusoundcloud.cpp
  src/widget/wfindonwebmenu.cpp
  src/widget/wfindonwebmenu.h
Due: clang-format

Pioneer DDJ-200: added option to change rateRange
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: use dblClick on Shift Btn to swap decks
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Skin Highlight Controls: LateNight Palemoon
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Disabled control name check if name is just string
  res/controllers/mixxx-controls.d.ts
Due: none

Update src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.cpp
Due: clang-format

Improved mixxx control types structure; Added read-only namespace
  res/controllers/engine-api.d.ts
  res/controllers/mixxx-controls.d.ts
Due: none

Excluded read-only controls for set functions
  res/controllers/engine-api.d.ts
  res/controllers/mixxx-controls.d.ts
Due: none

Added ControlPotMeter control suffixes
  res/controllers/mixxx-controls.d.ts
Due: none

Added stem related controls
  res/controllers/mixxx-controls.d.ts
Due: none

Replaced coloured lines with ronso's nice coloured squares with number
  src/library/basetracktablemodel.cpp
Due: clang-format

updated with suggestions & added icons for types
  res/images/library/ic_beatjump_right_active_bl.svg
  res/images/library/ic_beatjump_right_active_w.svg
  res/images/library/ic_loop_active_bl.svg
  res/images/library/ic_loop_active_w.svg
  res/mixxx.qrc
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
Due: clang-format

QML: make the interface responsive
  res/qml/Deck.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Library.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/TrackList.qml
  res/qml/Settings.qml
  res/qml/Settings/AudioEntity.qml
  res/qml/Settings/AudioRouter.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/main.qml
  src/qml/qmllibrarytracklistcolumn.cpp
  src/qml/qmllibrarytracklistcolumn.h
  src/qml/qmllibrarytracklistmodel.cpp
Due: clang-format

WIP: Android
  CMakeLists.txt
  README.md
  android/AndroidManifest.xml
  android/src/org/mixxx/MyAppActivity.java
  debug.keystore
  res/controllers/Traktor-Kontrol-S4-MK3.js
  res/qml/Deck.qml
  res/qml/Library.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/Library/TrackList.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/WaveformCue.qml
  res/qml/WaveformHotcue.qml
  res/qml/WaveformIntroOutro.qml
  res/qml/WaveformLoop.qml
  res/qml/main.qml
  src/controllers/android.cpp
  src/controllers/android.h
  src/controllers/bulk/bulkenumerator.cpp
  src/controllers/controllermanager.cpp
  src/controllers/hid/hidcontroller.cpp
  src/controllers/hid/hiddevice.cpp
  src/controllers/hid/hiddevice.h
  src/controllers/hid/hidenumerator.cpp
  src/controllers/hid/hidiothread.cpp
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
  src/coreservices.cpp
  src/mixxxmainwindow.cpp
  src/preferences/configobject.cpp
  src/qml/qmlapplication.cpp
  src/qml/qmlwaveformrenderer.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/soundmanager.cpp
  src/util/desktophelper.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wspinnyglsl.cpp
  tools/android_buildenv.sh
Due: clang-format

QML: make the interface responsive
  res/qml/Deck.qml
  res/qml/Deck/InfoBar.qml
  res/qml/Deck/Toolbar.qml
  res/qml/Library.qml
  res/qml/Library/SourceTree.qml
  res/qml/Library/Track.qml
  res/qml/Library/TrackList.qml
  res/qml/Mixxx/Controls/WaveformOverview.qml
  res/qml/Settings.qml
  res/qml/Settings/AudioEntity.qml
  res/qml/Settings/AudioRouter.qml
  res/qml/Settings/SoundHardware.qml
  res/qml/WaveformCue.qml
  res/qml/WaveformHotcue.qml
  res/qml/WaveformIntroOutro.qml
  res/qml/WaveformLoop.qml
  res/qml/main.qml
  src/qml/qmllibrarytracklistcolumn.cpp
  src/qml/qmllibrarytracklistcolumn.h
  src/qml/qmllibrarytracklistmodel.cpp
Due: clang-format

feat: add key colors to WKey label in decks
  src/preferences/colorpalettesettings.h
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wkey.cpp
  src/widget/wkey.h
Due: clang-format

Update WKey tooltip to mention Key colors
  src/skin/legacy/tooltips.cpp
Due: clang-format

PR insights for supporting dynamic binding components.
  res/controllers/midi-components-0.0.js
Due: none

Pioneer DDJ-200: removed Mapping setting duplication
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none
