Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

also move to previous iterator when needed when going in negative direction to account for fp errors
  src/track/beats.cpp
Due: clang-format

Drag'n'drop: avoid unintended drag on hover
  src/util/dnd.cpp
  src/widget/wcoverart.cpp
Due: clang-format

download_cleanup.yml: include containing folders
  .github/workflows/download_cleanup.yml
Due: none

Fix missing include
  src/util/opengltexture2d.h
Due: clang-format

Initalize CmdlineArgs::m_qml
  src/util/cmdlineargs.cpp
Due: clang-format

Allways calculate the auto value for colorfull console output.
  src/util/cmdlineargs.cpp
Due: clang-format

Denon MC6000MK2: Fix mapping of filter knob/button
  res/controllers/Denon-MC6000MK2-scripts.js
Due: none

Update to vcpkg dependencies 498634a and 00e79d1
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Update vcpkg dependencies to 9674e6a and 875f13b
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Use min1100 triplets for new macOS deployment target 11.0
  .github/workflows/build.yml
Due: none

BrowseFeature: add action to refresh directory tree
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
Due: clang-format

AutoDJ-WFader
  src/library/autodj/autodjprocessor.cpp
  src/preferences/dialog/dlgprefautodj.cpp
  src/preferences/dialog/dlgprefautodj.h
  src/preferences/dialog/dlgprefautodjdlg.ui
Due: clang-format

FindSndFile: Link FLAC and mpg123 in static builds
  cmake/modules/FindSndFile.cmake
Due: none

StatusFiles-Settings
  src/mixer/basetrackplayer.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: clang-format

NowPlaying-Settings
  src/mixxxmainwindow.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: clang-format

Disable Warning C4200 with MSVC
  CMakeLists.txt
Due: none

update libdjinterop to 0.20.2
  CMakeLists.txt
Due: none

Remove autdated ASSERT fixing #13164
  src/library/basetracktablemodel.cpp
Due: clang-format

Library track menu: show Hide action also in Playlist & Crates
  src/library/playlisttablemodel.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/widget/wtrackmenu.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

NowPlaying-Settings
  src/mixxxmainwindow.cpp
Due: clang-format

NowPlaying-Settings
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: none

Update Translation template. Found 2934 source text(s) (2 new and 2932 already existing)
  res/translations/mixxx.ts
Due: none

Update debian/changelog to trag latest release
  packaging/debian/changelog
Due: none

OpenGLWindow / Waveform viewer: reject FocusIn, allow global keyboard shortcuts
  src/widget/openglwindow.cpp
Due: clang-format

OpenGLWindow / waveform / spinnies: set ToolTip flag to not get keyboard focus
  src/widget/openglwindow.cpp
Due: clang-format

add WEffectMetaKnob to skins (arcs are drawn only in LateNight PaleMoon)
  res/skins/Deere/effect_meta_knob.xml
  res/skins/LateNight/fx/meta_knob.xml
  res/skins/LateNight/fx/slot_controls.xml
  res/skins/LateNight/skin.xml
  res/skins/Tango/fx/metaknob.xml
Due: none

new WEffectMetaKnob: knob that draws arc from dynamic default position
  CMakeLists.txt
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/widget/weffectmetaknob.cpp
  src/widget/weffectmetaknob.h
  src/widget/wknobcomposed.cpp
  src/widget/wknobcomposed.h
Due: clang-format

Add changes to CHANGELOG.md for 2.4.1
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

WEffectParameterKnobComposed: draw arc from neutral point on scale, default 0
  src/effects/effectknobparameterslot.cpp
  src/effects/effectknobparameterslot.h
  src/effects/effectparameterslotbase.h
  src/widget/weffectparameterknobcomposed.cpp
Due: clang-format

effect parameters: fix/remove various neutral-point-on-scale values
  src/effects/backends/builtin/graphiceqeffect.cpp
  src/effects/backends/builtin/parametriceqeffect.cpp
  src/effects/backends/builtin/pitchshifteffect.cpp
Due: clang-format

PlaylistStatsDAO: Extract common code from SetlogFeature
  src/library/dao/playliststatsdao.cpp
  src/library/dao/playliststatsdao.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

PlaylistStatsDAO: Add TrackCollection::getPlaylistStatsDAO()
  src/library/dao/playliststatsdao.cpp
  src/library/dao/playliststatsdao.h
  src/library/trackcollection.cpp
  src/library/trackcollection.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/setlogfeature.cpp
Due: clang-format

PlaylistStatsDAO: Extract common code from PlaylistFeature
  CMakeLists.txt
  src/library/dao/playliststatsdao.cpp
  src/library/dao/playliststatsdao.h
  src/library/trackset/playlistfeature.cpp
Due: clang-format

PlaylistStatsDAO: Extract common code from BasePlaylistFeature
  src/library/dao/playliststatsdao.cpp
  src/library/dao/playliststatsdao.h
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

Adopt all workflow action updates from the main branch
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/git.yaml
  .github/workflows/pre-commit.yml
Due: none

Don't use deprecated ::set-output
  tools/deploy.py
Due: none

WNumberDuration: Add a widget for displaying durations
  CMakeLists.txt
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wnumberduration.cpp
  src/widget/wnumberduration.h
Due: clang-format
