Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

Explain the pre-commit refernces
  .travis.yml
Due: none

.travis.yml: Turn on WARNINGS_FATAL for Ubuntu CMake builds
  .travis.yml
Due: none

MixxxMainWindow: Rename m_pRootWidget to m_pCentralWidget
  src/mixxx.cpp
  src/mixxx.h
Due: clang-format, line-length

frame: replace forward declaration with include
  src/track/frame.h
Due: clang-format, line-length

AppVeyor: Fix Ubuntu2004 dependencies after merge conflict
  appveyor.yml
Due: none

rename Master output to Main output in user visible strings
  res/skins/Deere/tool_bar.xml
  res/skins/LateNight/mixer/mixer_master_headphone.xml
  src/controllers/controlpickermenu.cpp
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsounddlg.ui
  src/skin/tooltips.cpp
  src/soundio/soundmanagerutil.cpp
Due: clang-format, line-length

frame.h refactor: use FramePos and FrameDiff_t
  src/analyzer/analyzerbeats.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/clockcontrol.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/quantizecontrol.cpp
  src/library/dlgtrackinfo.cpp
  src/test/beatstest.cpp
  src/test/beatstranslatetest.cpp
  src/test/enginesynctest.cpp
  src/track/beatfactory.cpp
  src/track/beats.cpp
  src/track/beats.h
  src/track/frame.h
  src/track/track.cpp
  src/waveform/renderers/waveformrenderbeat.cpp
Due: clang-format, line-length

beats: update outdated constructor documentation
  src/track/beats.h
Due: clang-format, line-length

bpmcontrol: use parented pointers
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Due: clang-format, line-length

bpmcontrol: use unique pointers
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
Due: clang-format, line-length

beatiterator: pointer comparison and exclude end
  src/track/beatiterator.h
Due: clang-format, line-length

change control name
  res/skins/Tango/waveform.xml
  src/controllers/controlpickermenu.cpp
  src/engine/controls/bpmcontrol.cpp
  src/engine/controls/bpmcontrol.h
  src/skin/tooltips.cpp
  src/track/beats.h
Due: clang-format, line-length

bpm: pass trivially copyable types by value
  src/track/bpm.cpp
  src/track/bpm.h
Due: clang-format, line-length

bpm:use double for multiple and divide operations
  src/track/bpm.h
Due: clang-format, line-length

AppVeyor: Enable WARNINGS_FATAL for Ubuntu2004
  appveyor.yml
Due: none

AppVeyor: Explicitly specify all build options
  appveyor.yml
Due: none

Travis: Don't install homebrew dev env for CMake build
  .travis.yml
Due: none

Travis: Explicitly specify all build options
  .travis.yml
Due: none

beatiterator: remove destructor
  src/track/beatiterator.h
Due: clang-format, line-length

beats.proto: make fields required
  src/proto/beats.proto
Due: clang-format

beatutils: remove unnecessary const
  src/track/beatutils.cpp
  src/track/beatutils.h
Due: clang-format, line-length

beatutils: remove rounding for frame sample conversion
  src/track/beatutils.h
Due: clang-format, line-length

control: Use assertions in ControlDoublePrivate if warn is true
  src/control/control.cpp
  src/control/control.h
  src/control/controlobject.cpp
  src/control/controlobject.h
  src/control/controlobjectscript.cpp
  src/control/controlproxy.cpp
  src/control/controlproxy.h
  src/controllers/controllerengine.cpp
  src/controllers/midi/midioutputhandler.cpp
  src/mixer/playermanager.cpp
  src/mixxx.cpp
  src/skin/legacyskinparser.cpp
  src/test/beatstranslatetest.cpp
  src/widget/wmainmenubar.cpp
Due: clang-format, line-length

libebur128: Enable dynamic linking on Debian/Ubuntu
  .travis.yml
  appveyor.yml
  build/debian/control
Due: none

libebur128: Add version check to CMake build
  cmake/modules/FindEbur128.cmake
Due: none

Add TODO about DEBUG_ASSERTIONS_FATAL=ON/OFF
  .travis.yml
  appveyor.yml
Due: none

Update comments about future CI releases
  .travis.yml
  appveyor.yml
Due: none

colorpaletteeditor: remove last column
  src/preferences/colorpaletteeditor.cpp
Due: clang-format, line-length

beats: use correct range while returning iterator
  src/test/beatstest.cpp
  src/track/beatiterator.h
  src/track/beats.cpp
  src/waveform/renderers/waveformrenderbeat.cpp
Due: clang-format, line-length

control: Refactor ControlProxy and require flag to allow empty keys
  src/control/control.cpp
  src/control/control.h
  src/control/controlmodel.cpp
  src/control/controlproxy.cpp
  src/control/controlproxy.h
  src/mixer/playermanager.cpp
  src/skin/legacyskinparser.cpp
  src/widget/wmainmenubar.cpp
  src/widget/wwidgetstack.cpp
Due: clang-format, line-length

WTrackMenu: Add getFirstTrackPointer() method
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format, line-length

WTrackMenu: Add getTrackRefs() method to avoid track loading
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
Due: clang-format, line-length

control: Remove unneeded if statement around debug assertion
  src/control/control.cpp
Due: clang-format, line-length

skin/legacyskinparser: Don't warn when skins create controls
  src/skin/legacyskinparser.cpp
Due: clang-format, line-length

widget/wmainmenubar: Do not attach to controls before skin is loaded
  src/widget/wmainmenubar.cpp
Due: clang-format, line-length

control: Print warning instead of debug message if CO exists
  src/control/control.cpp
Due: clang-format, line-length

Travis: Remove unused CMake flags ENABLE_TESTS and VERBOSE
  .travis.yml
Due: none

AppVeyor/Travis: Explicitly set CMAKE_BUILD_TYPE=Release
  .travis.yml
  appveyor.yml
Due: none

control/controlproxy: Remove useless setFlag call
  src/control/controlproxy.cpp
Due: clang-format, line-length

control: Fix some style issues in legacy code
  src/control/controlobject.h
  src/control/controlproxy.h
Due: clang-format, line-length

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
