Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

track/serato/beatgrid: Remove uneeded explicit from constructor
  src/track/serato/beatgrid.h
Due: clang-format, line-length

track/serato/beatgrid: Make class final and remove default destructor
  src/track/serato/beatgrid.h
Due: clang-format, line-length

track/serato/beatgrid: Move QDebug methods to cpp file
  src/track/serato/beatgrid.cpp
  src/track/serato/beatgrid.h
Due: clang-format, line-length

track/serato/beatgrid: Remove unneeded const from return type
  src/track/serato/beatgrid.h
Due: clang-format, line-length

track/beatsimporter: Remove default implementation for virtual methods
  src/track/beatsimporter.h
  src/track/serato/beatsimporter.cpp
  src/track/serato/beatsimporter.h
  src/track/serato/tags.cpp
Due: clang-format, line-length

controllerengine_test: Add test to check that invalid CO keys don't assert
  src/test/controllerengine_test.cpp
Due: clang-format, line-length

track/beatsimporter: Remove redundant default ctor
  src/track/beatsimporter.h
Due: clang-format, line-length

track/track: Improve readability of importBeats/CueInfos methods
  src/track/track.cpp
Due: clang-format, line-length

database/schemamanager: Revert functional change from #2925
  src/database/schemamanager.cpp
Due: clang-format, line-length

Deere: Fix missing group of WKey widget
  res/skins/Deere/deck_small.xml
Due: none

widget/wkey: Do not throw debug assertion if key is invalid
  src/widget/wkey.cpp
Due: clang-format, line-length

test/serato: Add test for parsing manual beatgrid with changing tempo
  src/test/serato/data/mp3/beatgrid/manual-beatgrid-changing-tempo.octet-stream
Due: none

track/serato/beatgrid: Fix wrong string in QDebug output
  src/track/serato/beatgrid.cpp
Due: clang-format, line-length

midi-components: Fix `[Channelundefined]` when using Deck with number
  res/controllers/midi-components-0.0.js
Due: clang-format

Fix debug output of TrackRef
  src/track/trackref.cpp
Due: clang-format, line-length

GlobalTrackCache: Split functions and align implementations
  src/track/globaltrackcache.cpp
  src/track/globaltrackcache.h
Due: clang-format, line-length

GlobalTrackCache: Log warning for aliased track files
  src/track/globaltrackcache.cpp
Due: clang-format, line-length

GlobalTrackCache: Explicit lookup by canonical location
  src/track/globaltrackcache.cpp
Due: clang-format, line-length

TrackDAO: Handle and report aliasing of track files
  src/library/dao/trackdao.cpp
Due: clang-format, line-length

Clarify ambiguities caused by file system aliasing
  src/library/dao/trackdao.cpp
  src/track/globaltrackcache.h
Due: clang-format, line-length

GlobalTrackCache: Report expected vs. actual results
  src/track/globaltrackcache.cpp
Due: clang-format, line-length

GlobalTrackCache: Adjust resolved results
  src/track/globaltrackcache.cpp
Due: clang-format, line-length

Traktor S3: more rearranging (untested)
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

GlobalTrackCache: Fix conflict resolution and reporting
  src/track/globaltrackcache.cpp
Due: clang-format, line-length

Add changelog entry about caching of duplicate files #3027
  CHANGELOG
Due: none

Reduce code duplication by extracting a function
  src/track/globaltrackcache.cpp
Due: clang-format, line-length

LateNight: remove gap in Fx & Vinyl button grids
  res/skins/LateNight/classic/buttons/btn_embedded_grid.svg
  res/skins/LateNight/classic/buttons/btn_embedded_grid_active.svg
  res/skins/LateNight/decks/vinyl_controls.xml
  res/skins/LateNight/palemoon/buttons/btn_embedded_grid.svg
  res/skins/LateNight/palemoon/buttons/btn_embedded_grid_active.svg
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

PaleMoon: attempt to fix keylock icon
  res/skins/LateNight/palemoon/buttons/btn__keylock.svg
  res/skins/LateNight/palemoon/buttons/btn__keylock_active_12.svg
  res/skins/LateNight/palemoon/buttons/btn__keylock_active_34.svg
  res/skins/LateNight/palemoon/buttons/btn__quantize_active_12.svg
  res/skins/LateNight/palemoon/buttons/btn__quantize_active_34.svg
Due: none

fix segfault
  src/waveform/renderers/waveformrenderplaymarker.cpp
  src/widget/wwaveformviewer.cpp
Due: clang-format, line-length

remove unused function
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format, line-length

remove irrelevant comment
  src/track/track.cpp
Due: clang-format, line-length

Macros: Pass TrackPointer when saving Macros
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
Due: clang-format, line-length

Macros: Delegate Macro saving to Track
  src/library/dao/trackdao.cpp
  src/macros/macro.cpp
  src/macros/macro.h
  src/macros/macrodao.cpp
  src/macros/macrodao.h
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/mixxx.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format, line-length

Macros: Add MacroControl
  CMakeLists.txt
  src/engine/controls/macrocontrol.cpp
  src/engine/controls/macrocontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/macros/macro.cpp
  src/macros/macro.h
Due: clang-format, line-length

Macros: Slight cleanup
  src/macros/macro.cpp
  src/macros/macro.h
  src/test/macros/macrorecorder_test.cpp
Due: clang-format, line-length

Macros: Handle Macro Playback in MacroControl
  src/engine/controls/macrocontrol.cpp
  src/engine/controls/macrocontrol.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/test/macros/macroplayback_test.cpp
Due: clang-format, line-length

MacroControl: Update Status CO
  src/engine/controls/macrocontrol.cpp
  src/engine/controls/macrocontrol.h
Due: clang-format, line-length

Macro: Implement accessors and dirtiness
  src/engine/controls/macrocontrol.cpp
  src/macros/macro.cpp
  src/macros/macro.h
  src/macros/macrodao.cpp
  src/macros/macrodao.h
  src/macros/macromanager.cpp
  src/macros/macromanager.h
  src/macros/macrorecorder.cpp
  src/macros/macrorecorder.h
  src/test/macros/macrodao_test.cpp
  src/test/macros/macroplayback_test.cpp
  src/test/macros/macros_test.cpp
Due: clang-format, line-length

fullscreen keyboard shortcut: don't add OS key if it's empty or F11
  src/widget/wmainmenubar.cpp
Due: clang-format, line-length

LateNight: Fix keylock icon colors
  res/skins/LateNight/palemoon/buttons/btn__keylock.svg
  res/skins/LateNight/palemoon/buttons/btn__keylock_active_34.svg
Due: none
