Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Waveform preferences: show/hide Stem options when Stem support is changed
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Waveform preferences: remove empty destructor
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Due: clang-format

Waveform preferences: move get/set acceleration to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Waveform preferences: move get/set WaveformOptions to factory methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Waveform preferences: factory writes beatgrid alpha to config
  src/preferences/dialog/dlgprefwaveform.cpp
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Waveform preferences: simplify set/update methods
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Due: clang-format

Waveform preferences: fix handling of invalid overview config type
  src/preferences/dialog/dlgprefwaveform.cpp
Due: clang-format

DlgPrefRecord: re/move debug logging, remove inactive code, fix typos, add linebreaks
  src/preferences/dialog/dlgprefrecord.cpp
Due: clang-format

Enginerecord: comments
  src/engine/sidechain/enginerecord.cpp
Due: clang-format

RecordingManager: make rec sample COs persist, rm obsolete config read
  src/recording/recordingmanager.cpp
Due: clang-format

Pioneer DDJ-200: rewrote to use componentContainers
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: use all 4 effectunits
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: fix for jogWheel
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

RAM-Play
  .github/workflows/build.yml
  src/engine/cachingreader/cachingreader.cpp
  src/engine/cachingreader/cachingreader.h
  src/engine/cachingreader/cachingreaderworker.cpp
  src/engine/cachingreader/cachingreaderworker.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
Due: clang-format

Numark-NS6II: fixed command typo
  res/controllers/Numark-NS6II-scripts.js
Due: none

4KDualScreen Layout for LateNight
  res/skins/LateNight (4KDual)/skin.xml
  res/skins/LateNight (4KDual)/skin_preview_Classic.png
  res/skins/LateNight (4KDual)/skin_preview_PaleMoon.png
  res/skins/LateNight (4KDual)/skin_settings.xml
  res/skins/LateNight (4KDual)/toolbar.xml
  res/skins/LateNight (4KDual)/toolbar_4KDual.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin_preview_Classic.png
  res/skins/LateNight (64 Samplers 4KDual)/skin_preview_PaleMoon.png
  res/skins/LateNight (64 Samplers 4KDual)/skin_settings.xml
  res/skins/LateNight (64 Samplers 4KDual)/toolbar.xml
  res/skins/LateNight (64 Samplers 4KDual)/toolbar_4KDual.xml
  res/skins/LateNight (64 Samplers)/samplers_rack_4KDual.xml
  res/skins/LateNight/fx_rack_4KDual.xml
  res/skins/LateNight/samplers/samplers_4decks_4KDual.xml
  res/skins/LateNight/samplers/samplers_8decks_4KDual.xml
  res/skins/LateNight/samplers_rack_4KDual.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

without qml formatter
  res/skins/LateNight (4KDual)/toolbar_4KDual.xml
Due: none

without qml formatter
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Numark NS6II: fixed code typo in NS6II.padMode
  res/controllers/Numark-NS6II-scripts.js
Due: none

Remove unused m_inputStreamFramesWritten
  src/engine/sidechain/enginenetworkstream.cpp
  src/engine/sidechain/enginenetworkstream.h
Due: clang-format

Network clock: try to catch up one buffer in case of engine overload.
  src/soundio/sounddevicenetwork.cpp
Due: clang-format

Pioneer DDJ-200: final cleanup of play and cue buttons
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: cleanup TransFXButton and RingBuffer
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: indication fix for PadMode change
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Tracks: Shift+Space sorts by current column / toggles sort order
  src/widget/wtracktableview.cpp
Due: clang-format

Tracks, overview column: draw focus border on top of overview pixmap
  src/library/tabledelegates/overviewdelegate.cpp
Due: clang-format

Pioneer DDJ-200: transFxButton change in midi
  res/controllers/Pioneer DDJ-200.midi.xml
Due: none

Pioneer DDJ-200: updated Implementation of Loop Pads
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: updated Implementation of BeatJump Pads
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

removed some prepwin refs
  res/skins/LateNight (4KDual)/skin.xml
  res/skins/LateNight (4KDual)/skin_settings.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin.xml
  res/skins/LateNight (64 Samplers 4KDual)/skin_settings.xml
Due: none

Pioneer DDJ-200: simplified Effect Button implementation
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: updated bpmTap buttons
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: updated implementation of headMix
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Wait 3 callbacks before starting drift compensation. This is avoids drifting forth and back with for APIs like ASIO where internal buffering is involved.
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
Due: clang-format

Discard two buffers if callbackProcessDrift() is way to later.
  src/soundio/sounddeviceportaudio.cpp
Due: clang-format

callbackProcessDrift: in case of underruns, sleep before writing silence
  src/soundio/sounddeviceportaudio.cpp
Due: clang-format

Improve comments about buffering in SoundDevicePortAudio
  src/soundio/sounddeviceportaudio.cpp
Due: clang-format

Pioneer DDJ-200: cleanup of sync Button
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: layout changes
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: removed obsolete shutdown at the start
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
