Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

ITunesMacOSImporter: Use QHash for persistent ID mapping
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesMacOSImporter: Add explanatory comment for unique names
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesMacOSImporter: Uniquify names
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesMacOSImporter: Show all audio playlists
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesMacOSImporter: Reformat using clang-format
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesMacOSImporter: Count the playlist duplicates from 0
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesMacOSImporter: Rename to dbIdFromPersistentId
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesXMLImporter: Take QString by const ref
  src/library/itunes/itunesxmlimporter.cpp
  src/library/itunes/itunesxmlimporter.h
Due: clang-format

CMakeLists: Link iTunesLibrary framework weakly
  CMakeLists.txt
Due: none

ITunesMacOSImporter: Format using clang-format
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

BundleInstall: Try marking /Library/Frameworks as system libraries
  cmake/modules/BundleInstall.cmake.in
Due: none

ITunesMacOSImporter: Hide some more auto-generated iTunes playlists
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesLocalhostToken: Define it as a static constant
  CMakeLists.txt
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/ituneslocalhosttoken.cpp
  src/library/itunes/ituneslocalhosttoken.h
  src/library/itunes/itunesxmlimporter.cpp
Due: clang-format

ITunesFeature: Use atomic bool for cancelImport
  src/library/itunes/itunesfeature.h
  src/library/itunes/itunesmacosimporter.h
  src/library/itunes/itunesmacosimporter.mm
  src/library/itunes/itunesxmlimporter.cpp
  src/library/itunes/itunesxmlimporter.h
Due: clang-format

ITunesMacOSImporter: Add short note on ObjC for-in loops
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesLocalhostToken: Hopefully fix the MSVC build
  src/library/itunes/ituneslocalhosttoken.h
Due: clang-format

ITunesLocalhostToken: Use `QStringLiteral`
  src/library/itunes/ituneslocalhosttoken.h
Due: clang-format

fullsreen: use showMaximized() on shutdown
  src/mixxx.cpp
Due: clang-format

Prime 4: Prevent pad modes from fighting over LEDs
  res/controllers/Denon Prime 4.midi.xml
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Fix Launchpad links in controller scripts
  res/controllers/Electrix-Tweaker-scripts.js
  res/controllers/Reloop-Beatmix-2-4-scripts.js
Due: none

ITunesMacOSImporter: Log NSError from ITLibrary initialization
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

macOS packaging: Rename entitlements.plist to Mixxx.entitlements
  CMakeLists.txt
  packaging/macos/Mixxx.entitlements
  packaging/macos/sign_notarize_staple.sh
Due: none

macOS packaging: Rename bundle.plist.in to Info.plist.in
  CMakeLists.txt
  packaging/macos/Info.plist.in
Due: none

Objective-C: Enable ARC and remove @autoreleasepool
  CMakeLists.txt
  src/library/itunes/itunesmacosimporter.mm
Due: clang-format

ITunesImporter: Remove unnecessary include
  src/library/itunes/itunesimporter.h
Due: clang-format

ITunesFeature: Add short note on showOpenDialog
  src/library/itunes/itunesfeature.h
Due: clang-format

Fix autogenerated metainfo
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: metainfo

Rename Numark Scratch.midi.xml to Numark-Scratch.midi.xml
  res/controllers/Numark-Scratch.midi.xml
Due: none

External libraries: Add todo notes regarding cancellation
  src/library/banshee/bansheefeature.h
  src/library/itunes/itunesimporter.h
  src/library/rhythmbox/rhythmboxfeature.h
  src/library/traktor/traktorfeature.h
Due: clang-format

Prime 4: Add sampler mode
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Prime 4: Add loop mode
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Find and fix remaining Launchpad links using this Reg-Ex "(#|lp:?)[0-9]{7,10}"
  CHANGELOG.md
  CMakeLists.txt
  lib/fidlib/fidlib.c
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/Deere/style-mac.qss
  res/skins/Tango/style-mac.qss
  src/analyzer/analyzerwaveform.cpp
  src/control/controlproxy.h
  src/controllers/dlgcontrollerlearning.cpp
  src/coreservices.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginemaster.cpp
  src/engine/sidechain/enginesidechain.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/basesqltablemodel.cpp
  src/library/dao/trackdao.cpp
  src/main.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/test/enginebuffertest.cpp
  src/test/enginesynctest.cpp
  src/test/globaltrackcache_test.cpp
  src/test/searchqueryparsertest.cpp
  src/track/track.cpp
  src/util/widgetrendertimer.h
  src/waveform/waveformwidgetfactory.cpp
  src/widget/wtracktableview.cpp
Due: clang-format, qsscheck, changelog, metainfo

Apply eslint changes to Electrix Tweaker scripts
  res/controllers/Electrix-Tweaker-scripts.js
Due: none

Apply eslint changes to Reloop Beatmix scripts
  res/controllers/Reloop-Beatmix-2-4-scripts.js
Due: none

update loop encoder & button to components
  res/controllers/Numark-Scratch-scripts.js
  res/controllers/Numark-Scratch.midi.xml
Due: none

Dispose not working read_failed_count
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalest.cpp
Due: clang-format

comments cleanup
  res/controllers/Numark-Scratch-scripts.js
Due: none

Prime 4: Fix buggy pad modes when switching decks
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Remove redundant connection the the sample rate combo box
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format
