Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

EffectSlot/DlgEffect: Synchronize close state properly
  src/effects/dlgeffect.cpp
  src/effects/dlgeffect.h
  src/effects/effectslot.cpp
  src/effects/effectslot.h
Due: clang-format

DlgEffect: Emit closed signal on close
  src/effects/dlgeffect.cpp
  src/effects/dlgeffect.h
Due: clang-format

EffectSlot: Trigger updateEffectUI via effectChanged
  src/effects/effectslot.cpp
Due: clang-format

LateNight: Move effect UI button to after the enable button
  res/skins/LateNight/fx/slot_controls.xml
Due: none

EffectSlot/LateNight: Show/hide effect UI button based on effect
  res/skins/LateNight/fx/slot_controls.xml
  src/effects/effectslot.cpp
  src/effects/effectslot.h
Due: clang-format

DlgAudioUnit: Use non-fixed-size resize again (for now)
  src/effects/backends/audiounit/dlgaudiounit.mm
Due: clang-format

EffectSlot: Persist effect UI position
  src/effects/effectslot.cpp
Due: clang-format

EffectSlot: Update UI button in updateEffectUI
  src/effects/effectslot.cpp
Due: clang-format

EffectProcessor: Remove blanket dialog title
  src/effects/backends/effectprocessor.h
Due: clang-format

LateNight: Remove accidental change
  res/skins/LateNight/skin_settings.xml
Due: none

DlgEffect: Add short doc comment
  src/effects/dlgeffect.h
Due: clang-format

MixxxApplication: Handle null pTargets in notify gracefully
  src/mixxxapplication.cpp
Due: clang-format

DlgAudioUnit: Wait for instantiation before loading UI
  src/effects/backends/audiounit/dlgaudiounit.mm
Due: clang-format

Fix build with -DSTEM=OFF
  src/widget/wtrackmenu.cpp
Due: clang-format

Use QStringLiteral for ToolTip generation Declared toQWidget const
  src/widget/wbasewidget.cpp
  src/widget/wbasewidget.h
Due: clang-format

Remove trailing linebreaks from tool tips
  src/widget/wbasewidget.cpp
Due: clang-format

added combobox to limit until mark text height to 1/3rd of waveform viewer or full height
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

Improve description of ts-source-copy hook
  .pre-commit-config.yaml
Due: none

Update lxml to 5.3.0
  .pre-commit-config.yaml
Due: none

Improve regex for exclusions
  .pre-commit-config.yaml
Due: none

minor changes to fix compilation
  src/rendergraph/common/rendergraph/attributeset.h
  src/rendergraph/examples/README
  src/rendergraph/opengl/CMakeLists.txt
  src/rendergraph/opengl/backend/basegeometrynode.cpp
  src/rendergraph/scenegraph/CMakeLists.txt
  src/rendergraph/scenegraph/geometry.cpp
  src/waveform/renderers/allshader/waveformrendererendoftrack.cpp
Due: clang-format

Add some Equaliser presets. Selectable from the effect chain settings menu in the effect unit.
  res/effects/chains/EQ=Bass boost.xml
  res/effects/chains/EQ=Bass reduce.xml
  res/effects/chains/EQ=Electro.xml
  res/effects/chains/EQ=Flat.xml
  res/effects/chains/EQ=Rap.xml
Due: none

Add some Effect presets to emulate a range of gear. Selectable from the effect chain settings menu in the effect unit.
  res/effects/chains/FX=Gramophone.xml
  res/effects/chains/FX=Lo-Fi.xml
  res/effects/chains/FX=Old Phone.xml
  res/effects/chains/FX=Vocal Isolator.xml
  res/effects/chains/FX=Walkie-Talkie.xml
Due: none

Add some fun Effect presets. Selectable from the effect chain settings menu in the effect unit.
  res/effects/chains/FX=Bubbles.xml
  res/effects/chains/FX=Dubster.xml
  res/effects/chains/FX=Elastics.xml
  res/effects/chains/FX=Formant Filter.xml
  res/effects/chains/FX=Gritty Crush.xml
  res/effects/chains/FX=Intergalactic.xml
  res/effects/chains/FX=Muddy Bass.xml
  res/effects/chains/FX=Rotator.xml
Due: none

improve alignment of markers, avoid images that are half empty
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/waveformmark.cpp
  src/waveform/renderers/waveformmark.h
  src/waveform/renderers/waveformrendermark.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Due: clang-format

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_ca.qm
  res/translations/mixxx_de.qm
  res/translations/mixxx_es.qm
  res/translations/mixxx_es.ts
  res/translations/mixxx_es_419.qm
  res/translations/mixxx_es_419.ts
  res/translations/mixxx_es_AR.qm
  res/translations/mixxx_es_AR.ts
  res/translations/mixxx_es_CO.qm
  res/translations/mixxx_es_CO.ts
  res/translations/mixxx_es_ES.qm
  res/translations/mixxx_es_ES.ts
  res/translations/mixxx_es_MX.qm
  res/translations/mixxx_es_MX.ts
  res/translations/mixxx_fr.qm
  res/translations/mixxx_fr.ts
  res/translations/mixxx_it.qm
  res/translations/mixxx_pl.qm
Due: none

Unified physicalTransport enum to string conversion
  src/controllers/controller.cpp
  src/controllers/controller.h
  src/controllers/dlgprefcontroller.cpp
  src/controllers/hid/hiddevice.cpp
Due: clang-format

Optimizing the temporary allocations in operator<< and directly write to dbg
  src/controllers/hid/hiddevice.cpp
Due: clang-format

Remove default case in switch statement to make warning by -Wswitch visible
  src/controllers/dlgprefcontroller.cpp
Due: clang-format

Removed the official usb.org JSON HID Usage Tables file from the sources
  src/controllers/hid/HidUsageTables.json
  src/controllers/hid/HidUsageTables_Info.txt
Due: none

Introduce formatHex in dlgprefcontroller
  src/controllers/dlgprefcontroller.cpp
Due: clang-format

Reordered the member initializations in the constructor to match the order of their declarations
  src/controllers/hid/hiddevice.cpp
Due: clang-format

Moved conversion of hidapi bus typte to physical transport protocol enum into a utility function and call it n ctor init list
  src/controllers/hid/hiddevice.cpp
Due: clang-format

fix: prevent race condition with EngineBuffer::isTrackLoaded
  src/engine/enginebuffer.cpp
Due: clang-format

Update CHANGLOG for 2.5.0
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

feat: add more sensible WellKnownCharsets
  res/controllers/engine-api.d.ts
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/test/controllerscriptenginelegacy_test.cpp
Due: clang-format

Replace map to switch
  src/controllers/controller.cpp
Due: clang-format

Removed explicit type from enumerations
  src/controllers/controller.h
Due: clang-format

Converted class HidUsageTables to namespace
  src/controllers/hid/hidusagetables.cpp
  src/controllers/hid/hidusagetables.h
Due: clang-format

refactor: replace irrelevant test with more meaningfull
  src/test/controllerscriptenginelegacy_test.cpp
Due: clang-format
