Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Use the correct number of channels for underflow compensation
  src/soundio/sounddeviceportaudio.cpp
Due: clang-format

LateNight: revert xfader buttons to one (cycling) toggle
  res/skins/LateNight/controls/button_xfader_aux.xml
  res/skins/LateNight/controls/button_xfader_deck.xml
Due: none

Menubar: make Alt woork immediately when Auto-hide checkbox is toggled
  src/mixxxmainwindow.cpp
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Due: clang-format

Disable StemControlTest.Volume and StemControlTest.Mute which do fail on Windows
  src/test/stemcontrolobjecttest.cpp
Due: clang-format

Playlists: add action to remove duplicate tracks
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

trace signals
  src/mixxxmainwindow.cpp
  src/widget/wmainmenubar.cpp
Due: clang-format

Fix sampler sync functionality for Mixxx skins
  res/skins/Deere/sampler_controls_row.xml
  res/skins/LateNight/classic/buttons/btn__sync_sampler.svg
  res/skins/LateNight/samplers/sampler.xml
  res/skins/Shade/sampler.xml
  res/skins/Tango/mic_aux_sampler/sampler.xml
Due: none

Playlists: allow to adopt current order (sorted) as playlist order
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

SoundDeviceNetwork: Fix writing wrong number of silence after a long underrun
  src/soundio/sounddevicenetwork.cpp
Due: clang-format

Computer feature: fix "Refresh directory tree"
  src/library/browse/browsefeature.cpp
  src/library/treeitemmodel.cpp
Due: clang-format

Search: add filter shortcuts, eg. t|title, a|artist, cm|comment, y|year
  src/library/searchqueryparser.cpp
Due: clang-format

LateNight: work around style bug in Qt 6.9.2
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Pioneer DDJ-200: fix for hotcue issues, rewrite
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: added eslint excemption
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: removed volume/gain changes
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: don't override user options
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: shutdown will switch off all LEDs
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: moved Button initializations into init
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: use inKey for loading tracks
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: disconnect outKey before change
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Header view: make new/unknown columns visible
  src/widget/wtracktableviewheader.cpp
Due: clang-format

WOverview: correct member comments
  src/widget/woverview.h
Due: clang-format

WOverview: make ControlProxies parented_ptr, use PollingControlProxy
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

WOverview: blink end-of-track frame
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

WaveformWidgetFactory: emit endOfTrackTimeChanged, receive in WOverview
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

Traktor Kontrol S4 Mk3: add 4 effect units
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

trace logging, disabled
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Pioneer DDJ-200: cleanup shift button behaviour
  res/controllers/Pioneer DDJ-200.midi.xml
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Pioneer DDJ-200: play and cue btn cleanup
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

feat: add `[Main], pfl` CO to send main output to PFL channel
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
Due: clang-format

Pioneer DDJ-200: use components-js implementations
  res/controllers/Pioneer-DDJ-200-scripts.js
Due: none

Add [Main],pfl
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
Due: clang-format

🎛️ implement comprehensive UTF-8 string control system for Mixxx
  CMakeLists.txt
  src/control/controlstring.cpp
  src/control/controlstring.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

🎨 apply clang-format style fixes
  example_utf8_string_controls.js
  src/control/controlstring.cpp
  src/control/controlstring.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.h
  src/engine/controls/cuecontrol.cpp
  src/waveform/renderers/waveformwidgetrenderer.cpp
Due: clang-format

Add mixxx namespace and documentation comments
  src/control/controlstring.cpp
  src/control/controlstring.h
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

Fix build error: add ControlString include
  src/engine/controls/cuecontrol.h
Due: clang-format

fix: initialize `allshader::WaveformWidget::m_type`
  src/waveform/widgets/allshader/waveformwidget.cpp
Due: clang-format

Added testcase for QmlControlProxy->trigger()
  CMakeLists.txt
  src/test/qmlcontrolproxytest.cpp
Due: clang-format

WaveformWidgetFactory: add type and backend helpers
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

(fix) Waveforms: pick accelerated backend if available and required by type
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
