Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

MultiLineEditDelegate: ensure correct editor position after scroll & edit
  src/library/multilineeditdelegate.cpp
  src/library/multilineeditdelegate.h
Due: clang-format

MultiLineEditDelegate: allow editor to expand horizontally like QLineEdit
  src/library/multilineeditdelegate.cpp
  src/library/multilineeditdelegate.h
Due: clang-format

MultiLineEditDelegate: don't let editor overlap macOS scrollbars
  src/library/multilineeditdelegate.cpp
Due: clang-format

MultiLineEditDelegate: center one-line text vertically in editor
  src/library/multilineeditdelegate.cpp
Due: clang-format

GUI: add control to return to the previously focused library widget
  src/library/autodj/dlgautodj.cpp
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/widget/wbeatspinbox.cpp
  src/widget/weffectchainpresetselector.cpp
  src/widget/weffectselector.cpp
Due: clang-format

Added recent 2.3 PRs to CHANGELOG
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Crates: test previous sibling crate before activating it
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

Looping: set loop_in at loop_out clears old loop_out
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

Looping: refuse to set loop_out at loop_in
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

Test: no loop_out at loop_in, loop_in at loop_out clears loop_out
  src/test/looping_control_test.cpp
Due: clang-format

Broadcast: Improve error message in case of timeout during connection esteblishment
  src/engine/sidechain/shoutconnection.cpp
Due: clang-format

Improve CHANGELOG entries
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

fix(fx): don't reset fxunit "super" and "mix" knob on startup
  src/effects/effectchain.cpp
Due: clang-format

Improve debug output in case of errors opening the file for recording.
  src/engine/sidechain/enginerecord.cpp
Due: clang-format

Improve file error reporting with playlist files
  src/library/parsercsv.cpp
  src/library/parserm3u.cpp
  src/library/parserpls.cpp
Due: clang-format

remove redundant std::move()
  src/engine/channelhandle.h
Due: clang-format

feat(preferences): (un-)check serato metadata export conditionally
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Due: clang-format

Update changelog for Mixxx 2.3.6
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Don't uses VU-Meter GL on Windows by default. Add option --enableVuMeterGL to override the default.
  src/util/cmdlineargs.cpp
Due: clang-format

Use constexpr
  src/util/cmdlineargs.cpp
Due: clang-format

Add --enableVuMeterGL to -h output.
  src/util/cmdlineargs.cpp
Due: clang-format

Install mold if available form the apt repositories
  tools/debian_buildenv.sh
Due: none

Install lld if mold is not found
  tools/debian_buildenv.sh
Due: none

Use mold or lld as linker if available
  CMakeLists.txt
Due: none

Use LLD only if greater 10.0.0 because of https://bugs.llvm.org/show_bug.cgi?id=45769
  CMakeLists.txt
Due: none

Work around using QList::erase()
  src/util/rangelist.cpp
Due: clang-format

Install mold or lld in the QT6 case as well
  tools/debian_buildenv_qt6.sh
Due: none

fix help text for mold and lld cmake options
  CMakeLists.txt
Due: none

make apt install code more robust
  CMakeLists.txt
  tools/debian_buildenv.sh
  tools/debian_buildenv_qt6.sh
Due: none

Improve text in CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Use present tense
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Improve debug output when creating the recording folder
  src/recording/recordingmanager.cpp
Due: clang-format

Use Detailed Text for OS error string.
  src/library/parsercsv.cpp
  src/library/parserm3u.cpp
  src/library/parserpls.cpp
Due: clang-format

Denon MC6000MK2: Delete mapping for master gain
  res/controllers/Denon-MC6000MK2.midi.xml
Due: none

Added latest 2.3 changes
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

small changes
  res/controllers/Traktor_Kontrol_Z1.hid.xml
Due: none

translations: Remove redundant `cmn` locale in favor of `zh`
  res/translations/mixxx_cmn.qm
  res/translations/mixxx_cmn.ts
Due: none

corrected PaleSun style
  res/skins/LateNight/style_palesun.qss
  tools/invertcolor.py
Due: qsscheck

BaseExternalPlaylistModel: Extract setPlaylistById
  src/library/baseexternalplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.h
Due: clang-format

ITunesFeature: Activate playlists by id
  src/library/itunes/itunesdao.cpp
  src/library/itunes/itunesfeature.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
