Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmlformat, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: ./tools/changelog.py
  language: python

qmlformat:
  name: qmlformat
  entry: tools/qmlformat.py
  pass_filenames: true
  language: system

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: ./tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.9.3
  - lxml==4.6.3
  - Markdown==3.3.4

coverart&dlgcafullsize composition with menu added
  src/library/dlgcoverartfullsize.cpp
  src/library/dlgcoverartfullsize.h
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/widget/wcoverart.cpp
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
  src/widget/wspinny.cpp
  src/widget/wspinny.h
Due: clang-format

Corrected definition of callback types
  res/controllers/common-hid-packet-parser.js
Due: none

Shortened description of control group and control name arguments Made the difference between mapped control and control clear
  res/controllers/common-hid-packet-parser.js
Due: none

Add changelog entries for recent changes
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add recent changes to CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

RingDelayBuffer: replace zeros memset with fill
  src/util/ringdelaybuffer.cpp
Due: clang-format

RingDelayBuffer: replace with SampleUtil::copy
  src/util/ringdelaybuffer.cpp
Due: clang-format

RingDelayBuffer: fix buffer clear with zeros
  src/util/ringdelaybuffer.h
Due: clang-format

Prime 4: general cleanup
  res/controllers/Denon-Prime-4-scripts.js
Due: none

fix(controllers): fix mislabeled midi io terminal messages
  src/controllers/midi/midicontroller.cpp
  src/controllers/midi/midiutils.cpp
  src/controllers/midi/portmidicontroller.cpp
Due: clang-format

RingDelayBuffer: remove binary operations
  src/util/ringdelaybuffer.cpp
  src/util/ringdelaybuffer.h
Due: clang-format

Optionally reset metadata on reimport if file tags are missing
  src/library/browse/browsethread.cpp
  src/library/coverartutils.cpp
  src/library/dlgtrackinfo.cpp
  src/library/library_prefs.cpp
  src/library/library_prefs.h
  src/sources/metadatasource.h
  src/sources/metadatasourcetaglib.cpp
  src/sources/metadatasourcetaglib.h
  src/sources/soundsourcemodplug.cpp
  src/sources/soundsourcemodplug.h
  src/sources/soundsourceproxy.cpp
  src/sources/soundsourceproxy.h
  src/test/coverartcache_test.cpp
  src/test/metadatatest.cpp
  src/test/soundproxy_test.cpp
  src/test/synctrackmetadatatest.cpp
  src/track/taglib/trackmetadata_ape.cpp
  src/track/taglib/trackmetadata_ape.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_id3v2.h
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_mp4.h
  src/track/taglib/trackmetadata_xiph.cpp
  src/track/taglib/trackmetadata_xiph.h
  src/track/track.cpp
  src/track/track_decl.h
Due: clang-format

Clarify comment about fields that are not reset if missing
  src/sources/metadatasource.h
Due: clang-format

Use C++20 Designated Initializers
  src/track/track.cpp
  src/track/track_decl.h
Due: clang-format

File tags: Reset missing/empty bpm and replay gain values on re-import
  src/sources/metadatasource.h
  src/track/taglib/trackmetadata_ape.cpp
  src/track/taglib/trackmetadata_common.cpp
  src/track/taglib/trackmetadata_common.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/taglib/trackmetadata_mp4.cpp
  src/track/taglib/trackmetadata_xiph.cpp
Due: clang-format

Clarify comment
  src/library/browse/browsethread.cpp
  src/library/coverartutils.cpp
  src/test/coverartcache_test.cpp
  src/test/metadatatest.cpp
  src/test/soundproxy_test.cpp
  src/track/track.cpp
Due: clang-format

Deduplicate code
  src/track/taglib/trackmetadata_common.cpp
  src/track/taglib/trackmetadata_common.h
Due: clang-format

Reword comment
  src/library/dlgtrackinfo.cpp
Due: clang-format

DlgTrackInfo: Re-import metadata according to preferences
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/widget/wtrackmenu.cpp
Due: clang-format

Keep Rubberband Finer selected during testing a Rubberband V2 build
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.h
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Add a comment about enum KeylockEngine and backward compatibility
  src/engine/enginebuffer.h
Due: clang-format

Introduce EngineBuffer::defaultKeylockEngine() for a single source of the default
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/engine/enginemaster.cpp
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Add postfader vumeter control objects
  src/engine/channelmixer.cpp
  src/engine/effects/engineeffectsmanager.cpp
  src/engine/effects/engineeffectsmanager.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/engine/enginevumeter.cpp
  src/engine/enginevumeter.h
Due: clang-format

Fix reset of bpm and key when (re-)importing track metadata
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/sources/soundsourceproxy.cpp
  src/track/track.cpp
  src/track/track.h
Due: clang-format

refactor(enginebuffer): Make EngineBuffer::KeylockEngine an enum class (#27)
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/preferences/dialog/dlgprefsound.cpp
  src/test/enginebuffertest.cpp
Due: clang-format

Update CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

keylock engine: use typesafe values also in DlgPrefSound::slotResetToDefaults
  src/preferences/dialog/dlgprefsound.cpp
Due: clang-format

Move resenct enties to the 2.4 part
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

fix(ci): pre-commit
  .github/workflows/pre-commit.yml
Due: none

chore(ci): update GH actions versions
  .github/workflows/pre-commit.yml
Due: none

Improve CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

fix(pre-commit): Add missing timestamp of dev releases to appsteam metainfo
  .github/workflows/pre-commit.yml
  res/linux/org.mixxx.Mixxx.metainfo.xml
  tools/update_metainfo.py
Due: metainfo

ci(github): Use docker container for pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

fix(pre-commit): Fix redirected AppStream metainfo URL
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: metainfo

ci(pre-commit): Exclude merge commits when finding changelog change date
  tools/update_metainfo.py
Due: none

return gsl::not_null pointer form track properties ptr#
  src/track/track.cpp
  src/util/macros.h
Due: clang-format

use gsl::not_null<HintVector*> in appendCueHint to avoid runtime null check
  src/engine/controls/cuecontrol.cpp
Due: clang-format

use more PollingControlProxy
  src/control/controlindicator.h
  src/engine/channels/enginedeck.h
  src/engine/channels/enginemicrophone.h
  src/engine/enginevumeter.cpp
  src/engine/enginevumeter.h
  src/engine/sidechain/shoutconnection.cpp
  src/engine/sidechain/shoutconnection.h
  src/widget/wtracktableview.h
Due: clang-format

use PollingControlProxy
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginechannel.h
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginemicrophone.cpp
  src/preferences/dialog/dlgprefcrossfader.h
  src/preferences/dialog/dlgprefreplaygain.h
  src/preferences/dialog/dlgprefvinyl.cpp
  src/preferences/dialog/dlgprefvinyl.h
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/soundio/soundmanager.cpp
  src/soundio/soundmanager.h
  src/test/looping_control_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmlformat: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
