Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

WOverview: blink end-of-track frame
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

(fix) Sound preferences: don't set m_settingsModified in update slots
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
Due: clang-format

Pref Sound: use PollingControlProxy and parented_ptr
  src/preferences/dialog/dlgprefsound.cpp
  src/preferences/dialog/dlgprefsound.h
Due: clang-format

remove FAQ from Readme.md
  README.md
Due: none

Update Translation template. Found XXXX source text(s) (0 new and 3104 already existing)
  res/translations/mixxx.ts
Due: none

fix: add missing ControlObject forward-decl
  src/preferences/dialog/dlgprefwaveform.h
Due: clang-format

Update Translation template. Found 3118 source text(s) (8 new and 3110 already existing)
  res/translations/mixxx.ts
Due: none

Add missing include
  src/widget/paintable.h
Due: clang-format

add hotcue swap tooltip
  src/skin/legacy/tooltips.cpp
Due: clang-format

WIP WCueMenuPopup: add swap controls
  src/track/track.cpp
  src/track/track.h
  src/widget/wcuemenupopup.cpp
  src/widget/wcuemenupopup.h
Due: clang-format

QML-based components API for controllers
  res/controllers/Denon-DN-S3700.midi.xml
  res/controllers/Denon-DN-S3700.qml
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format, qmllint

Add an optional seed to the hash functions to keep full QT compliance and remove the std namespace block.
  src/widget/wimagestore.h
  src/widget/wpixmapstore.h
Due: clang-format

wip
  src/track/keyutils.cpp
  src/track/keyutils.h
  src/track/taglib/trackmetadata_id3v2.cpp
  src/track/trackinfo.cpp
  src/track/trackinfo.h
  src/track/trackrecord.cpp
Due: clang-format

add controller settings for the Numark Scratch
  res/controllers/Numark-Scratch-scripts.js
  res/controllers/Numark-Scratch.midi.xml
Due: none

DEBUG 'LoadSelectedTrack' control, triggered via keyboard
  src/controllers/keyboard/keyboardeventfilter.cpp
  src/library/librarycontrol.cpp
  src/mixer/basetrackplayer.cpp
  src/preferences/configobject.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

fix: `components.Pot` producing wrong result on first value
  res/controllers/midi-components-0.0.js
Due: none

Dirty but working
  res/controllers/Denon-DN-S3700.midi.xml
  res/controllers/Denon-DN-S3700.qml
  src/controllers/scripting/legacy/controllerscriptenginelegacy.cpp
Due: clang-format, qmllint

move keyToColor translation into KeyUtils
  src/library/tabledelegates/keydelegate.cpp
  src/track/keyutils.cpp
  src/track/keyutils.h
Due: clang-format

style: remove left padding of key color bars
  src/library/tabledelegates/keydelegate.cpp
Due: clang-format

refactor: remove redundant canConvert assertion
  src/library/basetracktablemodel.cpp
Due: clang-format

fix: checkbox ui not in sync with key colors setting
  src/preferences/dialog/dlgprefcolors.cpp
Due: clang-format

feat: toggle key colors from preferences
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/tabledelegates/keydelegate.cpp
  src/preferences/dialog/dlgprefcolors.cpp
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

mention source of Mixxx Key Color Palette colors
  src/util/color/predefinedcolorpalettes.cpp
Due: clang-format

refactor: pass KEY_ID to KeyDelegate, instead of Key String
  src/library/basetracktablemodel.cpp
  src/library/tabledelegates/keydelegate.cpp
Due: clang-format

add checkbox to toggle key colors
  src/preferences/colorpalettesettings.h
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolors.h
  src/preferences/dialog/dlgprefcolorsdlg.ui
Due: clang-format

clear keyText when key is invalid
  src/library/tabledelegates/keydelegate.cpp
Due: clang-format

refactor: draw key text/color only if key is valid
  src/library/tabledelegates/keydelegate.cpp
Due: clang-format

remove unnecessary slotUpdate() call
  src/preferences/dialog/dlgprefcolors.cpp
Due: clang-format

fix indentation and set colspan in Color Preferences UI
  src/preferences/dialog/dlgprefcolorsdlg.ui
Due: none

refactor: update key colors checkbox name
  src/preferences/dialog/dlgprefcolors.cpp
  src/preferences/dialog/dlgprefcolorsdlg.ui
Due: clang-format

refactor: remove KeyUtils scope used in keyToColor
  src/track/keyutils.cpp
Due: clang-format

refactor: set keyColor, keyText as const
  src/library/tabledelegates/keydelegate.cpp
Due: clang-format

remove #define KEY_COLORS_ENABLED
  src/preferences/colorpalettesettings.h
Due: clang-format

MixxxController QML component
  CMakeLists.txt
  src/qml/mixxxcontroller.cpp
  src/qml/mixxxcontroller.h
Due: clang-format

added combobox to limit until mark text height to 1/3rd of waveform viewer or full height
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
  src/preferences/dialog/dlgprefwaveformdlg.ui
  src/waveform/renderers/allshader/waveformrendermark.cpp
  src/waveform/renderers/allshader/waveformrendermark.h
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
Due: clang-format

align label
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

Hide the stem analyzer setting
  src/preferences/beatdetectionsettings.h
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbeatsdlg.ui
  src/preferences/dialog/dlgprefkey.cpp
  src/preferences/dialog/dlgprefkeydlg.ui
Due: clang-format

Various feedback from code review
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerkey.cpp
  src/sources/audiosourcestereoproxy.cpp
  src/util/sample.cpp
  src/util/sample.h
Due: clang-format
