Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

chore(changelog): Remove "master" term from changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

chore(controlpickermenu): Rename member to `m_effectMainOutputStr`
  src/controllers/controlpickermenu.cpp
  src/controllers/controlpickermenu.h
Due: clang-format

refactor(effects): Rename member to `isMainEQ`
  src/effects/backends/builtin/graphiceqeffect.cpp
  src/effects/backends/builtin/parametriceqeffect.cpp
  src/effects/backends/effectmanifest.h
  src/preferences/dialog/dlgprefmixer.cpp
Due: clang-format

refactor(encoderopus): Rename member to `getMainSampleRate`
  src/encoder/encoderopus.cpp
  src/encoder/encoderopus.h
  src/engine/sidechain/shoutconnection.cpp
Due: clang-format

chore(soundmanager): Rename local variable to `pNewMainClockRef`
  src/soundio/soundmanager.cpp
Due: clang-format

chore(basetrackplayer): Rename parameter to `defaultMainMix`
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/mixer/deck.cpp
  src/mixer/previewdeck.cpp
  src/mixer/sampler.cpp
Due: clang-format

chore(effectsmanager): Rename method to `getMainHandle()`
  src/effects/effectsmanager.h
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginedeck.cpp
  src/engine/channels/enginemicrophone.cpp
Due: clang-format

chore(signalpathtest): Rename variable to `m_sMainGroup`
  src/test/signalpathtest.cpp
  src/test/signalpathtest.h
Due: clang-format

chore(basetrackplayer): Remove duplicate `Mix` suffix from variable name
  src/mixer/basetrackplayer.cpp
Due: clang-format

chore(qml): Use `[Main]` group in QML skin
  res/qml/CrossfaderRow.qml
  res/qml/LibraryControl.qml
  res/qml/MicrophoneDuckingPanel.qml
Due: qmllint

refactor: Add group alias support for effect chains/slots
  src/control/control.cpp
  src/control/control.h
  src/effects/chains/equalizereffectchain.cpp
  src/effects/chains/outputeffectchain.cpp
  src/effects/effectchain.cpp
Due: clang-format

refactor(tools): Use `[Main]` group in `make_xone.py` script
  tools/make_xone.py
Due: none

refactor: Rename `[MasterOutput]` to `[MainOutput]` and add group alias
  src/effects/chains/outputeffectchain.cpp
  src/engine/enginemixer.cpp
Due: clang-format

refactor(skins): Use `[MainOutput]` group in all skins
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/skin.xml
  res/skins/LateNight (64 Samplers)/skin.xml
  res/skins/LateNight/skin.xml
  res/skins/Shade/skin.xml
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango/skin.xml
Due: none

chore(keyboard): Use `[Main]` group in keyboard mappings
  res/keyboard/cs_CZ.kbd.cfg
  res/keyboard/da_DK.kbd.cfg
  res/keyboard/de_CH.kbd.cfg
  res/keyboard/de_DE.kbd.cfg
  res/keyboard/el_GR.kbd.cfg
  res/keyboard/en_US.kbd.cfg
  res/keyboard/es_ES.kbd.cfg
  res/keyboard/fi_FI.kbd.cfg
  res/keyboard/fr_CH.kbd.cfg
  res/keyboard/fr_FR.kbd.cfg
  res/keyboard/it_IT.kbd.cfg
  res/keyboard/ru_RU.kbd.cfg
Due: none

refactor: Rename `[Master]` to `[Main]` and add group alias
  src/control/control.cpp
  src/control/control.h
  src/coreservices.cpp
Due: clang-format

ci(github): Pin URL for `install.ps1` file using full commit hash
  .github/workflows/build.yml
Due: none

ci(github): Pin action tag instead of branch
  .github/workflows/build-checks.yml
  .github/workflows/build.yml
Due: none

refactor(tooltips): Use term "main" in tooltip IDs
  res/skins/Deere/auxiliary.xml
  res/skins/Deere/tool_bar.xml
  res/skins/Deere/vumeter_master.xml
  res/skins/LateNight/mic_aux/aux_unit.xml
  res/skins/LateNight/mixer/mixer_main_headphone.xml
  res/skins/LateNight/mixer/vumeter_master.xml
  res/skins/LateNight/mixer/vumeters_compact.xml
  res/skins/Shade/deck_transport.xml
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango/fx/master_button.xml
  res/skins/Tango/mic_aux_sampler/aux_unit.xml
  res/skins/Tango/mixer/mixer_master.xml
  src/skin/legacy/tooltips.cpp
Due: clang-format

refactor(skins): Replace remaining occurrences of "master" term
  res/skins/Deere/mixer.xml
  res/skins/Deere/mixer_column_main_vu_2decks.xml
  res/skins/Deere/mixer_column_main_vu_4decks.xml
  res/skins/Deere/style.qss
  res/skins/Deere/tool_bar.xml
  res/skins/Deere/vumeter_main.xml
  res/skins/LateNight/controls/button_xfader_aux.xml
  res/skins/LateNight/controls/button_xfader_deck.xml
  res/skins/LateNight/mixer/mixer_2decks.xml
  res/skins/LateNight/mixer/mixer_main_headphone.xml
  res/skins/LateNight/mixer/singletons.xml
  res/skins/LateNight/mixer/vumeter_main.xml
  res/skins/LateNight/mixer/vumeters_compact.xml
  res/skins/LateNight/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/mixer_panel.xml
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango (64 Samplers)/skin_settings.xml
  res/skins/Tango/decks/rate_pitch_key.xml
  res/skins/Tango/decks_12.xml
  res/skins/Tango/fx/main_button.xml
  res/skins/Tango/fx/unit_left.xml
  res/skins/Tango/fx/unit_left_mini.xml
  res/skins/Tango/fx/unit_right.xml
  res/skins/Tango/fx/unit_right_mini.xml
  res/skins/Tango/helpers/size_detector_stars.xml
  res/skins/Tango/helpers/spacer_center.xml
  res/skins/Tango/mixer/mixer_headphone.xml
  res/skins/Tango/mixer/mixer_main.xml
  res/skins/Tango/mixer/vumeter_main.xml
  res/skins/Tango/mixer/vumeter_single.xml
  res/skins/Tango/skin.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
  res/skins/Tango/topbar.xml
Due: qsscheck

refactor(skins): Rename Tango skin control to `[Tango],main_mixer`
  res/skins/Tango (64 Samplers)/skin.xml
  res/skins/Tango (64 Samplers)/skin_settings.xml
  res/skins/Tango/mixer/mixer_headphone.xml
  res/skins/Tango/mixer/mixer_main.xml
  res/skins/Tango/skin.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/topbar.xml
Due: none

chore(skins): Replace outdated URLs to tooltip source code
  res/skins/LateNight/controls/button_1state.xml
  res/skins/LateNight/controls/button_1state_right.xml
  res/skins/LateNight/controls/button_2state.xml
  res/skins/LateNight/controls/button_2state_persist.xml
  res/skins/LateNight/controls/button_2state_right.xml
  res/skins/LateNight/controls/button_2state_right_display.xml
  res/skins/LateNight/controls/button_3state.xml
  res/skins/LateNight/controls/button_3state_display.xml
  res/skins/LateNight/controls/button_3state_persist.xml
  res/skins/LateNight/controls/button_5state.xml
  res/skins/LateNight/fx/assign_button.xml
  res/skins/LateNight/fx/assign_buttons.xml
  res/skins/LateNight/fx/assign_buttons_main.xml
  res/skins/Tango/controls/button_1state.xml
  res/skins/Tango/controls/button_1state_right.xml
  res/skins/Tango/controls/button_1state_right_display.xml
  res/skins/Tango/controls/button_1state_right_persist.xml
  res/skins/Tango/controls/button_2state.xml
  res/skins/Tango/controls/button_2state_display.xml
  res/skins/Tango/controls/button_2state_highlight.xml
  res/skins/Tango/controls/button_2state_persist.xml
  res/skins/Tango/controls/button_2state_right.xml
  res/skins/Tango/controls/button_2state_right_display.xml
  res/skins/Tango/controls/button_3state.xml
  res/skins/Tango/controls/button_3state_display.xml
  res/skins/Tango/controls/button_3state_persist.xml
  res/skins/Tango/controls/button_4state_display.xml
  res/skins/Tango/controls/button_5state.xml
  res/skins/Tango/controls/button_5state_display.xml
  res/skins/Tango/controls/button_deck_control_1state_opt.xml
  res/skins/Tango/controls/button_deck_control_1state_perm.xml
  res/skins/Tango/controls/button_deck_control_2state_opt.xml
  res/skins/Tango/controls/button_deck_control_2state_perm.xml
  res/skins/Tango/controls/button_deck_control_3state_opt.xml
  res/skins/Tango/controls/button_deck_control_3state_perm.xml
Due: none

chore(controllers): Remove "master" term from Roland DJ-505 mapping
  res/controllers/Roland_DJ-505-scripts.js
Due: none

chore(serato): Replace branch name in URLs to serato-tags repository
  src/library/serato/seratofeature.h
  src/track/serato/beatgrid.h
  src/track/serato/color.cpp
  src/track/serato/markers.cpp
  src/track/serato/markers.h
  src/track/serato/markers2.h
Due: clang-format

chore(enginebuffertest): Rename file to `ScratchTestMain`
  src/test/enginebuffertest.cpp
  src/test/reference_buffers/ScratchTestMain
Due: clang-format

Don't use a refrence into an rvalue object
  src/track/taglib/trackmetadata_file.cpp
Due: clang-format

Add a comment about the lifetime of the temporary
  src/track/taglib/trackmetadata_file.cpp
Due: clang-format

Fix whitespace issue.
  src/track/taglib/trackmetadata_file.cpp
Due: clang-format

Skins: Remove `border: 0px` from sidebar item styling
  res/skins/Deere/style.qss
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
Due: qsscheck

fix(wspinnyglsl): fix drawing of non-square textures
  src/widget/wspinnyglsl.cpp
Due: clang-format

feat(control): Log warning if deprecated control is used
  src/control/control.cpp
Due: clang-format

refactor(controlobject): Use `ControlObject::addAlias()` method
  src/effects/effectchain.cpp
  src/engine/channels/engineaux.cpp
  src/engine/channels/enginechannel.cpp
  src/engine/channels/enginemicrophone.cpp
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginemixer.cpp
  src/engine/sync/internalclock.cpp
  src/engine/sync/synccontrol.cpp
  src/library/librarycontrol.cpp
  src/test/controlobjecttest.cpp
Due: clang-format

fix(control): Assert that added alias is not identical to actual key
  src/control/control.cpp
Due: clang-format

refactor(controlobject): Add `addAlias()` helper function
  src/control/controlobject.h
Due: clang-format

Introduce a new WaveformWidgetFactory::getSurfaceFormat() function to have all GL configurations in one place.
  src/mixxxmainwindow.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/waveformwidgetfactory.h
  src/widget/openglwindow.cpp
Due: clang-format

Install Angle DLLs via CMake config mode
  CMakeLists.txt
Due: none
