Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Library, relocate directory: remove old dir if new is child of a root dir
  src/library/dao/directorydao.cpp
Due: clang-format

DirectoryDAO::relocateDirectory: use FwdSqlQuery
  src/library/dao/directorydao.cpp
Due: clang-format

implement broadcast pregain threshold
  src/mixer/playerinfo.cpp
  src/preferences/broadcastprofile.cpp
Due: clang-format

Fix build with DEBUG_ASSERT_UNREACHABLE()
  src/analyzer/plugins/analyzerqueenmarykey.cpp
  src/effects/backends/effectprocessor.h
  src/engine/effects/engineeffectsdelay.h
  src/library/dao/autodjcratesdao.cpp
  src/library/dao/cuedao.cpp
  src/library/dao/directorydao.cpp
  src/library/dao/settingsdao.cpp
  src/library/dao/trackdao.cpp
  src/test/engineeffectsdelay_test.cpp
  src/track/cueinfo.cpp
  src/track/serato/tags.cpp
Due: clang-format

Use RUNTIME_VERIFY_OR_DEBUG_ASSERT
  src/engine/effects/engineeffectsmanager.cpp
  src/library/basetracktablemodel.cpp
  src/library/proxytrackmodel.cpp
  src/widget/wtracktableview.cpp
Due: clang-format

Add Arabic translation
  res/translations/mixxx_ar.ts
  res/translations/source_copy_allow_list.tsv
Due: ts-source-copy

Add missing Q_OBJECT macro
  src/controllers/legacycontrollersettings.h
Due: clang-format

Update Translation template. Found XXXX source text(s) (87 new and 3313 already existing)
  res/translations/mixxx.ts
Due: ts-source-copy

Add Support for Tamil translations
  res/translations/mixxx_ta.qm
  res/translations/mixxx_ta.ts
  res/translations/source_copy_allow_list.tsv
Due: ts-source-copy

Remove Canadian English, it was it was a 1:1 copy of British English
  res/translations/mixxx_en_CA.qm
  res/translations/mixxx_en_CA.ts
Due: ts-source-copy

Require compatibility profile context when not forcing OpenGL ES
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Fix code style issues for Numark Party Mix controller mapping
  res/controllers/Numark-Party-Mix.midi.xml
  res/controllers/Numark-Party-Mix.scripts.js
Due: none

Apply changes for Numark Party Mix MKII
  res/controllers/Numark-Party-Mix-MKII.midi.xml
  res/controllers/Numark-Party-Mix-MKII.scripts.js
Due: none

Clone Numark Party Mix controller mapping
  res/controllers/Numark-Party-Mix-MKII.midi.xml
  res/controllers/Numark-Party-Mix-MKII.scripts.js
Due: none

Implement second layer of the performance pads
  res/controllers/Numark-Party-Mix-MKII.midi.xml
  res/controllers/Numark-Party-Mix-MKII.scripts.js
Due: none

Add sysex messages that make the button LEDs work (Suggested by @cokeramirez)
  res/controllers/Numark-Party-Mix-MKII.scripts.js
Due: none

chore: add missing secrets defs
  .github/workflows/changelog.yml
Due: none

fixup! chore: add missing secrets defs
  .github/workflows/changelog.yml
Due: none

Add workflow to clean up downlaod server including faulty 2.5.5. release
  .github/workflows/download_cleanup.yml
Due: none

Export saved loops to Engine DJ
  src/library/export/engineprimeexportjob.cpp
Due: clang-format

CHANGELOG: Skip version 2.5.5 following an issue in the release workflow.
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Bump version to 2.5.6
  CMakeLists.txt
  LICENSE
Due: none

WMainMenuBar: fix macOS crash from invalid translated shortcuts
  src/widget/wmainmenubar.cpp
Due: clang-format

Release 2.5.6
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add workflow to clean up downlaod server including faulty 2.5.5. release
  .github/workflows/download_cleanup.yml
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
Due: clang-format

Basic Fader start functionality added without any fader start toggle (on by default)
  src/mixer/basetrackplayer.cpp
Due: clang-format

Removed debug print statements
  src/mixer/basetrackplayer.cpp
Due: clang-format

Added testing functionality and first test of fader start stopping play
  CMakeLists.txt
  src/test/faderstarttest.cpp
Due: clang-format

Added second test to check FaderStart track playing condition. Fixed variable names and Comments
  src/mixer/basetrackplayer.cpp
  src/mixer/basetrackplayer.h
  src/test/faderstarttest.cpp
Due: clang-format

Dependabot: Use 2.5 branch
  .github/dependabot.yml
Due: none

Add hotplug support for input devices
  src/controllers/controllermanager.cpp
  src/controllers/controllermanager.h
  src/controllers/dlgprefcontrollers.cpp
  src/controllers/dlgprefcontrollers.h
  src/controllers/midi/libremidicontroller.cpp
  src/controllers/midi/libremidicontroller.h
  src/controllers/midi/libremidienumerator.cpp
  src/controllers/midi/libremidienumerator.h
Due: clang-format

Fix removal of PreferencesPage from m_allPages
  src/preferences/dialog/dlgpreferences.cpp
Due: clang-format

Early return when rendering with a shader that cannot be bound.
  src/rendergraph/opengl/backend/basegeometrynode.cpp
Due: clang-format

build: Add pre-commit hook to detect invalid QLabel buddy properties
  .pre-commit-config.yaml
  tools/check_ui_buddies.py
Due: none

Include parented_ptr.h
  src/library/autodj/track/deckattributes.h
Due: clang-format

Cleanup unused headers in RekordboxFeature.cpp
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

CI error fix
  src/preferences/dialog/dlgprefwaveform.cpp
Due: clang-format

Fix code style issues in Numark Party Mix controller mapping
  res/controllers/Numark-Party-Mix.midi.xml
  res/controllers/Numark-Party-Mix.scripts.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
