Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Use correct next_chain key in icon iControls
  res/controllers/Icon-iControls-scripts.js
Due: none

iControls: simplify twos-compliment math
  res/controllers/Icon-iControls-scripts.js
Due: none

Use GUI config for Traktor Kontrol S3 settings
  res/controllers/Traktor Kontrol S3.hid.xml
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: none

Browse feature: decorate watched path items with dot in upper left corner
  CMakeLists.txt
  res/skins/LateNight/style_palemoon.qss
  src/library/sidebaritemdelegate.cpp
  src/library/sidebaritemdelegate.h
  src/library/sidebarmodel.cpp
  src/library/sidebarmodel.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format, qsscheck

Browse feature: always use absolutePath() for TreeItems so the track (directory) filter works as expected
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Browse feature: add library view comment to rescan dialog
  src/library/browse/browsefeature.cpp
Due: clang-format

Browse feature: update items when path is added to/removed from library
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/library.cpp
  src/library/library.h
  src/library/treeitem.cpp
  src/library/treeitem.h
Due: clang-format

Browse feature: use Library model when path is watched (in library)
  CMakeLists.txt
  src/library/browse/browsefeature.cpp
  src/library/browse/browsefeature.h
  src/library/browse/browselibrarytablemodel.cpp
  src/library/browse/browselibrarytablemodel.h
  src/library/dao/directorydao.cpp
  src/library/dao/directorydao.h
Due: clang-format

Browse feature: fix false-positve 'has children' for non-directory links
  src/library/browse/foldertreemodel.cpp
Due: clang-format

Fix: Add synchronization to BorrowableTest.TwoThreads to prevent race condition
  src/test/borrowabletest.cpp
Due: clang-format

start-skin
  CMakeLists.txt
  res/skins/Deere/library.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_button_2state.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_cover.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_cover_inverted.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_deck_size_button.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_full_deck.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_labelbutton_2state.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_mini_deck.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_numToggle.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_numToggle_header.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_samplers.xml
  res/skins/LateNight (PrepWin)/skin.xml
  res/skins/LateNight (PrepWin)/skin_preview_Classic.png
  res/skins/LateNight (PrepWin)/skin_preview_PaleMoon.png
  res/skins/LateNight/library.xml
  res/skins/LateNight/skin_settings.xml
  res/skins/LateNight/toolbar.xml
  res/skins/Tango/library.xml
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/skin/legacy/legacyskinparser.cpp
  src/skin/legacy/legacyskinparser.h
  src/skin/skincontrols.cpp
  src/skin/skincontrols.h
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
  src/widget/wlibrarypreparationwindowsidebar.cpp
  src/widget/wlibrarypreparationwindowsidebar.h
  src/widget/wpreparationwindowtracktableview.cpp
  src/widget/wpreparationwindowtracktableview.h
Due: clang-format

prepwinplaylist
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/playlistfeature.cpp
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
Due: clang-format

prepwincrates
  src/library/library.cpp
  src/library/libraryfeature.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
  src/widget/wlibrarypreparationwindowsidebar.cpp
  src/widget/wlibrarypreparationwindowsidebar.h
  src/widget/wpreparationwindowtracktableview.cpp
  src/widget/wpreparationwindowtracktableview.h
Due: clang-format

prepsetsearch-dnd
  CMakeLists.txt
  src/library/analysis/analysislibrarytablemodel.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/itunes/itunesfeature.cpp
  src/library/library.cpp
  src/library/librarytablemodel.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/library/traktor/traktorfeature.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/util/dnd.cpp
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
  src/widget/wlibrarypreparationwindowtableview.cpp
  src/widget/wlibrarypreparationwindowtableview.h
  src/widget/wlibrarypreparationwindowtracktableview.cpp
  src/widget/wlibrarypreparationwindowtracktableview.h
Due: clang-format

prepsetsearch-dnd
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
Due: clang-format

prepsetsearch-dnd
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
Due: clang-format

prepsetsearch-dnd
  src/library/trackset/baseplaylistfeature.cpp
Due: clang-format

prepsetsearch-dnd
  src/library/trackset/crate/cratefeature.h
Due: clang-format

prepsetsearch-dnd
  .gitignore
  src/library/basesqltablemodel.cpp
Due: clang-format

prepsetsearch-dnd
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
Due: clang-format

prepsetsearch-dnd-clazy
  src/widget/wlibrarypreparationwindow.cpp
Due: clang-format

prepsetsearch-dnd
  src/library/library.cpp
Due: clang-format

prepsetsearch-dnd-clazy
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/library.cpp
  src/library/library.h
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/libraryfeature.h
  src/skin/legacy/legacyskinparser.cpp
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
Due: clang-format

prepsetsearch-dnd-qss
  src/library/analysis/analysisfeature.cpp
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/basesqltablemodel.cpp
  src/library/basesqltablemodel.h
  src/library/browse/browsefeature.cpp
  src/library/library.cpp
  src/library/library.h
  src/library/libraryfeature.h
  src/library/mixxxlibraryfeature.cpp
  src/library/recording/recordingfeature.cpp
  src/library/rekordbox/rekordboxfeature.cpp
  src/library/serato/seratofeature.cpp
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/crate/cratefeature.cpp
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
  src/widget/wlibrarypreparationwindowtracktableview.cpp
  src/widget/wlibrarypreparationwindowtracktableview.h
Due: clang-format

prepsetsearch-dnd-qss
  src/library/trackset/crate/cratefeature.cpp
  src/widget/wlibrarypreparationwindowtracktableview.cpp
Due: clang-format

Create style_palemoon.qss in webinterface
  res/skins/style_palemoon.qss
Due: qsscheck

prepsetsearch-dnd-qss
  .gitignore
Due: none

prepsetsearch-dnd-qss-crlf
  src/library/trackset/crate/cratefeature.cpp
  src/widget/wlibrarypreparationwindowtracktableview.cpp
Due: clang-format

prepsetsearch-dnd-qss-crlf
  .gitignore
Due: none

autodj
  CMakeLists.txt
Due: none

autodj
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/autodj/dlgautodjpreparationwindow.cpp
  src/library/autodj/dlgautodjpreparationwindow.h
  src/library/autodj/dlgautodjpreparationwindow.ui
  src/library/autodj/ui_dlgautodjpreparationwindow.h
  src/library/library.cpp
  src/library/library.h
  src/widget/wlibrarypreparationwindow.cpp
  src/widget/wlibrarypreparationwindow.h
Due: clang-format

autodj-inheritwidgets
  res/skins/LateNight (PrepWin)/helpers/skin_settings_button_2state.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_compact_deck.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_cover.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_cover_inverted.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_deck_size_button.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_full_deck.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_labelbutton_2state.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_mini_deck.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_numToggle.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_numToggle_header.xml
  res/skins/LateNight (PrepWin)/helpers/skin_settings_samplers.xml
  res/skins/LateNight (PrepWin)/skin.xml
  res/skins/LateNight (PrepWin)/skin_preview_Classic.png
  res/skins/LateNight (PrepWin)/skin_preview_PaleMoon.png
  src/library/autodj/autodjfeature.cpp
  tools/qsscheck.py
Due: clang-format

autodj-inprepwin-dnd-accept
  src/library/mixxxlibraryfeature.cpp
  src/util/dnd.cpp
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

autodj-inheritwidgets-cleanup
  res/skins/style_palemoon.qss
Due: qsscheck

autodj-inheritwidgets-cleanup
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/baseexternalplaylistmodel.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/traktor/traktorfeature.cpp
Due: clang-format

autodj-inheritwidgets-cleanup
  src/library/baseexternalplaylistmodel.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/missing_hidden/missingtablemodel.cpp
Due: clang-format

autodj-inheritwidgets-cleanup
  CMakeLists.txt
  src/library/analysis/analysislibrarytablemodel.cpp
  src/library/banshee/bansheeplaylistmodel.cpp
  src/library/itunes/itunesfeature.cpp
  src/library/missing_hidden/hiddentablemodel.cpp
  src/library/missing_hidden/missingtablemodel.cpp
  src/library/playlisttablemodel.cpp
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/widget/wlibrarypreparationwindowtableview.cpp
  src/widget/wlibrarypreparationwindowtableview.h
  src/widget/wlibrarypreparationwindowtracktableview.cpp
  src/widget/wlibrarypreparationwindowtracktableview.h
Due: clang-format

autodj-inprepwin-dnd-accept-cleanup
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/library.cpp
  src/library/library.h
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/libraryfeature.cpp
  src/library/libraryfeature.h
  src/library/librarytablemodel.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/util/dnd.cpp
  src/widget/wlibrarybasewindow.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
