Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==14.0.6

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

qmllint:
  name: qmllint
  entry: qmllint
  pass_filenames: true
  require_serial: true
  language: system

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.4.1

Fix caluculation of m_resourcePath in the testing case
  src/controllers/scripting/legacy/controllerscriptenginelegacy.h
  src/test/controller_mapping_validation_test.cpp
Due: clang-format

move static variables into an anonymous namespace
  src/test/helpers/log_test.cpp
  src/test/helpers/log_test.h
Due: clang-format

Introduce a LogCaptureGuard for scoped handling of QtMessageHandler. This fixes testing via mixxx-test.
  src/test/controller_mapping_file_handler_test.cpp
  src/test/controllerrenderingengine_test.cpp
  src/test/controllerscriptenginelegacy_test.cpp
  src/test/helpers/log_test.cpp
  src/test/helpers/log_test.h
Due: clang-format

logCapture: Don't treat Infos as failure. Improve failure message.
  src/test/helpers/log_test.cpp
Due: clang-format

Improve error output
  src/test/helpers/log_test.cpp
Due: clang-format

clear s_logMessagesExpected in LogCaptureGuard desructor
  src/test/helpers/log_test.cpp
Due: clang-format

Add missing ASSERT_ALL_EXPECTED_MSG();
  src/test/controller_mapping_file_handler_test.cpp
Due: clang-format

Move Experimental Features block
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add recently merged PRs
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Introduce a changelog entry for 2.5.1
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Add David L Morris to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

fix: disable softtakeover for crossfader
  res/controllers/Reloop-Ready-scripts.js
Due: none

(fix) Tracks: allow copy also with locked track model
  src/widget/wtracktableview.cpp
Due: clang-format

Tracks: re-enable Ctrl+C copy the cell content
  src/widget/wtracktableview.cpp
Due: clang-format

!fixup Swap COs and adjust name
  src/library/dao/autodjcratesdao.cpp
  src/mixer/playerinfo.cpp
Due: clang-format

use structured bining
  src/test/helpers/log_test.cpp
Due: clang-format

Add missing blank
  src/test/helpers/log_test.cpp
Due: clang-format

Add --no-show-signature to not clutter GIT_COMMIT_DATE with signature infos
  cmake/modules/GitInfo.cmake
Due: none

clarify the chaining of the old handler
  src/test/helpers/log_test.cpp
Due: clang-format

Improve the comment of getDeckBase()
  src/mixer/playermanager.h
Due: clang-format

Calc numTracks outside of the loop
  src/coreservices.cpp
Due: clang-format

Replaced Abletons HostTimeFilter by an own single header implementation, to keep the dependency to Ableton Link out of the sounddevices code
  CMakeLists.txt
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddevicenetwork.h
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
  src/test/hosttimefilter_test.cpp
  src/util/hosttimefilter.h
Due: clang-format

Factor tail processing into function
  src/effects/backends/builtin/echoeffect.cpp
  src/effects/backends/builtin/echoeffect.h
  src/effects/backends/builtin/reverbeffect.cpp
  src/effects/backends/builtin/reverbeffect.h
Due: clang-format

Handle error value of shout_set_metadata()
  src/engine/sidechain/shoutconnection.cpp
Due: clang-format

Fix includes
  lib/libshout-idjc/src/connection.c
Due: none

Fix conversion from 'size_t' to 'int warnings
  lib/libshout-idjc/src/common/net/sock.c
Due: none

Include "${CMAKE_CURRENT_BINARY_DIR}/include" public
  lib/libshout-idjc/CMakeLists.txt
Due: none

Handle unhandled enum values in switch statements
  lib/libshout-idjc/src/connection.c
Due: none

libshout-idjc: define sock_t as SOCKET on windows to avoid data loss warning
  lib/libshout-idjc/src/common/net/sock.h
Due: none

Check for ws2tcpip.h
  lib/libshout-idjc/CMakeLists.txt
Due: none

fix os.h
  lib/libshout-idjc/include/os.h
  lib/libshout-idjc/src/common/httpp/encoding.h
  lib/libshout-idjc/src/common/httpp/httpp.c
  lib/libshout-idjc/src/common/net/sock.h
Due: none

Verify port number length
  lib/libshout-idjc/src/common/net/sock.c
Due: none

Remove unsused strings.h
  lib/libshout-idjc/src/common/httpp/encoding.c
  lib/libshout-idjc/src/common/httpp/httpp.c
  lib/libshout-idjc/src/proto_http.c
  lib/libshout-idjc/src/shout.c
Due: none

Upgrade to libshout-idjc 2.4.6-r1
  lib/libshout-idjc/autogen.sh
  lib/libshout-idjc/src/common/.gitignore
  lib/libshout-idjc/src/common/httpp/BUILDING
  lib/libshout-idjc/src/common/httpp/test.c
  lib/libshout-idjc/src/common/log/Makefile.am
  lib/libshout-idjc/src/common/log/log.c
  lib/libshout-idjc/src/common/log/log.h
  lib/libshout-idjc/src/common/log/test.c
  lib/libshout-idjc/src/common/net/Makefile.am
  lib/libshout-idjc/src/common/net/sock.c
  lib/libshout-idjc/src/common/net/sock.h
  lib/libshout-idjc/src/common/net/test_resolver.c
  lib/libshout-idjc/src/common/thread/thread.c
  lib/libshout-idjc/src/common/thread/thread.h
  lib/libshout-idjc/src/legacy.c
  lib/libshout-idjc/src/shout.c
  lib/libshout-idjc/src/shout_private.h
  lib/libshout-idjc/tools/shoutidjc
Due: none

replace illegal void* arythmetric
  lib/libshout-idjc/src/common/httpp/encoding.c
  lib/libshout-idjc/src/format_webm.c
Due: none

Disable deprecation warning
  CMakeLists.txt
  lib/libshout-idjc/CMakeLists.txt
Due: none

refactor: use util methods for vinyl button
  res/controllers/Reloop-Ready-scripts.js
Due: none

Add some more assertions
  src/controllers/controller.h
  src/controllers/midi/midicontroller.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
