Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

.pre-commit-config.yaml:

# This is the configuration file for the pre-commit framework, a simple way
# to manage, install and run git hooks to catch common problems early on.
# See https://pre-commit.com/ for details.
#
# This adds the following hooks:
#
# - check-case-conflict
# - check-byte-order-marker
# - check-yaml
# - check-json
# - check-xml
# - mixed-line-ending
# - end-of-file-fixer
# - trailing-whitespace
# - no-commit-to-branch
# - eslint
# - clang-format
# - qsscheck
#
# If you have Python >= 3.7 and python-pip installed, just run:
#
#     $ pip install --user pre-commit
#     $ git clone https://github.com/your-fork-of/mixxx.git
#     $ cd mixxx
#     $ pre-commit install
#     $ pre-commit install -t pre-push
#
# It will now run relevant hooks automatically on every `git commit` or
# `git push` in the mixxx git repository.
#
# If you have a problems with a particular hook, you can use the `$SKIP`
# environment variable to disable hooks:
#
#     $ SKIP=clang-format,end-of-file-fixer git commit
#
# This can also be used to separate logic changes and autoformatting into
# two subsequent commits.
#
# Using the `$SKIP` var is preferable to using `git commit --no-verify`
# because it won't prevent catching other, unrelated issues.

exclude: ^lib/.*$
default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-byte-order-marker
    exclude: ^.*(\.cbproj|\.groupproj|\.props|\.sln|\.vcxproj|\.vcxproj.filters)$
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
    stages:
    - commit
    - manual
  - id: mixed-line-ending
  - id: trailing-whitespace
    stages:
    - commit
    - manual
  - id: no-commit-to-branch
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v6.8.0
  hooks:
  - id: eslint
    args: [--fix, --report-unused-disable-directives]
    stages:
    - commit
    - manual
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    entry: git clang-format
    require_serial: true
    stages:
    - commit
    - manual
    language: python
    files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$
    additional_dependencies:
    - clang-format
-   repo: https://github.com/psf/black
    rev: stable
    hooks:
    -   id: black
        files: ^scripts/.*$
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'
    hooks:
    -   id: flake8
        files: ^scripts/.*$
- repo: local
  hooks:
  - id: qsscheck
    name: qsscheck
    description: Run qsscheck to detect broken QSS.
    entry: ./scripts/qsscheck.py
    args: [.]
    pass_filenames: false
    language: python
    additional_dependencies:
    - tinycss==0.4
    types: [text]
    files: ^.*\.qss$
    stages:
    - commit
    - push
    - manual
- repo: local
  hooks:
  - id: line-length
    name: line-length
    description: Check for lines longer 100 and brakes them before 80.
    entry: ./scripts/line_length.py
    stages:
    - commit
    - push
    language: python
    files: \.(c|cpp|h)$

Preferences LV2: when selecting an effect repeatedly also remove the spacer item from the paramters list
  src/preferences/dialog/dlgpreflv2.cpp
Due: clang-format, line-length

Add Behringer-CMD-PL-1
  res/controllers/Behringer CMD PL-1.midi.xml
  res/controllers/Behringer-CMD-PL-1-scripts.js
Due: clang-format

Traktor S3: Hook up jog button
  res/controllers/Traktor-Kontrol-S3-hid-scripts.js
Due: clang-format

Deere [Still crashing]: move Spinny Singleton creation from VisualRow Singleton to another template
  res/skins/Deere/skin.xml
  res/skins/Deere/spinny.xml
  res/skins/Deere/spinny_singleton.xml
Due: none

Deere [Not crashing]: move '[Skin],show_spinnies' control from Singleton holder to WidgetGroup inside SingletonDefinition
  res/skins/Deere/spinny.xml
  res/skins/Deere/spinny_singleton.xml
Due: none

Shade: alternative fix for the skin crash by wrapping the waveform node into a WidgetGroup
  res/skins/Shade/waveform.xml
Due: none

Deere: make vinyl controls visibility persistent
  res/skins/Deere/skinsettings_button.xml
  res/skins/Deere/vinylcontrol.xml
Due: none

Deere: remove blue border from D+W mix mode button
  res/skins/Deere/style.qss
Due: qsscheck

Shade: ensure undistorted spinnies
  res/skins/Shade/deck.xml
Due: none

Shade: fix text spacing in decks
  res/skins/Shade/deck_small.xml
Due: none

HidController: handle all possible return values from hidapi
  src/controllers/hid/hidcontroller.cpp
Due: clang-format, line-length

SoundSourceFFmpeg: Fix error logging
  src/sources/soundsourceffmpeg.cpp
Due: clang-format, line-length

ReadAheadFrameBuffer: Rename function
  src/sources/readaheadframebuffer.cpp
  src/sources/readaheadframebuffer.h
Due: clang-format, line-length

Shade: fix skin crash by removing unnecessary Singletons
  res/skins/Shade/deck.xml
  res/skins/Shade/skin.xml
Due: none

Deere/Deere64: fix skin change/reload crash by refactoring instantiation/loading of Spinny singletons
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere/deck.xml
  res/skins/Deere/deck_coverart.xml
  res/skins/Deere/deck_singletons.xml
  res/skins/Deere/deck_spinny.xml
  res/skins/Deere/deck_visual_row.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/spinny.xml
Due: none

Shade: add slip mode button to decks, move Eject next to track title
  res/skins/Shade/btn/btn_eject.png
  res/skins/Shade/btn/btn_eject_over.png
  res/skins/Shade/btn/btn_slip.png
  res/skins/Shade/btn/btn_slip_over.png
  res/skins/Shade/deck.xml
Due: none

PreviewButtonDelegate: Fix missing override warnings
  src/library/previewbuttondelegate.h
Due: clang-format, line-length

AnalyzerKeyFinder: Delete unused member variable
  src/analyzer/plugins/analyzerkeyfinder.cpp
  src/analyzer/plugins/analyzerkeyfinder.h
Due: clang-format, line-length

Fix clang warning about unused function
  src/util/logging.cpp
Due: clang-format, line-length

Shade: repair pitch slider appearance
  res/skins/Shade/slider_pitch.png
Due: none

Shade: fix QTextBrowser padding
  res/skins/Shade/style.qss
Due: qsscheck

History feature: remove html stylesheet from cpp
  src/library/setlogfeature.cpp
Due: clang-format, line-length

Preferences Waveforms: fix tabstops
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

Preferences Waveforms: fix indentation
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

Preferences Beats: fix tabstops, rename widgets & variables
  src/preferences/dialog/dlgprefbeats.cpp
  src/preferences/dialog/dlgprefbeats.h
  src/preferences/dialog/dlgprefbeatsdlg.ui
Due: clang-format, line-length

Preferences Beats: use new connect() syntax
  src/preferences/dialog/dlgprefbeats.cpp
Due: clang-format, line-length

Preferences Decks: fix tabstops
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: none

Preferences EQ: fix tabstops
  src/preferences/dialog/dlgprefeqdlg.ui
Due: none

Preferences Sound Hardware: fix tabstops
  src/preferences/dialog/dlgprefsounddlg.ui
Due: none

Preferences Broadcasting: fix tabstops
  src/preferences/dialog/dlgprefbroadcast.cpp
  src/preferences/dialog/dlgprefbroadcastdlg.ui
Due: clang-format, line-length

Preferences Broadcasting: use new connect() syntax
  src/preferences/dialog/dlgprefbroadcast.cpp
Due: clang-format, line-length

Enable djinterop on CI builds
  CMakeLists.txt
  appveyor.yml
Due: none

AnalyzerThread: Fix debug assertion
  src/analyzer/analyzerthread.cpp
Due: clang-format, line-length

Preferences Colors: fix tabstops
  src/preferences/dialog/dlgprefcolorsdlg.ui
Due: none

Preferences Effects: fix tabstops
  src/preferences/dialog/dlgprefeffects.cpp
  src/preferences/dialog/dlgprefeffectsdlg.ui
Due: clang-format, line-length

Delete obsolete DEBUG_ASSERT
  src/analyzer/analyzerthread.cpp
Due: clang-format, line-length

Reverse ordering of history playlists
  src/library/trackset/setlogfeature.cpp
Due: clang-format, line-length

Fix possible segfault due to random memaory write with Jack
  CHANGELOG
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
Due: clang-format, line-length

clean up file header
  src/soundio/sounddeviceportaudio.cpp
  src/soundio/sounddeviceportaudio.h
Due: clang-format, line-length

SoundSourceM4A: Avoid seek after opening the decoder
  src/sources/soundsourcem4a.cpp
Due: clang-format, line-length
