Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Use m_n60dBSoundStartPosition to avoid locking instant lookups.
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

Pref Waveforms: move Clear button to next row, avoid horizontal scroll
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

Pref Waveforms: allow selecting OpenGL info text
  src/preferences/dialog/dlgprefwaveformdlg.ui
Due: none

fullscreen / Qt::AA_DontUseNativeMenuBar: improve comments
  src/mixxx.cpp
Due: clang-format

Don't process ejected tracks
  src/engine/enginebuffer.cpp
Due: clang-format

playlist export: update with newly selected extension, don't just append
  src/util/file.cpp
  src/util/file.h
Due: clang-format

feat: remap delay frames
  src/effects/backends/builtin/glitcheffect.cpp
Due: clang-format

use override and daefault in build in effects
  src/effects/backends/builtin/autopaneffect.cpp
  src/effects/backends/builtin/autopaneffect.h
  src/effects/backends/builtin/balanceeffect.cpp
  src/effects/backends/builtin/balanceeffect.h
  src/effects/backends/builtin/bessel4lvmixeqeffect.h
  src/effects/backends/builtin/bessel8lvmixeqeffect.h
  src/effects/backends/builtin/biquadfullkilleqeffect.h
  src/effects/backends/builtin/bitcrushereffect.cpp
  src/effects/backends/builtin/bitcrushereffect.h
  src/effects/backends/builtin/distortioneffect.h
  src/effects/backends/builtin/echoeffect.h
  src/effects/backends/builtin/filtereffect.cpp
  src/effects/backends/builtin/filtereffect.h
  src/effects/backends/builtin/flangereffect.cpp
  src/effects/backends/builtin/flangereffect.h
  src/effects/backends/builtin/graphiceqeffect.cpp
  src/effects/backends/builtin/graphiceqeffect.h
  src/effects/backends/builtin/linkwitzriley8eqeffect.h
  src/effects/backends/builtin/loudnesscontoureffect.cpp
  src/effects/backends/builtin/loudnesscontoureffect.h
  src/effects/backends/builtin/metronomeeffect.cpp
  src/effects/backends/builtin/metronomeeffect.h
  src/effects/backends/builtin/moogladder4filtereffect.cpp
  src/effects/backends/builtin/moogladder4filtereffect.h
  src/effects/backends/builtin/parametriceqeffect.cpp
  src/effects/backends/builtin/parametriceqeffect.h
  src/effects/backends/builtin/phasereffect.cpp
  src/effects/backends/builtin/phasereffect.h
  src/effects/backends/builtin/pitchshifteffect.h
  src/effects/backends/builtin/reverbeffect.cpp
  src/effects/backends/builtin/reverbeffect.h
  src/effects/backends/builtin/threebandbiquadeqeffect.cpp
  src/effects/backends/builtin/threebandbiquadeqeffect.h
  src/effects/backends/builtin/tremoloeffect.h
  src/effects/backends/builtin/whitenoiseeffect.h
  src/effects/backends/effectprocessor.h
  src/effects/backends/lv2/lv2effectprocessor.h
Due: clang-format

Use override and default in EffectStates
  src/effects/backends/builtin/autopaneffect.h
  src/effects/backends/builtin/balanceeffect.cpp
  src/effects/backends/builtin/balanceeffect.h
  src/effects/backends/builtin/biquadfullkilleqeffect.h
  src/effects/backends/builtin/bitcrushereffect.h
  src/effects/backends/builtin/distortioneffect.h
  src/effects/backends/builtin/echoeffect.h
  src/effects/backends/builtin/filtereffect.h
  src/effects/backends/builtin/flangereffect.h
  src/effects/backends/builtin/graphiceqeffect.h
  src/effects/backends/builtin/linkwitzriley8eqeffect.h
  src/effects/backends/builtin/loudnesscontoureffect.h
  src/effects/backends/builtin/metronomeeffect.h
  src/effects/backends/builtin/moogladder4filtereffect.h
  src/effects/backends/builtin/parametriceqeffect.h
  src/effects/backends/builtin/phasereffect.h
  src/effects/backends/builtin/pitchshifteffect.h
  src/effects/backends/builtin/reverbeffect.h
  src/effects/backends/builtin/threebandbiquadeqeffect.cpp
  src/effects/backends/builtin/threebandbiquadeqeffect.h
  src/effects/backends/builtin/tremoloeffect.h
  src/effects/backends/builtin/whitenoiseeffect.h
  src/effects/backends/lv2/lv2effectprocessor.h
Due: clang-format

Unify initalization of EffectState members and fix e memory leak
  src/effects/backends/builtin/autopaneffect.cpp
  src/effects/backends/builtin/autopaneffect.h
  src/effects/backends/builtin/bitcrushereffect.h
  src/effects/backends/builtin/reverbeffect.h
  src/effects/backends/builtin/tremoloeffect.h
Due: clang-format

Start of work to add 64 Samplers option
  res/skins/LateNight/samplers/samplers_row.xml
  res/skins/LateNight/samplers_rack.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
Due: none

Change skin version
  res/skins/LateNight/skin.xml
Due: none

Dirty but working 64 sampler decks version
  res/skins/LateNight/samplers/samplers_64decks.xml
  res/skins/LateNight/samplers/samplers_row.xml
  res/skins/LateNight/samplers_rack.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/skin_settings.xml
Due: none

Correcting rebase issues
  res/skins/LateNight/decks/rate_controls_compact.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

Add missing <Qt> include in defs.h
  src/util/defs.h
Due: clang-format

Enoder Opus: Fix caluculation of the reqired raw samples m_readRequired
  src/encoder/encoderopus.cpp
Due: clang-format

Style: Apply clang-format
  src/library/analysisfeature.cpp
  src/library/analysisfeature.h
  src/library/autodj/autodjfeature.h
  src/library/banshee/bansheefeature.cpp
  src/library/banshee/bansheefeature.h
  src/library/browse/browsefeature.h
  src/library/dlganalysis.cpp
  src/library/dlganalysis.h
  src/library/dlghidden.h
  src/library/dlgmissing.h
  src/library/itunes/itunesfeature.cpp
  src/library/itunes/itunesfeature.h
  src/library/libraryfeature.cpp
  src/library/mixxxlibraryfeature.cpp
  src/library/mixxxlibraryfeature.h
  src/library/recording/dlgrecording.cpp
  src/library/recording/dlgrecording.h
  src/library/recording/recordingfeature.cpp
  src/library/recording/recordingfeature.h
  src/library/rekordbox/rekordboxfeature.h
  src/library/rhythmbox/rhythmboxfeature.cpp
  src/library/rhythmbox/rhythmboxfeature.h
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/playlistfeature.cpp
  src/library/traktor/traktorfeature.cpp
  src/library/traktor/traktorfeature.h
  src/mixxxmainwindow.cpp
  src/skin/legacy/legacyskin.cpp
  src/skin/legacy/legacyskin.h
  src/skin/skin.h
  src/skin/skinloader.cpp
  src/widget/wanalysislibrarytableview.cpp
  src/widget/wmainmenubar.cpp
  src/widget/wmainmenubar.h
Due: clang-format

Tracks table: remove parenthesis from play counter display
  src/library/basetracktablemodel.cpp
Due: clang-format

Replace if/else ladders with switch/case
  res/controllers/common-hid-packet-parser.js
Due: none

Simplified getOutputField implementation, which is possible because map.prototype.get() returns also undefined, in case that the key doesn't exist in the map
  res/controllers/common-hid-packet-parser.js
Due: none

Add track load buttons. Fix headphoneCue issue. Add LED feedback for Shift.
  res/controllers/Denon Prime 4.midi.xml
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Fix beatjump buttons on right deck
  res/controllers/Denon Prime 4.midi.xml
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Begin work on Load button colours
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Add missing disconnect call
  src/widget/woverview.cpp
Due: clang-format

Don't use track samples for rendering when the track is still loading.
  src/widget/woverview.cpp
  src/widget/woverview.h
Due: clang-format

Add the one pixel extra width for fractional values. This is also added during waveform analysis.
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
Due: clang-format

Log a warning if the track duration has changed.
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
Due: clang-format

fullscreen: rebuild & reconnect menu only on desktops with global menu
  src/mixxx.cpp
  src/mixxx.h
Due: clang-format

Rename 'midiChannel' to 'midiOffset' for clarity
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Move maxView component into Prime4.init
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Convert Prime4.tempoFeedback to ComponentsJS
  res/controllers/Denon Prime 4.midi.xml
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Add Track Color label
  src/library/dlgtrackinfo.ui
Due: none

Remove unnecessary MIDI messages for PFL buttons
  res/controllers/Denon-Prime-4-scripts.js
Due: none

Prime 4: Add placeholder <key>s for [EffectRack1_EffectUnit1_Effect1]
  res/controllers/Denon Prime 4.midi.xml
Due: none

KeyboardConfig: Use `using` instead of `typedef`
  src/preferences/keyboardconfig.h
Due: clang-format

refactor: use temporary QHash to reduce algorithmic complexity
  src/effects/presets/effectpreset.cpp
Due: clang-format
