Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

CueControl: add hot cue bar counter
  CHANGELOG.md
  CMakeLists.txt
  res/linux/org.mixxx.Mixxx.metainfo.xml
  res/skins/LateNight/decks/row_2_3_TitleArtistTime.xml
  res/skins/LateNightQML/Deck/FullDeck.qml
  res/skins/LateNightQML/Deck/HotcueBarCounter.qml
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/test/hotcuebarcounter_test.cpp
Due: clang-format, changelog, metainfo

DeckVisuals: use PollingControlProxy and QStringLiteral
  src/waveform/visualsmanager.cpp
  src/waveform/visualsmanager.h
Due: clang-format

bind `end_of_track` to outro end position
  src/engine/enginebuffer.cpp
  src/engine/enginebuffer.h
  src/qml/qmlwaveformdisplay.cpp
  src/waveform/visualplayposition.cpp
  src/waveform/visualplayposition.h
  src/waveform/visualsmanager.cpp
Due: clang-format

remove Qt5 compatibility for QByteArray
  CMakeLists.txt
  src/controllers/hid/hidiooutputreport.cpp
  src/util/compatibility/qbytearray.h
Due: clang-format

remove Qt5 compatibility for QAtomicInteger & QAtomicPointer
  CMakeLists.txt
  src/engine/cachingreader/cachingreader.cpp
  src/engine/controls/loopingcontrol.cpp
  src/engine/enginebuffer.cpp
  src/engine/sidechain/shoutconnection.cpp
  src/mixer/playermanager.cpp
  src/preferences/broadcastprofile.cpp
  src/soundio/soundmanager.cpp
  src/util/compatibility/qatomic.h
Due: clang-format

remove Qt5 compatibility for QHash
  CMakeLists.txt
  src/audio/frame.h
  src/controllers/midi/midimessage.cpp
  src/controllers/midi/midimessage.h
  src/effects/backends/effectmanifestparameter.h
  src/effects/defs.h
  src/engine/channelhandle.h
  src/preferences/configobject.h
  src/soundio/soundmanagerutil.h
  src/track/trackref.h
  src/util/compatibility/qhash.h
  src/util/db/dbid.h
Due: clang-format

remove Qt5 compatibility for QColor components
  CMakeLists.txt
  src/util/colorcomponents.cpp
  src/util/colorcomponents.h
  src/waveform/renderers/allshader/waveformrendererhsv.cpp
  src/waveform/renderers/allshader/waveformrendererrgb.cpp
  src/waveform/renderers/allshader/waveformrenderersignalbase.cpp
  src/waveform/renderers/allshader/waveformrendermark.cpp
Due: clang-format

Update Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Due: none

Update res/controllers/Numark-Mixtrack-3-scripts.js
  res/controllers/Numark-Mixtrack-3-scripts.js
Due: none

Fix boolean comparison: engine.getSetting returns boolean, not string
  res/controllers/Numark-Mixtrack-3-scripts.js
Due: none

include what you used
  src/engine/enginemixer.cpp
  src/engine/enginemixer.h
  src/engine/engineworkerscheduler.h
Due: clang-format

Improve SoundDevice and Channel naming on Sound Hardware preference page
  src/preferences/dialog/dlgprefsounditem.cpp
  src/soundio/pipewireenumerator.cpp
  src/soundio/sounddevice.cpp
  src/soundio/sounddevice.h
  src/soundio/sounddevicepipewire.cpp
  src/soundio/sounddevicepipewire.h
Due: clang-format

cmake fixed
  CMakeLists.txt
Due: none

remove Qt5 compatibility for QWidget::screen()
  src/errordialoghandler.cpp
  src/library/dlgcoverartfullsize.cpp
  src/preferences/dialog/dlgpreferences.cpp
  src/util/widgethelper.cpp
  src/util/widgethelper.h
  src/widget/wsearchrelatedtracksmenu.cpp
Due: clang-format

fixed compiler error
  src/preferences/dialog/dlgpreferences.cpp
  src/preferences/dialog/dlgpreferences.h
Due: clang-format

remove QT5 from CMakeLists.txt
  CMakeLists.txt
Due: none

Apply suggestions from code review
  src/soundio/soundmanager.cpp
Due: clang-format

DlgTrackInfoMulti: show progress dialog when writing metadata on close
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/widget/wtrackmenu.cpp
Due: clang-format

HIDController: Close descriptor thread when no device path
  src/controllers/hid/hidcontroller.cpp
Due: clang-format

Updating includes
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/basetracksetfeature.h
Due: clang-format

Adjusted function naming
  res/controllers/Launchkey_Mini_MK4_25-scripts.js
Due: none

Opt out of PipeWire build by default
  CMakeLists.txt
Due: none

Fix last played time being wiped on history deletion
  src/library/dao/trackdao.cpp
  src/library/dao/trackdao.h
Due: clang-format

Added a Changlog for a possible 2.5.7 release
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Always handle all WaveformWidgetBackend values
  src/waveform/waveformwidgetfactory.cpp
  src/waveform/widgets/waveformwidgettype.h
Due: clang-format

Verify in setAcceleration() that GL or GLES is available
  src/waveform/waveformwidgetfactory.cpp
Due: clang-format

Fix QML slider bar settings
  res/qml/Mixxx/Controls/Slider.qml
Due: none

feat(bpm): set downbeat when adjusting beatgrid
  src/engine/controls/bpmcontrol.cpp
  src/test/beats_bar_test.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format

Degrade an unnecessary qWarning to qDebug and disable it via comments.
  src/library/searchquery.cpp
Due: clang-format

Flatpak: update soundtouch to 2.4.1
  packaging/flatpak/modules/soundtouch.yaml
Due: none

Use ubuntu-latest for pr-command
  .github/workflows/pr-command.yml
Due: none

recursiv http
  src/remote/remote.cpp
Due: clang-format

Handle delimiters and common suffixes in port names
  src/soundio/sounddevicepipewire.cpp
Due: clang-format

Update Pioneer DDJ-REV1.midi.xml
  res/controllers/Pioneer DDJ-REV1.midi.xml
Due: none

Update Pioneer-DDJ-REV1-scripts.js
  res/controllers/Pioneer-DDJ-REV1-scripts.js
Due: none

Add channel suffixes for 7.1 surround sound
  src/soundio/sounddevicepipewire.cpp
Due: clang-format

Traktor S4mk3: fix order of hotcue colors (for color select mode)
  res/controllers/Traktor-Kontrol-S4-MK3.js
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
