Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, line-length

clang-format:
  name: clang-format
  entry: git clang-format
  require_serial: true
  stages:
  - commit
  - manual
  language: python
  additional_dependencies:
  - clang-format

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: ./scripts/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - push
  - manual

line-length:
  name: line-length
  description: Check for lines longer 100 and brakes them before 80.
  entry: ./scripts/line_length.py
  stages:
  - commit
  - push
  language: python

set elasped and remaining time as default for showing times in decks
  src/preferences/dialog/dlgprefdeck.cpp
Due: clang-format, line-length

Exclude .ts files from Transifex from pre-commit-hook
  .pre-commit-config.yaml
Due: none

make use of auto and replace Ptr by Pointer in typedef
  src/effects/effectsmanager.cpp
  src/effects/effectsmanager.h
  src/engine/channelhandle.h
  src/engine/enginemaster.cpp
  src/engine/enginemaster.h
  src/mixxx.cpp
  src/test/baseeffecttest.h
  src/test/signalpathtest.h
Due: clang-format, line-length

Revert "This makes beatmap behaves like a beatgrid when constant tempo preference is true (#1)"
  build/depends.py
  src/track/beatfactory.cpp
  src/track/beats.cpp
  src/track/beats.h
Due: clang-format, line-length

Move definition of widgethelper::mapPopupToScreen() into .cpp file
  CMakeLists.txt
  build/depends.py
  src/util/widgethelper.cpp
  src/util/widgethelper.h
  src/widget/woverview.cpp
  src/widget/wwaveformviewer.cpp
Due: clang-format, line-length

Add missing g_clear_object(&device);
  src/util/battery/batterylinux.cpp
Due: clang-format, line-length

free m_pSidechainMix
  src/engine/enginemaster.cpp
Due: clang-format, line-length

CueDAO: Delete unused functions
  src/library/dao/cuedao.cpp
  src/library/dao/cuedao.h
Due: clang-format, line-length

CueDAO: Update #include guards
  src/library/dao/cuedao.h
Due: clang-format, line-length

CueDAO: Make member functions const/private
  src/library/dao/cuedao.cpp
  src/library/dao/cuedao.h
Due: clang-format, line-length

CueDAO: Use QStringLiteral
  src/library/dao/cuedao.cpp
Due: clang-format, line-length

CueDAO: Remove internal caching and obsolete dupe detection
  src/library/dao/cuedao.cpp
  src/library/dao/cuedao.h
  src/track/cue.h
Due: clang-format, line-length

Fix invalid input buffer deletion
  src/soundio/soundmanager.cpp
Due: clang-format, line-length

Exclude m_channelGroup from AudioPath hash calculation
  src/soundio/soundmanagerutil.cpp
  src/soundio/soundmanagerutil.h
Due: clang-format, line-length

Define operator==/!= as free function
  src/soundio/soundmanagerutil.cpp
  src/soundio/soundmanagerutil.h
Due: clang-format, line-length

Don't seek track after analysis if user has seeked it already
  src/engine/controls/cuecontrol.cpp
Due: clang-format, line-length

fix cross compile on build servers
  build/debian/rules
Due: none

Added libssl-dev dependency to the debian control file
  build/debian/control
Due: none

Remove obsolete libmp4v2-dev dependency from debian control file
  build/debian/control
Due: none

BaseTrackPlayer: fix cue shift buttons
  src/mixer/basetrackplayer.cpp
Due: clang-format, line-length

Tango: restore cue button on right decks
  res/skins/Tango/deck_row_transport_right.xml
Due: none

Tango: move cue button on right decks between play & hotcues
  res/skins/Tango/deck_row_transport_right.xml
Due: none

- Changed beats led algorithm to match song beats (forward and backward) and fix leads positions, what allows backward led activation!! (didn't have that working previously)
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
Due: clang-format

Fix pre-commit-hook exclusion of .ts files
  .pre-commit-config.yaml
Due: none

Exclude .ts files from trailing-whitespace check
  .pre-commit-config.yaml
Due: none

rescan bpm: initial work to create right click menu to rescan bpm
  src/library/analysisfeature.cpp
  src/library/library.cpp
  src/library/library.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableview.cpp
  src/widget/wtracktableview.h
Due: clang-format, line-length

Globally exclude .ts translation files from pre-commit-hooks
  .pre-commit-config.yaml
Due: none

rescan bpm: support overriding bpm settings on a per-analysis basis
  src/analyzer/analyzerbeats.cpp
  src/analyzer/analyzerbeats.h
  src/analyzer/analyzerthread.cpp
  src/analyzer/analyzerthread.h
  src/library/analysisfeature.cpp
  src/library/analysisfeature.h
  src/library/library.cpp
  src/library/library.h
  src/widget/wtrackmenu.cpp
  src/widget/wtrackmenu.h
  src/widget/wtracktableview.h
Due: clang-format, line-length

Move childModel to BaseTrackSetFeature
  src/library/baseplaylistfeature.h
  src/library/basetracksetfeature.h
  src/library/crate/cratefeature.h
Due: clang-format, line-length

Move all trackset-features into library subdirectory
  CMakeLists.txt
  build/depends.py
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/autodjfeature.h
  src/library/baseexternallibraryfeature.cpp
  src/library/dao/autodjcratesdao.cpp
  src/library/dao/autodjcratesdao.h
  src/library/dao/trackdao.cpp
  src/library/library.cpp
  src/library/searchquery.cpp
  src/library/searchquery.h
  src/library/trackcollection.h
  src/library/trackset/baseplaylistfeature.cpp
  src/library/trackset/baseplaylistfeature.h
  src/library/trackset/basetracksetfeature.cpp
  src/library/trackset/basetracksetfeature.h
  src/library/trackset/crate/crate.h
  src/library/trackset/crate/cratefeature.cpp
  src/library/trackset/crate/cratefeature.h
  src/library/trackset/crate/cratefeaturehelper.cpp
  src/library/trackset/crate/cratefeaturehelper.h
  src/library/trackset/crate/crateid.h
  src/library/trackset/crate/crateschema.h
  src/library/trackset/crate/cratestorage.cpp
  src/library/trackset/crate/cratestorage.h
  src/library/trackset/crate/cratesummary.h
  src/library/trackset/crate/cratetablemodel.cpp
  src/library/trackset/crate/cratetablemodel.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/library/trackset/setlogfeature.cpp
  src/library/trackset/setlogfeature.h
  src/mixxxapplication.cpp
  src/test/cratestorage_test.cpp
  src/widget/wtrackmenu.cpp
Due: clang-format, line-length

Clean up HiddenTableModel::setTableModel
  src/library/hiddentablemodel.cpp
  src/library/hiddentablemodel.h
Due: clang-format, line-length

Reformat Crate- & PlaylistTableModel
  src/library/crate/crateid.h
  src/library/crate/cratetablemodel.h
  src/library/playlisttablemodel.h
Due: clang-format, line-length

Controller: Hercules DJControl Jogvision v1.12 Added "alternate" beat leds mode Changed "follow" beats led algorithm with a better/more elegant version
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
Due: clang-format

Controller: Herculer DJControl Jogvision Cleanup (deletion of unused function DJCJV.beatInactive)
  res/controllers/Hercules_DJControl_Jogvision-scripts.js
Due: clang-format

Use math_clamp for adjusting popup positions on screen
  src/util/widgethelper.cpp
Due: clang-format, line-length

Rename showAll parameter to keepDeletedTracks
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/setlogfeature.cpp
Due: clang-format, line-length

Create TrackSetTableModel
  CMakeLists.txt
  build/depends.py
  src/library/tracksettablemodel.cpp
  src/library/tracksettablemodel.h
Due: clang-format, line-length

Make TrackSetTableModel the common ancestor of Playlist- & CrateTableModel
  src/library/basesqltablemodel.cpp
  src/library/basetracktablemodel.cpp
  src/library/basetracktablemodel.h
  src/library/crate/cratetablemodel.cpp
  src/library/crate/cratetablemodel.h
  src/library/playlisttablemodel.cpp
  src/library/playlisttablemodel.h
  src/library/tracksettablemodel.cpp
  src/library/tracksettablemodel.h
Due: clang-format, line-length

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|mm|proto|vert)$, but not: ^lib/.*$
  qsscheck: any of: ^.*\.qss$, but not: ^lib/.*$
  line-length: any of: \.(c|cpp|h)$, but not: ^lib/.*$
