Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo, ts-source-copy

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - pre-commit
  - manual
  language: python
  additional_dependencies:
  - clang-format==19.1.3

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - pre-commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.12.3
  - lxml==5.3.0
  - Markdown==3.7

ts-source-copy:
  name: ts-source-copy
  description: Find translations literally copied from the source language
  entry: python tools/ts_source_copy_check.py
  require_serial: true
  language: python
  additional_dependencies:
  - lxml==5.3.0

Preferences Library: fix applying date format
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrary.h
Due: clang-format

Remove qDebug calls and add const to QString locals
  src/library/trackset/playlistfeature.cpp
Due: clang-format

Added: on trackload TrackLocation, TrackAlbum & TrackBPM will be send
  src/engine/enginebuffer.cpp
  src/osc/oscfunctions.h
Due: clang-format

fix: converted escapeStringToJsonUnicode to Qt6 comp, was problem with android ci: char16_t
  src/osc/oscfunctions.h
Due: clang-format

Library -> Hidden: add/fix track load connection
  src/library/missing_hidden/dlghidden.cpp
  src/library/missing_hidden/dlghidden.h
  src/library/mixxxlibraryfeature.cpp
Due: clang-format

wip: work in progress on sampler order
  res/skins/LateNight/helpers/skin_settings_samplers.xml
  res/skins/LateNight/samplers/samplers_8decks.xml
  res/skins/LateNight/samplers/samplers_row.xml
  res/skins/LateNight/skin.xml
Due: none

(fix): removed skin settings and applied ronso0's suggestions on stylesheet
  res/skins/LateNight/helpers/skin_settings_samplers.xml
  res/skins/LateNight/samplers/sampler.xml
  res/skins/LateNight/skin.xml
  res/skins/LateNight/style_classic.qss
  res/skins/LateNight/style_palemoon.qss
Due: qsscheck

fix: removed debug comments
  res/skins/LateNight/samplers/sampler.xml
Due: none

feat(skins): samplers numbering and alternate layout for LateNight
  res/skins/LateNight/helpers/skin_settings_samplers.xml
  res/skins/LateNight/samplers/sampler.xml
  res/skins/LateNight/samplers/sampler_mini.xml
  res/skins/LateNight/skin.xml
Due: none

fix(skins): fix missing loop button SVG in LateNight classic
  res/skins/LateNight/classic/buttons/btn__loop_active.svg
Due: none

Rework OscFunctions 2 class
  CMakeLists.txt
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/osc/oscfunctions.cpp
  src/osc/oscfunctions.h
  src/osc/oscreceiver.cpp
  src/osc/oscreceiver.h
Due: clang-format

Add liblo to flatpack
  packaging/flatpak/modules/liblo.yaml
  packaging/flatpak/org.mixxx.Mixxx.yaml
Due: none

Rebase & solved conflicts & Removed own XFader AutoDj settings
  src/mixer/basetrackplayer.cpp
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: clang-format

Clean up comments
  .github/workflows/build.yml
  CMakeLists.txt
  src/engine/enginebuffer.cpp
  src/mixer/basetrackplayer.cpp
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/osc/oscreceiver.cpp
  src/preferences/dialog/dlgprefosc.cpp
Due: clang-format

feat(skins): added code for LateNight (64 samplers)
  res/skins/LateNight (64 Samplers)/helpers/skin_settings_samplers.xml
  res/skins/LateNight (64 Samplers)/skin.xml
Due: none

fix(skins): removed unused skin_settings_samplers_64.xml file
  res/skins/LateNight (64 Samplers)/helpers/skin_settings_samplers_64.xml
Due: none

(skin): Deere - show samplers numbers via skin setting
  res/skins/Deere (64 Samplers)/skin.xml
  res/skins/Deere (64 Samplers)/skinsettings_sampler_buttons.xml
  res/skins/Deere/sampler_text_row.xml
  res/skins/Deere/skin.xml
  res/skins/Deere/skinsettings_sampler_buttons.xml
Due: none

(wip): Tango - show samplers numbers via skin setting
  res/skins/Tango/mic_aux_sampler/sampler.xml
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
Due: qsscheck

(fix): Deere - removed debug code in skinsettings_sampler_buttons.xml
  res/skins/Deere/skinsettings_sampler_buttons.xml
Due: none

(skin): Tango - show samplers numbers via skin setting
  res/skins/Tango/skin_settings.xml
  res/skins/Tango/style.qss
Due: qsscheck

(cleanup): fixed warnings during skins load
  res/skins/LateNight/classic/buttons/btn__loop_active.svg
Due: none

(cleanup): fixed warnings during skins load
  res/skins/Deere/special_cue_button.xml
Due: none

Numark NS4FX Beat Jump
  res/controllers/Numark NS4FX.midi.xml
  res/controllers/Numark-NS4FX-scripts.js
Due: none

Real NowPlaying
  CMakeLists.txt
  src/mixer/nowplaying.cpp
  src/mixer/nowplaying.h
  src/mixxxmainwindow.cpp
  src/mixxxmainwindow.h
  src/preferences/dialog/dlgprefdeck.cpp
  src/preferences/dialog/dlgprefdeck.h
  src/preferences/dialog/dlgprefdeckdlg.ui
Due: clang-format

(skin): Shade - show samplers numbers and change layout via skin setting
  res/skins/LateNight/samplers/samplers_row.xml
  res/skins/Shade/btn/btn_samplers_numbers_OFF.png
  res/skins/Shade/btn/btn_samplers_numbers_ON.png
  res/skins/Shade/btn/btn_samplers_order_OFF.png
  res/skins/Shade/btn/btn_samplers_order_ON.png
  res/skins/Shade/sampler.xml
  res/skins/Shade/samplerrow.xml
  res/skins/Shade/samplerrow_loadsave.xml
  res/skins/Shade/samplerrow_settings.xml
  res/skins/Shade/samplersmall.xml
  res/skins/Shade/skin.xml
  res/skins/Shade/style.qss
Due: qsscheck

windows_buildenv: replace wmic with PowerShell for timestamp
  tools/windows_buildenv.bat
Due: none

Add ideas from the community : prevent Needle Search when a song is playing, add quantize, loop anchor and revamp Flip buttons https://mixxx.discourse.group/t/pioneer-ddj-sx2-mapping/33575
  res/controllers/PIONEER-DDJ-SX2.midi.xml
  res/controllers/PIONEER-DDJ-SX2.scripts.js
Due: none

ConfigObject: add filter to file parser to ignore invalid group strings
  src/preferences/configobject.cpp
Due: clang-format

AutoDJ: add queue duration and estimated end-time display
  res/skins/Deere/style.qss
  res/skins/LateNight/style.qss
  res/skins/Shade/style.qss
  res/skins/Tango/style.qss
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/autodj/dlgautodj.cpp
  src/library/autodj/dlgautodj.h
  src/library/autodj/dlgautodj.ui
  src/test/autodjprocessor_test.cpp
Due: clang-format, qsscheck

Added loop_in_range signal
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/test/looping_control_test.cpp
Due: clang-format

AutoDJ: fix else-on-own-line clang-format violation
  src/library/autodj/dlgautodj.cpp
Due: clang-format

AutoDJ: use parented_ptr for QueueDuration timer
  src/library/autodj/dlgautodj.h
Due: clang-format

AutoDJ: extract calcRemainingDeckSeconds to remove duplication
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
Due: clang-format

Optimize query caching and add invalid ID comment
  src/library/dao/trackdao.cpp
Due: clang-format

Cancel button reverts the preview of waveform preferences
  src/preferences/dialog/dlgprefwaveform.cpp
  src/preferences/dialog/dlgprefwaveform.h
Due: clang-format

Fix AutoDJ Decks&Orientation
  .github/workflows/build.yml
  src/library/autodj/autodjprocessor.cpp
  src/library/autodj/autodjprocessor.h
  src/library/autodj/dlgautodj.cpp
  src/test/autodjprocessor_test.cpp
Due: clang-format

(cleanup): converted indentation from TABs to spaces
  res/skins/LateNight/samplers/samplers_4decks.xml
  res/skins/Shade/samplerrow.xml
  res/skins/Shade/samplerrow_loadsave.xml
  res/skins/Shade/samplerrow_settings.xml
Due: none

Fix Tests, working on windows & macos, dummy on linux
  .github/workflows/build.yml
  src/test/autodjprocessor_test.cpp
Due: clang-format

Updated to return the loop hotcue number
  src/engine/controls/loopingcontrol.cpp
  src/engine/controls/loopingcontrol.h
  src/test/looping_control_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
