Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$

Don't use HTML 5.0 readable shorthand for ś
  src/dialog/dlgabout.cpp
Due: clang-format

Update vcpkg environment to 07b9859 and ecdfdcd
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Update to vcpkg environment 5dd1f25 and 06fe9b5
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Tests: add basic test for `hotcue_X_indicator`
  src/test/hotcuecontrol_test.cpp
Due: clang-format

CueControl: consider loop (inc. track repeat) for hotuce_X_indicator
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
  src/engine/enginebuffer.cpp
  src/engine/readaheadmanager.cpp
  src/engine/readaheadmanager.h
Due: clang-format

add `hotcue_X_indicator` control
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

Tests: add looping test for `hotcue_X_indicator`
  src/test/hotcuecontrol_test.cpp
Due: clang-format

Upgrade to libdjinterop 0.21.0
  CMakeLists.txt
Due: none

Fade out loop end even if we loop into pre-roll and have no samples crossfade to.
  src/engine/readaheadmanager.cpp
Due: clang-format

Use gtest_discover_tests instead of gtest_add to resolve the parametrized gtests
  CMakeLists.txt
Due: none

Fixed QT_QPA_PLATFORM setting, which was not defined in build-check matrix
  .github/workflows/build-checks.yml
Due: none

Search related Tracks: fix code style, p prefix
  src/widget/wsearchrelatedtracksmenu.cpp
  src/widget/wsearchrelatedtracksmenu.h
Due: clang-format

Bump version to 2.6-alpha
  .tx/config
  CHANGELOG.md
  CMakeLists.txt
  LICENSE
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Move to GitHub worflow runner macos-12
  .github/workflows/build.yml
Due: none

Remove confusing single letter vars
  src/engine/bufferscalers/enginebufferscalelinear.cpp
  src/engine/bufferscalers/enginebufferscalerubberband.cpp
  src/engine/channels/enginedeck.cpp
  src/util/sample.cpp
Due: clang-format

Updating outdated comment
  src/engine/enginebuffer.cpp
Due: clang-format

adjust looping/seconds tooltip and control description
  src/controllers/controlpickermenu.cpp
  src/skin/legacy/tooltips.cpp
Due: clang-format

Looping: revert to beats nullptr if no track is loaded
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

Use UI file main EQ slider
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
Due: clang-format

Some code style form QtDesigner
  src/preferences/dialog/dlgprefmixerdlg.ui
Due: none

Change name to m_mainEQValueLabels
  src/preferences/dialog/dlgprefmixer.cpp
  src/preferences/dialog/dlgprefmixer.h
Due: clang-format

improve comments
  src/preferences/dialog/dlgprefmixer.cpp
Due: clang-format

Add Main EQ slider via UI file
  src/preferences/dialog/dlgprefmixerdlg.ui
Due: none

Pref AutoDJ: simplify, remove temp config settings
  src/preferences/dialog/dlgprefautodj.cpp
  src/preferences/dialog/dlgprefautodj.h
Due: clang-format

fix: generate proper warning if audio inputs are not setup for passthrough
  res/controllers/Roland_DJ-505-scripts.js
  res/controllers/Roland_DJ-505.midi.xml
Due: none

Fix readability-qualified-auto warning
  src/library/dlgtrackinfomulti.cpp
Due: clang-format

update kaitai cpp stl runtime to v0.10.1
  CMakeLists.txt
  lib/kaitai/CMakeLists.txt
  lib/kaitai/Common.cmake
  lib/kaitai/LICENSE
  lib/kaitai/kaitai/custom_decoder.h
  lib/kaitai/kaitai/exceptions.h
  lib/kaitai/kaitai/kaitaistream.cpp
  lib/kaitai/kaitai/kaitaistream.h
  lib/kaitai/kaitai/kaitaistruct.h
  src/library/rekordbox/kaitaistructs/rekordbox_anlz.h
  src/library/rekordbox/kaitaistructs/rekordbox_pdb.h
Due: none

chore: construct ScopedTimer from QStringLiteral
  src/analyzer/analyzerebur128.cpp
  src/analyzer/analyzergain.cpp
  src/coreservices.cpp
  src/engine/channelmixer.cpp
  src/engine/enginebuffer.cpp
  src/engine/enginemixer.cpp
  src/library/dao/trackdao.cpp
  src/library/scanner/importfilestask.cpp
  src/library/scanner/libraryscanner.cpp
  src/library/scanner/recursivescandirectorytask.cpp
  src/mixxxmainwindow.cpp
  src/skin/legacy/legacyskinparser.cpp
  src/skin/skinloader.cpp
  src/soundio/sounddevicenetwork.cpp
  src/soundio/sounddeviceportaudio.cpp
  src/sources/soundsourcemodplug.cpp
  src/vinylcontrol/vinylcontrolprocessor.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
  src/waveform/renderers/waveformrendererendoftrack.cpp
  src/waveform/waveformwidgetfactory.cpp
  src/widget/woverview.cpp
  src/widget/woverviewhsv.cpp
  src/widget/woverviewlmh.cpp
  src/widget/woverviewrgb.cpp
  src/widget/wvumeterbase.cpp
  src/widget/wvumeterlegacy.cpp
Due: clang-format

Fix includes
  lib/libshout-idjc/src/connection.c
Due: none

fix os.h
  lib/libshout-idjc/include/os.h
  lib/libshout-idjc/src/common/httpp/encoding.h
  lib/libshout-idjc/src/common/httpp/httpp.c
  lib/libshout-idjc/src/common/net/sock.h
Due: none

Upgrade to libshout-idjc 2.4.6-r1
  lib/libshout-idjc/autogen.sh
  lib/libshout-idjc/src/common/.gitignore
  lib/libshout-idjc/src/common/httpp/BUILDING
  lib/libshout-idjc/src/common/httpp/test.c
  lib/libshout-idjc/src/common/log/Makefile.am
  lib/libshout-idjc/src/common/log/log.c
  lib/libshout-idjc/src/common/log/log.h
  lib/libshout-idjc/src/common/log/test.c
  lib/libshout-idjc/src/common/net/Makefile.am
  lib/libshout-idjc/src/common/net/sock.c
  lib/libshout-idjc/src/common/net/sock.h
  lib/libshout-idjc/src/common/net/test_resolver.c
  lib/libshout-idjc/src/common/thread/thread.c
  lib/libshout-idjc/src/common/thread/thread.h
  lib/libshout-idjc/src/legacy.c
  lib/libshout-idjc/src/shout.c
  lib/libshout-idjc/src/shout_private.h
  lib/libshout-idjc/tools/shoutidjc
Due: none

Remove unsused strings.h
  lib/libshout-idjc/src/common/httpp/encoding.c
  lib/libshout-idjc/src/common/httpp/httpp.c
  lib/libshout-idjc/src/proto_http.c
  lib/libshout-idjc/src/shout.c
Due: none

replace illegal void* arythmetric
  lib/libshout-idjc/src/common/httpp/encoding.c
  lib/libshout-idjc/src/format_webm.c
Due: none

Verify port number length
  lib/libshout-idjc/src/common/net/sock.c
Due: none

libshout-idjc: define sock_t as SOCKET on windows to avoid data loss warning
  lib/libshout-idjc/src/common/net/sock.h
Due: none

Handle unhandled enum values in switch statements
  lib/libshout-idjc/src/connection.c
Due: none
