Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, metainfo

clang-format:
  name: clang-format
  description: Run clang-format in two passes (reformat, then break long lines)
  entry: python tools/clang_format.py
  require_serial: true
  stages:
  - commit
  - manual
  language: python

qsscheck:
  name: qsscheck
  description: Run qsscheck to detect broken QSS.
  entry: python tools/qsscheck.py
  args:
  - .
  pass_filenames: false
  language: python
  additional_dependencies:
  - tinycss==0.4
  stages:
  - commit
  - manual

changelog:
  name: changelog
  description: Add missing links to changelog.
  entry: python tools/changelog.py
  language: python

metainfo:
  name: metainfo
  description: Update AppStream metainfo releases from CHANGELOG.md.
  entry: python tools/update_metainfo.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - beautifulsoup4==4.11.1
  - lxml==4.9.1
  - Markdown==3.3.4

feat(tools): add python script used for migrating to github issues
  .codespellignore
  tools/json2github.py
Due: none

improve logging in resume logic
  tools/json2github.py
Due: none

feat(tools): json2github handle milestones fixup [WIP]
  tools/json2github.py
  tools/transfer_issue_mapping.py
Due: none

feat(tools): tool to fix issue-json after transfer
  tools/transfer_issue_mapping.py
Due: none

fix(tools): json2github handle bugs outside mixxx
  tools/json2github.py
Due: none

improve log output when github ratelimit exceeded
  tools/json2github.py
Due: none

retry on connection errors
  tools/json2github.py
Due: none

dedup code
  tools/json2github.py
Due: none

add backlinking script
  tools/backlink_launchpad_bugs_to_github.py
Due: none

Linux: use menubar workaround only for Ubuntu desktop (with global menu)
  src/mixxx.cpp
  src/mixxx.h
Due: clang-format

Linux: reconnect VisibilityControlConnections after toggling fullscreen
  src/widget/wmainmenubar.cpp
Due: clang-format

Added John Last to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add info about recent MC7000 PR
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Fix regression caused by fe7b602e653ae177ed11c9f6f2ba24d23680584b
  src/library/autodj/dlgautodj.cpp
Due: clang-format

Remove unnecessary m_devicePixelRatio when calculating the amplitude of the RGB signal.
  src/widget/woverviewrgb.cpp
Due: clang-format

Use same limit source for beatJumpSize as for beaLoopSize
  src/engine/controls/loopingcontrol.cpp
Due: clang-format

Added comments which describe the test steps and limits.
  src/test/looping_control_test.cpp
Due: clang-format

move dummy widget creation after setLayout, to avoid a zillion of "critical ... QNSWindow ... active key-value observers" errors on startup
  src/widget/wwidgetgroup.cpp
Due: clang-format

AutoDJ: Indicate that total track length is (over)estimated
  src/library/autodj/autodjfeature.cpp
  src/library/autodj/dlgautodj.cpp
Due: clang-format

Use always non GL VU-Meters in case no sufficiant GL version is available
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

Workaround CMake bug that /Ob1 is explicit set in the RelWithDebInfo case
  CMakeLists.txt
Due: none

Remove redundant definition of NDEBUG
  CMakeLists.txt
Due: none

Added "/Zc:__cplusplus" to ensure MSVC populates __cplusplus correctly.
  CMakeLists.txt
Due: none

Added recommended "/Zc:inline" flag to speed up linking.
  CMakeLists.txt
Due: none

Updat changelog
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Fixed type in or condition (bitwise instead of boolean or)
  src/skin/legacy/legacyskinparser.cpp
Due: clang-format

Return kValueDefault = 0 in case of an invalid enum value
  src/audio/types.h
Due: clang-format

Replace some plaine pointers with std::unique_ptr
  src/engine/controls/cuecontrol.cpp
  src/engine/controls/cuecontrol.h
Due: clang-format

Remove unused code in WSearchLineEdit
  src/widget/wsearchlineedit.cpp
Due: clang-format

Improve the description of WSearchLineEdit::getSearchText()
  src/widget/wsearchlineedit.cpp
Due: clang-format

Only trigger a search via key left and right in case the selection is removed.
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

Fullscreen, Linux: move menubar to window when starting in fullsceen mode
  src/mixxx.cpp
  src/mixxx.h
Due: clang-format

Linux: move menubar to window when starting in fullsceen mode
  src/mixxx.cpp
Due: clang-format

Search: don't trigger search on each cursor keys press ...
  src/widget/wsearchlineedit.cpp
  src/widget/wsearchlineedit.h
Due: clang-format

Update CHANGELOG.md for #11295
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Remove faulty and unnecessary Keys::isValid()
  src/analyzer/analyzerkey.cpp
  src/library/dao/trackdao.cpp
  src/track/keys.cpp
  src/track/keys.h
  src/track/trackrecord.h
Due: clang-format

Improve CHANGELOG.md for the 2.3.4 release
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Pref EQ, main EQ: also save 'no effect' to config
  src/preferences/dialog/dlgprefeq.cpp
Due: clang-format

Main EQ: properly restore previous parameters
  src/preferences/dialog/dlgprefeq.cpp
  src/preferences/dialog/dlgprefeq.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/translations/.*\.ts|src/.*_(anlz|pdb)\.h$
