Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

fixup! feat: add UI testing for QML
  .github/workflows/build.yml
Due: none

Update to latest vcpkg environment
  tools/macos_arm64-cross-release_buildenv.sh
  tools/macos_arm64_buildenv.sh
  tools/macos_buildenv.sh
  tools/windows_buildenv.bat
Due: none

Add a Windows arm64 build
  .github/workflows/build.yml
Due: none

Don't set SSE / SSE2 for ARM64
  CMakeLists.txt
Due: none

Don't downgrade cmake on windows arm64, because it will install the x64 version
  .github/workflows/build.yml
Due: none

Platform ARM64
  src/util/versionstore.cpp
Due: clang-format

Install ARM64 CMake
  .github/workflows/build.yml
Due: none

propagate WIX environment variable
  .github/workflows/build.yml
Due: none

Install WIX Toolkit on windows arm
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

Fix Job name for Windows 11 ARM64
  .github/workflows/build.yml
Due: none

(fix) MIDI Controller button learning
  src/controllers/dlgcontrollerlearning.cpp
Due: clang-format

feat: make `[Main],headSplit` CO persistent across restart
  src/engine/enginemixer.cpp
Due: clang-format

Prep playlist: introduce 'Prep' playlist, add controls to add deck/library track
  res/images/library/ic_heart_beige.svg
  res/images/library/ic_heart_beige_crossed.svg
  res/images/library/ic_heart_cyan.svg
  res/images/library/ic_heart_disabled.svg
  res/mixxx.qrc
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/librarycontrol.cpp
  src/library/librarycontrol.h
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
Due: clang-format

Prep playlist: add sidebar hotkey Alt+P
  src/library/trackset/playlistfeature.cpp
  src/library/trackset/playlistfeature.h
  src/widget/wlibrarysidebar.cpp
  src/widget/wlibrarysidebar.h
Due: clang-format

Prep playlist: append success shows 'heart' splashscreen for 1.5 s
  res/images/library/ic_heart_cyan_xxl.png
  res/images/library/ic_heart_cyan_xxl.svg
  res/mixxx.qrc
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/librarycontrol.cpp
  src/util/widgethelper.cpp
  src/util/widgethelper.h
Due: clang-format

Prep playlist: make persistent, store id in database
  src/library/dao/playlistdao.cpp
  src/library/dao/playlistdao.h
  src/library/trackset/playlistfeature.cpp
Due: clang-format

Library scanner: find renamed files
  src/library/dao/trackdao.cpp
  src/library/searchquery.cpp
Due: clang-format

Expose beatOffset from beats; Add downbeatOffset to track
  src/track/beats.cpp
  src/track/beats.h
  src/track/track.h
Due: clang-format

fix: hotcue comments are utf-16be, regression from #13293
  src/library/rekordbox/rekordboxfeature.cpp
Due: clang-format

tuning the PID controller which is starting to work very well!
  res/controllers/Traktor Kontrol S4 MK3.hid.xml
  res/controllers/Traktor-Kontrol-S4-MK3.js
  src/controllers/scripting/legacy/controllerscriptinterfacelegacy.cpp
Due: clang-format

Update Translation template. Found 3119 source text(s) (0 new and 3119 already existing)
  res/translations/mixxx.ts
Due: ts-source-copy

Pull latest translations from https://www.transifex.com/mixxx-dj-software/mixxxdj/mixxx2-5/. Compile QM files out of TS files that are used by the localized app
  res/translations/mixxx_bg.qm
  res/translations/mixxx_bg.ts
  res/translations/mixxx_ca.qm
  res/translations/mixxx_ca.ts
  res/translations/mixxx_cs.qm
  res/translations/mixxx_cs.ts
  res/translations/mixxx_de.qm
  res/translations/mixxx_de.ts
  res/translations/mixxx_es.qm
  res/translations/mixxx_es.ts
  res/translations/mixxx_es_419.qm
  res/translations/mixxx_es_419.ts
  res/translations/mixxx_es_AR.qm
  res/translations/mixxx_es_AR.ts
  res/translations/mixxx_es_CO.qm
  res/translations/mixxx_es_CO.ts
  res/translations/mixxx_es_ES.qm
  res/translations/mixxx_es_ES.ts
  res/translations/mixxx_es_MX.qm
  res/translations/mixxx_es_MX.ts
  res/translations/mixxx_hu.qm
  res/translations/mixxx_hu.ts
  res/translations/mixxx_it.qm
  res/translations/mixxx_it.ts
  res/translations/mixxx_ja.qm
  res/translations/mixxx_ja.ts
  res/translations/mixxx_pt.qm
  res/translations/mixxx_pt.ts
  res/translations/mixxx_pt_BR.qm
  res/translations/mixxx_pt_BR.ts
  res/translations/mixxx_pt_PT.qm
  res/translations/mixxx_pt_PT.ts
  res/translations/mixxx_tr.qm
  res/translations/mixxx_tr.ts
  res/translations/source_copy_allow_list.tsv
Due: ts-source-copy

Default to PROCESSOR_ARCHITECTURE in windows_buildenv.sh
  tools/windows_buildenv.bat
Due: none
