Repository mixxxdj/mixxx: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, qsscheck, changelog, qmllint, metainfo, ts-source-copy

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|m|mm|proto|vert)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qsscheck: any of: ^.*\.qss$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  changelog: any of: ^CHANGELOG.md$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  qmllint: any of: ^.*\.qml$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  metainfo: any of: ^(CHANGELOG\.md|res/linux/org\.mixxx\.Mixxx\.metainfo.xml)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$
  ts-source-copy: any of: ^(res/translations/.*\.ts)$, but not: ^(lib/|src/test/.*data/).*|res/controllers/lodash\.mixxx\.js|src/.*_(anlz|pdb)\.h$

Corrected all the var errors
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Fix setting the initial deck layers
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Update Roland_DJ-202.midi.xml added sync lock on four decks
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Update Roland_DJ-202.midi.xml
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Roland DJ-202: Set correct 14-bit crossfader max
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Use shift+vinyl to control scratch
  res/controllers/Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Small cleanup changes after review
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Update Roland_DJ-202-scripts.js
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Reduce redundant tracking of parent objects
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Roland DJ-202: Deduplicate manual loop button code
  res/controllers/Roland_DJ-202-scripts.js
Due: none

Re-added headphones level and headphones mix
  res/controllers/Roland_DJ-202.midi.xml
Due: none

Raise macOS target version to 11 (Qt6.5 requirement).
  CMakeLists.txt
Due: none

Track Info: sync widget names for single-/multi-track, remove nested layouts
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.ui
Due: clang-format

Track info: fix size of cover art label
  src/library/dlgtagfetcher.cpp
  src/library/dlgtrackinfo.cpp
  src/library/dlgtrackinfo.h
  src/library/dlgtrackinfomulti.cpp
  src/library/dlgtrackinfomulti.h
  src/widget/wcoverartlabel.cpp
  src/widget/wcoverartlabel.h
Due: clang-format

Check for deck undefined on Traktor S4 Mk2 HID
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Due: none

style(vinylcontrol): apply clang-format auto code formatting
  src/vinylcontrol/vinylcontrol.cpp
  src/vinylcontrol/vinylcontrolxwax.cpp
Due: clang-format

fix: support for different output of QSB for rendergraph shader script
  tools/rg_generate_shaders_gl.py
Due: none

feat: add stem waveform split track mode
  res/qml/WaveformDisplay.qml
  src/qml/qmlwaveformrenderer.cpp
  src/qml/qmlwaveformrenderer.h
  src/waveform/renderers/allshader/waveformrendererstem.cpp
  src/waveform/renderers/allshader/waveformrendererstem.h
Due: clang-format, qmllint

fix: reduce stem waveform precison on SG
  CMakeLists.txt
  src/waveform/renderers/allshader/waveformrendererstem.cpp
Due: clang-format

fix: allow renderer to be unsupported without asserts
  src/qml/qmlwaveformdisplay.cpp
  src/qml/qmlwaveformrenderer.h
Due: clang-format

chore: publish logs on failed build packing
  .github/workflows/build.yml
Due: none

chore: enable QML build on Win and MacOS
  .github/workflows/build.yml
Due: none

chore: disable broken shader optimisation
  src/rendergraph/shaders/CMakeLists.txt
Due: none

fix: remove DLL duplication for QtQuickControl
  CMakeLists.txt
Due: none

Add Ralf Pachali to the contributor list in the about box. Thank you very much.
  src/dialog/dlgabout.cpp
Due: clang-format

Add recent changes to CHANGELOG.md
  CHANGELOG.md
  res/linux/org.mixxx.Mixxx.metainfo.xml
Due: changelog, metainfo

Linting
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Due: none

Fix pitch bend buttons on Hercules DJ Console Mk1
  res/controllers/Hercules DJ Console Mk1.hid.xml
  res/controllers/Hercules-DJ-Console-Mk1-hid-scripts.js
Due: none

Change volume encoder from rate to pregain
  res/controllers/Hercules DJ Console Mk1.hid.xml
  res/controllers/Hercules-DJ-Console-Mk1-hid-scripts.js
Due: none

Explicitly pass a number instead of a boolean
  res/controllers/Hercules-DJ-Console-Mk1-hid-scripts.js
Due: none

Drag2PrepListInSideBar
  src/library/trackset/preparation/preparationfeature.cpp
  src/library/trackset/preparation/preparationfeature.h
  src/widget/wtracktableview.cpp
Due: clang-format

AddVarAddAllLoadedTracks
  src/library/trackset/preparation/preparationfeature.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Due: clang-format

fix(vinylcontrol): add missing parent parameter in make_parented<ControlProxy>
  src/vinylcontrol/vinylcontrol.cpp
Due: clang-format

Fix LED on M-Vave SMC-Mixer
  res/controllers/MVave-SMC-Mixer-scripts.js
Due: none

AddBrowseLimitChildItems
  src/library/browse/browsefeature.cpp
  src/preferences/dialog/dlgpreflibrary.cpp
  src/preferences/dialog/dlgpreflibrarydlg.ui
Due: clang-format

AddBrowseLimitChildItems
  src/library/browse/browsefeature.cpp
Due: clang-format

Update Traktor-Kontrol-S4-MK2-hid-scripts.js
  res/controllers/Traktor-Kontrol-S4-MK2-hid-scripts.js
Due: none

fix(controllers): fix crossfader cut on Traktor Kontrol Z1
  res/controllers/Traktor-Kontrol-Z1-scripts.js
Due: none

DebugIntermediate
  src/library/browse/browsefeature.cpp
Due: clang-format
